<section class="faq">
    <div class="faq__title">
        <p>Preguntas frecuentes</p>
    </div>
    <div class="faq__accordion">
        <div class="faq__accordion-item">
            <div class="head">
                <p>¿Cómo descargo la app con Android?</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>
                    Podrás descargar la App pulsando sobre el botón verde con el icono de Android de esta página.
                    También puedes acceder a la Google Play Store y buscar "Casino Barcelona Poker".
                </p>
            </div>
        </div>
        <div class="faq__accordion-item">
            <div class="head">
                <p>¿Cómo descargo la app en mi Iphone o iPad?</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>
                    Podrás descargar la App pulsando sobre el botón verde con el icono de Android de esta página.
                    También puedes acceder a la Google Play Store y buscar "Casino Barcelona Poker".
                </p>
            </div>
        </div>
        <div class="faq__accordion-item">
            <div class="head">
                <p>¿Es mi dispositivo compatible?</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>
                    Podrás descargar la App pulsando sobre el botón verde con el icono de Android de esta página.
                    También puedes acceder a la Google Play Store y buscar "Casino Barcelona Poker".
                </p>
            </div>
        </div>
        <div class="faq__accordion-item">
            <div class="head">
                <p>¿Es mi dispositivo compatible?</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>
                    Podrás descargar la App pulsando sobre el botón verde con el icono de Android de esta página.
                    También puedes acceder a la Google Play Store y buscar "Casino Barcelona Poker".
                </p>
            </div>
        </div>
        <div class="faq__accordion-item">
            <div class="head">
                <p>¿Cómo descargo la app con Android?</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>
                    Podrás descargar la App pulsando sobre el botón verde con el icono de Android de esta página.
                    También puedes acceder a la Google Play Store y buscar "Casino Barcelona Poker".
                </p>
            </div>
        </div>
    </div>
</section>