<section class="affiliatesContact">
	<div class="affiliatesContact__content">
		<p class="affiliatesContact__content-title">¿Cómo ser afiliado de Casino Barcelona?</p>
		<p class="affiliatesContact__content-subtitle">¿Qué necesitas?</p>
		<p class="affiliatesContact__content-text">Si tienes un sitio web, escuela, eres especialista en algún producto de casino o streamer, puedes afiliarte con CasinoBarcelona.es. Podrás promocionar nuestra cartera de marcas y ser afiliado de casino, afiliado de apuestas, afiliado de póker o afiliado de todos los productos en general. Nosotros ponemos a tu disposición material y enlaces para que los pongas en tu página web. Y tú podrás ganar una comisión por los jugadores que remitas a nuestra web.</p>
		<p class="affiliatesContact__content-subtitle">¿Existe coste asociado por unirse?</p>
		<p class="affiliatesContact__content-text">No, en absoluto. El proceso de registro es totalmente gratuito.</p>
		<p class="affiliatesContact__content-subtitle">¿Puedo ser afiliado si no tengo página web?</p>
		<p class="affiliatesContact__content-text">Sí, aunque los sitios web son la fuente más común de tráfico para los afiliados, estamos abiertos a otras fuentes fiables que cumplan con nuestros términos y condiciones.</p>
		<p class="affiliatesContact__content-subtitle">¿Cuáles son los requisitos para ser afiliado?</p>
		<p class="affiliatesContact__content-text">Necesitamos que puedas emitir factura, es decir, que seas empresa o autónomo, además de cumplir con la normativa vigente (nuevo RDCC).</p>
		<p class="affiliatesContact__content-subtitle">¿Qué planes de pago se ofrece?</p>
		<p class="affiliatesContact__content-text">Obtendrás un % de comisión previamente pactado como resultado del beneficio neto generado por tus referidos.</p>
	</div>
	<form class="affiliatesContact__form" action="">
		<p class="affiliatesContact__form-title">Alguna Duda?</p>
		<p class="affiliatesContact__form-text">Si tienes alguna duda, rellena este formulario y le responderemos con la mayor brevedad posible. Si lo prefiere, también puede enviar un mail a afiliados@casinobarcelona.es</p>
		<input type="text" placeholder="Nombre">
		<input type="text" placeholder="Email">
		<input type="text" placeholder="Asunto">
		<textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
		<button class="btn__red">
			<img src="img/icons/icon-affiliates-send-red.svg" alt="">
			<span>ENVIAR</span>
		</button>
	</form>
</section>