<section class="affiliatesContentInfo">
	<div class="affiliatesContentInfo__content">
		<p class="affiliatesContentInfo__content-title">Por qué hacer publicidad de Casino Barcelona</p>
		<p class="affiliatesContentInfo__content-subtitle">Lorem Ipsum dolor si</p>
		<p class="affiliatesContentInfo__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
			condimentum interdum lectus et pretium. Donec nec odio nisi. Cras a molestie magna. Fusce quis ligula ac dui
			viverra lacinia vel eget ex. Aliquam ante mauris, tempor ut sapien at, molestie varius enim. Mauris maximus
			porttitor nibh quis consequat. Suspendisse urna elit, condimentum sit amet ex ut, accumsan cursus tortor.
			Nulla luctus purus quis pulvinar cursus. Nullam id egestas mauris. Etiam purus orci, lobortis at consequat
			et, vulputate ac velit. Donec vel sem magna. Nunc commodo dignissim tristique. Integer euismod aliquam
			condimentum.</p>
		<p class="affiliatesContentInfo__content-subtitle">Lorem Ipsum</p>
		<p class="affiliatesContentInfo__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
			condimentum interdum lectus et pretium. Donec nec odio nisi. Cras a molestie magna. Fusce quis ligula ac dui
			viverra lacinia vel eget ex. Aliquam ante mauris, tempor ut sapien at, molestie varius enim. Mauris maximus
			porttitor nibh quis consequat. Suspendisse urna elit, condimentum sit amet ex ut, accumsan cursus tortor.
			Nulla luctus purus quis pulvinar cursus. Nullam id egestas mauris. Etiam purus orci.</p>
	</div>
	<img class="affiliatesContentInfo__image" src="img/images/img-affiliates-digital.png" alt="">
</section>