<section class="affiliatesContentCards">
	<div class="affiliatesContentCards__grid">
		<div class="affiliatesContentCards__card">
			<img class="affiliatesContentCards__card-image" src="img/images/img-affiliates-star-1.svg" alt="">
			<p class="affiliatesContentCards__card-title">Únete</p>
			<p class="affiliatesContentCards__card-text">Para ser afiliado sólo necesitamos que:</p>
			<div class="affiliatesContentCards__card-badge">
				<img class="affiliatesContentCards__card-badge-image" src="img/icons/icon-affiliates-check.svg" alt="">
				<span class="affiliatesContentCards__card-badge-span">Seas empresa o autónomo</span>
			</div>
			<div class="affiliatesContentCards__card-badge">
				<img class="affiliatesContentCards__card-badge-image" src="img/icons/icon-affiliates-check.svg" alt="">
				<span class="affiliatesContentCards__card-badge-span">Puedas emitir factura</span>
			</div>
		</div>
		<div class="affiliatesContentCards__card">
			<img class="affiliatesContentCards__card-image" src="img/images/img-affiliates-star-2.svg" alt="">
			<p class="affiliatesContentCards__card-title">Promociona</p>
			<p class="affiliatesContentCards__card-text">Danos visibilidad a cambio de comisión:</p>
			<div class="affiliatesContentCards__card-badge">
				<img class="affiliatesContentCards__card-badge-image" src="img/icons/icon-affiliates-check.svg" alt="">
				<span class="affiliatesContentCards__card-badge-span">Revenue Share</span>
			</div>
			<div class="affiliatesContentCards__card-badge">
				<img class="affiliatesContentCards__card-badge-image" src="img/icons/icon-affiliates-check.svg" alt="">
				<span class="affiliatesContentCards__card-badge-span">Modelo híbrido</span>
			</div>
		</div>
		<div class="affiliatesContentCards__card">
			<img class="affiliatesContentCards__card-image" src="img/images/img-affiliates-star-3.svg" alt="">
			<p class="affiliatesContentCards__card-title">Gana</p>
			<p class="affiliatesContentCards__card-text">Beneficio de tus referidos:</p>
			<div class="affiliatesContentCards__card-badge">
				<img class="affiliatesContentCards__card-badge-image" src="img/icons/icon-affiliates-check.svg" alt="">
				<span class="affiliatesContentCards__card-badge-span">Acceso a tus resultados</span>
			</div>
			<div class="affiliatesContentCards__card-badge">
				<img class="affiliatesContentCards__card-badge-image" src="img/icons/icon-affiliates-check.svg" alt="">
				<span class="affiliatesContentCards__card-badge-span">Trato personalizado</span>
			</div>
		</div>
	</div>
</section>