<section class="affiliatesContentBenefits">
	<p class="affiliatesContentBenefits__title">¿Por qué formar parte de nuestro programa de afiliados?</p>
	<p class="affiliatesContentBenefits__text">Casino Barcelona es uno de los casinos más prestigiosos de Europa y líder
		en el sector. Un lugar donde la sofisticación se une a los sistemas de juego más innovadores para ofrecerte un
		ambiente de juego único. Además, contamos con:</p>
	<div class="affiliatesContentBenefits__benefits">
		<div class="affiliatesContentBenefits__benefits-item">
			<img class="affiliatesContentBenefits__benefits-item-image" src="img/icons/icon-affiliates-check-red.svg"
				alt="">
			<p class="affiliatesContentBenefits__benefits-item-title">Presencia en mercados regulados</p>
		</div>
		<div class="affiliatesContentBenefits__benefits-item">
			<img class="affiliatesContentBenefits__benefits-item-image" src="img/icons/icon-affiliates-check-red.svg"
				alt="">
			<p class="affiliatesContentBenefits__benefits-item-title">Planes de comisión personalizados</p>
		</div>
		<div class="affiliatesContentBenefits__benefits-item">
			<img class="affiliatesContentBenefits__benefits-item-image" src="img/icons/icon-affiliates-check-red.svg"
				alt="">
			<p class="affiliatesContentBenefits__benefits-item-title">Alto ratio de conversión</p>
		</div>
		<div class="affiliatesContentBenefits__benefits-item">
			<img class="affiliatesContentBenefits__benefits-item-image" src="img/icons/icon-affiliates-check-red.svg"
				alt="">
			<p class="affiliatesContentBenefits__benefits-item-title">Calidad y experiencia en el sector</p>
		</div>
	</div>
</section>