<section class="appApuestas">

	<header class="appApuestas__header">
		<div class="appApuestas__header-content">
			<p class="appApuestas__header-title">Nuestra App de apuestas deportivas</p>
			<p class="appApuestas__header-subtitle">Vive todo el deporte con la App para apuestas de CasinoBarcelona.es</p>
			<a href="#" class="appApuestas__header-button btn__red">
				<img src="img/icons/icon-download-windows.svg" alt="">
				<span>¡Descargala!</span>
			</a>
		</div>
		<img class="appApuestas__header-image" src="img/images/img-app-apuestas-header.png" alt="">
	</header>

	<div class="appApuestas__content">

		<div class="appApuestas__content-top">
			<p class="appApuestas__content-top-title">¿Qué te ofrece nuestra aplicación para hacer apuestas deportivas?</p>
			<div class="appApuestas__columns">
				<div class="appApuestas__column appApuestas__star">
					<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-1.png" alt="">
					<p class="appApuestas__star-title">Apostar con el móvil</p>
					<p class="appApuestas__star-subtitle">Apuesta online con tu móvil dónde y cuándo quieras</p>
				</div>
				<div class="appApuestas__column appApuestas__star">
					<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-2.png" alt="">
					<p class="appApuestas__star-title">La mejor App de apuestas</p>
					<p class="appApuestas__star-subtitle">Fácil de usar, intuitiva y con acceso completo a tu cuenta</p>
				</div>
				<div class="appApuestas__column appApuestas__star">
					<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-3.png" alt="">
					<p class="appApuestas__star-title">Apuestas deportivas en directo</p>
					<p class="appApuestas__star-subtitle">Apuesta en directo desde tu móvil</p>
				</div>
				<div class="appApuestas__column appApuestas__star">
					<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-4.png" alt="">
					<p class="appApuestas__star-title">Todos los deportes</p>
					<p class="appApuestas__star-subtitle">App para apuestas de fútbol, baloncesto, tenis… ¡y más!</p>
				</div>
			</div>
		</div>

		<div class="appApuestas__content-bottom">
			<p class="appApuestas__content-bottom-title">Selecciona una opción y descarga la App de apuestas</p>
			<div class="appApuestas__columns">
				<div class="appApuestas__column appApuestas__qr">
					<img class="appApuestas__qr-image" src="img/images/img-qr-android.png" alt="">
					<a href="#" class="appApuestas__qr-button btn__red">
						<span>Descarga para Android</span>
						<img src="img/icons/icon-download-android.svg" alt="">
					</a>
				</div>
				<div class="appApuestas__column appApuestas__qr">
					<img class="appApuestas__qr-image" src="img/images/img-qr-ios.png" alt="">
					<a href="#" class="appApuestas__qr-button btn__red">
						<span>Descarga para ios</span>
						<img src="img/icons/icon-download-ios.svg" alt="">
					</a>
				</div>
			</div>
		</div>

	</div>

</section>