<section class="appApuestas">

	<div class="appApuestas__top">
		<p class="appApuestas__title">¿Qué te ofrece nuestra aplicación para hacer apuestas deportivas?</p>
		<div class="appApuestas__columns">
			<div class="appApuestas__star">
				<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-1.png" alt="">
				<p class="appApuestas__star-title">Apostar con el móvil</p>
				<p class="appApuestas__star-subtitle">Apuesta online con tu móvil dónde y cuándo quieras</p>
			</div>
			<div class="appApuestas__star">
				<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-2.png" alt="">
				<p class="appApuestas__star-title">La mejor App de apuestas</p>
				<p class="appApuestas__star-subtitle">Fácil de usar, intuitiva y con acceso completo a tu cuenta</p>
			</div>
			<div class="appApuestas__star">
				<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-3.png" alt="">
				<p class="appApuestas__star-title">Apuestas deportivas en directo</p>
				<p class="appApuestas__star-subtitle">Apuesta en directo desde tu móvil</p>
			</div>
			<div class="appApuestas__star">
				<img class="appApuestas__star-image" src="img/images/img-app-apuestas-star-4.png" alt="">
				<p class="appApuestas__star-title">Todos los deportes</p>
				<p class="appApuestas__star-subtitle">App para apuestas de fútbol, baloncesto, tenis… ¡y más!</p>
			</div>
		</div>
	</div>

	<div class="appApuestas__bottom">
		<p class="appApuestas__title">Selecciona una opción y descarga la App de apuestas</p>
		<div class="appApuestas__columns">
			<div class="appApuestas__qr">
				<img class="appApuestas__qr-image" src="img/images/img-qr-android.png" alt="">
				<a href="#" class="appApuestas__qr-button btn__red">
					<span>Descarga para Android</span>
					<img src="img/icons/icon-download-android.svg" alt="">
				</a>
			</div>
			<div class="appApuestas__qr">
				<img class="appApuestas__qr-image" src="img/images/img-qr-ios.png" alt="">
				<a href="#" class="appApuestas__qr-button btn__red">
					<span>Descarga para ios</span>
					<img src="img/icons/icon-download-ios.svg" alt="">
				</a>
			</div>
		</div>
	</div>

</section>