<section class="atencion-cliente">
	<h1 class="atencion-cliente-title">Atención al cliente</h1>
	<div class="atencion-cliente-columns">
		<div class="atencion-cliente-column atencion-cliente-box">
			<p>¿Tienes alguna duda sobre tu cuenta, documentación, promociones o cualquier otro tema?</p>
			<p>Encuentra todas las respuestas en nuestro Centro de ayuda:</p>
			<a href="#" class="atencion-cliente-box-button btn__red">
				<span>Centro de Ayuda</span>
				<img src="img/icons/icon-arrow-circle-white.svg" alt="">
			</a>
		</div>
		<div class="atencion-cliente-column atencion-cliente-box">
			<p>Si esto no ha resuelto tus dudas, puedes hacernos llegar tu consulta mediante un ticket de soporte:</p>
			<a href="#" class="atencion-cliente-box-button btn__red">
				<span>Enviar Consulta</span>
				<img src="img/icons/icon-arrow-circle-white.svg" alt="">
			</a>
		</div>
		<div class="atencion-cliente-column atencion-cliente-not-box">
			<p><small>Y si lo prefieres o si no puedes acceder a tu cuenta, también puedes contactarnos por correo electrónico o por teléfono.</small></p>
			<p>soporte@casinobarcelona.es</p>
			<p>900 354 354</p>
			<p>Horario telefónico: de lunes a domingo de 10:00 a 02:00</p>
		</div>
	</div>
</section>