<section class="m-banner">
    <div class="o-banner--bg">
        <img src="img/img-<%= data.img %>-banner.jpg" alt="">
    </div>
    <div class="o-banner--wrapper">
        <div class="o-banner--layout">
            <img src="img/icon-<%= data.icon %>.png" alt="">
            <div class="o-banner--title">
                <p class=""><%= data.title %></p>
                <div class="breadcrumbs">
                    <span>Casino Barcelona</span>
                    <span>></span>
                    <span><%= data.breadcrumb %></span>
                </div>
            </div>
        </div>
    </div>
</section>