<section class="landingSEO">
	<img class="landingSEO__image" src="img/images/img-banner-landing-seo.png" alt="">
	<div class="landingSEO__content">
		<p class="landingSEO__title">Slots de Vikingos</p>
		<p class="landingSEO__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin erat metus, vitae cursus metus pharetra.</p>
		<p class="landingSEO__text">Phasellus scelerisque, eros a auctor dignissim, tortor lectus euismod ipsum, vitae feugiat mauris magna eget augue. Pellentesque hendrerit neque eget pretium interdum. Integer pretium lobortis libero quis consectetur. Integer pretium arcu libero.</p>
		<a href="#" class="landingSEO__button btn__red btn__red--glow">
			<span>Ver todas las Slots</span>
			<img src="img/icons/icon-arrow-circle-white.svg" alt="">
		</a>
	</div>
</section>