<section class="m-banner__car splide">
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
            <img src="img/icon-slider-arrow-left.svg" alt="">
        </button>
        <button class="splide__arrow splide__arrow--next">
            <img src="img/icon-slider-arrow-right.svg" alt="">
        </button>
    </div>
    <div class="o-banner__car--wrapper splide__track">
        <ul class="splide__list">
            <li class="o-banner__car--item splide__slide">
                <div class="o-banner__car--item-wrapper">
                    <div>
                        <p class="">Descubre a Emerald King Rainbow Road</p>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dignissim
                            tortor.</p>
                    </div>
                    <button class="u-btn--red">
                        <span>¡Juega Ahora!</span>
                        <svg class="svg-icon-inline">
                            <use href="img/icon-icons.svg#chevron-circle-right" />
                        </svg>
                    </button>
                </div>
                <div class="o-banner__car--item-wrapper">
                    <img src="img/img-slider-banner.jpg" alt="">
                </div>
            </li>
            <li class="o-banner__car--item splide__slide">
                <div class="o-banner__car--item-wrapper">
                    <div>
                        <p class="">Descubre a Emerald King Rainbow Road</p>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dignissim
                            tortor.</p>
                    </div>
                    <button class="u-btn--red">
                        <span>¡Juega Ahora!</span>
                        <svg class="svg-icon-inline">
                            <use href="img/icon-icons.svg#chevron-circle-right" />
                        </svg>
                    </button>
                </div>
                <div class="o-banner__car--item-wrapper">
                    <img src="img/img-slider-banner.jpg" alt="">
                </div>
            </li>
            <li class="o-banner__car--item splide__slide">
                <div class="o-banner__car--item-wrapper">
                    <div>
                        <p class="">Descubre a Emerald King Rainbow Road</p>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dignissim
                            tortor.</p>
                    </div>
                    <button class="u-btn--red">
                        <span>¡Juega Ahora!</span>
                        <svg class="svg-icon-inline">
                            <use href="img/icon-icons.svg#chevron-circle-right" />
                        </svg>
                    </button>
                </div>
                <div class="o-banner__car--item-wrapper">
                    <img src="img/img-slider-banner.jpg" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>