<section class="banner" style="background-image: url('../img/img-banner-<%= data.img %>.jpg');">
    <div class="banner__wrapper">
        <img src="img/icon-<%= data.icon %>.svg" alt="">
        <div class="banner__wrapper-title">
            <p class=""><%= data.title %></p>
            <div class="breadcrumbs">
                <span>Casino Barcelona</span>
                <span>></span>
                <span><%= data.breadcrumb %></span>
            </div>
        </div>
    </div>
</section>
