<%
const breadcrumb = {
	first: "Casino de Barcelona",
	second: "Poker",
	third: undefined,
	current: "Satélites Online"
}
%>

<section class="bannerPokerSatelites">
	<img class="bannerPokerSatelites__logo" src="img/images/img-banner-poker-satelite-logo.png" alt="">
	<div class="bannerPokerSatelites__breadcrumbs">
		<%- include ('../components/breadcrumb', { bc: breadcrumb }) %>
	</div>
</section>