 <header class="bannerAppApuestas">
	<div class="bannerAppApuestas__content">
		<p class="bannerAppApuestas__title">Nuestra App de apuestas deportivas</p>
		<p class="bannerAppApuestas__subtitle">Vive todo el deporte con la App para apuestas de CasinoBarcelona.es</p>
		<a href="#" class="bannerAppApuestas__button btn__red">
			<img src="img/icons/icon-app-arrow-btn.svg" alt="">
			<span>¡DESCARGALA!</span>
		</a>
	</div>
	<img class="bannerAppApuestas__image" src="img/images/img-app-apuestas-header.png" alt="">
</header>