<section class="m-banner">
    <div class="o-banner--bg">
        <img src="img/img-slots-banner.jpg" alt="">
    </div>
    <div class="o-banner--wrapper">
        <div class="o-banner--layout">
            <img src="img/icon-seven.png" alt="">
            <div class="o-banner--title">
                <p class="">Nuestras Slots</p>
                <div class="c-breadcrumbs">
                    <span>Casino Barcelona</span>
                    <span>></span>
                    <span>Slots</span>
                </div>
            </div>
        </div>
    </div>
</section>