<%
const breadcrumb = {
	first: "Casino de Barcelona",
	second: undefined,
	third: undefined,
	current: "Favoritos"
}
%>

<header class="bannerFavorites">

	<div class="bannerFavorites__bgImage"></div>

	<div class="bannerFavorites__heart">
		<img src="img/icons/icon-heart-white.svg" alt="">
	</div>

	<p class="bannerFavorites__title">Mis Favoritos</p>

	<div class="bannerFavorites__breadcrumb">
		<%- include ('../components/breadcrumb', { bc: breadcrumb }) %>
	</div>

</header>