<section class="bannerCarousel splide">
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
            <img src="img/icon-slider-arrow-left.svg" alt="">
        </button>
        <button class="splide__arrow splide__arrow--next">
            <img src="img/icon-slider-arrow-right.svg" alt="">
        </button>
    </div>
    <div class="bannerCarousel__slider splide__track">
        <ul class="splide__list">
            <% data.forEach( e => { %>
                <li class="bannerCarousel__slide splide__slide">
                    <div class="bannerCarousel__slide--left bannerCarousel__slide-wrapper">
                        <div>
                            <p><%= e.title %></p>
                            <p><%= e.body %></p>
                        </div>
                        <button class="btn__red">
                            <span>¡JUEGA AHORA!</span>
                            <img src="img/icon-btn-arrow.svg" alt="">
                        </button>
                    </div>
                    <div class="bannerCarousel__slide--right bannerCarousel__slide-wrapper">
                        <img src="<%= e.img %>" alt="">
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</section>