<section class="bannerLandingA">
    <div class="bannerLandingA__wrapper">
        <p class="bannerLandingA__wrapper-title">Disfruta del Casino más famoso de Europa</p>
        <p class="bannerLandingA__wrapper-subtitle">Más de 1.700 Slots y Ruletas de todo tipo</p>
        <button class="btn__red btn__red--glow bannerLandingA__wrapper-btn">
            <span>REGÍSTRATE AQUÍ</span>
            <img src="img/icons/icon-btn-arrow.svg" alt="">
        </button>
    </div>
</section>