<section class="banner__car splide">
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
            <img src="img/icon-slider-arrow-left.svg" alt="">
        </button>
        <button class="splide__arrow splide__arrow--next">
            <img src="img/icon-slider-arrow-right.svg" alt="">
        </button>
    </div>
    <div class="banner__car-wrapper splide__track">
        <ul class="splide__list">
            <% data.forEach( e => { %>
                <li class="banner__car-item splide__slide">
                    <div class="banner__car-item--wrapper">
                        <div>
                            <p><%= e.title %></p>
                            <p><%= e.body %></p>
                        </div>
                        <button class="btn-red">
                            <span>¡Juega Ahora!</span>
                            <svg class="svg-icon-inline">
                                <use href="img/icon-icons.svg#chevron-circle-right" />
                            </svg>
                        </button>
                    </div>
                    <div class="banner__car-item--wrapper">
                        <img src="<%= e.img %>" alt="">
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</section>