<header class="bannerAffiliates">
	<div class="bannerAffiliates__content">
		<p class="bannerAffiliates__content-title">Afíliate con Casino Barcelona</p>
		<p class="bannerAffiliates__content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet mi vitae elit volutpat vehicula. Suspendisse posuere blandit leo, sed dapibus orci cursus a. Donec tincidunt nulla sed consequat semper</p>
	</div>
	<picture class="bannerAffiliates__bg">
		<source media="(min-width:1280px)" srcset="img/images/img-affiliates-header-bg-desktop.png">
		<img src="img/images/img-affiliates-header-bg-mobile.jpg" alt="">
	</picture>
</header>
