<section class="banner">
    <div class="banner__bg">
        <img src="img/img-<%= data.img %>-banner.jpg" alt="">
    </div>
    <div class="banner__wrapper">
        <img src="img/icon-<%= data.icon %>.png" alt="">
        <div class="banner__wrapper-title">
            <p class=""><%= data.title %></p>
            <div class="breadcrumbs">
                <span>Casino Barcelona</span>
                <span>></span>
                <span><%= data.breadcrumb %></span>
            </div>
        </div>
    </div>
</section>