<section class="blockPromo">
    <div class="blockPromo__bg">
        <img src="img/images/img-block-promo.png" alt="">
    </div>
    <div class="blockPromo__title">
        <img src="img/icons/icon-header-promo.svg" alt="">
        <p>La estela del Campeón</p>
        <div class="blockPromo__title-bcrumbs">
            <span>Casino Barcelona</span>
            <span>></span>
            <span>Promociones</span>
            <span>></span>
            <span>La estela del campeón</span>
        </div>
    </div>
    <div class="blockPromo__features">
        <div class="blockPromo__features-item">
            <img src="img/icons/icon-seven-red.svg" alt="">
            <span>Casino</span>
        </div>
        <div class="blockPromo__features-item">
            <img src="img/icons/icon-badge-red.svg" alt="">
            <span>100 Tiradas Extra y Bono de 50€</span>
        </div>
        <div class="blockPromo__features-item">
            <img src="img/icons/icon-calendar-red.svg" alt="">
            <span>Durante 5 días</span>
        </div>
    </div>
    <div class="blockPromo__tc">
        <p>¿Sabías que desde la estación de nuestro Casino sale cada día un tren que enrtega Recargas a Alta Velocidad?
            Si tú también quieres aprovechar estas Recargas exclusivas, que van desde un 25% hasta un 100% de tu
            depósito, apúntate en esta página y obtendrás Bonos de Casino cargados de amperios.
        </p>
        <p>Sigue estos pasos:
        </p>
        <p>Apúntate a esta promoción.
            Uno de nuestros gestores contactará contigo para ofrecerte una gran recarga.
            Disfruta de Bonos de Casino de cualquier forma y tamaño, ¡hasta el 100% de tu depósito!
            ¡Ten a mano tu equipaje y aprovecha estos Bonos para llegar más lejos con tus depósitos!</p>
        <button class="btn__red btn__red--glow">
            <span>¡APUNTARME!</span>
            <img src="img/icons/icon-round-arrow.svg" alt="">
        </button>
        <p>Consulta los Términos y Condiciones al final de esta página para conocer todos los detalles y sigue
            disfrutando de CasinoBarcelona.es. Sólo podrán optar a la promoción aquellos usuarios que tengan una cuenta
            de juego abierta durante, al menos, 30 días y hayan sido verificados documentalmente. Haz click aquí si
            necesitas más información.</p>
        <p>Y recuerda jugar siempre con responsabilidad.</p>
    </div>
</section>