<section class="grid3Cols">
    <div class="grid3Cols__container wImg">
        <img src="img/images/img-poker-download-2.png" alt="">
    </div>
    <div class="grid3Cols__container regular">
        <p class="grid3Cols__container-title">El mejor Póker online al alcance de tu mano</p>
        <div class="grid3Cols__container-step">
            <img src="img/icons/icon-poker-checkout.svg" alt="">
            <p class="title">Descarga e instala</p>
        </div>
        <div class="grid3Cols__container-step">
            <img src="img/icons/icon-poker-checkout.svg" alt="">
            <p class="title">Desde cualquier lugar</p>
        </div>
        <div class="grid3Cols__container-step">
            <img src="img/icons/icon-poker-checkout.svg" alt="">
            <p class="title">Juega online rápido y seguro</p>
        </div>
        <div class="grid3Cols__container-step">
            <img src="img/icons/icon-poker-checkout.svg" alt="">
            <p class="title">Disponible para iOS y Android</p>
        </div>
    </div>
    <div class="grid3Cols__container grid3Cols__mobile regular">
        <p class="grid3Cols__container-title">Descarga al app</p>
        <p class="grid3Cols__container-body">Disfrutar del mejor póker online desde nuestra aplicación móvil es una de
            las mejores oportunidades de cuantas ponemos al alcance de tu mano.</p>
        <div class="grid3Cols__mobile-btns">
            <a href="" class="btn__red btn__icon--right grid3Cols__btn">
                <span>DESCARGA PARA ANDROID</span>
                <img src="img/icons/icon-download-android.svg" alt="">
            </a>
            <a href="" class="btn__red btn__icon--right grid3Cols__btn">
                <span>DESCARGA PARA IOS</span>
                <img src="img/icons/icon-download-IOS.svg" alt="">
            </a>
        </div>
    </div>
</section>