<section class="blockPromo">
    
    <div class="blockPromo__wrapper">
        <div class="blockPromo__bg">
            <div class="image">
                <img src="img/images/img-block-promo.png" alt="">
                <div class="blockPromo__gradient"></div>
            </div>
        </div>
        <div class="blockPromo__title">
            <img class="blockPromo__title-badge" src="img/icons/icon-header-promo.svg" alt="">
            <p>La estela del Campeón</p>
            <div class="blockPromo__title-bcrumbs">
                <%- include ('../components/breadcrumb', { bc: bc }) %>
            </div>
        </div>
        <div class="blockPromo__features">
            <div class="blockPromo__features-item">
                <img src="img/icons/icon-seven-red.svg" alt="">
                <span>Casino</span>
            </div>
            <div class="blockPromo__features-item">
                <img src="img/icons/icon-badge-red.svg" alt="">
                <span>100 Tiradas Extra y Bono de 50€</span>
            </div>
            <div class="blockPromo__features-item">
                <img src="img/icons/icon-calendar-red.svg" alt="">
                <span>Durante 5 días</span>
            </div>
        </div>
        <a href="" class="btn__red btn__red--glow blockPromo__cta">
            <span>¡APUNTARME!</span>
            <img src="img/icons/icon-round-arrow.svg" alt="">
        </a>
        <div class="blockPromo__table">
            <div class="blockPromo__table-row">
                <p class="title">Código Promocional</p>
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis velit eu tellus
                    pellentesque, a gravida neque tincidunt. Duis mattis quam nec quam mattis ullamcorper. Duis finibus
                    turpis ornare lorem iaculis, eget maximus velit viverra. In hac habitasse platea dictumst. Sed
                    sodales.
                </p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Periodo Válido</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Fecha de inicio de promoción</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis velit
                    eu tellus pellentesque, a gravida neque tincidunt. Duis mattis quam nec quam mattis</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Fecha de final de promoción</p>
                <p class="content">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Condiciones adicionales</p>
                <p class="content">Lorem ipsum</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Apuesta mínima</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis velit
                    eu tellus pellentesque, a gravida neque tincidunt. Duis mattis quam nec quam mattis ullamcorper.
                    Duis finibus turpis ornare lorem iaculis, eget maximus velit viverra. In hac habitasse platea
                    dictumst. Sed sodales, mauris a fringilla ultricies.</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Evento</p>
                <p class="content">Lorem</p>
            </div>
        </div>
        <div class="blockPromo__tc">
            <p>¿Sabías que desde la estación de nuestro Casino sale cada día un tren que enrtega Recargas a Alta
                Velocidad?
                Si tú también quieres aprovechar estas Recargas exclusivas, que van desde un 25% hasta un 100% de tu
                depósito, apúntate en esta página y obtendrás Bonos de Casino cargados de amperios.
            </p>
            <p>Sigue estos pasos:
            </p>
            <p>Apúntate a esta promoción.
                Uno de nuestros gestores contactará contigo para ofrecerte una gran recarga.
                Disfruta de Bonos de Casino de cualquier forma y tamaño, ¡hasta el 100% de tu depósito!
                ¡Ten a mano tu equipaje y aprovecha estos Bonos para llegar más lejos con tus depósitos!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="promostil1 col-sm-4 col-xs-12 col-sm-offset-4"><a href="/promociones/recargas-alta-velocidad.html" target="_blank"><img class="promostil2" src="https://www.casinobarcelona.es/img/promociones/2021/TrenVIPrecarga-promo_banner_mobile.jpg"></a></div>
        </div>
    </div>
</section>
