<section class="boardGame">
	<header class="boardGame__header">
		<p class="boardGame__header-title">Página no encontrada</p>
		<p class="boardGame__header-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis quam eget nulla porta laoreet.</p>
	</header>
	<nav class="boardGame__menu">
		<img class="boardGame__menu-wanted" src="img/images/img-404-wanted.png" alt="Wanted">
		<ul>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Inicio</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Apuestas</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Slots</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Casino</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Ruleta en Vivo</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Apuestas Virtuales</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Poker</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Promociones</a></li>
		</ul>
	</nav>
	<div class="boardGame__banner">
		<img class="boardGame__banner-image" src="img/images/img-404-image.png" alt="">
	</div>
</section>