<section class="boardGame">

	<header class="boardGame__header">
		<p class="boardGame__header-title">Configuración de sesión</p>
		<p class="boardGame__header-subtitle">Estás a punto de comenzar una sesión de máquinas de azar. Por favor, introduce los parámetros de sesión.</p>
	</header>


	<div class="boardGame__board">

		<p class="boardGame__board-text">¿Cuánto tiempo quieres jugar?</p>
		<div class="boardGame__board-numbers">
			<div class="boardGame__board-number is-active">
				<div class="boardGame__board-number-top">30</div>
				<div class="boardGame__board-number-bottom">min</div>
			</div>
			<div class="boardGame__board-number">
				<div class="boardGame__board-number-top">1</div>
				<div class="boardGame__board-number-bottom">horas</div>
			</div>
			<div class="boardGame__board-number">
				<div class="boardGame__board-number-top">2</div>
				<div class="boardGame__board-number-bottom">horas</div>
			</div>
			<div class="boardGame__board-number">
				<div class="boardGame__board-number-top">4</div>
				<div class="boardGame__board-number-bottom">horas</div>
			</div>
			<div class="boardGame__board-number">
				<div class="boardGame__board-number-top">6</div>
				<div class="boardGame__board-number-bottom">horas</div>
			</div>
		</div>

		<p class="boardGame__board-text">¿Con qué frecuencia quieres que te avisemos?</p>
		<div class="boardGame__board-numbers">
			<div class="boardGame__board-number">
				<div class="boardGame__board-number-top">5</div>
				<div class="boardGame__board-number-bottom">min</div>
			</div>
			<div class="boardGame__board-number is-active">
				<div class="boardGame__board-number-top">10</div>
				<div class="boardGame__board-number-bottom">min</div>
			</div>
			<div class="boardGame__board-number">
				<div class="boardGame__board-number-top">15</div>
				<div class="boardGame__board-number-bottom">min</div>
			</div>
		</div>

	</div>


	<footer class="boardGame__footer">
		<p class="boardGame__footer-title">¿Con cuánto saldo quieres jugar?</p>
		<p class="boardGame__footer-import">1€ máximo para este juego</p>
		<select class="boardGame__footer-time" name="select">
			<option selected>Tiempo mínimo para la próxima sesión</option>
			<option value="value1">Value 1</option>
			<option value="value2">Value 2</option>
			<option value="value3">Value 3</option>
		</select>
		<a href="#" class="boardGame__footer-button btn__red btn__red--glow">
			<span>Comenzar la sessión</span>
			<img src="img/icons/icon-play-white.svg" alt="">
		</a>
	</footer>

</section>