<section class="boardGame">

	<img src="img/user/icon/icon-menu-close.svg" alt="" class="boardGame__btn-close">

	<header class="boardGame__header">
		<p class="boardGame__header-title">Configuración de sesión</p>
		<p class="boardGame__header-subtitle">Estás a punto de comenzar una sesión de máquinas de azar. Por favor, introduce los parámetros de sesión.</p>
	</header>


	<div class="boardGame__board">

		<p class="boardGame__board-text">¿Cuánto tiempo quieres jugar?</p>
		<div class="boardGame__board-numbers">
			<input class="boardGame__board-number" type="radio" id="game-time-30-min" name="game-time" value="30-min">
			<label class="boardGame__board-number" for="game-time-30-min">
				<span class="boardGame__board-number-top">30</span>
				<span class="boardGame__board-number-bottom">min</span>
			</label>
			<input class="boardGame__board-number" type="radio" id="game-time-60-min" name="game-time" value="60-min">
			<label class="boardGame__board-number" for="game-time-60-min">
				<span class="boardGame__board-number-top">1</span>
				<span class="boardGame__board-number-bottom">horas</span>
			</label>
			<input class="boardGame__board-number" type="radio" id="game-time-120-min" name="game-time" value="120-min">
			<label class="boardGame__board-number" for="game-time-120-min">
				<span class="boardGame__board-number-top">2</span>
				<span class="boardGame__board-number-bottom">horas</span>
			</label>
			<input class="boardGame__board-number" type="radio" id="game-time-240-min" name="game-time" value="240-min">
			<label class="boardGame__board-number" for="game-time-240-min">
				<span class="boardGame__board-number-top">4</span>
				<span class="boardGame__board-number-bottom">horas</span>
			</label>
			<input class="boardGame__board-number" type="radio" id="game-time-360-min" name="game-time" value="360-min">
			<label class="boardGame__board-number" for="game-time-360-min">
				<span class="boardGame__board-number-top">6</span>
				<span class="boardGame__board-number-bottom">horas</span>
			</label>
		</div>

		<p class="boardGame__board-text">¿Con qué frecuencia quieres que te avisemos?</p>
		<div class="boardGame__board-numbers">
			<input class="boardGame__board-number" type="radio" id="game-reminder-5-min" name="game-reminder" value="5-min">
			<label class="boardGame__board-number" for="game-reminder-5-min">
				<span class="boardGame__board-number-top">5</span>
				<span class="boardGame__board-number-bottom">min</span>
			</label>
			<input class="boardGame__board-number" type="radio" id="game-reminder-10-min" name="game-reminder" value="10-min">
			<label class="boardGame__board-number" for="game-reminder-10-min">
				<span class="boardGame__board-number-top">10</span>
				<span class="boardGame__board-number-bottom">min</span>
			</label>
			<input class="boardGame__board-number" type="radio" id="game-reminder-15-min" name="game-reminder" value="15-min">
			<label class="boardGame__board-number" for="game-reminder-15-min">
				<span class="boardGame__board-number-top">15</span>
				<span class="boardGame__board-number-bottom">min</span>
			</label>
		</div>

	</div>


	<footer class="boardGame__footer">
		<p class="boardGame__footer-title">¿Con cuánto saldo quieres jugar?</p>
		<input class="boardGame__footer-input" type="number" step="any" placeholder="1€ máximo para este juego">
		<select class="boardGame__footer-time" name="select">
			<option selected>Tiempo mínimo para la próxima sesión</option>
			<option value="value1">Value 1</option>
			<option value="value2">Value 2</option>
			<option value="value3">Value 3</option>
		</select>
		<a href="#" class="boardGame__footer-button btn__red btn__red--glow">
			<span>Comenzar la sessión</span>
			<img src="img/icons/icon-play-white.svg" alt="">
		</a>
	</footer>

</section>