

						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-slider-banner.jpg" alt="">
							</div>
							<div class="o-card--text">

								<p class="o-card--title">title</p>
								<p class="o-card--subtitle">subtitle</p>
								<p class="o-card--content">content</p>

								<button class="u-btn--red">
									<span>¡Juega Ahora!</span>
									<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
								</button>
							</div>
						</article>



<section class="m-carousel_jackpot">
	<div class="o-carousel_jackpot--text">
		<p class="u-f--h1 u-f--bold">1.343.674€</p>
		<p class="u-f--h1 u-f--bold">en Jackpots</p>
		<p class="u-f--h5 u-w--l u-c--w-l">Siempre te recomendamos que disfrutes de las tragaperras que más te gusten como la gran forma de ocio que son.</p>
		<a href="#" class="u-f--h5 u-w--l u-c--w-l">
			<span>Ver todos</span>
			<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
		</a>
	</div>
	<div class="o-carousel_jackpot--carousel">




		<section class="splide js--splide--carousel-jackpot">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">

						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-slider-banner.jpg" alt="">
							</div>
							<div class="o-card--text">

								<p class="o-card--title">title</p>
								<p class="o-card--subtitle">subtitle</p>
								<p class="o-card--content">content</p>

								<button class="u-btn--red">
									<span>¡Juega Ahora!</span>
									<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
								</button>
							</div>
						</article>

					</li>
					<li class="splide__slide">

						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-slider-banner.jpg" alt="">
							</div>
							<div class="o-card--text">

								<p class="o-card--title">title</p>
								<p class="o-card--subtitle">subtitle</p>
								<p class="o-card--content">content</p>

								<button class="u-btn--red">
									<span>¡Juega Ahora!</span>
									<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
								</button>
							</div>
						</article>

					</li>
					<li class="splide__slide">

						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-slider-banner.jpg" alt="">
							</div>
							<div class="o-card--text">

								<p class="o-card--title">title</p>
								<p class="o-card--subtitle">subtitle</p>
								<p class="o-card--content">content</p>

								<button class="u-btn--red">
									<span>¡Juega Ahora!</span>
									<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
								</button>
							</div>
						</article>

					</li>
				</ul>
			</div>
		</section>
	</div>
</section>









<section class="splide js--splide--carousel-jackpot" aria-label="Slide Container Example">
	<div class="splide__track">
	  <ul class="splide__list">
		<li class="splide__slide">
		  <div class="splide__slide__container">
			<img src="...">
		  </div>
		  Lorem Ipsum Dolor Sit Amet
		</li>
		<li class="splide__slide">
		  <div class="splide__slide__container">
			<img src="...">
		  </div>
		  Lorem Ipsum Dolor Sit Amet
		</li>
	  </ul>
	</div>
  </section>



ddddddddddddd