<section class="carouselPromo">
    <div class="carouselPromo__header">
        <p class="title">Las Promociones de Casino Barcelona Online</p>
        <p class="subtitle">En esta sección puedes conocer todas las promociones de casino online que te ofrece Casino Barcelona. Tendrás
            la oportunidad de revalorizar y mejorar tu ocio online sea cual sea la modalidad por la que te decantes. En
            nuestras promociones de casino hay opciones para todos los gustos. Podrás sacar partido de tiradas gratis
            para slots, cashbacks en ruleta y otros juegos, así como otras muchas variantes de ofertas con las que
            pretendemos darte la mejor experiencia de juego posible.</p>
        <p class="body">Cada una de nuestras promociones tendrá sus propios términos y condiciones, así que te recomendamos tomarte
            todo el tiempo que necesites para conocerlos a fondo. Solo de este modo podrás aprovecharlas al máximo, pero
            recuerda jugar siempre con responsabilidad y siendo consciente del riesgo que corres de perder. ¡Ven con
            nosotros a conocer todas las promos de Casino Barcelona!</p>
    </div>
    <div class="splide carouselPromo__slider">
        <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
                <img src="img/icons/icon-slider-arrow-left.svg" alt="">
            </button>
            <button class="splide__arrow splide__arrow--next">
                <img src="img/icons/icon-slider-arrow-right.svg" alt="">
            </button>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-1.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-2.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-3.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-4.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-5.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-6.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="img/images/img-carousel-promo-7.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>