<main class="jackpot">
	<section class="jackpot__text">
		<p class="u-f--h1 u-w--bold">1.343.674€</p>
		<p class="u-f--h3 u-w--bold">en Jackpots</p>
		<p class="u-f--h3 u-w--l u-c--w-l">Siempre te recomendamos que disfrutes de las tragaperras que más te gusten
			como la gran forma de ocio que son.</p>
		<a href="#" class="u-btn_no_button--red">
			<span>Ver todos</span>
			<svg class="svg-icon-inline">
				<use href="img/icon-icons.svg#chevron-circle-right" />
			</svg>
		</a>
	</section>
	<section class="jackpot__carousel splide arrows-right">
		<div class="splide__track">
			<ul class="splide__list">
				<% data.forEach( e=> { %>
					<li class="splide__slide">
						<article class="jackpot__card">
							<div class="jackpot__card-image">
								<img src="img/<%= e.img %>" alt="">
							</div>
							<div class="jackpot__card-content">
								<p>
									<%= e.title %>
								</p>
								<p>
									<%= e.total %>
								</p>
								<button class="btn-red">
									<span>¡Juega Ahora!</span>
									<svg class="svg-icon-inline">
										<use href="img/icon-icons.svg#chevron-circle-right" />
									</svg>
								</button>
							</div>
						</article>
					</li>
				<% }) %>
			</ul>
		</div>
	</section>
</main>