<section class="m-carousel_bets">
	<p class="u-f--h2 u-w--bold"><svg class="svg-icon-inline"><use href="img/icon-icons.svg#icon-star-corp"/></svg> Novedades</p>
	<div class="o-carousel_bets--carousel">
		<section class="splide arrows-right js--splide--carousel-bets">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">
						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-carousel-bets-1.jpg" alt="">
							</div>
							<div class="o-card--content">
								<p class="o-card--title">Real Madrid - Mallorca</p>
								<p class="o-card--subtitle">La Liga</p>
								<p class="o-card--desc">mié, 22 de septiembre</p>
								<p class="o-card--desc">22:00h</p>
							</div>
							<div class="o-card--footer o-card--footer_w_columns">
								<div class="o-card--footer_column">
									<span>1</span>
									<button class="u-btn--black_lighter">2,25</button>
								</div>
								<div class="o-card--footer_column">
									<span>✖</span>
									<button class="u-btn--black_lighter">3,75</button>
								</div>
								<div class="o-card--footer_column">
									<span>2</span>
									<button class="u-btn--black_lighter">8,50</button>
								</div>
							</div>
						</article>
					</li>
					<li class="splide__slide">
						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-carousel-bets-1.jpg" alt="">
							</div>
							<div class="o-card--content">
								<p class="o-card--title">Real Madrid - Mallorca</p>
								<p class="o-card--subtitle">La Liga</p>
								<p class="o-card--desc">mié, 22 de septiembre</p>
								<p class="o-card--desc">22:00h</p>
							</div>
							<div class="o-card--footer o-card--footer_w_columns">
								<div class="o-card--footer_column">
									<span>1</span>
									<button class="u-btn--black_lighter">2,25</button>
								</div>
								<div class="o-card--footer_column">
									<span>✖</span>
									<button class="u-btn--black_lighter">3,75</button>
								</div>
								<div class="o-card--footer_column">
									<span>2</span>
									<button class="u-btn--black_lighter">8,50</button>
								</div>
							</div>
						</article>
					</li>
					<li class="splide__slide">
						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-carousel-bets-1.jpg" alt="">
							</div>
							<div class="o-card--content">
								<p class="o-card--title">Real Madrid - Mallorca</p>
								<p class="o-card--subtitle">La Liga</p>
								<p class="o-card--desc">mié, 22 de septiembre</p>
								<p class="o-card--desc">22:00h</p>
							</div>
							<div class="o-card--footer o-card--footer_w_columns">
								<div class="o-card--footer_column">
									<span>1</span>
									<button class="u-btn--black_lighter">2,25</button>
								</div>
								<div class="o-card--footer_column">
									<span>✖</span>
									<button class="u-btn--black_lighter">3,75</button>
								</div>
								<div class="o-card--footer_column">
									<span>2</span>
									<button class="u-btn--black_lighter">8,50</button>
								</div>
							</div>
						</article>
					</li>
					<li class="splide__slide">
						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-carousel-bets-1.jpg" alt="">
							</div>
							<div class="o-card--content">
								<p class="o-card--title">Real Madrid - Mallorca</p>
								<p class="o-card--subtitle">La Liga</p>
								<p class="o-card--desc">mié, 22 de septiembre</p>
								<p class="o-card--desc">22:00h</p>
							</div>
							<div class="o-card--footer o-card--footer_w_columns">
								<div class="o-card--footer_column">
									<span>1</span>
									<button class="u-btn--black_lighter">2,25</button>
								</div>
								<div class="o-card--footer_column">
									<span>✖</span>
									<button class="u-btn--black_lighter">3,75</button>
								</div>
								<div class="o-card--footer_column">
									<span>2</span>
									<button class="u-btn--black_lighter">8,50</button>
								</div>
							</div>
						</article>
					</li>
					<li class="splide__slide">
						<article class="o-card">
							<div class="o-card--image">
								<img src="img/img-carousel-bets-1.jpg" alt="">
							</div>
							<div class="o-card--content">
								<p class="o-card--title">Real Madrid - Mallorca</p>
								<p class="o-card--subtitle">La Liga</p>
								<p class="o-card--desc">mié, 22 de septiembre</p>
								<p class="o-card--desc">22:00h</p>
							</div>
							<div class="o-card--footer o-card--footer_w_columns">
								<div class="o-card--footer_column">
									<span>1</span>
									<button class="u-btn--black_lighter">2,25</button>
								</div>
								<div class="o-card--footer_column">
									<span>✖</span>
									<button class="u-btn--black_lighter">3,75</button>
								</div>
								<div class="o-card--footer_column">
									<span>2</span>
									<button class="u-btn--black_lighter">8,50</button>
								</div>
							</div>
						</article>
					</li>
				</ul>
			</div>
		</section>
	</div>
</section>