<section class="countdown">
    <div class="countdown__wrapper">
        <div class="countdown__title">
            <p>En este momento no puedes participar en esta promoción</p>
            <p>De acuerdo al Real Drecreto 958/2020 de comuniacciones comerciales
                de las actividades de juego, debes cumplir los siguientes requisitos:</p>
        </div>
        <div class="countdown__grid">
            <div class="countdown__item">
                <img class="cross" src="img/icons/icon-countdown-cross.svg" alt="">
                <img class="countdown__icon" src="img/icons/icon-countdown-grid-1.svg" alt="">
                <p>Haber pasado 30 días desde tu registro</p>
                <div class="countdown__time" data-creation-date="09/04/2019 12:28:56">
                    <div class="countdown__time-item">
                        <p id="days"></p>
                        <p>días</p>
                    </div>
                    <div class="countdown__time-item">
                        <p id="hours"></p>
                        <p>horas</p>
                    </div>
                    <div class="countdown__time-item">
                        <p id="minutes"></p>
                        <p>min</p>
                    </div>
                    <div class="countdown__time-item">
                        <p id="seconds"></p>
                        <p>seg</p>
                    </div>
                </div>
            </div>
            <div class="countdown__item">
                <img class="cross" src="img/icons/icon-countdown-cross.svg" alt="">
                <img class="countdown__icon" src="img/icons/icon-countdown-grid-2.svg" alt="">
                <p>Haber verificado tu cuenta</p>
                <a href="">
                    <button class="countdown__verify btn__icons btn__darkGrey">
                        <img src="img/icons/icon-countdown-check.svg" alt="">
                        <span>Verificar cuenta</span>
                        <img src="img/icons/icon-round-arrow.svg" alt="">
                    </button>
                </a>
            </div>
            <div class="countdown__item">
                <img class="cross" src="img/icons/icon-countdown-cross.svg" alt="">
                <img class="countdown__icon" src="img/icons/icon-countdown-grid-3.svg" alt="">
                <p>Haber pasado 30 días desde que solicitaste tu aumento de límites de depósito</p>
            </div>
            <div class="countdown__item">
                <img class="cross" src="img/icons/icon-countdown-cross.svg" alt="">
                <img class="countdown__icon" src="img/icons/icon-countdown-grid-4.svg" alt="">
                <p>Esperar la aprobación del retiro que has solicitado</p>
            </div>
        </div>
    </div>
</section>