<section class="ctaLandingA">
    <div class="ctaLandingA__container">
        <img class="ctaLandingA__icon" src="img/icons/icon-stars-landingA.svg" alt="">
        <p class="ctaLandingA__title">ESTO NO ES UN CASINO CUALQUIERA</p>
        <button class="ctaLandingA__btn btn__red btn__red--glow">
            <span>REGÍSTRATE AQUÍ</span>
            <img src="img/icons/icon-btn-arrow.svg" alt="">
        </button>
    </div>
</section>