<section class="error-404">

	<header class="error-404-header">
		<h1>Página no encontrada</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis quam eget nulla porta laoreet.</p>
	</header>

	<nav class="error-404-menu">
		<img class="error-404-menu-wanted" src="img/images/img-404-wanted.png" alt="Wanted">
		<ul>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Inicio</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Apuestas</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Slots</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Casino</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Ruleta en Vivo</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Apuestas Virtuales</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Poker</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Promociones</a></li>
		</ul>
	</nav>

	<div class="error-404-banner">
		<img src="img/images/img-404-image.png" alt="">
	</div>

</section>