<section class="error404">
	<div class="error404__wrapper">
		<div class="error404__content">
			<div class="error404__header">
				<p class="error404__header-title">Página no encontrada</p>
				<p class="error404__header-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
					venenatis quam eget nulla porta laoreet.</p>
			</div>
			<nav class="error404__menu">
				<img class="error404__menu-wanted" src="img/images/img-404-wanted.png" alt="Wanted">
				<a href="/">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>INICIO</p>
				</a>
				<a href="/app-apuestas">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>APUESTAS</p>
				</a>
				<a href="/slots">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>SLOTS</p>
				</a>
				<a href="/casino">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>CASINO</p>
				</a>
				<a href="/ruleta">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>RULETA EN VIVO</p>
				</a>
				<a href="/app-apuestas">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>APUESTAS VIRTUALES</p>
				</a>
				<a href="/poker-home">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>POKER</p>
				</a>
				<a href="/promociones">
					<img src="img/icons/icon-arrow-circle-red.svg" alt="">
					<p>PROMOCIONES</p>
				</a>
			</nav>
		</div>
		<div class="error404__banner">
			<img class="error404__banner-image" src="img/images/img-404-bg.png" alt="">
		</div>
	</div>

	<!-- <nav class="error404__menu--mobile">
		<img class="error404__menu-wanted" src="img/images/img-404-wanted.png" alt="Wanted">
		<ul>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Inicio</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Apuestas</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Slots</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Casino</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Ruleta en Vivo</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Apuestas Virtuales</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Poker</a></li>
			<li><a href="#"><img src="img/icons/icon-arrow-circle-red.svg" alt="">Promociones</a></li>
		</ul>
	</nav> -->
</section>