<section class="filter__promo">
    <fieldset class="filter__promo-wrapper">
        <button class="" data-filter="all"><span>Todos</span></button>
        <button class="" data-filter=".casino">
            <img src="img/icon-seven-promo.svg" alt="">
            <span>Casino</span>
        </button>
        <button class="" data-filter=".apuesta">
            <img src="img/icon-ball-promo.svg" alt="">
            <span>Apuestas</span>
        </button>
        <button class="" data-filter=".poker">
            <img src="img/icon-card-promo.svg" alt="">
            <span>Poker</span>
        </button>
    </fieldset>
</section>