<%
const gridItems = [
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Quantum Ruleta",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Lightning",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Francesa",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Casiopea",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Bola Rápida",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Francesa",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Auto Lightning",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Slingshot",
        cruppier: "Adriana"
    },
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Ruleta Francesa Casiopea",
        cruppier: "Adriana"
    },
]
%>

<main class="ruletaFinder" id="ruleta-finder">

    <%- include ('../objects/filter-ruleta.ejs') %>

    <%- include ('../objects/grid-ruleta.ejs', { data: gridItems }) %>

</main>