<%
const gridItems = [
    {
        img: "1",
        title: "Elige tu primer gran bono",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "casino"
    },
    {
        img: "2",
        title: "Calendario Black Friday",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "apuesta"
    },
    {
        img: "3",
        title: "Bonos Supersónicos",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "casino"
    },
    {
        img: "4",
        title: "La Estela del Campeón",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "poker"
    },
    {
        img: "5",
        title: "Freebet de 3€ de regalo",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "apuesta"
    },
    {
        img: "6",
        title: "Freebets de récord",
        body: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem neque sapiente pariatur earum eos reprehenderit. Vitae harum voluptates nemo fuga, id atque nesciunt amet adipisci nulla cupiditate dolorem incidunt nam!",
        category: "casino"
    },
    {
        img: "7",
        title: "Descubre nuestras ciones",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "apuesta"
    },
    {
        img: "8",
        title: "Polos...¿opuestos?",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "casino"
    },
    {
        img: "1",
        title: "Elige tu primer gran bono",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "poker"
    },
    {
        img: "2",
        title: "Calendario Black Friday",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "apuesta"
    },
    {
        img: "3",
        title: "Bonos Supersónicos",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "casino"
    },
    {
        img: "4",
        title: "La Estela del Campeón",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "casino"
    },
    {
        img: "5",
        title: "Freebet de 3€ de regalo",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "poker"
    },
    {
        img: "6",
        title: "Freebets de récord",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "casino"
    },
    {
        img: "7",
        title: "Descubre nuestras promociones",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League",
        category: "apuesta"
    },
]
%>
    <main class="finder__promo">

    <%- include ('../objects/filter-promo') %>

    <%- include ('../objects/grid-promo', { data: gridItems }) %>

</main>