<%
const gridItems = [
    {
        img: "img-cruppier-ruleta-1.png",
        title: "Quantum Ruleta",
        cruppier: "noCruppier",
        proveedor: "proveedor-uno"
    },
    {
        img: "img-cruppier-ruleta-2.png",
        title: "Ruleta Lightning",
        cruppier: "cruppier",
        proveedor: "proveedor-dos"
    },
    {
        img: "img-cruppier-ruleta-3.png",
        title: "Ruleta Francesa",
        cruppier: "noCruppier",
        proveedor: "proveedor-tres"
    },
    {
        img: "img-cruppier-ruleta-4.png",
        title: "Ruleta Casiopea",
        cruppier: "cruppier",
        proveedor: "proveedor-uno"
    },
    {
        img: "img-cruppier-ruleta-5.png",
        title: "Ruleta Bola Rápida",
        cruppier: "noCruppier",
        proveedor: "proveedor-dos"
    },
    {
        img: "img-cruppier-ruleta-6.png",
        title: "Ruleta Francesa",
        cruppier: "cruppier",
        proveedor: "proveedor-tres"
    },
    {
        img: "img-cruppier-ruleta-7.png",
        title: "Ruleta Auto Lightning",
        cruppier: "noCruppier",
        proveedor: "proveedor-uno"
    },
    {
        img: "img-cruppier-ruleta-8.png",
        title: "Ruleta Slingshot",
        cruppier: "cruppier",
        proveedor: "proveedor-dos"
    },
    {
        img: "img-cruppier-ruleta-9.png",
        title: "Ruleta Francesa Casiopea",
        cruppier: "noCruppier",
        proveedor: "proveedor-tres"
    },
]
%>

<main class="ruletaFinder" id="ruleta-finder">

    <%- include ('../objects/filter-ruleta.ejs') %>

    <%- include ('../objects/grid-ruleta.ejs', { data: gridItems }) %>

</main>