<%
const gridItems = [
    {
        img: "1",
        title: "Elige tu primer gran bono",
        category: "casino"
    },
    {
        img: "2",
        title: "Calendario Black Friday",
        category: "apuesta"
    },
    {
        img: "3",
        title: "Bonos Supersónicos",
        category: "casino"
    },
    {
        img: "4",
        title: "La Estela del Campeón",
        category: "poker"
    },
    {
        img: "5",
        title: "Freebet de 3€ de regalo",
        category: "apuesta"
    },
    {
        img: "6",
        title: "Freebets de récord",
        category: "casino"
    },
    {
        img: "7",
        title: "Descubre nuestras ciones",
        category: "apuesta"
    },
    {
        img: "8",
        title: "Polos...¿opuestos?",
        category: "casino"
    },
    {
        img: "1",
        title: "Elige tu primer gran bono",
        category: "poker"
    },
    {
        img: "2",
        title: "Calendario Black Friday",
        category: "apuesta"
    },
    {
        img: "3",
        title: "Bonos Supersónicos",
        category: "casino"
    },
    {
        img: "4",
        title: "La Estela del Campeón",
        category: "casino"
    },
    {
        img: "5",
        title: "Freebet de 3€ de regalo",
        category: "poker"
    },
    {
        img: "6",
        title: "Freebets de récord",
        category: "casino"
    },
    {
        img: "7",
        title: "Descubre nuestras promociones",
        category: "apuesta"
    },
]
%>

<main class="finder__promo">

    <%- include ('../objects/filter-promo') %>

    <%- include ('../objects/grid-promo', { data: gridItems }) %>

</main>