<%
const gridItems = [
    {
        title: "Elige tu primer gran bono",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Calendario Black Friday",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Bonos Supersónicos",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "La Estela del Campeón",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Freebet de 3€ de regalo",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Freebets de récord",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Descubre nuestras promociones",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Polos...¿opuestos?",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Elige tu primer gran bono",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Calendario Black Friday",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Bonos Supersónicos",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "La Estela del Campeón",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Freebet de 3€ de regalo",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Freebets de récord",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
    {
        title: "Descubre nuestras promociones",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
    },
]
%>

<main class="finder__promo">

    <%- include ('../objects/filter-promo') %>

    <%- include ('../objects/grid-promo', { data: gridItems }) %>

</main>