<%
const gridItems = [
    {
        img: "promo1",
        title: "Elige tu primer gran bono",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo2",
        title: "Calendario Black Friday",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "apuesta"
    },
    {
        img: "promo3",
        title: "Bonos Supersónicos",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo4",
        title: "La Estela del Campeón",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "poker"
    },
    {
        img: "promo5",
        title: "Freebet de 3€ de regalo",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "apuesta"
    },
    {
        img: "promo6",
        title: "Freebets de récord",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo7",
        title: "Descubre nuestras promociones",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "apuesta"
    },
    {
        img: "promo8",
        title: "Polos...¿opuestos?",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo1",
        title: "Elige tu primer gran bono",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "poker"
    },
    {
        img: "promo2",
        title: "Calendario Black Friday",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "apuesta"
    },
    {
        img: "promo3",
        title: "Bonos Supersónicos",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo4",
        title: "La Estela del Campeón",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo5",
        title: "Freebet de 3€ de regalo",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "poker"
    },
    {
        img: "promo6",
        title: "Freebets de récord",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "casino"
    },
    {
        img: "promo7",
        title: "Descubre nuestras promociones",
        subtitle: "Casino",
        body: "Apuesta por el equipo que conseguirá ganar la Champions League y aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!",
        link: "#",
        category: "apuesta"
    },
]
%>

<main class="finder__promo">

    <%- include ('../objects/filter-promo') %>

    <%- include ('../objects/grid-promo', { data: gridItems }) %>

</main>