<%
const gridItems = [
    {
        title: "Finn Golden Tavern",
        img: "1",
        link: "#",
        general: "novedad tag tag--right tag--new",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "bermuda, riches"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "2",
        general: "novedad tag tag--right tag--promo",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "pirates"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "3",
        general: "novedad promo tag tag--right tag--exclusive",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "bonanza"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "4",
        general: "promo tag tag--money",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "mystic"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "5",
        general: "novedad",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "piggy"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "6",
        general: "promo",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "treasure"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "7",
        general: "novedad",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "bass"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "8",
        general: "novedad promo",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "yum"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "9",
        general: "",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "giza"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "11",
        general: "",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "party"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "12",
        general: "promo",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "chicken"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "1",
        general: "novedad promo",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "bonanza, chicle"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "2",
        general: "novedad",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "bermuda"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "3",
        general: "novedad",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Pirates Code"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "4",
        general: "novedad promo",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Cash Bonanza"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "5",
        general: "promo",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Mystic Chief"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "6",
        general: "novedad",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Piggy Bank"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "7",
        general: "promo",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Treasure Wild"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "8",
        general: "novedad",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Bigger Bass"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "9",
        general: "novedad promo",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Yum Yum"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "10",
        general: "",
        proveedor: "proveedor-dos",
        tipo: "tipo-uno",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Rise of Giza"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "11",
        general: "",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Friut Party"
    },
    {
        title: "Finn Golden Tavern",
        link: "#",
        img: "12",
        general: "promo",
        proveedor: "proveedor-uno",
        tipo: "tipo-dos",
        lineas: "lineas-dos",
        apuesta: "apuesta-uno",
        name: "Chicken Drop"
    }
]
%>

<main class="slotsFinder">

    <%- include ('../objects/filter-slotsAll.ejs') %>

    <%- include ('../objects/grid-games.ejs', { data: gridItems }) %>

</main>