<section class="gridHalf">
    <nav class="gridHalf__navbar">
        <div class="gridHalf__navbar-wrapper">
            <img src="img/icons/icon-grid-arrow.svg" alt="" class="js-arrow__grid">
            <div class="icon__title">
                <img src="img/<%= data.icon %>.svg" alt="">
                <p class="u-f--bold u-f--h4">
                    <%= data.title %>
                </p>
            </div>
        </div>
        <a href="<%= data.link %>">
            <div class="gridHalf__navbar-wrapper">
                <p class="u-f--bold">VER TODOS</p>
                <img src="img/icons/icon-arrow-red.svg" alt="">
            </div>
        </a>
    </nav>
    <div class="gridHalf__grid active">
        <% let n = 1; %>
        <% data.grid.forEach( item => { %>
            <div class="gridHalf__grid-item">
                <img src="img/images/img-grid-<%= n %>.jpg" alt="">
                <div class="gridHalf__grid-item--hover">
                    <a href="#">
                        <button class="btn__red btn__red--glow">
                            <span>¡JUEGA!</span>
                            <img src="img/icons/icon-play-white.svg" alt="">
                        </button>
                    </a>
                    <p>PRUÉBALO</p>
                </div>
            </div>
            <% n++ %>
        <% }) %>
    </div>
</section>