<section class="">
    <div class="">
        <img src="" alt="">
    </div>
    <div class="">
        <p class=""></p>
        <p class=""></p>
        <p class=""></p>
        <button class=""></button>
    </div>
</section>