<section class="gridApuestas">
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-1.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-2.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-3.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-1.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-2.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-3.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-1.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-2.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-3.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-1.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-2.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-3.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-1.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-2.png" alt="" class="">
    </a>
    <a href="#" class="gridApuestas__item">
        <img src="img/images/img-grid-apuestas-3.png" alt="" class="">
    </a>
</section>