<section class="gridDl">
    <div class="card">
        <div class="card__top">
            <img src="img/img-poker-download-1.png" alt="">
        </div>
        <div class="card__bottom">
            <div class="card__bottom-content">
                <p>Juega al póker en tu PC</p>
                <p>Si tienes un PC con Windows puedes descargarte nuestro software en 3 sencillos pasos, o si lo
                    prefieres puedes jugar ¡directamente en tu navegador!</p>
                <a href="#">
                    <span>MÁS INFORMACIÓN</span>
                    <img src="img/icon-arrow-circle-red.svg" alt="">
                </a>
            </div>
            <div class="card__bottom-btns">
                <button class="btn__red btn__icon--right">
                    <span>DESCARGA (SÓLO WINDOWS)</span>
                    <img src="img/icon-download-windows.svg" alt="">
                </button>
                <button class="btn__red btn__icon--right">
                    <span>JUGAR EN EL NAVEGADOR</span>
                    <img src="img/icon-download-play.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__top">
            <img src="img/img-poker-download-2.png" alt="">
        </div>
        <div class="card__bottom">
            <div class="card__bottom-content">
                <p>Juega al póker en tu smartphone</p>
                <p>
                    Descarga ahora nuestra app de póker para iOS y Android y juega estés donde estés con la garantía y
                    seguridad de CasinoBarcelona.es
                </p>
                <a href="#">
                    <span>MÁS INFORMACIÓN</span>
                    <img src="img/icon-arrow-circle-red.svg" alt="">
                </a>
            </div>
            <div class="card__bottom-btns">
                <button class="btn__red btn__icon--right">
                    <span>DASCARGA PARA ANDROID</span>
                    <img src="img/icon-download-android.svg" alt="">
                </button>
                <button class="btn__red btn__icon--right">
                    <span>DESCARGA PARA IOS</span>
                    <img src="img/icon-download-ios.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</section>