<section class="gridFull splide" data-order="2">
    <div class="splide__track">
        <div class="splide__list">
            <div class="item splide__slide">
                <img src="img/img-grid-casino-1.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-1.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-2.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-3.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-4.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-5.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-6.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-7.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-8.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-9.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-10.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-11.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-12.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-9.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-10.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-11.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-12.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-9.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-10.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-11.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-12.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-9.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-10.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-11.jpg" alt="">
            </div>
            <div class="item splide__slide">
                <img src="img/img-grid-casino-12.jpg" alt="">
            </div>
        </div>
    </div>

</section>