<main class="m-casino__filter" id="casino-filter">

    <button id="casino-all">Todo</button>
    <button id="casino-blackjack">Blackjack</button>
    <button id="casino-ruleta">Ruleta</button>

    <ul class="m-casino__grid list">
        <li class="m-casino__grid-item" data-type="blackjack">
            <div>
                <img src="" alt="">
                <img src="img/img-grid-casino-1.jpg" alt="">
            </div>
            <div class=""></div>
        </li>
    </ul>
</main>