<section class="gridHalf">
    <nav class="gridHalf__navbar">
        <div class="gridHalf__navbar-wrapper">
            <img src="img/icon-grid-arrow.svg" alt="" class="js-arrow__grid">
            <div class="icon__title">
                <img src="img/<%- data.icon %>.svg" alt="">
                <p class="u-f--bold u-f--h4">
                    <%- data.title %>
                </p>
            </div>
        </div>
        <a href="<%- data.link %>">
            <div class="gridHalf__navbar-wrapper">
                <p class="u-f--bold u-f--h5">VER TODAS</p>
                <img src="img/icon-arrow-red.svg" alt="">
            </div>
        </a>
    </nav>
    <div class="gridHalf__grid active">
        <% data.grid.forEach( item => { %>
            <div class="gridHalf__grid-item">
                <img src="img/<%- item.img %>.jpg" alt="">
            </div>
        <% }) %>
    </div>
</section>