<section class="m-grid-roulette">
	<article class="o-card">
		<div class="o-card--image">
			<img src="img/img-grid-roulette-1.png" alt="">
		</div>
		<div class="o-card--text">
			<p class="o-card--title">Ruleta en vivo</p>
			<p class="o-card--subtitle">En nuestra web pueden acceder al mayor catálogo de ruletas en vivo del momento.</p>
			<p class="o-card--content">En ellas, contarás con crupiers las 24 horas del día con un chat al alcance de tu mano para comunicarte con ellos.</p>
		</div>
		<div class="o-card--button">
			<button class="u-btn--red">
				<span>¡Juega Ahora!</span>
				<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
			</button>
		</div>
	</article>
	<article class="o-card">
		<div class="o-card--image">
			<img src="img/img-grid-roulette-1.png" alt="">
		</div>
		<div class="o-card--text">
			<p class="o-card--title">Juegos de mesa</p>
			<p class="o-card--subtitle">En CasinoBarcelona.es te ofrecemos juegos de casino online desde los más tradicionales, hasta los más innovadores.</p>
			<p class="o-card--content">Nuestro objetivo no es otro que el de darte la mejor oferta posible para que siempre tengas opciones para elegir lo que más te guste.</p>
		</div>
		<div class="o-card--button">
			<button class="u-btn--red">
				<span>¡Juega Ahora!</span>
				<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
			</button>
		</div>
	</article>
</section>