<main class="m-slots-finder">

    <form class="o-filter--slots">

        <div class="o-filter--slots-header">
            <div class="o-filter--slots-left">
                <img src="img/icon-funnel-red.svg" alt="">
                <span>Filtro</span>
            </div>
            <div class="o-filter--slots-right">
                <div>
                    <img src="img/icon-arrow-left.svg" alt="">
                </div>

                <button class="u-btn--gray-red" type="reset">
                    <span>Eliminar filtros</span>
                    <img src="img/icon-cross-red.svg" alt="">
                </button>
            </div>
        </div>

        <div class="o-filter--slots-container">
            <fieldset data-filter-group class="o-filter--slots-search">
                <img src="img/icon-lupa-big.svg" alt="">
                <input type="text" name="" id="" placeholder="Busca por nombre...">
            </fieldset>

            <fieldset data-filter-group class="o-filter--slots-general">
                <button class="u-btn--block" data-filter="">Novedad</button>
                <button class="u-btn--block" data-filter="">Promoción</button>
                <button class="u-btn--block" data-filter="">
                    <img src="img/icon-heart-white-big.svg" alt="">
                </button>
            </fieldset>

            <fieldset data-filter-group>
                <div class="">
                    <p></p>
                    <img src="" alt="">
                </div>
                <div class="">
                    <div>
                        <img src="" alt="">
                        <span></span>
                    </div>
                </div>
            </fieldset>
        </div>

    </form>

    <section></section>
</main>