<section class="gridRoulette">

		<div class="gridRoulette__grid">
			<div class="gridRoulette__item">
				<div class="gridRoulette__image">
					<img src="img/images/ruleta-background.png" alt="">
				</div>
				<div class="gridRoulette__content">
					<div class="gridRoulette__content-txt">
						<p class="gridRoulette__content-title">
							Ruleta en vivo
						</p>
						<p class="gridRoulette__content-subtitle">
							En nuestra web pueden acceder al mayor catálogo de ruletas en vivo del momento.
						</p>
						<p class="gridRoulette__content-desc">
							En ellas, contarás con crupiers las 24 horas del día con un chat al alcance de tu mano para comunicarte con ellos.
						</p>
					</div>
					<button class="gridRoulette__footer btn__red">
						<span>¡JUEGA AHORA!</span>
						<img src="img/icons/icon-btn-arrow.svg" alt="">
					</button>
				</div>
			</div>
			<div class="gridRoulette__item">
				<div class="gridRoulette__image">
					<img src="img/images/juegos-de-mesa-background.png" alt="">
				</div>
				<div class="gridRoulette__content contDrch">
					<div class="gridRoulette__content-txt">
						<p class="gridRoulette__content-title">
							Juegos de mesa
						</p>
						<p class="gridRoulette__content-subtitle">
							En CasinoBarcelona.es te ofrecemos juegos de casino online desde los más tradicionales, hasta los más innovadores.
						</p>
						<p class="gridRoulette__content-desc">
							Nuestro objetivo no es otro que el de darte la mejor oferta posible para que siempre tengas opciones para elegir lo que más te guste.
						</p>
					</div>
					<button class="gridRoulette__footer btn__red">
						<span>¡JUEGA AHORA!</span>
						<img src="img/icons/icon-btn-arrow.svg" alt="">
					</button>
				</div>
			</div>
		</div>

</section>