<section class="header__promo">
    <div class="header__promo-bg">
        <picture>
            <source media="(min-width:1024px)" srcset="img/images/img-bg-promo.jpg">
            <img src="img/images/img-bg-promo-mobile.jpg" alt="">
        </picture>
    </div>
    <div class="header__promo-content">
        <img src="img/icons/icon-header-promo.svg" alt="" class="header__promo-logo">
        <p>Nuestras promociones</p>
        <div class="header__promo-breadcrumb">
            <%- include ('../components/breadcrumb', { bc: bc }) %>
        </div>
    </div>
</section>