<section class="header__promo">
    <div class="header__promo-bg">
        <img src="img/img-header-promo.jpg" alt="">
    </div>
    <div class="header__promo-content">
        <img src="img/icon-header-promo.svg" alt="">
        <p>Nuestras promociones</p>
        <p class="breadcrumbs">
            <span>Casino Barcelona</span>
            <span>></span>
            <span>Promociones</span>
        </p>
    </div>
</section>