<section class="m-red__icons">
    <div class="o-red__icons--wrapper_left">
        <div class="o-red__icons--item">
            <img src="img/icon-red-1.svg" alt="">
            <p class="u-f--h4">Atención al cliente 24/7</p>
        </div>
        <div class="o-red__icons--item">
            <img src="img/icon-red-2.svg" alt="">
            <p class="u-f--h4">Todos tus juegos favoritos</p>
        </div>
        <div class="o-red__icons--item">
            <img src="img/icon-red-3.svg" alt="">
            <p class="u-f--h4">Las mejores marcas</p>
        </div>
        <div class="o-red__icons--item">
            <img src="img/icon-red-4.svg" alt="">
            <p class="u-f--h4">Garantía Casino Barcelona</p>
        </div>
    </div>
    <div class="o-red__icons--wrapper_right">
        <p class="">Casino Barcelona</p>
        <p class="">El casino online más prestigioso de España</p>
    </div>
</section>