<section class="imageText">
	<div class="imageText__content">
		<p class="u-f--h1 u-f--bold">¡El mejor Póker online!</p>
		<p class="u-f--h3 u-c--w-l">En Casino Barcelona queremos que disfrutes al máximo de lo mejor del póker online.</p>
		<p class="u-f--h5 u-w--l u-c--w-l">Por eso, en nuestra oferta siempre hay una mesa preparada para ti, sea cual sea tu nivel como usuario. Para un casino online de referencia en el mercado español, era imposible dejar de lado un juego tan potente como es el póker online. En nuestra web te esperan las mesas que mejor se adaptan a ti con torneos Twister, Sit & Go, torneos con Bounty, torneos con grandes premios garantizados, Freerolls y satélites de todos los niveles que desees.</p>
		<div class="imageText__content-btns">
			<button class="btn__ghost--red btn__size--big">
				<span>DESCARGA LA APP(SÓLO WINDOWS)</span>
				<img src="img/icon-arrow-circle-red.svg" alt="">
			</button>
			<button class="btn__ghost--red btn__size--big">
				<span>JUEGA EN TU NAVEGADOR</span>
				<img src="img/icon-arrow-circle-red.svg" alt="">
			</button>
		</div>
	</div>
	<div class="imageText__image">
		<img src="img/img-image_text.png" alt="">
	</div>

</section>