<section class="m-image_text">
	<div class="o-image_text--image">
		<img src="img/img-image_text.png" alt="">
	</div>
	<div class="o-image_text--text">
		<h2>¡El mejor Póker online!</h2>
		<h3>En Casino Barcelona queremos que disfrutes al máximo de lo mejor del póker online.</h3>
		<p>Por eso, en nuestra oferta siempre hay una mesa preparada para ti, sea cual sea tu nivel como usuario. Para un casino online de referencia en el mercado español, era imposible dejar de lado un juego tan potente como es el póker online. En nuestra web te esperan las mesas que mejor se adaptan a ti con torneos Twister, Sit & Go, torneos con Bounty, torneos con grandes premios garantizados, Freerolls y satélites de todos los niveles que desees.</p>
		<div class="o-image_text--buttons">
			<button class="u-btn_ghost--red u-btn--size_big">
				<span>Descarga la App (Sólo Windows)</span>
				<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
			</button>
			<button class="u-btn_ghost--red u-btn--size_big">
				<span>Juega en tu Navegador</span>
				<svg class="svg-icon-inline"><use href="img/icon-icons.svg#chevron-circle-right"/></svg>
			</button>
		</div>
	</div>
</section>