<section class="imageTextTorneo">
    <div class="imageTextTorneo__content">
        <p class="u-f--h1 u-f--bold">Torneos de póker online</p>
        <p class="u-f--h4 u-f--bold">Los prestigiosos torneos de Casino Barcelona, Casino Tarragona y Casino Peralada, ¡ahora online!</p>
        <a href="#" class="">
            <span>VER TORNEOS</span>
            <img src="img/icon-arrow-circle-red.svg" alt="">
        </a>
    </div>
    <div class="imageTextTorneo__image">
        <img src="img/img-poker-torneos.png" alt="">
    </div>
</section>