<section class="registerLogin login">
    <div class="registerLogin__header">
        <div class="registerLogin__header-logo">
            <img src="img/icon-logo-black.svg" alt="">
        </div>
        <div class="registerLogin__header-close">
            <img src="img/icon-close-register.svg" alt="">
        </div>
    </div>
    <section class="registerLogin__layout">
        <form action="" method="post" class="registerLogin__form">
            <div class="registerLogin__container">
                <img src="img/icon-header-login.svg" alt="" class="login__header">
                <h2>Inicia sesión</h2>
                <div class="login__input">
                    <input type="text" name="user" id="" required placeholder="usuario">
                    <input type="text" name="password" id="" required placeholder="contraseña">
                </div>
                <div class="registerLogin__btns">
                    <button class="btn__blue">
                        <span>ENTRAR</span>
                        <img src="img/icon-arrow-white.svg" alt="">
                    </button>
                    <button type="submit" class="btn__white">
                        <span>REGÍSTRATE</span>
                        <img src="img/icon-arrow-circle-black.svg" alt="">
                    </button>

                </div>
            </div>
        </form>
        <div class="registerLogin__sign_up">
            <p>¿Has olvidado la contraseña?</p>
            <p><a href="#">Recuperar contraseña</a></p>
        </div>
    </section>
</section>