<template id="mpu-tpl">
    <section class="mpu">

        <div class="mpu__wrapper">

            <section class="mpu__header">
                <img src="img/user/logo/logo-casino-dark.png" alt="">
                <img src="img/user/icon/icon-menu-close.svg" alt="" class="mpu__btn-close">
            </section>

            <div class="mpu__content">
                <div class="mpu__title">Lorem ipsum</div>
                <div class="mpu__body">Dolor sit amet</div>
                
                <div class="mpu__actions">
                    <a href="#" class="mpu__btn mpu__btn--confirm">Lorem ipsum</a>
                    <a href="#" class="mpu__btn mpu__btn--deny">Dolor sit amet</a>
                    <a href="#" class="mpu__btn mpu__btn--cancel">Dolor sit amet</a>
                </div>
            </div>


        </div>

    </section>
</template>