<section class="oneCol">
    <div class="oneCol__wrapper">
        <p class="oneCol__title">¿Principiante?</p>
        <p class="oneCol__subtitle">Esto te interesa</p>
        <p class="oneCol__body">Consulta nuestra sección de Cómo jugar y conviértete en un PRO. Conoce las reglas del
            archiconocido Texas Hold’em y del prometedor Omaha. Diferencia entre cash y torneo y ¡hazte con las fichas
            de tus rivales!</p>
        <a href="#" class="redCta">
            <span>CÓMO JUGAR</span>
            <img src="img/icons/icon-arrow-circle-red.svg" alt="">
        </a>
    </div>
</section>