<section class="pokerSatelitesOnline">
	<div class="grids__container pokerSatelitesOnline__Cards">
		<div class="gridHalf pokerSatelitesOnline__Card">
			<p class="pokerSatelitesOnline__Card-title">Satélites CEP</p>
			<p class="pokerSatelitesOnline__Card-subtitle">Puedes conseguir tu entrada desde tan solo</p>
			<p class="pokerSatelitesOnline__Card-price">3,30€</p>
			<a href="#" class="pokerSatelitesOnline__Card-button btn__red">
				<span>Más información</span>
				<img src="img/icons/icon-play-white.svg" alt="">
			</a>
		</div>
		<div class="gridHalf pokerSatelitesOnline__Card">
			<p class="pokerSatelitesOnline__Card-title">Satélites CEP</p>
			<p class="pokerSatelitesOnline__Card-subtitle">Puedes conseguir tu entrada desde tan solo</p>
			<p class="pokerSatelitesOnline__Card-price">3,30€</p>
			<a href="#" class="pokerSatelitesOnline__Card-button btn__red">
				<span>Más información</span>
				<img src="img/icons/icon-play-white.svg" alt="">
			</a>
		</div>
		<img class="pokerSatelitesOnline__astronauta" src="img/images/img-poker-satelites-astronauta.png" alt="">
	</div>
</section>