<section class="pokerHowCta">
    <div class="pokerHowCta--left">
        <p class="pokerHowCta__title">En CasinoBarcelona.es queremos que conozcas a la perfección las modalidades y
            reglas del poker, así como las mejores estrategias para jugar.</p>
    </div>
    <div class="pokerHowCta--right">
        <p class="pokerHowCta__subtitle">Por eso, ponemos a tu disposición toda la información necesaria sobre cómo
            jugar al Texas Hold’em y al Omaha.</p>
        <div class="pokerHowCta__btns">
            <a href="/como-jugar-texas" class="btn__red pokerHowCta__btns-btn">
                <span>TEXAS HOLD'EM</span>
                <img src="img/icons/icon-btn-arrow.svg" alt="">
            </a>
            <a href="/como-jugar-omaha" class="btn__red pokerHowCta__btns-btn">
                <span>OMAHA</span>
                <img src="img/icons/icon-btn-arrow.svg" alt="">
            </a>
        </div>
    </div>
</section>