<section class="pokerHowAccord">
    <div class="pokerHowAccord__header">
        <p class="pokerHowAccord__title">Cash o Torneo</p>
        <p class="pokerHowAccord__subtitle">Todas las disciplinas presentadas hasta el momento pueden jugarse en dos modalidades:</p>
    </div>
    <div class="pokerHowAccord__accordion">
        <div class="pokerHowAccord__accordion-item">
            <div class="head">
                <p>Cash</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat voluptate facilis dolor! Odio
                    aliquam facere iure dolore maiores ex impedit et eos tenetur! Possimus saepe velit consequatur eaque
                    corporis at.
                </p>
            </div>
        </div>
        <div class="pokerHowAccord__accordion-item">
            <div class="head">
                <p>Torneo</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere cupiditate sequi sit, odit omnis
                    odio nisi dolores architecto vel quis! Suscipit at cupiditate et similique repellat in eaque,
                    consectetur animi.
                </p>
            </div>
        </div>
    </div>
</section>