<section class="pokerHowInstructions">
    <div class="pokerHowInstructions__wrapper padding--md">
        <p class="title--xl">Aprende cómo jugar al póker y conoce sus principales reglas</p>
    </div>
    <div class="pokerHowInstructions__wrapper padding--lg">
        <p class="body--md padding--sm">Saber cómo jugar al póker es lo más importante que debe hacer cualquiera que
            desee adentrarse en
            este juego. Para empezar, hay que conocer sus reglas porque solo así se puede avanzar y tener opciones en
            las partidas que se disputen.
        </p>
        <p class="body--md padding--sm">Sabemos que aprender a jugar al póker desde cero no es algo sencillo ni rápido
            porque hay muchas
            cuestiones que se deben tener en cuenta, pero estamos convencidos también de que la pasión por el póker lo
            hace posible.
        </p>
        <p class="body--md padding--sm">Las reglas son vitales en todas las modalidades de póker. <a href=""
                class="red">Las reglas del póker Omaha</a> o <a href="" class="red">las reglas
                del póker Texas Hold´Em</a> son los pilares sobre los que se debe sustentar cualquier jugador.
        </p>
        <p class="body--md">Jugar al <a href="/poker-online" class="red">póker online</a> en cualquiera de sus variantes
            es una opción emocionante, así que debes estar
            lo mejor preparado que puedas, más aún, si te decides a participar en los <a href="/poker-online"
                class="red">torneos de póker online</a>
            (https://www.casinobarcelona.es/poker/torneos.html).</p>
    </div>
    <div class="pokerHowInstructions__wrapper padding--lg">
        <p class="body--md padding--sm">Algunas de las reglas más relevantes del póker son:</p>
        <ul class="">
            <li class="body--md">- Lo primero es conocer los mecanismos del juego.
            </li>
            <li class="body--md">- Sigue por conocer en profundidad los rangos de las manos.
            </li>
            <li class="body--md">- Ten en cuenta la importancia de la posición en la mesa.
            </li>
            <li class="body--md">- Conocer las rondas de apuestas que se hacen.
            </li>
            <li class="body--md">- Debes tener claro qué puedes hacer y qué no en tus turnos.
            </li>
            <li class="body--md">- No todas las partidas son iguales.
            </li>
            <li class="body--md">- Estudia el juego para mejorar.
            </li>
            <li class="body--md">- La psicología es un elemento vital en el póker.</li>
        </ul>
    </div>
    <div class="pokerHowInstructions__wrapper padding--lg">
        <p class="title--lg padding--sm">Conoce el mecanismo del juego</p>
        <p class="body--sm">Al póker se juega con la baraja inglesa de 52 cartas y posee pequeñas diferencias entre las
            diferentes modalidades de póker que existen. Las normas del póker establecen todo lo que necesitas para
            jugar: quién reparte las cartas y en qué sentido, en qué momento puedes apostar, cuándo llega el momento de
            mostrar tu mano y, por supuesto, el ganador de cada mano. Aprender a jugar al póker no es sencillo, así que
            debes estar preparado para formarte y aprender todas las cuestiones que acaban siendo relevantes a la hora
            de jugar tus cartas.</p>
    </div>
    <div class="pokerHowInstructions__wrapper padding--lg">
        <p class="title--lg padding--sm">Conoce los rangos de manos</p>
        <p class="body--sm padding--sm">Las manos de póker
            (https://www.casinobarcelona.es/blog/manos-del-poker-cuales-son/) marcan la
            diferencia entre las cartas de unos y otros jugadores. Es fundamental conocer el valor de cada una de ellas
            puesto que definen quién gana. A continuación, te explicamos brevemente las manos de póker ordenadas de
            menor a mayor valor:</p>
        <p class="title--sm">Carta Alta</p>
        <p class="body--sm padding--sm">Se trata de la mano de póker más baja de todas. Si no se puede formar una
            jugada, su valor será el
            de las 5 cartas más altas. El bote será para el que tenga la carta más alta de todas, si varios jugadores
            tienen carta alta.</p>
        <p class="title--sm">Pareja</p>
        <p class="body--sm padding--sm">Son dos cartas iguales. En el caso de que haya dos en la mesa, ganará el jugador
            que la tenga con un
            mayor valor. En caso de empate, se deberán ver las cartas que acompañan a la pareja.</p>
        <p class="title--sm">Dobles parejas</p>
        <p class="body--sm padding--sm">Está por encima de la pareja porque se trata de dos parejas de cartas iguales.
            Se compara la pareja
            más alta si dos jugadores cuentan con esta mano.</p>
        <p class="title--sm">Trío</p>
        <p class="body--sm padding--sm">Para esto hace falta tener 3 cartas iguales y ganará el trío más alto en caso de
            empate. Si continúa tras esto, se llevará la mano el que tenga las mejores cartas de apoyo.</p>
        <p class="title--sm">Escalera</p>
        <p class="body--sm padding--sm">Consta de 5 cartas de valores consecutivos y se llevará la mano el jugador que
            tenga la carta más alta en caso de empate.</p>
        <p class="title--sm">Color</p>
        <p class="body--sm padding--sm">Se forma con 5 cartas del mismo palo. Para que haya color, al menos 3 cartas
            comunitarias deben ser del mismo palo.</p>
        <p class="title--sm">Full</p>
        <p class="body--sm padding--sm">Está compuesto por un trío y una pareja a la vez. En el caso de que haya varios
            full en la mesa, se llevará la mano el que tenga el mejor trío. </p>
        <p class="title--sm">Póker</p>
        <p class="body--sm padding--sm">Se forma con 4 cartas del mismo valor y ganará el que tenga las cartas más
            altas, en el caso de que haya varios póker en la mesa. Si tienes póker con cartas comunitarias, el vencedor
            será el que tenga las cartas de apoyo más altas.</p>
        <p class="title--sm">Escalera de color</p>
        <p class="body--sm padding--sm">La escalera de color se forma con 5 cartas consecutivas de un mismo palo. El As
            tan solo podrá estar en la escalera más baja o en la más alta.</p>
        <p class="title--sm">Escalera real</p>
        <p class="body--sm padding--sm">No hay ninguna mano de póker que pueda competir contra la escalera real, ya que
            es la combinación que va del 10 al As, es decir, reúne al as, al rey, la dama, la jota y al 10 del mismo
            palo. Sin duda, contar con esta mano es tener nuts en el póker, es decir, una mano con la que se gana sí o
            sí.</p>
    </div>
    <div class="padding--lg">
        <p class="title--lg padding--sm">Ten en cuenta las posiciones en una mesa de póker</p>
        <p class="body--sm padding--md">La posición que ocupan los jugadores en la mesa es vital para el desarrollo de las partidas. Como
            norma general, lo más ventajoso es encontrarnos en posiciones tardías ya que tendremos mucha más información
            de lo que han ido haciendo el resto de los jugadores. Las posiciones en el póker son fundamentales en todas
            y cada una de las modalidades de póker y debes tenerlas siempre muy en cuenta de cara a decidir la
            estrategia que quieres seguir en tus manos.</p>
        <div class="padding--md">
            <p class="title--md padding--sm">Under the gun (UTG)</p>
            <p class="body--sm padding--xs">De entre todas las que existen, la posición UTG en el póker es la primera en hacer las apuestas.
                Esto quiere decir que el jugador que esté en esa posición será el primero en actuar tras el reparto de
                las cartas. Es la más alejada de las ciegas y se juega con un menor rango de manos.</p>
            <p class="body--sm">La UTG es una posición que está en desventaja con respecto al resto, pero permite foldear sin
                necesidad de perder las ciegas. En esta posición es complicado pensar en ir a por la mano ya que habrá
                varios jugadores con ventaja en otras posiciones, así que subir cuando se está en posición de UTG es una
                decisión que se debe tomar tan solo con manos fuertes.</p>
        </div>
        <div class="padding--md">
            <p class="title--md padding--sm">Posiciones medias</p>
            <p class="body--sm padding--xs">Las posiciones medias o intermedias son las situadas uno o dos lugares a la izquierda de la UTG.
                En ellas, las opciones habrán mejorado un poco de cara a la estrategia a seguir, pero de nuevo es vital
                estar muy atentos a la hora de decidir qué manos se juegan y cuáles no. El consejo más evidente es el de
                entrar en el bote con una subida. En teoría, esta decisión hará que los que estén detrás de ti se
                eliminen y así podrás disfrutar de ventaja por tu posición tras el flop.</p>
            <p class="body--sm">Con todo, no olvides que estás en una posición intermedia, es decir, todavía tendrás por delante
                unas cuantas posiciones tardías. Esto hará que muy a menudo te encontrarás con alguien que verá la
                apuesta.</p>
        </div>
        <div class="padding--md">
            <p class="title--md padding--sm">Cutt off</p>
            <p class="body--sm padding--xs">La posición cut off en el póker amplía el rango de manos del jugador. Se trata de la posición
                que se encuentra justo a la derecha del botón e indica lo que le ocurre al jugador cuando se decide a
                subir: “corta” al botón y obtiene de este modo la ventaja posicional. Esto es más evidente si cabe si
                sabemos que a una subida desde el cut off a menudo se le conoce también como robar el botón, algo que
                está muy relacionado con robar ciegas.
            </p>
            <p class="body--sm">Esta posición amplía el abanico de cartas con el que apostar para robar ciegas. Permite subir o
                incluso resubir con una gran variedad de opciones.</p>
        </div>
        <div class="padding--md">
            <p class="title--md padding--sm">Buttom</p>
            <p class="body--sm padding--xs">La posición cut off en el póker amplía el rango de manos del jugador. Se trata de la posición
                que se encuentra justo a la derecha del botón e indica lo que le ocurre al jugador cuando se decide a
                subir: “corta” al botón y obtiene de este modo la ventaja posicional. Esto es más evidente si cabe si
                sabemos que a una subida desde el cut off a menudo se le conoce también como robar el botón, algo que
                está muy relacionado con robar ciegas.
            </p>
            <p class="body--sm">Esta posición amplía el abanico de cartas con el que apostar para robar ciegas. Permite subir o
                incluso resubir con una gran variedad de opciones.</p>
        </div>
        <div>
            <p class="title--md  padding--sm">Ciegas</p>
            <p class="body--sm">Hoy dos posiciones de ciegas en el póker: la ciega pequeña y la ciega grande. Los jugadores que
                se sientan en los dos sitios a la izquierda del dealer son la ciega pequeña y la grande. Las ciegas en
                el póker (https://www.casinobarcelona.es/blog/ciegas-en-el-poker/) tienen este nombre porque los
                jugadores que están ahí apuestan a ciegas antes incluso de ver sus cartas.</p>
        </div>
    </div>
    <div class="padding--lg">
        <p class="title--lg">Conoce las diferentes rondas de apuestas</p>
        <p class="body--sm">En las modalidades más conocidas de póker online se juega con diferentes rondas de apuestas, que se
            van realizando en distintos momentos de la partida. Tanto el Texas Hold´Em como el Omaha cuenta con una
            estructura de rondas de apuestas idénticas al tener cuatro rondas de apuestas conocidas como preflop, flop,
            turn y river.</p>
        <div class="">
            <p class="title--md">Pre flop</p>
            <p class="body--sm">Es la ronda de apuestas que se realiza antes del flop y en ella los jugadores cuentan con dos
                cartas personales cada uno y deberán tomar su primera decisión de si igualar, subir, retirarse… Estas
                decisiones pueden variar mucho en función de la posición que ocupemos en la mesa, de la calidad de los
                rivales o de si estamos jugando en un torneo o no.</p>
        </div>
        <div class="">
            <p class="title--md">Flop</p>
            <p class="body--sm">El flop en póker es la palabra con la que nos referimos a las 3 primeras cartas comunitarias del
                póker. Aparecen en la mesa destapadas y servirán a los jugadores para empezar a formar sus combinaciones
                junto con las dos iniciales suyas.</p>
            <p class="body--sm">Además, el término flop también hace referencia a la ronda de apuestas que se inicia justo
                después de haber mostrado esas tres cartas.</p>
        </div>
        <div class="">
            <p class="title--md">Turn</p>
            <p class="body--sm">El turn en el póker hace referencia a la cuarta carta que se reparte y que formará parte de las
                comunitarias. Esto quiere decir que está a disposición de los jugadores. Además, el turn sirve también
                para referirse a la tercera ronda de apuestas que se hace en el Omaha o el Hold´Em, tras el preflop y el
                flop.</p>
        </div>
        <div class="">
            <p class="title--md">River</p>
            <p class="body--sm">El river en el póker se refiere a la quinta y última carta que se reparte y que queda al
                descubierto sobre la mesa. Esta quinta carta es fundamental para definir la mano final con la que
                competirá cada jugador. El jugador estará frente al momento decisivo para intentar ir a por la partida,
                de ahí la relevancia del river.</p>
        </div>
    </div>
    <div class="">
        <p class="">¿Qué puedes hacer en tu turno de apuesta?</p>
        <p class="">En cada uno de los turnos de los que dispondrá el jugador podrás hacer alguna de las siguientes
            acciones:</p>
        <div class="">
            <p class="">Pasar</p>
            <p class="">Significa que el jugador desecha la ocasión de hacer su apuesta. Esto solo se puede hacer en el
                caso de que en esa ronda no haya apuestas. Si lo hace, seguirá jugando el siguiente en sentido de las
                agujas del reloj. En el supuesto de que todos pasen, la ronda se da por terminada.</p>
        </div>
        <div class="">
            <p class="">Apostar</p>
            <p class="">Pueden hacerlo en el caso de que no haya otros que hayan apostado durante la ronda actual.
                Cuando se hace una apuesta, los demás están obligados a "igualar" el importe de la misma si quieren
                mantenerse en la partida.</p>
        </div>
        <div class="">
            <p class="">No ir</p>
            <p class="">Los jugadores deciden retirarse al ver que sus cartas no tienen el valor suficiente para ganar
                la mano. A esto es lo que se le conoce como fold en el póker. </p>
        </div>
        <div class="">
            <p class="">Igualar</p>
            <p class="">Un jugador puede decidir igualar en el caso de que otros hayan hecho sus apuestas en esa ronda.
                Para que así sea, se debe igualar la apuesta más alta de cuantas se hayan hecho.</p>
        </div>
        <div class="">
            <p class="">Subir</p>
            <p class="">Para hacer esto, se debe igualar la apuesta más alta que se haya hecho y, a continuación, hacer
                otra superior. Todos los jugadores que quieran seguir en la mano tendrán que ver la subida o subir de
                nuevo (resubir).</p>
        </div>
    </div>
    <div class="">
        <p class="">Tipos de apuestas</p>
        <p class="">Dentro de las diferentes opciones de juego que ofrece el póker, sus apuestas pueden dar buenos
            resultados, así que te dejamos algunas de las apuestas en el póker más utilizadas:</p>
        <div class="">
            <p class="">Apuesta de valor</p>
            <p class="">Es una apuesta muy estratégica porque no buscas que el resto dejen la partida, sino aumentar el
                valor del bote. Solo la debes hacer cuando estés seguro de que tienes una muy buena mano. </p>
        </div>
        <div class="">
            <p class="">Apuesta de continguación</p>
            <p class=""></p>
        </div>
        <div class="">
            <p class="">Overbet</p>
            <p class="">Pretende, ante todo, presionar al máximo al resto de jugadores y buscar su error. Su tamaño debe
                ser muy alto para hacer que tus rivales no quieran igualarla.</p>
        </div>
        <div class="">
            <p class="">All-In</p>
            <p class="">Puedes usarla cuando no estés en condiciones de igualar una apuesta. Podrás hacerte con parte
                del bote ya que se genera un bote paralelo al que solo optan aquellos que apuesten all-in en el póker.
            </p>
        </div>
    </div>
    <div class="">
        <p class="">La importancia del tipo de partida que juegues</p>
        <p class="">Una de las primeras grandes decisiones que debe tomar un jugador de póker es elegir entre los
            torneos de póker o las partidas cash. Son muy diferentes del mismo modo que lo serán los jugadores que nos
            encontraremos en una y otra opción. Lo más importante aquí es entender que se debe tener muy en cuenta todo
            esto para decidir la estrategia que se debe llevar a cabo en cada momento.</p>
        <p class="">
            Puede que en los torneos el riesgo económico sea menor ya que siempre conoces el dinero que perderías si las
            cosas no van como deseas. Esto no es así en las partidas cash donde no se conoce ese dato y permiten que
            apuestes lo que quieras en cada mano.</p>
        <div class="">
            <p class="">Cash</p>
            <p class="">Lo más importante de estas partidas es que son sencillas y siempre podrás subir o bajar de
                nivel. Lo mejor es iniciarte en las de menos nivel e ir aprendiendo. Debes elegir bien el nivel que se
                adapte también al presupuesto que tengas para evitar verte en mesas de un nivel muy superior.</p>
        </div>
        <div class="">
            <p class="">Torneos</p>
            <p class="">En muchos de estos torneos puedes saber la cantidad de dinero que te vas a gastar, ya que es lo
                que pagarás por la entrada a los mismos. Los torneos están completamente programados. Deberás
                inscribirte y jugar y se suelen elegir los torneos más interesantes por su precio de entrada (buy-in).
            </p>
            <p class="">Para ser un buen jugador de torneos es necesario especializarse. Los torneos de póker te medirán
                a jugadores de nivel, de ahí que las estrategias sean clave para que cuentes con opciones. Llegar a ser
                todo un profesional de los torneos dependerá de muchas cuestiones, pero, sobre todo, de tu capacidad
                para seguir mejorando en todo momento.</p>
        </div>
    </div>
</section>