<section class="pokerHowInstructions">
    <div class="padding--md">
        <p class="title--xl">Reglas del Texas Hold’em</p>
    </div>
    <div class="padding--lg">
        <p class="body--md padding--sm">El póker Texas Hold&#96;Em es la modalidad más conocida por el gran público del
            póker online. Para aquellos que cuenten ya con una amplia experiencia en póker, seguro que no les coge por
            sorpresa el que digamos que conocer las <a href="" class="red">reglas del póker</a> es fundamental en
            cualquier modalidad para tener opciones de juego.

        </p>
        <p class="body--md">La base sobre la que la que te debes apoyar a la hora de jugar al <a href=""
                class="red">póker online</a> es un buen conocimiento de todo cuanto tenga que ver con las reglas. Esto
            es así en el Hold´Em, por supuesto, y, aunque no sea nunca garantía de que vayas a ganar, será un primer
            paso hacia la mejor versión como jugador de póker que seas capaz de alcanzar.
        </p>
    </div>
    <div class="padding--lg">
        <p class="title--lg padding--sm">Cómo jugar al Texas Hold’em</p>
        <p class="body--sm padding--xs">El póker Texas Hold&#96;Em se juega con la baraja inglesa de 52 cartas.
            Alrededor de
            una mesa se sientan desde 2 hasta 10 jugadores. En todos los casos, se sorteará el dealer, que es quien
            reparte las cartas y que se va moviendo hacia la izquierda cada vez que acaba una mano.
        </p>
        <p class="body--sm padding--xs">
            Vamos a ver de la manera más esquemática posible, los puntos básicos de una partida de póker Texas
            Hold&#96;Em:
        </p>
        <p class="body--sm padding--xs">
            Para empezar, se reparten dos cartas a cada uno de los jugadores de la mesa y se lleva a cabo la primera de
            las rondas de apuestas en el póker.
        </p>
        <p class="body--sm padding--xs">
            En esta modalidad, existe una serie de apuestas obligatorias llamadas ciegas. El jugador sentado junto al
            botón debe apostar la cantidad que se denomina “ciega pequeña”, mientras que el que está a continuación pone
            la “ciega grande” que suele ser el doble que la pequeña. Las ciegas en el póker pueden variar en función de
            los límites de apuesta y otras cuestiones.
        </p>
        <p class="body--sm padding--xs">
            A continuación, se repartirán 5 cartas que conforman el board y serán comunitarias. De inicio se muestra el
            flop en el póker, en el que se reparten 3 de las 5 cartas y se inicia un nuevo turno de apuestas. El
            objetivo será lograr la mejor mano posible con esas 5 cartas, tomando 2, 1 o ninguna de nuestra mano y el
            resto del board.
        </p>
        <p class="body--sm padding--xs">
            El siguiente paso será repartir una cuarta carta a la que conocemos como turn. Es la carta boca arriba que
            se sitúa en el centro de la mesa tras la ronda de apuestas anterior. Se trata de la 4ª carta comunitaria.
        </p>
        <p class="body--sm padding--xs">
            A continuación, será el momento de repartir la quinta carta, el river, momento en el que se realiza el
            último turno de apuestas. El river en el póker aparece también boca arriba y es la última de las cartas
            comunitarias. Tras ella, se reinicia la ronda de apuestas con las mismas reglas de antes.
        </p>
        <p class="body--sm padding--xs">
            En cada uno de estos turnos, el jugador puede tomar distintas decisiones. Podrá iniciar una apuesta,
            igualarla, resubir o hacer fold en el póker que es lo mismo que plantarse.
        </p>
        <p class="body--sm">
            Tras todos estos momentos, llega el showdown, instante decisivo en el que se muestran las manos de cada uno.
            El jugador que tenga la mejor mano es el ganador de la partida. Aquí es interesante conocer el valor de cada
            mano y saber que las nuts en el póker son aquellas manos que nos llevarán sí o sí a la victoria.
        </p>
    </div>
    <div class="padding--lg">
        <p class="title--lg padding--sm">Orden de las manos en el Texas Hold’em</p>
        <p class="body--sm padding--sm">Las manos en el póker Texas Hold&#96;Em cuenta con valores distintos, que son
            los
            que marcan la superioridad o la inferioridad de unas con respecto a las otras. Dicho de otro modo, el valor
            de las manos determina quién gana y quién pierde. A continuación, describimos brevemente las manos del Texas
            Hold&#96;Em de menor a mayor valor.</p>
        <p class="title--sm padding--xs">Carta Alta</p>
        <p class="body--sm padding--sm">Estamos ante la mano más baja. En el caso de que no se pueda formar una jugada,
            su valor será el de las 5 cartas más altas. En caso de todos los jugadores tengan carta alta, el bote será
            para el que tenga la carta más alta de todas.</p>
        <p class="title--sm padding--xs">Pareja</p>
        <p class="body--sm padding--sm">Son dos cartas iguales y, si hay dos, ganará aquel jugador que la tenga con un
            mayor valor. En caso de empate, deciden las cartas que acompañan a la pareja.</p>
        <p class="title--sm padding--xs">Dobles parejas</p>
        <p class="body--sm padding--sm">Es más valiosa que la pareja porque tienes dos parejas de cartas iguales. Se
            compara la pareja más alta en el caso de que dos jugadores la tengan.</p>
        <p class="title--sm padding--xs">Trío</p>
        <p class="body--sm padding--sm">Son 3 cartas iguales y gana el más alto en caso de empate. Si persiste, ganará
            el que tenga las mejores cartas de apoyo.</p>
        <p class="title--sm padding--xs">Escalera</p>
        <p class="body--sm padding--sm">Se trata ya de una mano de gran valor. Se forma con 5 cartas de valores
            consecutivos y ganará el que tenga la carta más alta en caso de empate.</p>
        <p class="title--sm padding--xs">Color</p>
        <p class="body--sm padding--sm">Es una mano muy fuerte en esta modalidad y está formada por 5 cartas del mismo
            palo. Para que haya color, al menos 3 cartas comunitarias deben ser del mismo palo.</p>
        <p class="title--sm padding--xs">Full</p>
        <p class="body--sm padding--sm">Está formada por un trío y una pareja al mismo tiempo. Si hay varios full en la
            mesa, ganará el que tenga el mejor trío. </p>
        <p class="title--sm padding--xs">Póker</p>
        <p class="body--sm padding--sm">Cuenta con 4 cartas del mismo valor y ganará el que tenga las cartas más altas,
            en el caso de que haya varios póker en la mesa. Si tienes póker con cartas comunitarias, el vencedor será el
            que tenga las cartas de apoyo más altas.</p>
        <p class="title--sm padding--xs">Escalera de color</p>
        <p class="body--sm padding--sm">La escalera de color está formada por 5 cartas consecutivas de un mismo palo. El
            As tan solo podrá estar en la escalera más baja o en la más alta.</p>
        <p class="title--sm padding--xs">Escalera real</p>
        <p class="body--sm">No hay ninguna mano de póker que pueda competir contra la escalera real, ya que
            es la combinación que va del 10 al As, es decir, reúne al as, al rey, la dama, la jota y al 10 del mismo
            palo.</p>
    </div>
    <div class="padding--md">
        <p class="title--lg padding--sm">Tipos de Texas Hold’em</p>
        <p class="body--sm">El póker Texas Hold&#96;Em posee un buen número de cualidades propias como hemos visto, pero
            es
            cierto también que otras son comunes al resto de modalidades de este juego de cartas. Entre estas últimas,
            queremos subrayar el hecho de que puede jugarse al Texas Hold&#96;Em en dos modalidades, que son las
            siguientes:
        </p>
    </div>
    <div class="padding--md">
        <p class="title--md padding--sm">Cash</p>
        <p class="body--sm">Estamos ante partidas de póker que se juegan con dinero real y en las que los jugadores
            pueden retirarse en cualquier momento o recargar su pila de fichas cuando lo deseen siempre que ésta no
            llegue al máximo de la mesa, y la recarga será efectiva para la siguiente mano en curso. En esta modalidad
            de póker Texas Hold&#96;Em, las ciegas permanecen estables durante toda la partida.
        </p>
    </div>
    <div class="padding--lg">
        <p class="title--md padding--sm">Torneos</p>
        <p class="body--sm padding--xs">En esta disciplina tan apreciada por muchos jugadores, sus pilas se componen de
            unos puntos determinados que no tienen valor monetario real. Todos los jugadores compiten para ser capaces
            de reunir todos esos puntos.
        </p>
        <p class="body--sm padding--xs">
            En los torneos de póker online, los jugadores se dividen por niveles y su duración está preestablecida.
            Además, el nivel de las apuestas obligatorias va subiendo y habrá un número de posiciones finales premiadas
            en las que los jugadores se harán con un porcentaje del fondo de premios.
        </p>
        <p class="body--sm">
            Hay varios tipos de torneos de póker y, en función de sus características, de su nivel o de los premios que
            repartan se deben seguir unas estrategias bien definidas para poder tener opciones. Estas estrategias no
            garantizan resultados en ningún caso, pero te ayudarán a competir frente a rivales que suelen tener buen
            nivel.
        </p>
    </div>
    <div class="padding--lg">
        <p class="title--lg padding--sm">Límites de apuestas en el Texas Hold’em</p>
        <p class="body--sm padding--sm">La cantidad de fichas o dinero que podemos apostar en cada momento viene
            determinada por el tipo de límite al que estamos jugando. A continuación, veremos las diferencias entre los
            3 tipos de límite:</p>
        <p class="title--sm padding--xs">1 - Sin límite o No Limit</p>
        <p class="body--sm padding--sm">La principal característica de esta modalidad es que el jugador puede en
            cualquier momento de la mano apostar toda su pila de fichas (decimos que va con todo o está all in). La
            apuesta mínima si no ha habido apuestas previas dentro de la misma ronda es el importe de la ciega grande.
            Si alguien hubiera apostado previamente, la subida en este caso mínima tendrá al menos el mismo incremento
            que el efectuado por el último apostante. Como ya hemos señalado la apuesta máxima es la totalidad de la
            pila de fichas del jugador independientemente de lo que haya ocurrido con anterioridad.</p>
        <p class="title--sm padding--xs">2 - Con límite de bote o Pot limit</p>
        <p class="body--sm padding--sm">En esta modalidad la apuesta máxima viene determinada por el tamaño del bote en
            el preciso instante de realizarla. Si no hubiese habido apuesta previa, la subida máxima es el importe
            exacto del bote. En el momento en que alguien apostase, la subida máxima es la resultante de multiplicar por
            dos la apuesta precedente y añadirle la cuantía total del bote. La apuesta mínima siempre es el importe de
            la ciega grande.</p>
        <p class="title--sm padding--xs">3 - Con límite fijo o Fixed Limit</p>
        <p class="body--sm">Las apuestas se efectúan en cantidades predeterminadas y estructuradas. Antes y durante el
            flop, todas las apuestas y los aumentos deben ser iguales a la ciega grande. En turn y river, todas las
            apuestas o subidas deben doblar su valor. Se permiten hasta cuatro apuestas por cada jugador y ronda de
            apuestas. La cuarta apuesta o subida es la final y se llama cap.</p>
    </div>
    <div class="padding--lg">
        <p class="title--md padding--sm">La importancia de tener un juego sólido</p>
        <p class="body--sm padding--xs">Para poder disfrutar de la mejor manera posible del póker Texas Hold&#96;Em y,
            sobre
            todo, para contar con opciones de ganar, es importante manejar otros muchos factores que tienen tanta o más
            importancia que los que hemos ido desgranando ya.
        </p>
        <p class="body--sm padding--xs">
            Para empezar, debes jugar con la mayor responsabilidad en todo momento. No juegues nunca fuera de los
            límites que te hayas marcado y sigue los consejos de la Dirección General de Ordenación del Juego (DGOJ) en
            materia de juego seguro.
        </p>
        <p class="body--sm padding--xs">
            Además, debes conocer el juego de la manera más profunda que seas capaz, así que no escatimes esfuerzos a la
            hora de formarte y mejorar. En este sentido, las tablas de póker pueden ser elementos de ayuda para cuando
            necesites consultarlas. La comprensión de un juego como el póker llegará gracias a la práctica y también al
            estudio de todo cuanto conlleva: manos, estrategias o posiciones en la mesa de póker son solo algunos
            ejemplos de temas imprescindibles.
        </p>
        <p class="body--sm">
            Flotando sobre todos estos elementos está también la psicología en el póker una cuestión que muchos
            jugadores dejan de lado y que es absolutamente fundamental. Mantener la calma, no tomar malas decisiones ni
            enfadarse cuando las cosas no vayan como te gustaría son elementos de enorme importancia y que debes saber
            trabajar en el día a día para aplicarlos cuando llegue el momento.
        </p>
    </div>
</section>