<section class="pokerSatelitesCEP__content grid-1-2-cols">
	<div class="pokerSatelitesCEP__content-data">
		<p class="pokerSatelitesCEP__content-data-title">Satélites CEP</p>
		<p class="pokerSatelitesCEP__content-data-subtitle">Aquí te ofrecemos la oportunidad de conseguir tu entrada para cualquier evento del CEP 2022.</p>
		<p class="pokerSatelitesCEP__content-data-text">Puedes conseguir tu entrada desde tan solo</p>
		<p class="pokerSatelitesCEP__content-data-price">3,30€</p>
	</div>
	<div class="pokerSatelitesCEP__content-badges">
		<div class="pokerSatelitesCEP__content-badges-item">
			<div class="pokerSatelitesCEP__content-badges-item-image">
				<img src="img/icons/icon-poker-checkout.svg" alt="">
				<img src="img/icons/icon-poker-checkout-red.svg" alt="">
			</div>
			<p class="pokerSatelitesCEP__content-badges-item-title">Madrid</p>
			<p class="pokerSatelitesCEP__content-badges-item-subtitle">Del 8 al 13 de febrero</p>
			<img class="pokerSatelitesCEP__content-badges-item-image" src="img/icons/icon-arrow-down__red-circle__stroke.svg" alt="">
		</div>
		<div class="pokerSatelitesCEP__content-badges-item">
			<div class="pokerSatelitesCEP__content-badges-item-image">
				<img src="img/icons/icon-poker-checkout.svg" alt="">
				<img src="img/icons/icon-poker-checkout-red.svg" alt="">
			</div>
			<p class="pokerSatelitesCEP__content-badges-item-title">Barcelona</p>
			<p class="pokerSatelitesCEP__content-badges-item-subtitle">Del 1 al 7 de agosto</p>
			<img class="pokerSatelitesCEP__content-badges-item-image" src="img/icons/icon-arrow-down__red-circle__stroke.svg" alt="">
		</div>
		<div class="pokerSatelitesCEP__content-badges-item">
			<div class="pokerSatelitesCEP__content-badges-item-image">
				<img src="img/icons/icon-poker-checkout.svg" alt="">
				<img src="img/icons/icon-poker-checkout-red.svg" alt="">
			</div>
			<p class="pokerSatelitesCEP__content-badges-item-title">Murcia</p>
			<p class="pokerSatelitesCEP__content-badges-item-subtitle">Del 6 al 10 de abril</p>
			<img class="pokerSatelitesCEP__content-badges-item-image" src="img/icons/icon-arrow-down__red-circle__stroke.svg" alt="">
		</div>
		<div class="pokerSatelitesCEP__content-badges-item is-active">
			<div class="pokerSatelitesCEP__content-badges-item-image">
				<img src="img/icons/icon-poker-checkout.svg" alt="">
				<img src="img/icons/icon-poker-checkout-red.svg" alt="">
			</div>
			<p class="pokerSatelitesCEP__content-badges-item-title">Marbella</p>
			<p class="pokerSatelitesCEP__content-badges-item-subtitle">Del 12 al 16 de octubre</p>
			<img class="pokerSatelitesCEP__content-badges-item-image" src="img/icons/icon-arrow-down__red-circle__stroke.svg" alt="">
		</div>
		<div class="pokerSatelitesCEP__content-badges-item">
			<div class="pokerSatelitesCEP__content-badges-item-image">
				<img src="img/icons/icon-poker-checkout.svg" alt="">
				<img src="img/icons/icon-poker-checkout-red.svg" alt="">
			</div>
			<p class="pokerSatelitesCEP__content-badges-item-title">Alicante</p>
			<p class="pokerSatelitesCEP__content-badges-item-subtitle">Del 8 al 12 de junio</p>
			<img class="pokerSatelitesCEP__content-badges-item-image" src="img/icons/icon-arrow-down__red-circle__stroke.svg" alt="">
		</div>
		<div class="pokerSatelitesCEP__content-badges-item">
			<div class="pokerSatelitesCEP__content-badges-item-image">
				<img src="img/icons/icon-poker-checkout.svg" alt="">
				<img src="img/icons/icon-poker-checkout-red.svg" alt="">
			</div>
			<p class="pokerSatelitesCEP__content-badges-item-title">Peralada</p>
			<p class="pokerSatelitesCEP__content-badges-item-subtitle">Del 23 al 27 de noviembre</p>
			<img class="pokerSatelitesCEP__content-badges-item-image" src="img/icons/icon-arrow-down__red-circle__stroke.svg" alt="">
		</div>
	</div>
</section>