<section class="pokerSatelitesCEP__tables">
	<div class="pokerSatelitesCEP__tables-inner">

		<div class="pokerSatelitesCEP__tables-title">Step 1</div>

		<div class="table">
			<div class="table__title">
				<span>Satélite</span>
				<span>3,30€</span>
			</div>
			<div class="table__wrapper">
				<div class="table__table">
					<div class="table__header">
						<span>Día</span>
						<span>Hora</span>
						<span>Opción 1</span>
						<span>Opción 2 (Entrada Gtd a la final)</span>
					</div>
					<div class="table__row">
						<span>Lunes</span>
						<span>21:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Martes</span>
						<span>21:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Miércoles</span>
						<span>21:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Jueves</span>
						<span>19:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table__title">
				<span>Satélite</span>
				<span>4,40€</span>
			</div>
			<div class="table__wrapper">
				<div class="table__table">
					<div class="table__header">
						<span>Día</span>
						<span>Hora</span>
						<span>Opción 1</span>
						<span>Opción 2 (Entrada Gtd a la final)</span>
					</div>
					<div class="table__row">
						<span>Viernes</span>
						<span>22:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Sábado</span>
						<span>22:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>18:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>22:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table__title">
				<span>Satélite</span>
				<span>5,50€</span>
			</div>
			<div class="table__wrapper">
				<div class="table__table">
					<div class="table__header">
						<span>Día</span>
						<span>Hora</span>
						<span>Opción 1</span>
						<span>Opción 2 (Entrada Gtd a la final)</span>
					</div>
					<div class="table__row">
						<span>Viernes</span>
						<span>21:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Sábado</span>
						<span>21:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>17:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>19:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="pokerSatelitesCEP__tables-title">Step 2</div>

		<div class="tableBig">
			<div class="tableBig__wrapper">
				<div class="tableBig__table">
					<div class="tableBig__row">
						<span>Satélite Final</span>
						<span>Jueves</span>
						<span>21:00h</span>
						<span>33€</span>
						<span>Entrada CEP 2022 (con rebuys y add-on)</span>
					</div>
					<div class="tableBig__row">
						<span>Satélite Final</span>
						<span>Domingo</span>
						<span>22:00h</span>
						<span>44€</span>
						<span>Entrada CEP 2022 (con rebuys y add-on)</span>
					</div>
					<div class="tableBig__row">
						<span>Satélite Final</span>
						<span>Domingo</span>
						<span>21:00h</span>
						<span>55€</span>
						<span>Entrada CEP 2022 (con rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>