<section class="pokerSatelitesCEP__accordion faq">
	<div class="faq__accordion">
		<div class="faq__accordion-item">
			<div class="head">
				<p>Terminos y condiciones</p>
				<img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida neque id dapibus aliquet. Cras ullamcorper nibh lorem, quis feugiat massa ultricies ac. Nunc lacinia sit amet lorem nec maximus. Morbi ac eleifend neque. Donec porta, risus id euismod pharetra, ex mi convallis elit, et sodales purus augue a odio. Suspendisse volutpat tellus ligula, non sollicitudin nulla egestas at. Nullam molestie, metus tincidunt molestie maximus, elit ipsum faucibus nisi, vel volutpat ipsum massa elementum arcu. Sed auctor ultrices est eget volutpat. Duis metus mauris, consectetur non ex nec, semper malesuada dolor. Morbi cursus eu sapien ut varius. Nullam viverra pellentesque porttitor. Cras euismod leo vitae sapien commodo condimentum. Vivamus augue augue, faucibus et nulla non, rutrum facilisis justo.</p>
				<p>Cras nulla nisl, maximus vitae ligula vel, volutpat aliquet dolor. Vestibulum consectetur sem vel nulla convallis, ut luctus dolor dignissim. Ut eu diam a arcu commodo auctor. Ut pellentesque in magna non finibus. Praesent laoreet feugiat fermentum. In ullamcorper sit amet nulla porttitor pharetra. Sed condimentum scelerisque nisl, congue sagittis orci malesuada nec. Sed fermentum placerat erat, ut vestibulum elit tempus sit amet. Fusce maximus urna quis consequat placerat. Vivamus interdum enim posuere erat condimentum tempor. Ut sit amet hendrerit quam. Vestibulum a tempor libero.</p>
				<p>Vivamus aliquam nisl magna, vitae eleifend dolor dapibus in. Mauris faucibus mattis neque, eu aliquet enim tempor sed. Proin ultricies tortor eu sodales malesuada. Morbi volutpat, purus sed finibus pretium, ex elit interdum mauris, hendrerit accumsan elit neque tristique lorem. Quisque ultrices ut eros nec efficitur. Aenean iaculis rutrum dignissim. Ut a est quam. Phasellus rutrum ac ante vel varius. Fusce quis neque nisl. Donec tincidunt nulla eu massa gravida, sit amet laoreet diam luctus. Donec diam nunc, elementum eu quam id, dictum facilisis justo. Nulla eu libero nec sem dignissim semper et at felis. Suspendisse dignissim turpis ac consectetur lobortis.</p>
				<p>Nulla at libero quis erat semper sagittis id id nulla. Donec sit amet ipsum ac lectus mollis imperdiet vel vitae tellus. Pellentesque aliquam tincidunt tincidunt. Ut a feugiat tellus. Nunc tristique eleifend nisi sed pretium. Suspendisse posuere neque non pretium accumsan. Sed pretium sem suscipit lectus elementum, vel mattis purus ornare. Maecenas venenatis felis molestie odio condimentum facilisis. Cras commodo pretium condimentum. Vestibulum congue ligula a suscipit interdum. Suspendisse et placerat dolor. Sed vehicula augue sit amet risus suscipit pretium.</p>
				<p>Sed rutrum egestas mi. Vestibulum tempor, orci at feugiat dictum, leo libero faucibus metus, suscipit rhoncus ipsum ipsum quis nibh. Cras pulvinar condimentum tellus. Suspendisse id auctor dolor, non eleifend lacus. Duis mi sapien, gravida non sodales at, pellentesque ac libero. Cras non egestas tortor, ac pharetra quam. Pellentesque congue tincidunt iaculis. Quisque tristique vel eros ut aliquet.</p>
			</div>
		</div>
	</div>
</section>