<section class="pokerHowTable">
    <div class="pokerHowTable__header">
        <p class="pokerHowTable__header-title">Estructuras de RAKE</p>
    </div>
    <div class="pokerHowTable__table">
        <div class="pokerHowTable__table-row">
            <div class="pokerHowTable__table-col">
                <p class="bold">Stake</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p class="bold">Ciegas</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p class="bold">Num Jugadores</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p class="bold">% de Rake</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p class="bold">Tipo de Collection</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p class="bold">Cap en €</p>
            </div>
        </div>
        <div class="pokerHowTable__table-row">
            <div class="pokerHowTable__table-col">
                <p>NL2</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p>0.01€/0.02€</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p>2</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p>6.67%</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p>1 cent por cada 15 cent	</p>
            </div>
            <div class="pokerHowTable__table-col">
                <p>0.75</p>
            </div>
        </div>
        <% for( let index = 0; index < 11; index++ ) { %>
            <div class="pokerHowTable__table-row">
                <div class="pokerHowTable__table-col">
                    <p>NL2</p>
                </div>
                <div class="pokerHowTable__table-col">
                    <p>0.01€/0.02€</p>
                </div>
                <div class="pokerHowTable__table-col">
                    <p>2</p>
                </div>
                <div class="pokerHowTable__table-col">
                    <p>6.67%</p>
                </div>
                <div class="pokerHowTable__table-col">
                    <p>1 cent por cada 15 cent	</p>
                </div>
                <div class="pokerHowTable__table-col">
                    <p>0.75</p>
                </div>
            </div>
        <% } %>
    </div>
</section>