<section class="pokerSatelitesOnline">
	<div class="grids__container">
		<div class="gridHalf pokerSatelitesOnline__card">
			<p class="pokerSatelitesOnline__card-title">Satélites CEP</p>
			<p class="pokerSatelitesOnline__card-subtitle">Puedes conseguir tu entrada desde tan solo</p>
			<p class="pokerSatelitesOnline__card-price">3,30€</p>
			<a href="/satelites-cep" class="pokerSatelitesOnline__card-button btn__red">
				<span>Más información</span>
				<img src="img/icons/icon-play-white.svg" alt="">
			</a>
		</div>
		<div class="gridHalf pokerSatelitesOnline__card">
			<p class="pokerSatelitesOnline__card-title">Satélites Navidad</p>
			<p class="pokerSatelitesOnline__card-subtitle">Puedes conseguir tu entrada desde tan solo</p>
			<p class="pokerSatelitesOnline__card-price">30,30€</p>
			<a href="/satelites-navidad" class="pokerSatelitesOnline__card-button btn__red">
				<span>Más información</span>
				<img src="img/icons/icon-play-white.svg" alt="">
			</a>
		</div>
		<img class="pokerSatelitesOnline__cartoonDoll" src="img/images/img-poker-satelites-astronauta.png" alt="">
	</div>
</section>