<section class="registerLogin stepTwo">
    <div class="registerLogin__header">
        <div class="registerLogin__header-logo">
            <img src="img/icons/icon-logo-black.svg" alt="">
        </div>
        <div class="registerLogin__header-close">
            <img src="img/icons/icon-close-register.svg" alt="">
        </div>
    </div>
    <section class="registerLogin__layout">
        <form action="" method="post" class="registerLogin__form">
            <h2>¡Abre tu cuenta gratis y en tan solo 30 segundos!</h2>
            <div class="registerLogin__container">
                <div class="stepTwo__input">
                    <div class="stepTwo__radios">
                        <div class="stepTwo__radio">
                            <input type="radio" name="gender" value="man">
                            <button class="">HOMBRE</button>
                        </div>
                        <div class="stepTwo__radio">
                            <input type="radio" name="gender" value="woman">
                            <button class="">MUJER</button>
                        </div>
                    </div>
                    <input type="text" name="name" required placeholder="Domicilio">
                    <div class="">
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="">
                        <input type="text">
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="registerLogin__btns">
                    <button class="btn__white">
                        <img src="img/icons/icon-arrow-black.svg" alt="">
                        <span>ATRÁS</span>
                    </button>
                    <button type="submit" class="btn__blue">
                        <span>CONTINUAR</span>
                        <img src="img/icons/icon-arrow-white.svg" alt="">
                    </button>
                </div>
            </div>
        </form>
        <div class="registerLogin__sign_up">
            <p>¿Ya estás registrado?<a href="#">Inicia sesión aquí</a></p>
        </div>
    </section>
</section>