<section class="registerLogin stepThree">
    <div class="registerLogin__header">
        <div class="registerLogin__header-logo">
            <img src="img/icon-logo-black.svg" alt="">
        </div>
        <div class="registerLogin__header-close">
            <img src="img/icon-close-register.svg" alt="">
        </div>
    </div>
    <section class="registerLogin__layout">
        <form action="" method="post" class="registerLogin__form">
            <h2>¡Abre tu cuenta gratis y en tan solo 30 segundos!</h2>
            <div class="registerLogin__container">
                <div class="registerLogin__steps">
                    <div class="registerLogin__step">
                        <p><span>1</span></p>
                    </div>
                    <div class="registerLogin__step">
                        <p><span>2</span></p>
                    </div>
                    <div class="registerLogin__step">
                        <p><span>3</span></p>
                    </div>
                </div>
                <div class="stepThree__input">
                    <input type="text" name="username" id="" required placeholder="Nombre de usuario">
                    <input type="text" name="secury-question" id="" required placeholder="Pregunta de seguridad">
                    <input type="text" name="password" id="" required placeholder="Contraseña">
                    <input type="text" name="secury-answer" id="" required placeholder="Respuesta de seguridad">
                    <input type="text" name="confirm-password" id="" required placeholder="Confirma la contraseña">
                    <input type="text" name="promo-code" id="" required placeholder="Código promocional">
                </div>
                <div class="registerLogin__btns">
                    <button class="btn__white btn__back">
                        <img src="img/icon-arrow-black.svg" alt="">
                        <span>ATRÁS</span>
                    </button>
                    <button type="submit" class="btn__blue">
                        <span>CONTINUAR</span>
                        <img src="img/icon-arrow-white.svg" alt="">
                    </button>
                </div>
            </div>
        </form>
        <div class="registerLogin__sign_up">
            <p>¿Ya estás registrado?<a href="#">Inicia sesión aquí</a></p>
        </div>
    </section>
</section>