<section class="search">
    <div class="search__input">
        <img src="img/icon-search-white.svg" alt="">
        <input type="text" name="searchGame" id="searchGame" placeholder="Busca aquí tu slot...">
    </div>
    <div class="search__wrapper search__wrapper--slots">
        <div>
            <p>Más de 1.000 Slots</p>
            <p>Los más exclusivos del mercado</p>
        </div>
        <button class="btn__red btn__red--glow">
            <span>VER TODOS LOS SLOTS</span>
            <img src="img/icon-btn-arrow.svg" alt="">
        </button>
    </div>
</section>