<section class="m-search">
    <div class="o-search--input">
        <img src="img/icon-search-white.svg" alt="">
        <input type="text" name="searchGame" id="searchGame" placeholder="Busca aquí tu juego...">
    </div>
    <div class="o-search--wrapper">
        <img src="img/icon-search-diamonds.svg" alt="">
        <p class="">Casino Barcelona: El casino online más prestigioso de España</p>
    </div>
</section>