<section class="search">
    <div class="search__input">
        <img src="img/icons/icon-search-white.svg" alt="">
        <input type="text" name="searchGame" id="searchGame" placeholder="Busca aquí tu slot..." algolia-search-box>
    </div>
    <div class="search__wrapper search__wrapper--slots">
        <div>
            <p>Más de 1.000 Slots</p>
            <p>Las más exclusivas del mercado</p>
        </div>
        <a href="/slots-all" class="btn__red btn__red--glow">
            <span>VER TODAS LAS SLOTS</span>
            <img src="img/icons/icon-btn-arrow.svg" alt="">
        </a>
    </div>
</section>
<div class="search-results" algolia-search-results></div>