<section class="search">
    <div class="search__input">
        <img src="img/icons/icon-search-white.svg" alt="">
        <input type="text" name="searchGame" id="searchGame" placeholder="Busca aquí tu juego..." algolia-search-box>
    </div>
    <div class="search__wrapper search__wrapper--home">
        <img src="img/icons/icon-search-diamonds.svg" alt="">
        <p class="">Casino Barcelona: El casino online más prestigioso de España</p>
    </div>
</section>
<div class="search-results" algolia-search-results>
    <div class="search-results__summary">
        <div class="search-results__summary-query">Mostrando resultados de <span id="search-query"></span></div>
        <div class="search-results__summary-separator">|</div>
        <div class="search-results__summary-count"><span id="search-count"></span> resultados</div>
    </div>
    <div class="search-results__content"></div>
</div>