<section class="search">
    <div class="search__input">
        <img src="img/icon-search-white.svg" alt="">
        <input type="text" name="searchGame" id="searchGame" placeholder="Busca aquí tu juego...">
    </div>
    <div class="search__wrapper search__wrapper--home">
        <img src="img/icon-search-diamonds.svg" alt="">
        <p class="">Casino Barcelona: El casino online más prestigioso de España</p>
    </div>
</section>