<section class="slot__bar">
    <div class="slot__bar-wrapper slot__bar--left">
        <a href="#" class="slot__bar-item">
            <img src="img/icon-info.svg" alt="">
        </a>
        <div class="slot__bar-item">
            <p>Apuestas</p>
            <p>0,00 €</p>
        </div>
        <div class="slot__bar-item">
            <p>Premios</p>
            <p>0,00 €</p>
        </div>
        <div class="slot__bar-item">
            <p>Restante</p>
            <p>0,00 €</p>
        </div>
        <div class="slot__bar-item">
            <p>Balance sesión</p>
            <p>0,00 €</p>
        </div>
        <div class="slot__bar-item">
            <p>Tiempo</p>
            <p>0,00 €</p>
        </div>
    </div>
    <div class="slot__bar-wrapper slot__bar--right">
        <button>
            <img src="img/icon-heart-grey.svg" alt="" >
        </button>
        <button>
            <img src="img/icon-new-window.svg" alt="" >
        </button>
        <button>
            <img src="img/icon-fullscreen.svg" alt="" >
        </button>
        <button>
            <img src="img/icon-miniscreen.svg" alt="" >
        </button>
        <button>
            <img src="img/icon-close-white.svg" alt="" >
        </button>
        <button class="slot__bar-btn--last">
            <img src="img/icon-arrow-left.svg" alt="">
        </button>
    </div>
</section>