<section class="stepsLandingA">
    <div class="stepsLandingA__container">
        <div class="stepsLandingA__step">
            <div class="stepsLandingA__step-wrapper">
                <div class="stepsLandingA__step-content">
                    <p class="stepsLandingA__step-icon">1</p>
                    <div class="stepsLandingA__step-flex">
                        <p class="stepsLandingA__step-title">Regístrate</p>
                        <p class="stepsLandingA__step-subtitle">Crea tu cuenta gratis en 30 segundos</p>
                    </div>
                </div>
                <div class="stepsLandingA__step-path"></div>
            </div>
            <div class="stepsLandingA__step-gradient"></div>
        </div>
        <div class="stepsLandingA__step">
            <div class="stepsLandingA__step-wrapper">
                <div class="stepsLandingA__step-content">
                    <p class="stepsLandingA__step-icon">2</p>
                    <div class="stepsLandingA__step-flex">
                        <p class="stepsLandingA__step-title">Verifica tu cuenta</p>
                        <p class="stepsLandingA__step-subtitle">¡Hazlo rápido con un selfie!</p>
                    </div>
                </div>
                <div class="stepsLandingA__step-path"></div>
            </div>
            <div class="stepsLandingA__step-gradient"></div>
        </div>
        <div class="stepsLandingA__step">
            <div class="stepsLandingA__step-wrapper">
                <div class="stepsLandingA__step-content">
                    <p class="stepsLandingA__step-icon">3</p>
                    <div class="stepsLandingA__step-flex">
                        <p class="stepsLandingA__step-title">Regístrate</p>
                        <p class="stepsLandingA__step-subtitle">Diviértete en el mejor Casino</p>
                    </div>
                </div>
                <div class="stepsLandingA__step-path"></div>
            </div>
            <div class="stepsLandingA__step-gradient"></div>
        </div>
    </div>
</section>