<section class="txt2cols">
    <div class="txt2cols__title">
        <p>Los grandes torneos de Poker de Casino Barcelona, Casino Tarragona y Casino Peralada se encuentran en exclusiva en CasinoBarcelona.es.</p>
    </div>
    <div class="txt2cols__body">
        <p>Ahora puedes jugar a los clásicos Poker In, Petit Hold’em, MET y muchos más, desde cualquier lugar.
        </p>
        <p>Se trata de un total de 24 nuevos torneos semanales que te harán sentir la misma emoción que cuando juegas en cualquiera de nuestros 3 casinos presenciales.
        </p>
        <p>Accede a tu cuenta de CasinoBarcelona.es y apúntate a los torneos que más te gusten.
        </p>
        <p>Recuerda siempre jugar de forma responsable.
        </p>
        <p>¡Te esperamos!</p>
    </div>
    <div class="txt2cols__btn">
        <a href="" title="">
            <button class="btn__red">
                <span>¡JUGAR AHORA!</span>
                <img src="img/icons/icon-round-arrow.svg" alt="">
            </button>
        </a>
    </div>
</section>