<main class="userScreen has-header">
    <aside class="userMenu">
        <div class="userMenu__title">
            <p class="">Hola, <span>Roberto</span></p>
            <div class="userMenu__verify">
                <img src="img/user/icon/icon-check-cyan.svg" alt="">
                <p class="">Cuenta verificada</p>
            </div>
        </div>
        <nav class="userMenu__nav">
            <div class="userMenu__item">
                <div class="userMenu__item--left">
                    <img src="" alt="">
                    <p class=""></p>
                </div>
                <img src="" alt="">
            </div>
        </nav>
    </aside>
</main>