<section class="withdrawScreen">

    <div class="withdraw">

        <section class="withdraw__header">
            <img src="img/user/logo/logo-casino-dark.png" alt="">
            <img src="img/user/icon/icon-menu-close.svg" alt="" class="withdraw__btn-close">
        </section>

        <div class="withdraw__block withdraw__step1">
            <%- include ('../objects/user/withdraw-step1') %>
        </div>

        <div class="withdraw__block withdraw__step2">
            <%- include ('../objects/user/withdraw-step2') %>
        </div>

        <div class="withdraw__block withdraw__step3">
            <%- include ('../objects/user/withdraw-step3') %>
        </div>

    </div>

</section>