@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.favoritesGames {
	@extend %margin_horizontal_main;
	background-image: url("../img/images/img-favourites-bg.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100vw auto;
}

.filterFavorites {
	margin: $sm auto;
	width: fit-content;

	&__types {
		button {
			padding: rem(12) $sm;
			color: rgba(setcolor("white"), 0.6);
			background-color: setcolor("black");
			cursor: pointer;

			& + & {
				margin-left: 2px;
			}

			&:first-of-type {
				border-radius: rem(5) 0 0 rem(5);
			}
			&:last-of-type {
				border-radius: 0 rem(5) rem(5) 0;
			}

			&:focus,
			&:active,
			&.mixitup-control-active {
				color: setcolor("white");
				background-color: setcolor("black", "dark4");
			}
		}
	}
}
