@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridFavorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(10);
  
  @include mobile-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(5, 1fr);
  }
  @include screen-md {
    grid-template-columns: repeat(5, 1fr);
  }
  @include screen-lg {
    grid-template-columns: repeat(6, 1fr);
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: rem(5);

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-close {
      position: absolute;
      top: 7px;
      right: 9px;
    }

    &:hover {
      .gridHover--favourites {
        opacity: 1;
        transition: all 0.3s ease;
      }
    }
  }
}
