@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridRuleta {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  width: 100%;

  column-gap: rem(20);
  row-gap: $md;
  margin-top: $md;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    row-gap: $md;
  }
  @include screen-sm {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    &__img {
      position: relative;
      z-index: 0;
      width: 100%;
      aspect-ratio: 1 / 0.5;

      &.nuevo {
        &::before {
          position: absolute;
          content: 'NUEVO';
          z-index: 3;
          top: 0;
          left: 0;

          padding: rem(10);

          font-size: rem(12);
          font-weight: 700;
          background-color: setcolor('primary');
          border-radius: rem(10) 0 rem(10) 0;
          box-shadow: 0 0 0 rem(7) setcolor("black", "dark1");
        }
      }

      .card__img-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        object-fit: cover;
        object-position: bottom;
      }
      .card__img-cruppier {
        position: absolute;
        bottom: 0;
        right: 10%;
        z-index: 2;

        height: 110%;
        object-position: bottom;
      }
    }



    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: setcolor("black", "dark4");

      border-radius: 0 0 rem(5) rem(5);

      @include tablet {
        border-radius: 0 0 rem(10) rem(10);
      }

      &--top {
        width: 100%;
        padding: rem(10) rem(20);
        border-bottom: 1px solid setcolor("black", "dark2");

        display: flex;
        justify-content: space-between;

        svg {
          transition: all 0.4s ease;
          align-self: flex-start;

          &.fav path {
            transition: all 0.4s ease;
            fill: setcolor('primary');
          }
        }
      }

      &--bottom {
        width: 100%;
        padding: rem(10) rem(20);

        display: flex;
        justify-content: space-between;
        align-items: center;

        & > .ruletaResultWrapper {
          display: flex;
          .ruletaResult {
            margin-right: rem(5);

            @include tablet {
              margin-right: rem(10);
            }
          }
        }

        & > .ruletaDataWrapper {
            display: flex;
            .ruletaData, span {
                @extend .u-f--bold;
                color: #a7a9ab;
                margin: 0;
            }

            .minbet {
                margin-right: $sm;
            }

            .ruletaData {
                display: flex;
                align-items: center;

                img {
                    height: rem(14);
                }

                span {
                    margin-left: rem(5);
                }
            }
        }
      }
    }
 
    &__title { 
      @extend .u-f--h2, .u-f--bold;
    }
  }
}
