@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridGames {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(10);
  height: fit-content;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include screen-lg {
    grid-template-columns: repeat(5, 1fr);

  }

  &__item {
    display: inline-block;
    position: relative;
    z-index: 0;
    overflow: hidden;
    aspect-ratio: 1;

    & > img {
      position: relative;
      top: 0;
      right: 0;
      z-index: 0;

      border-radius: 7px;
      overflow: hidden;

      width: 100%;
      object-fit: contain;
    }

    &:hover {
      .gridHover {
        opacity: 1;
        transition: all 0.3s ease;
      }
    }

    .jackpot__container {
      display: none;
      bottom: 0;
      left: 0;
      padding: $sm;
      justify-content: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      font-size: rem(14);
      position: absolute;
    }
    
    &.jackpot {
      
      .jackpot__container {
        display: flex;
      }
    }
  }
}