@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.screensBar {
    padding-left: $lg;
    height: $lg;

    display: none;
    justify-content: space-between;

    background-color: setcolor('black', 'dark2');

    @include screen-sm {
        display: flex;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        margin-right: $sm;

        P:first-of-type {
            padding-right: rem(5);
        }
    }

    &--left p {
        margin: 0;
    }

    &--right {
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        button:not(.screensBar__btn--last) {
            margin: 0 rem(10);
            img {
                width: rem(20);
                height: rem(20);
            }
        }

        .screensBar__btn--last {
            height: 100%;
            margin: 0;
            width: $lg;
            background-color: setcolor('black');
        }
    }
}