@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.alert {
  
    padding: $sm $md;
    font-family: setfont("family", "secondary");
    font-weight: setfont("weight", "bold");
    font-size: .75rem;
    color: setcolor("white", "base");
    width: 80%;   
    border-radius: 25px;
    text-transform: uppercase;
    margin: $sm auto;

    &--error {
        
        background-color: setcolor("danger", "base");
        border: solid 4px setcolor("danger", "light");
    }
    
    &--warning {
        
        background-color: setcolor("warning", "base");
        border: solid 4px setcolor("warning", "light");
    }
    &--success {
        
        background-color: setcolor("success", "base");
        border: solid 4px setcolor("success", "light");
        
    }
    &--closable{
      position:relative;
      &__button{
        position:absolute;
        right:1em;
        top: .69rem;        
        cursor: pointer;
      }
    }
} 

