@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.breadcrumbs {

  a {
    @extend .u-f--h5;
  }

  svg {
    margin: 0 rem(10);
  }

  span:last-of-type {
    color: setcolor("gray", "dark1");
  }
}
