@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;

  @include screen-sm {
    justify-content: flex-start
  }

  a span {
    @extend .u-f--h5;
  }

  a span:not(.breadcrumbs__current) {
    color: white;
  }

  img {
    margin: 0 rem(10);
  }

  &__current {
    color: setcolor("gray", "dark1");
    @extend .u-f--h5;
  }
}

.bannerFavorites__breadcrumb .breadcrumbs {
  justify-content: center !important;
}
