// Buttons

@use '../settings' as *;
@use '../helper' as *;
@use '../tools' as *;


// button normal red
.u-btn--red {
    @extend %buttons;
    color: setcolor('white');
    background: setcolor('primary');
    &:hover {
        color: setcolor('gray', 'lighter');
        background: setcolor('primary', 'light');
    }
}

// button normal white
.u-btn--white {
    @extend %buttons;
    color: setcolor('black', 'light');
    background: setcolor('white');
    &:hover {
        color: setcolor('black', 'light');
        background: setcolor('gray');
    }
}


// button ghost ==========

// button ghost red
.u-btn_ghost--red {
	@extend %buttons;
	color: setcolor('primary', 'base');
	background-color: transparent;
	border: 2px solid setcolor('primary', 'base');
}


// button no_button ==========

// button no_button red
.u-btn_no_button--red {
	@extend %buttons;
	padding: 0;
	color: setcolor('primary', 'base');
	background-color: transparent;
}


// button variations ==========

// button size_big
.u-btn--size_big {
	padding: 21px 30px;
	font-size: 14px;
	@include md {
		padding: 30px 40px;
		font-size: 16px;
	}
}

// button icon_right
.u-btn--icon_right {
	position: relative;

	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 7px;
	}
}













// button border
.btn_border {
    @extend %buttons;
    background: transparent;
    color: setcolor('white');
    border: 2px solid setcolor('primary');
    &:hover {
        color: setcolor('secondary');
        background: setcolor('primary');
    }
}

.btn_border_secondary {
    @extend %buttons;
    background: setcolor('white');
    color: setcolor('secondary');
    border: 2px solid setcolor('secondary');
    &:hover {
        color: setcolor('white');
        background: setcolor('secondary', 'dark');
    }
}

// button border
.btn_white {
    @extend %buttons;
    color: setcolor('secondary');
    background: setcolor('white');
    &:hover {
        color: setcolor('secondary');
        background: setcolor('primary');
    }
}

.btn_border_white {
    @extend %buttons;
    background: transparent;
    color: setcolor('white');
    border: 2px solid setcolor('white');
    &:hover {
        color: setcolor('secondary');
        background: setcolor('white');
    }
}

// link
.btn_link {

    font-weight: setfont('weight','semibold');
    font-size: rem(16);
    line-height: 1em;
    text-decoration: underline;

    color: setcolor('primary');

    transition: all .3s;

    @include md {
        font-size: rem(16);
    }

    @include xl {
        font-size: rem(18);
    }

    @include xxl {
        font-size: rem(20);
    }

    &:hover {
        color: setcolor('primary','dark');
    }

}

.btn_link--secondary {
    @extend .btn_link;
    color: setcolor('secondary');
    &:hover {
        color: setcolor('secondary','dark');
    }
}

.btn_link--white {
    @extend .btn_link;
    color: setcolor('white');
    &:hover {
        color: setcolor('primary');
    }
}