// Buttons

@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.btn__fontSm {
  span {
    font-size: rem(12) !important;
  }
}

// button normal red
.btn__red {
  @extend %buttons;
  color: setcolor("white");
  background-color: setcolor("primary");

  &:hover {
    color: setcolor("gray", "lighter");
    background-color: setcolor("primary", "light");
  }
}

.btn__red--glow {
  box-shadow: 0px 0px rem(20) 0px setcolor("primary");
}

.btn__blue {
  @extend %buttons;
  color: setcolor("white");
  background-color: setcolor("secondary");
  // padding: 0;

  &:hover {
    color: setcolor("gray", "lighter");
    background-color: setcolor("secondary", "light");
  }
}

.btn__grey {
  @extend %buttons;
  background-color: setcolor("gray", "light2");

  &:hover {
    background-color: setcolor("gray", "mid");
  }

  span {
    color: setcolor("black", "dark1");

    &:hover {
      color: setcolor("black", "dark3");
    }
  }
}

.btn__darkGrey {
  @extend %buttons;
  background-color: setcolor("black", "dark5");

  &:hover {
    background-color: setcolor("black", "dark4");
  }

  span {
    color: white;

    &:hover {
      color: setcolor("gray", "light2");
    }
  }
}

.btn__icons {
  position: relative;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
  img:first-of-type {
    left: rem(7);
  }
  img:last-of-type {
    right: $sm;
  }
}

.btn__grey--ghost {
  @extend %buttons;
  background-color: transparent;
  border: 1px solid #868b92;
  span {
    color: setcolor("black", "dark1");
  }
}

.btn__verify--ghost {
  @extend %buttons;
  background-color: transparent;
  border: 2px solid setcolor("gray", "mid");
  span {
    color: setcolor("gray", "mid");
  }
}

.btn__white {
  @extend %buttons;
  background-color: white;

  &:hover {
    background-color: setcolor("gray");
  }

  span {
    color: black;
  }
}

/* Button remove filter */
.btn__gray--red {
  @extend %buttons;
  color: setcolor("primary");
  background-color: #1c2026;
  padding: rem(10);
  &:hover {
    background-color: #292929;
  }
}

.btn__block {
  @extend %buttons;
  height: $lg;
  border-radius: rem(5);
}

// button normal black_lighter
.btn__black--lighter {
  @extend %buttons;
  color: setcolor("white");
  background-color: setcolor("black", "dark4");
}

// button ghost ==========

// button ghost red
.btn__ghost--red {
  @extend %buttons;
  color: setcolor("primary");
  background-color: transparent;
  border: 2px solid setcolor("primary");

  display: flex;
  align-items: center;

  img {
    display: inline-block;
    margin-left: rem(5)
  }
}

// button no_button ==========

// button no_button red
.btn_no_button--red {
  @extend %buttons;
  padding: 0;
  color: setcolor("primary");
  background-color: transparent;
}

// button variations ==========

// button size_big
.btn__size--big {
  padding: $sm $md;
  @include tablet-h {
    padding: $md rem(40);
  }
}

// button icon_right
.btn__icon--right {
  position: relative;
  padding: 0 $sm;

  span {

    @include screen-md {
      padding-right: rem(10);
    }
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: rem(14);

    @include screen-md {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 7px;
      font-size: rem(14);
    }
  }
}

// button border
.btn_border {
  @extend %buttons;
  background: transparent;
  color: setcolor("white");
  border: 2px solid setcolor("primary");
  &:hover {
    color: setcolor("secondary");
    background-color: setcolor("primary");
  }
}

.btn_border_secondary {
  @extend %buttons;
  background-color: setcolor("white");
  color: setcolor("secondary");
  border: 2px solid setcolor("secondary");
  &:hover {
    color: setcolor("white");
    background-color: setcolor("secondary", "dark");
  }
}

// button border
.btn_white {
  @extend %buttons;
  color: setcolor("secondary");
  background-color: setcolor("white");
  &:hover {
    color: setcolor("secondary");
    background-color: setcolor("primary");
  }
}

.btn_border_white {
  @extend %buttons;
  background: transparent;
  color: setcolor("white");
  border: 2px solid setcolor("white");
  &:hover {
    color: setcolor("secondary");
    background-color: setcolor("white");
  }
}

// link
.btn_link {
  font-weight: setfont("weight", "semibold");
  font-size: rem(16);
  line-height: 1em;
  text-decoration: underline;

  color: setcolor("primary");

  transition: all 0.3s;

  @include tablet {
    font-size: rem(16);
  }

  @include screen-sm {
    font-size: rem(18);
  }

  @include screen-md {
    font-size: rem(20);
  }

  &:hover {
    color: setcolor("primary", "dark");
  }
}

.btn_link--secondary {
  @extend .btn_link;
  color: setcolor("secondary");
  &:hover {
    color: setcolor("secondary", "dark");
  }
}

.btn_link--white {
  @extend .btn_link;
  color: setcolor("white");
  &:hover {
    color: setcolor("primary");
  }
}
