@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.checkRound {
  position: relative;
  transition: all 0.3s ease;
  transform: translateX(-22px);

  input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    appearance: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

    height: rem(22);
    width: rem(44);
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    height: rem(22);
    width: rem(44);

    background-color: #b7bcc0;
    border-radius: rem(30);

    transition: all 0.3s ease;

    .circle {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 1;

      height: rem(22);
      width: rem(22);

      background-color: #72787f;
      border-radius: rem(1000);

      transition: all 0.3s ease;
    }
  }

  input:checked ~ .container {
    background-color: #74dfd5;
    transition: all 0.3s ease;

    .circle {
      left: rem(22);
      background-color: setcolor("secondary");

      transition: all 0.3s ease;
    }
  }
}
