@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.deposits {
  height: rem(40);

  border-radius: rem(30);
  background-color: setcolor("black", "dark4");

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.reverse {
    flex-direction: row-reverse;
  }

  &__total {
    cursor: pointer;
    position: relative;
    padding-left: rem(10);

    display: flex;
    align-items: center;

    img {
      margin-right: rem(5);
    }
  }

  &__balance-value {
    display: none;
    white-space: nowrap;
    margin-left: $xs;
    max-width: 5em;
    text-overflow: ellipsis;
    overflow: hidden;
    
    @include mobile {
      display: block;
    }
  }

  &__arrow-icon {
    margin: 0 $xs; 
  }
  
  &__btn {
    position: relative;
    width: auto;
    height: rem(40);
    margin: 0;
    padding: 0;
    padding-left: rem(40);
    padding-right: rem(20);

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: rem(7);
    }
  }
}
