@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.deposits {
  height: rem(40);

  border-radius: rem(30);
  background-color: setcolor("black", "dark4");

  display: flex;
  justify-content: center;
  align-items: center;

  &__total {
    padding-left: $sm;

    img {
      margin-right: rem(5);
    }
  }

  svg {
    margin: 0 rem(10);
  }

  &__btn {
    position: relative;
    width: auto;
    height: rem(40);
    margin: 0;
    padding: 0;
    padding-left: rem(40);
    padding-right: rem(20);

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: rem(7);
    }
  }
}
