@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.splide__gradient {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;

    width: 20%;
    height: 100%;

    background-image: linear-gradient(to right, transparent, setcolor('black', 'dark1'));
    pointer-events: none;
}

.banner__gradient {
    background-image: linear-gradient(to right, setcolor('black', 'dark1') 30%, transparent);
}
