@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.tag {
  position: relative;
  &::before {
    position: absolute;
    z-index: 1;
    font-size: rem(12);
    font-weight: 700;
    top: 0;
    right: 0;
    border-radius: 0 rem(10) 0 rem(10);
  }
}

.tag--left {
  &::before {
    top: 0;
    left: 0;
    right: auto;
    border-radius: rem(10) 0 rem(10) 0;
  }
}

.tag--new-ruleta {
  @extend .tag;

  &::before {
    content: "NUEVO";
    background-color: setcolor("primary");
    padding: rem(10);
    box-shadow: 0 0 0 rem(7) setcolor("black", "dark1");
  }
}

.tag--new {
  @extend .tag;
  
  &::before {
    content: "Nuevo";
    background-color: setcolor("primary");
    padding: rem(5);
  }
}

.tag--promo {
  @extend .tag;

  &::before {
    content: "Promo";
    background-color: #0089c7;
    padding: rem(5);
  }
}

.tag--exclusive {
  @extend .tag;
  
  &::before {
    content: "Exclusiva";
    background-color: #a2c900;
    padding: rem(5);
  }
}
