.c-icon__title a {
    display: flex;
    align-items: center;
    padding-right: 25px;

    img {
      height: 14px;
      width: 14px;
    }

    p {
      margin: 0;
      padding-left: 5px;
    }
  }