@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.jackpot__container {
    display: none;
    bottom: 0;
    left: 0;
    padding: $sm;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: rem(14);
    position: absolute;
}

[data-jackpot] {
    .jackpot__container {
        display: flex;
    }
}
