@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.ruletaResult {
    @extend .u-f--bold;
    display: inline-block;
    border-radius: rem(1000);
    width: rem(25);
    height: rem(25);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    @include tablet {
        width: $md;
        height: $md;
    }
}
.ruletaResult--placeholder {
    background-color: rgb(101, 101, 101);
    border: 3px solid #484a4d;
    animation: results-loading 1000ms ease-in 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.ruletaResult--red {
    background-color: setcolor('primary');
    border: 3px solid #ff7f8b;

}
.ruletaResult--black {
    background-color: #000;
    border: 3px solid #717477;
}

@keyframes results-loading {
    0% {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }