@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Layout


// Navigation

.splide.arrows-right {

	.splide__arrows::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		z-index: 1;
		width: 80px;
		height: 100%;
		background: linear-gradient( 90deg, rgba( setcolor('black','dark1'), 0 ) 0%, rgba( setcolor('black','dark1'), 1 ) 100%);
	}

	.splide__arrow--prev {
		left: initial;
		right: 34px;

	}

	.splide__arrow--next {
		right: 0;
	}
}