@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.splideArrows--right {
  .splide__arrow {
    background: none;
    border-radius: 0;
    opacity: 1;
    z-index: 5;

    opacity: 1;

    &:disabled {
      opacity: 1;
    }

    svg {
      height: rem(30);
      width: rem(30);
    }
  }

  .splide__arrow--prev {
    left: unset;
    right: 35px;
  }

  .splide__arrow--next {
    right: 0;
  }
}
.splideArrows--sides {
  .splide__arrow {
    background: none;
    border-radius: 0;
    opacity: 1;
    z-index: 5;

    opacity: 1;

    &:disabled {
      opacity: 1;
    }

    svg {
      height: rem(30);
      width: rem(30);
    }
  }

  .splide__arrow--prev {
    left: 0;
  }

  .splide__arrow--next {
    right: 0;
  }
}
