@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.table__wrapper {
	overflow-x: auto;
	border-radius: 5px 5px 0 0;

	.table {
		margin-top: 30px;
		width: 100%;
		border: none;
		border-collapse: collapse;
		text-align: center;
		border-radius: rem(5);
		overflow: hidden;
		min-width: rem(400);

		thead {
			tr {
				@extend .u-f--bold;
				background-color: setcolor("black", "dark4");
				color: setcolor("white");
				text-transform: uppercase;
			}
		}

		tbody {
			tr {
				background-color: setcolor("black");
				color: setcolor("white");
				border-top: setcolor("black", "dark1") 1px solid;
				transition: all 200ms;

				&:hover {
					background-color: setcolor("black", "dark2");
				}
			}
		}

		td,
		th {
			padding: $sm;
		}

		.left {
			text-align: left;
		}

		.right {
			text-align: right;
		}
	}
}
