@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.user {
  display: flex;
  align-items: center;

  cursor: pointer;

  &__name {
    @extend .u-f--bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    margin-right: rem(10);

    @include screen-lg {
      display: flex;
    }

    .sessionTime {
      text-align: right;
    }

    p {
      color: setcolor("secondary");
      margin: 0;
    }
  }
}

.userNoIcon {
  display: flex;
  flex-direction: column;
  text-align: right;
  overflow: hidden;

  &__name {
    @extend .u-f--bold;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__sessionTime {
    color: setcolor("secondary");
  }
}
