@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.faq,
.pokerHowAccord {
  @extend %margin_horizontal_main, %margin_top_medium;

  &__title {
    @extend .u-f--h2, .u-f--bold;
    padding-bottom: $sm;
  }

  &__subtitle {
    color: setcolor("gray", "mid");
    padding-bottom: $sm;
  }

  &__accordion {
    &-item {
      background-color: setcolor("black", "dark2");
      border-radius: rem(5);
      margin-bottom: rem(5);

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        padding: $sm;

        p {
          @extend .u-f--bold;
          margin: 0;
          padding: 0;
        }
      }

      .body {
        border-top: 1px solid setcolor("black", "dark1");

        &__wrapper {
          padding: $sm;
        }

        p {
          color: #7f8285;
          max-width: 100%;

          @include screen-sm {
            max-width: 66%;
          }
          @include screen-md {
            max-width: 50%;
          }
          @include screen-lg {
            max-width: 33%;
          }
        }

        &--fullwidth {
          p {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.accordion {
  &__arrow {
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
  }

  &--active &__arrow {
    transform: rotate(0deg);
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &--active &__content {
    max-height: none;
  }
}
