@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.affiliatesContentBenefits {
	display: grid;
	gap: $sm;
	@extend %margin_top_medium, %margin_horizontal_main;

	@include screen-sm {
		column-gap: $lg;
		grid-template-columns: 1fr 2fr;
	}


	&__title {
		@extend .u-f--h2;
		@extend .u-f--bold;

		@include screen-sm {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}


	&__text {
		@extend .u-f--h4;
		@extend .u-f--bold;
		opacity: .6;

		@include screen-sm {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
	}


	&__benefits {
		display: grid;
		gap: $sm;

		@include screen-sm {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
			grid-template-columns: repeat( 4, 1fr );
			grid-template-rows: repeat( 2, auto );
		}


		&-item {
			display: flex;
			gap: rem(10);

			@include screen-sm {
				gap: $sm;
				flex-direction: column;
			}


			&-image {
				font-size: rem(38);
			}


			&-title {
				margin-top: rem(10);
				@extend .u-f--h3;
				@extend .u-f--bold;
				color: setcolor('primary');
			}
		}
	}
}