@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.affiliatesContentInfo {
  overflow: hidden;
  display: grid;
  gap: $md;
  @extend %padding_medium, %margin_horizontal_main;

  @include screen-sm {
    column-gap: $xl;
    grid-template-columns: 3fr 7fr;
    align-items: center;
  }

  &__content {
    &-title {
      @extend .u-f--h1;
      @extend .u-f--bold;
    }

    &-subtitle {
      margin-top: $sm;
      margin-bottom: rem(10);
      @extend .u-f--h4;
      @extend .u-f--bold;
    }

    &-text {
      opacity: 0.6;
    }
  }

  &__image {
	width: 100%;

    @include screen-sm {
      max-width: 100%;
    }
  }
}
