@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.affiliatesContact {
	display: grid;
	gap: rem(40);
	@extend %margin_top_medium, %margin_horizontal_main;

	@include screen-sm {
		column-gap: rem(60);
		grid-template-columns: repeat( 2, 2fr );
	}


	&__content {
		padding: 0;
		background-color: transparent;


		&-title {
			@extend .u-f--h2;
			@extend .u-f--bold;
		}


		&-subtitle {
			margin-top: rem(30);
			margin-bottom: rem(10);
			@extend .u-f--h4;
			@extend .u-f--bold;
		}


		&-text {
			opacity: .6;
		}
	}


	&__form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: space-between;
		padding: rem(30) rem(30) 0;
		border-radius: rem(10);
		background-color: setcolor('black');


		&-title {
			@extend .u-f--h4;
			@extend .u-f--bold;
		}


		&-text {
			opacity: .6;
		}


		input,
		textarea,
		select {
			padding: rem(15) rem(25);
			@extend .u-f--bold;
			border: 2px solid rgba(setcolor('white'), .6);
			color: setcolor('white');
			background-color: transparent;
			border-radius: rem(100);

			&::placeholder {
				color: setcolor('gray', 'mid');
			}
		}

		select {
			appearance: none;
			background-color: setcolor('black');
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.928' height='6.352' viewBox='0 0 10.928 6.352'%3E%3Cpath d='M12.474,42.648,8.615,46.506a.27.27,0,0,1-.381,0h0L4.375,42.648' transform='translate(-2.961 -41.234)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position-x: 95%;
			background-position-y: 50%;
			color: setcolor('gray', 'mid');
		}

		input {
			border-radius: rem(100);
		}


		textarea {
			border-radius: rem(20);
		}


		button {
			margin: auto;
			padding: rem(7.5) rem(15) rem(7.5) rem(7.5);
			width: fit-content;
			transform: translateY(50%);

			@include screen-sm {
				margin-right: 0;
			}


			img {
				width: 1em;
				height: 1em;
				font-size: 30px;

				& + span {
					margin-left: rem(10);
				}
			}
		}
	}
}