@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.affiliatesContentCards {
  position: relative;

  @include screen-sm {
    margin-top: rem(-60);
  }

  // Grid

  &__grid {
    display: grid;
    gap: rem(10);
    grid-template-columns: repeat(1, 1fr);
    @extend %margin_horizontal_main;

    @include tablet-h {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // Card

  &__card {
    margin-top: $lg;
    margin-right: auto;
    margin-left: auto;
    padding: $sm;
    width: 100%;
    max-width: 600px;
    text-align: center;
    border-radius: rem(10);
    background-color: setcolor("black", "dark4");

    @include screen-sm {
      margin-top: 0;
	  padding: $md;
    }

    &-image {
      margin: rem(-60) auto $md;
    }

    &-title {
      @extend .u-f--h2;
      @extend .u-f--bold;
    }

    &-text {
      margin-top: $sm;
      margin-bottom: $md;
    }

    &-badge {
      display: grid;
      gap: $sm;
      grid-template-columns: $sm 1fr $sm;
      justify-items: center;
      padding: $sm;
      border-radius: rem(5);
      background-color: setcolor("black", "dark5");

      & + & {
        margin-top: rem(5);
      }

      &-span {
        @extend .u-f--h4;
        @extend .u-f--bold;
      }
    }
  }
}
