@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.appApuestas {
	background-image: url('../img/images/img-app-apuestas-content-bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;


	// Commons

	&__title {
		@extend .u-f--bold;
		text-align: center;
	}

	&__columns {
		display: grid;
		gap: rem(40);
		grid-template-columns: repeat(1, 1fr);
		@extend %margin_top_small;
		margin-right: auto;
		margin-left: auto;
	}
}


// Top

.appApuestas__top {
	@extend %margin_horizontal_main, %margin_top_medium;


	.appApuestas__title {
		@extend .u-f--h2;
	}


	.appApuestas__columns {

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include screen-sm {
			grid-template-columns: repeat(4, 1fr);
			max-width: rem(1120);
		}
	}
}


.appApuestas__star {
	text-align: center;


	&-image {
		margin: auto;
		max-width: rem(250);
	}


	&-title {
		@extend .u-f--h4;
		@extend .u-f--bold;
	}


	&-subtitle {
		margin-top: rem(10);
	}
}


// Bottom

.appApuestas__bottom {
	position: relative;
	bottom: rem(-180);
	margin: rem(-90) auto rem(180);
	padding: rem(75) rem(75) rem(85);
	width: 100%;
	max-width: rem(796);
	border-radius: rem(10);
	background-color: setcolor("black");

	@include screen-sm {
		bottom: rem(-300);
		margin-top: rem(-190);
		margin-bottom: rem(360);
	}


	.appApuestas__title {
		@extend .u-f--h4;
	}


	.appApuestas__columns {

		@include screen-sm {
			grid-template-columns: repeat(2, 1fr);
			max-width: rem(1120);
		}
	}
}


.appApuestas__qr {


	&-image {
		display: none;

		@include screen-sm {
			display: block;
			margin-bottom: $sm;
			border-radius: rem(10);
			background-color: setcolor("black", "dark5");
		}
	}


	&-button {
		display: flex;
		gap: rem(10);
		justify-content: space-between;
		padding: rem(12) rem(16) rem(12) rem(50);
		width: 100%;
		text-align: center;
		text-transform: uppercase;


		span {
			width: 100%;
		}
	}
}