@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.atencionCliente {
	@extend %margin_top_large;
	@extend %padding_horizontal_main;



	// Title

	&__title {
		@extend .u-f--h1;
		@extend .u-f--bold;
		text-align: center;

		@include screen-sm {
			text-align: left;
		}
	}



	// Columns

	&__columns {
		display: grid;
		column-gap: $lg;
		row-gap: rem(45);
		@extend %margin_top_medium;

		@include screen-sm {
			grid-template-columns: repeat(3, 1fr);
		}


		&-column {


			p {
				@extend .u-f--h4;

				& + p {
					margin-top: $sm;
				}
			}
		}
	}



	// Columns design

	&__box {
		position: relative;
		padding: rem(30) rem(25) rem(60);
		border-radius: rem(10);
		background-color: setcolor("black", "dark2");

		@include screen-sm {
			padding: rem(50) rem(40) rem(100);
		}


		p {
			opacity: .6;
		}


		&-button {
			position: absolute;
			right: rem(40);
			bottom: -1.5em;
			left: rem(40);
			padding: $sm rem(40);
			text-transform: uppercase;


			span + img {
				margin-left: $sm;
			}
		}
	}


	&__not-box {


		p {
			text-align: center;

			@include screen-sm {
				text-align: left;
			}
		}


		small {
			@extend .u-f--h4;
			text-align: left;
			opacity: .6;
		}
	}
}