@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.bgLandingA {
  position: relative;
  z-index: 0;
  padding-top: 15vh;

  background-color: setcolor("black", "dark2");

  @include screen-sm {
    padding-top: 0;
  }

  &__bg {
    width: 100%;
    object-fit: cover;
  }
}
