@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.bannerPokerSatelites {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 294px;
	background-image: url('../img/images/img-banner-poker-satelite-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;


	&__logo {
		max-width: 80%;
	}

	&__breadcrumbs {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: setcolor("black", "dark1");

		@include screen-sm {
			position: relative;
			margin-top: rem(10);
			padding: $xs;
			width: initial;
			border-radius: rem(10);
		}
	}
}