@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.banner {
  position: relative;
  z-index: 1;
  background-position: right;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #13171dae 20%, transparent);
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: $lg;
    padding-bottom: $lg;

    @extend %padding_horizontal_main;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen-sm {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding-top: $xl;
      padding-bottom: $xl;
    }

    &-title {
      p {
        @extend .u-f--h1, .u-f--bold;
        margin: 0;
        line-height: 1em;
      }

      .breadcrumbs {
        margin-top: rem(10);
        display: none;

        @include screen-sm {
          display: block;
        }
      }
    }

    img {
      margin-bottom: $lg;
      width: rem(85);
      height: rem(85);

      @include screen-sm {
        width: 95px;
        height: 95px;
        margin-bottom: 0;
        margin-right: $sm;
      }
    }
  }
}

.bannerFooter {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: setcolor('black');
  padding: $sm 0;

  span {
    text-transform: uppercase;
    @extend .u-f--bold;
  }

  @include screen-sm {
    display: none;
  }
}
