@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.m-banner__car {
  @extend %margin_horizontal_main;
  margin-top: 60px;
  margin-bottom: 60px;

  .o-banner__car--wrapper {
    .o-banner__car--item {
      display: flex;
      flex-direction: column-reverse;
      border-radius: 5px;
      overflow: hidden;

      @include lg {
        flex-direction: row;
      }

      .o-banner__car--item-wrapper {
        width: 100%;
        overflow: hidden;

        @include lg {
          width: 50%;
          height: 470px;
        }

        button {
          width: 160px;

          img {
            height: 14px;
            width: 14px;
            margin-right: 10px;
          }
        }

        img {
          object-fit: contain;
          object-position: right;
          width: auto;
          height: 100%;
        }

        p:first-of-type {
          @extend .u-f--h1;
          font-weight: 700;
          line-height: 1em;
          text-align: center;

          @include lg {
            text-align: left;
          }
        }

        p:last-of-type {
          @extend .u-f--h3;
          display: none;

          @include lg {
            display: inline-block;
            font-weight: 700;
            line-height: 1.2em;
            color: setcolor("gray");
          }
        }
      }

      .o-banner__car--item-wrapper:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding: 30px 10px;
        background-color: setcolor("black", light);

        @include lg {
          padding: 60px;
          align-items: flex-start;
        }
      }

      .o-banner__car--item-wrapper:last-of-type {
        height: 250px;

        @include lg {
          height: 470px;
        }
      }
    }
  }

  .splide__arrow {
    top: 100%;

    @include lg {
      top: 50%;
    }

    img {
      height: 30px;
      width: 30px;

      @include lg {
        height: 40px;
        width: 40px;
      }
    }
  }

  .splide__arrow--prev {
    left: 10%;

    @include lg {
      left: -15px;
    }
  }

  .splide__arrow--next {
    right: 10%;

    @include lg {
      right: -15px;
    }
  }
}
