@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.bannerCarousel {
  margin-top: rem(100);

  background-image: url("../img/images/img-stars-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  @include screen-sm {
    margin-top: rem(140);
  }

  .splide {
    @extend %margin_horizontal_main;
  }

  &__slide {
    display: flex;
    flex-direction: column-reverse;
    border-radius: rem(5);
    margin-bottom: rem(25);


    @include screen-sm {
      flex-direction: row;
      overflow: hidden;
    }

    &-wrapper {
      width: 100%;

      @include screen-sm {
        width: 50%;
      }
    }

    &--left {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: setcolor("black");

      padding: $sm;
      padding-bottom: 0;

      @include screen-sm {
        padding: $sm $sm $sm $md;
        justify-content: center;
        align-items: flex-start;
      }
      @include screen-lg {
        padding: $sm $sm $sm $lg;
      }

      .bannerCarousel__slide-content {
        background-color: setcolor("black");
        overflow: hidden;

        p {
          @extend .u-f--bold;
        }

        p:first-of-type {
          text-align: center;
          padding-bottom: $sm;
          font-size: rem(26);

          @include screen-sm {
            text-align: left;
            font-size: rem(32);
          }
          @include screen-md {
            font-size: rem(44);
          }
          @include screen-lg {
            font-size: rem(52);
          }
        }

        p:last-of-type {
          @extend .u-f--h3;
          display: none;

          @include screen-sm {
            display: block;
            color: #a4a5a8;
            padding-bottom: $md;
          }
        }
      }

      .bannerCarousel__slide-breadcrumb {
        display: block;

        @include screen-sm {
          display: none;
        }

        p {
          @extend .u-f--h3, .u-f--bold;
        }
      }

      button {
        padding: $sm;
        transform: translateY(50%);

        display: flex;
        align-items: center;

        img {
          display: inline-block;
        }

        @include screen-sm {
          box-shadow: 0px 0px rem(20) 0px setcolor("primary");
        }
      }
    }

    &--right {
      background-color: transparent;

      @include screen-sm {
        background-color: setcolor("black");
      }

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }

  .splide__arrow {
    top: unset;
    bottom: 0;
    opacity: 1;

    @include screen-sm {
      top: 50%;
    }

    &:disabled {
      opacity: 1;
    }

    img {
      height: rem(40);
      width: rem(40);

      @include screen-sm {
        height: rem(55);
        width: rem(55);
      }
    }

    &--prev {
      left: 10%;

      @include screen-sm {
        left: rem(-15);
      }
    }

    &--next {
      right: 10%;

      @include screen-sm {
        right: rem(-15);
      }
    }
  }
}
