@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.bannerCarousel {
  @extend %margin_top_large;

  background-image: url("../img/images/img-stars-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  .splide {
    @extend %margin_horizontal_main;
  }

  &__slide {
    display: flex;
    flex-direction: column-reverse;
    border-radius: rem(5);
    margin-bottom: rem(25);

    @include screen-sm {
      flex-direction: row;
    }

    &-wrapper {
      width: 100%;

      @include screen-sm {
        width: 50%;
      }
    }

    &--left {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: setcolor("black");

      padding: $md;
      padding-bottom: 0;

      @include screen-sm {
        padding: $sm $sm $sm $md;
        align-items: flex-start;
      }
      @include screen-lg {
        padding: $sm $sm $sm $lg;
      }

      & > div {
        background-color: setcolor("black");
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        margin-bottom: 23px;

        @include screen-sm {
          border-radius: 0;
        }

        p {
          @extend .u-f--bold;
        }

        p:first-of-type {
          text-align: center;
          padding-bottom: $sm;
          font-size: rem(44);

          @include screen-sm {
            text-align: left;
            font-size: rem(32);
          }
          @include screen-md {
            font-size: rem(44);
          }
          @include screen-lg {
            font-size: rem(52);
          }
        }

        p:last-of-type {
          @extend .u-f--h3;
          display: none;

          @include screen-sm {
            display: block;
            color: setcolor("gray", "light2");
            padding-bottom: $md;
          }
        }
      }

      button {
        padding: $sm;
        transform: translateY(50%);
      }
    }

    &--right {
      background-color: transparent;

      @include screen-sm {
        background-color: setcolor("black");
      }

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }

  .splide__arrow {
    top: unset;
    bottom: 0;

    @include screen-sm {
      top: 50%;
    }

    img {
      height: $lg;
      width: $lg;

      @include screen-sm {
        height: rem(40);
        width: rem(40);
      }
    }

    &--prev {
      left: 10%;

      @include screen-sm {
        left: rem(-15);
      }
    }

    &--next {
      right: 10%;

      @include screen-sm {
        right: rem(-15);
      }
    }
  }
}
