@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.bannerAppApuestas {
  position: relative;
  @extend %padding_horizontal_main;
  padding-top: $sm;
  padding-bottom: rem(200);
  background-image: url("../img/images/img-app-apuestas-header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: initial;

  @include screen-sm {
    background-position: center center;
    background-size: cover;

    padding-top: $xl;
    padding-bottom: $xl;
  }

  // Content

  &__content {
    position: relative;
    z-index: 1;
    width: 80%;

    overflow: hidden;

    @include screen-sm {
      width: 40%;
    }
  }

  &__title {
    @extend .u-f--h1;
    @extend .u-f--bold;
  }

  &__subtitle {
    @extend .u-f--h3;
    @extend .u-f--bold;
    opacity: 0.6;
  }

  &__button {
    display: inline-block;
    margin-top: $md;
    padding: rem(10) $md rem(10) rem(10);
    text-transform: uppercase;

    img {
      width: $md;
      height: $md;
    }
  }

  // Image {

  &__image {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: -5%;
    width: 100%;

    @include screen-sm {
      left: initial;
      right: 5%;
      bottom: -10%;
      width: 50%;
    }
    @include screen-lg {
      right: 10%;
    }
  }
}
