@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.banner {
  position: relative;
  z-index: 1;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: setcolor("black", "base");
  
  @include screen-sm {
    background-position: right bottom;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, setcolor("black", "dark1") 0%, transparent 50%);
    background-size: cover;
    
    @include screen-sm {
      background-image: linear-gradient(to right, setcolor("black", "dark1") 0%, transparent 50%);
    }

  }
  
  &--slot {
    background-image: url('../img/images/slot-section-bg-mobile.jpg');
    
    @include screen-sm {
      background-image: url('../img/images/slot-section-bg.jpg');
    }
  }

  &--ruleta {
    background-image: url('../img/images/ruleta-section-bg-mobile.jpg');
    
    @include screen-sm {
      background-image: url('../img/images/ruleta-section-bg.jpg');
    }
  }

  &--casino {
    background-image: url('../img/images/casino-section-bg-mobile.jpg');
    
    @include screen-sm {
      background-image: url('../img/images/casino-section-bg.jpg');
    }
  }

  &--apuestasVirtuales {
    background-image: url('../img/images/apuestas-virtuales-section-bg-mobile.jpg');
    
    @include screen-sm {
      background-image: url('../img/images/apuestas-virtuales-section-bg.jpg');
    }
  }

  &--poker {
    background-image: url('../img/images/poker-section-bg-mobile.jpg');
    
    @include screen-sm {
      background-image: url('../img/images/poker-section-bg.jpg');
    }
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: $md;
    padding-bottom: $xxl;

    @extend %padding_horizontal_main;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding-top: $lg;
      padding-bottom: $xxl;
    }
    @include screen-sm {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding-top: $xl;
      padding-bottom: $xl;
    }

    &-title {
      p {
        @extend .u-f--h1, .u-f--bold;
        margin: 0;
        line-height: 1em;
      }

      .breadcrumbs {
        margin-top: rem(10);
        display: none;

        @include screen-sm {
          display: flex;
        }
      }
    }

    .banner__icon {
      margin-bottom: rem(20);
      width: rem(85);
      height: rem(85);

      @include screen-sm {
        width: $xl;
        height: $xl;
        margin-bottom: 0;
        margin-right: $sm;
      }
    }
  }
}

.bannerFooter {

  @include screen-sm {
    display: none;
  }
}
