@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.bannerAffiliates {
	position: relative;
	padding-top: rem(100);

	@include mobile {
		padding-top: rem(60);
		padding-bottom: rem(90);
	}

	@include screen-sm {
		padding-top: rem(100);
		padding-bottom: rem(200);
		background-color: setcolor('primary');
	}


	&__content {
		position: absolute;
		z-index: 1;
		margin-top: rem(-40);
		@extend %margin_horizontal_main;

		@include mobile {
			position: relative;
			margin-top: 0;
		}


		&-title,
		&-subtitle {
			@extend .u-f--bold;
			width: 100%;

			@include screen-sm {
				width: 40%;
			}
		}


		&-title {
			@extend .u-f--h1;
		}


		&-subtitle {
			margin-top: rem(15);
			@extend .u-f--h4;
		}
	}


	&__bg {
		position: relative;
		z-index: 0;
		height: max-content;

		@include mobile {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: auto;
		}


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
