@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.grid3Cols {
  @extend %margin_horizontal_main, %margin_top_large;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: $md;

  @include tablet {
    row-gap: $lg;
  }
  @include screen-sm {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: rem(10);
  }

  &__container {
    position: relative;
    background-color: setcolor("black", "dark2");
    border-radius: rem(10);

    &:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.regular {
      padding: $sm;

      @include tablet-h {
        padding: $lg;
      }
      @include screen-sm {
        padding: $sm;
      }
      @include screen-lg {
        padding: $lg;
      }
    }

    &.wImg {
      padding: $sm;
    }

    &.wBtn {
      padding: $sm;
      padding-bottom: 0;
      margin-bottom: $md;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet-h {
        padding: $lg;
        padding-bottom: 0;
      }
      @include screen-sm {
        padding: $sm;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      @include screen-lg {
        padding: $lg;
        padding-bottom: 0;
      }
    }

    p {
      margin: 0;
    }

    & > img {
      object-fit: contain;
      width: 100%;
    }

    &-title {
      @extend .u-f--bold, .u-f--h2;
      padding-bottom: rem(40);
    }

    &-step {
      display: flex;
      align-items: center;

      padding-bottom: $sm;

      .step {
        @extend .u-f--bold, .u-f--h3;
        width: rem(50);
        height: rem(50);
        background-color: setcolor("black", "dark5");
        border: rem(6) solid setcolor("black", "dark4");
        border-radius: rem(100);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $sm;
      }

      .title {
        @extend .u-f--bold, .u-f--h4;
        padding-left: rem(10);
      }

      & > div {
        p:first-of-type {
          @extend .u-f--bold, .u-f--h3;
        }
      }
    }

    &-body {
      color: #a4a5a8;
    }

    .grid3Cols__btn--overflow {
      display: flex;
      justify-content: center;
      width: 100%;

      a {
        transform: translateY(50%);
        height: rem(70);
        width: 100%;
      }
    }

    .grid3Cols__btn {
      height: rem(70);
      width: 100%;

      &:first-of-type {
        margin-bottom: rem(10);

        @include screen-sm {
          margin-top: $lg;
        }
      }
    }
  }

  &__mobile {
    padding-bottom: 0 !important;
    margin-bottom: $md;

    @include screen-sm {
      margin-bottom: 0;
    }

    &-btns {
      transform: translateY(25%);

      @include screen-sm {
        transform: translateY(0);
      }
    }
  }
}
