@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.blockPromo {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(to bottom, setcolor('primary'), setcolor('primary') 10%, transparent 10%);

  @include screen-sm {
    background: linear-gradient(to bottom, setcolor('primary'), setcolor('primary') 20%, transparent 20%);
  }

  &__wrapper {
    @extend %margin_horizontal_main;
  }

  &__bg {
    @extend %margin_top_medium;

    img {
      object-fit: contain;
      filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.4));
      width: 100%;
    }
  }

  &__cta {
    display: flex;
    margin: $md 0 $sm;
    height: $xl;
    width: 100%;
  }

  &__title {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-badge {
      transform: translateY(-50%);

      width: rem(45);
      height: rem(45);
      margin-bottom: rem(-30);

      filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.4));

      @include screen-sm {
        width: $xl;
        height: $xl;
      }
    }

    p {
      @extend .u-f--h1, .u-f--bold;
      max-width: 80%;
      padding: $sm 0;
    }
  }

  &__features {
    display: none;
    justify-content: center;
    align-items: center;
    @extend %margin_top_small;

    @include screen-sm {
      display: flex;
    }

    &-item {
      display: flex;
      align-items: center;

      padding: 0 $lg;

      &:nth-of-type(2) {
        border-left: 1px solid setcolor("primary");
        border-right: 1px solid setcolor("primary");
      }

      span {
        @extend .u-f--h4, .u-f--bold;
        color: setcolor("primary");
        margin: 0;
        padding-left: rem(10);
      }
    }
  }

  &__table {
    @extend %margin_top_small;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-row {
      width: 100%;
      padding: $sm;
      background-color: setcolor("black", 'dark2');
      border-radius: rem(5);

      display: flex;
      flex-direction: column;

      @include screen-sm {
        flex-direction: row;
      }

      &:not(:last-of-type) {
        margin-bottom: rem(5);
      }

      .title {
        @extend .u-f--h4, .u-f--bold;
        width: 100%;
        padding-bottom: $sm;

        @include screen-sm {
           width: 50%;
           padding-bottom: 0;
        }
      }

      .content {
        width: 100%;
        color: #a4a5a8;

        @include screen-sm {
           width: 50%;
        }
      }
    }
  }

  &__tc {
    @extend %margin_top_small;


    p {
      color: setcolor('gray', 'dark1');
      padding-bottom: $sm;
    }
  }
}
