@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.boardGame {
	@extend %margin_top_large;
	@extend %padding_horizontal_main;
	text-align: center;


	// Header

	&__header {


		&-title {
			@extend .u-f--h1;
			@extend .u-f--bold;
		}


		&-subtitle {
			margin-top: 10px;
			@extend .u-f--h3;
			@extend .u-f--bold;
		}
	}


	// Board

	&__board {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 35px auto;
		padding: 20px 30px;
		width: 100%;
		max-width: 740px;
		border-radius: 10px;
		background-color: setcolor("black", "dark5");

		@include screen-sm {
			padding: 55px 65px;
		}


		&-text {
			@extend .u-f--h4;
			opacity: .6;
		}

		&-numbers + &-text {
			margin-top: 25px;
		}


		&-numbers {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			justify-content: center;
			align-items: center;
		}


		&-number {
			padding: 23px 33px;
			@extend .u-f--bold;
			border-radius: 10px;
			color: setcolor("white");
			background-color: setcolor("black", "dark4");


			&-top {
				@extend .u-f--h2;
			}


			&-bottom {
				@extend .u-f--h4;
			}


			&.selected {
				color: setcolor("black");
				background-color: setcolor("primary");
			}
		}
	}


	// Board

	&__footer {


		&-title {
			@extend .u-f--h4;
			@extend .u-f--bold;
			opacity: .6;
		}


		&-import {
			margin: 20px auto 0;
			padding: 30px;
			max-width: 540px;
			@extend .u-f--bold;
			color: setcolor("white");
			border: 2px solid setcolor("white");
			border-radius: 80px;
			opacity: .6;
		}


		&-time {
			margin: 20px auto 0;
			padding: 15px 30px;
			width: 100%;
			max-width: 540px;
			@extend .u-f--bold;
			border: none;
			border-radius: 45px;
			background-color: setcolor("black", "dark2");
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg id='icon-select-arrow' transform='translate(14) rotate(90)'%3E%3Cpath id='Trazado_97' data-name='Trazado 97' d='M14 7a7 7 0 1 0-7 7A7 7 0 0 0 14 7ZM5.29 10.71A1 1 0 0 1 5.284 9.3L5.29 9.29 7.41 7.18a.25.25 0 0 0 .007-.354L7.41 6.82 5.29 4.71A1 1 0 0 1 6.71 3.29l3 3A1 1 0 0 1 9.716 7.7L9.71 7.71l-3 3a1 1 0 0 1-1.414.006Z' transform='translate(0 0)' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: calc( 100% - 30px );
			appearance: none;
		}


		&-button {
			margin: 40px auto 0;
			width: fit-content;


			span {
				text-transform: uppercase;


				& + img {
					margin-left: 15px;
				}
			}
		}
	}
}