@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

// Layout
.jackpot {
  @extend %margin_horizontal_main, %margin_top_small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen-sm {
    flex-direction: row;
  }

  .splide__slide {
    margin-bottom: 25px;
  }

  // &-counter {
  //   @include screen-md {
  //     font-size: 3.3rem;
  //   }
  // }
  
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include screen-sm {
      width: calc(30% - $lg);
    }

    p:last-of-type {
      @extend .u-f--bold;
      color: setcolor('gray', 'dark1');
      margin: $sm 0;
    }
  }

  &__carousel {
    margin-top: $sm;

    @include screen-sm {
      margin-top: 0;
      width: 70%;
    }
  }

  &__card {
    &-image {
      position: relative;
      z-index: 0;
      transform: translateY(20%);
      background-color: setcolor("black", "dark2");
      border-radius: rem(10) rem(10) 0 0;

      img {
        transform: translateY(-20%);
        object-fit: cover;
        width: 100%;
      }
    }  

    &-content {
      position: relative;
      z-index: 1;
      background-color: setcolor("black");
      border-radius: 0 0 rem(10) rem(10);
      height: 7rem;

      text-align: center;

      padding: rem(10);
      padding-bottom: 0;

      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: space-between;

      @include tablet {
        padding: rem(20);
        padding-bottom: 0;
      }
      @include screen-sm {
        padding: $sm;
        padding-bottom: 0;
      }
      @include screen-md {
        padding: rem(20);
        padding-bottom: 0;
      }
      div{
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 177px;
          display: inline-block;
        }
        p:last-of-type {
          @extend .u-f--h3, .u-f--bold;
        } 
      }
      

      .jackpot__link {
        transform: translateY(50%);
        position: absolute;
        bottom: 0.5rem;

        img {
          display: none;

          @include mobile {
            display: inline-block;
          }

        }
      }
    }
  }
}
