@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Layout

.m-carousel_jackpot {
	@extend %margin_horizontal_main, %margin_bottom_large;
	display: flex;
	justify-content: space-between;
}

.o-carousel_jackpot--text {
	@include md {
		width: calc(30% - 60px);
	}
}

.o-carousel_jackpot--carousel {
	margin-top: 30px;

	@include md {
		margin-top: 0;
		width: 70%;
	}
}


// Navigation

.m-carousel_jackpot {


	.splide__arrows::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		z-index: 1;
		width: 80px;
		height: 100%;
		background: linear-gradient( 90deg, rgba( setcolor('black','dark'), 0 ) 0%, rgba( setcolor('black','dark'), 1 ) 100%);
	}

	.splide__arrow--prev {
		left: initial;
		right: 34px;
	}

	.splide__arrow--next {
		right: 0;
	}
}


// Navigation
// Card

.o-carousel_jackpot--carousel .o-card {

	.o-card--image {
		margin-top: 60px;
		background-color: setcolor('black','base');

		img {
			margin-top: -60px;
		}
	}

	.o-card--content {
		background-color: setcolor('black','light');
	}

	.o-card--title {
		@extend .u-f--h3;
	}
}