@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.filter__promo {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: rem(30);

    &-wrapper {
        display: flex;

        button {
            cursor: pointer;
            background-color: setcolor('black');
            height: rem(50);

            display: flex;
            align-items: center;

            margin: 0 rem(2);
            padding: 0 rem(20);

            &:hover, &:focus, &:active {
                background-color: setcolor('black', 'dark4');

                span {
                    color: setcolor('gray', 'light');
                }
            }

            img {
                height: rem(18);
                margin-right: rem(8);
            }

            span {
                @extend .u-f--bold;
                color: setcolor('gray', 'dark');
                margin: 0;
            }
        }

        button:first-of-type {
            border-radius: rem(5) 0 0 rem(5);
        }

        button:last-of-type {
            border-radius: 0 rem(5) rem(5) 0;
        }

    }
  }
