@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.slotsFinder {
  @extend %margin_horizontal_main;
  @extend %margin_top_small;

  display: grid;
  grid-template-columns: 1fr;

  @include screen-sm {
    grid-template-columns: minmax(rem(375), 24vw) 1fr;
  }

  .filterSlots {
    width: 100%;
  }

  .gridGames {
    width: 100%;

    @include screen-sm {
      margin-left: rem(5);
    }
    @include screen-md {
      margin-left: $md;
    }
  }
}

