@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.slotsFinder {
  @extend %margin_horizontal_main;
  @extend %margin_top_medium;

  display: flex;
  flex-direction: column;

  @include screen-sm {
    flex-direction: row;
  }

  .filterSlots {
    width: 25%;
  }

  .gridGames {
    width: 100%;

    @include screen-sm {
      width: 75%;
      margin-left: $md;
    }
  }
}

