@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.slotsBtn {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin-top: 30px;
    height: 65px;
    width: 90%;

    @include screen-sm {
      margin-top: 30px;
      height: 100px;
      padding: 0 120px;
      width: fit-content;
    }
  }
}

.gridFull {
  @extend %margin_horizontal_main, %margin_top_small;
  position: relative;
  overflow: hidden;

  .item {
    position: relative;

    border-radius: rem(10);
    overflow: hidden;

    height: 100%;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    & > a > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    @include tablet {
       &:hover {
        .gridHover {
          opacity: 1;
          transition: all 0.3s ease;
        }
      }   
    }
  }
}
