@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.grids__container {
  @extend %margin_horizontal_main, %margin_bottom_small;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.gridHalf {
  padding: 10px;
  height: 100%;

  background-color: setcolor("black");
  border-radius: rem(5);

  @include lg {
    padding: rem(30);
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 10px 0;

    .js-arrow__grid {
      cursor: pointer;
    }

    &-wrapper {
      display: flex;
      align-items: center;

      & > p {
        color: setcolor("primary");
        margin: 0;
        padding-right: 10px;
      }

      .icon__title {
        margin-left: rem(20);

        img {
          display: none;
          @include lg {
            display: inline-block;
          }
        }
      }
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;

    @include lg {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
    }

    &-item {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
