@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.m-grid-roulette {
	display: grid;
	gap: 15px;
	@extend %margin_horizontal_main, %margin_bottom_large;

	@include md {
		grid-template-columns: repeat( 2, 1fr );
	}
}