@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.grids__container {
  @extend %margin_horizontal_main, %margin_top_small;
  display: flex;
  flex-direction: column;
  row-gap: rem(5);

  @include screen-sm {
    flex-direction: row;
    column-gap: rem(10);
    row-gap: 0;
  }
}

.gridHalf {
  width: 100%;
  padding: $sm;
  height: 100%;

  background-color: setcolor("black", "dark2");
  border-radius: rem(5);

  @include screen-sm {
  }
  @include screen-md {
    width: 50%;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    
    @include screen-sm {
      padding: 0 0 $sm;
    }

    .js-arrow__grid {
      cursor: pointer;
      transform: rotate(-90deg);

      @include screen-sm {
        transform: rotate(0);
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;

      & > p {
        color: setcolor("primary");
        margin: 0;
        padding-right: 10px;
      }

      .icon__title {
        margin-left: rem(5);

        @include screen-sm {
          margin-left: $sm;
        }

        p {
          @extend .u-f--bold;
          font-size: rem(18);
        }

        img {
          display: none;
          @include screen-sm {
            display: inline-block;
          }
        }
      }
    }

    &-link {
      p {
        color: white;

        @include screen-sm {
          color: setcolor("primary");
        }
      }

      svg path {
        fill: white;

        @include screen-sm {
          fill: setcolor("primary");
        }
      }
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: hidden;
    
    height: 0;
    opacity: 0;
    
    @include mobile-sm {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(5, 1fr);
    }

    @include screen-sm {
      grid-template-columns: repeat(4, 1fr);
      height: 100%;
      opacity: 1;
    }
    
    @include screen-md {
      grid-template-columns: repeat(5, 1fr);
    }

    &-item {
      position: relative;

      & > img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: rem(10);
      }

      &:hover {
        .gridHover {
          opacity: 1;
          transition: all 0.3s ease;
        }
      }

      &--hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        padding-top: rem(40);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.3s ease;

        button {
          margin-bottom: $sm;
          display: flex;
          align-items: center;

          img {
            display: inline-block;
          }
        }
      }
    }
  }
}
