@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridFull {
    @extend %margin_horizontal_main, %margin_top_medium;
    position: relative;
    overflow: hidden;

    .item {
        position: relative;

        border-radius: rem(10);
        overflow: hidden;

        & > img {
            object-fit: contain;
            width: 100%;
        }

        &:hover {
            .gridHover {
              opacity: 1;
              transition: all 0.3s ease;
            }
          }
    }
}