@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.gridRoulette {
  @extend %margin_horizontal_main, %margin_top_medium;

  &__grid {
    display: grid;
    gap: $sm;

    grid-template-columns: 1fr;

    @include screen-sm {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__image {
    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    background-color: setcolor("black", "dark2");
    padding: $md rem(5) 0;
    border-radius: 0 0 rem(5) rem(5);

    @include screen-sm {
      padding: $lg rem(20) 0;
    }

    &-txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-title {
      @extend .u-f--h1, .u-f--bold;
      padding-bottom: $sm;
    }

    &-subtitle {
      @extend .u-f--h3, .u-f--bold;
      color: #a4a6a8;
      max-width: 90%;
      padding-bottom: $sm;
    }

    &-desc {
      color: #a4a6a8;
      max-width: 90%;
      padding-bottom: $sm;
    }
  }

  &__footer {
    width: fit-content;
    transform: translateY(50%);
  }
}
