@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.redIcons {
  @extend %margin_horizontal_main, %margin_bottom_small;

  display: grid;
  grid-template-columns: 6fr 5fr;

  @include lg {
    flex-direction: row;
  }

  p {
    @extend .u-f--bold;
    color: setcolor("primary");
  }

  &__wrapper {

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      img {
        width: rem(80);

        @include lg {
          width: rem(170);
        }
      }

      p {
        @extend .u-f--h4;
        max-width: 90%;
        text-align: center;

        @include lg {
          max-width: 70%;
        }
      }
    }

    &--left {
      justify-self: flex-start;
      display: flex;
    }

    &--right {
      justify-self: flex-end;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;

      @include lg {
        margin-left: rem(60);
        align-items: flex-start;
        text-align: left;
      }

      p:first-of-type {
        @extend .u-f--h1;
      }
      p:last-of-type {
        @extend .u-f--h3;
        max-width: 100%;

        @include lg {
          max-width: 70%;
        }
      }
    }
  }




}
