@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.imageTextTorneo {
  @extend %margin_horizontal_main, %margin_top_large;

  padding: $lg;

  position: relative;
  z-index: 0;

  background-image: linear-gradient(
    to right,
    setcolor("black", "dark1"),
    setcolor("black")
  );
  border-radius: rem(10);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include screen-sm {
    flex-direction: row;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding-bottom: $sm;
    text-align: center;

    @include screen-sm {
      align-items: flex-start;
      width: 40%;
      padding: $lg;
      text-align: left;
    }

    p {
      padding-bottom: $sm;
    }

    p:last-of-type {
      color: setcolor('gray', 'dark1');
    }

  }

  &__image {
    position: static;
    width: 100%;

    @include screen-sm {
      padding: $lg;
      width: 60%;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
