@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.landingSEOThemes {
	// @extend %margin_medium;
	padding-top: rem(15);
	padding-bottom: rem(15);
	@extend %padding_horizontal_main;
  background: transparent
    linear-gradient(
      180deg,
      rgba(setcolor("black", "dark2"), 0) 0%,
      setcolor("black", "dark2") 100%
    )
    0% 0% no-repeat padding-box;

  &__title {
    margin-bottom: $md;
    @extend .u-f--h3;
    @extend .u-f--bold;
    text-align: center;
  }

  &__grid {
    display: grid;
    column-gap: rem(10);
    row-gap: $md;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding-bottom: $md;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
	  grid-template-rows: repeat(2, 1fr);
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      margin-top: 20%;
      padding-right: $sm;
      padding-bottom: $sm;
      padding-left: $sm;

      border-radius: rem(5);
      background: transparent
        linear-gradient(
          180deg,
          setcolor("black") 0%,
          rgba(setcolor("black"), 0) 100%
        )
        0% 0% no-repeat padding-box;

      @include screen-sm {
        padding-right: $md;
        padding-bottom: $md;
        padding-left: $md;
      }

      &-image {
        margin-top: -20%;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
      }

      &-title {
        margin-top: $sm;
        margin-bottom: $sm;
        @extend .u-f--h3;
        @extend .u-f--bold;
        text-align: center;
      }

      &-button {
        width: 100%;
        padding-left: rem(10) !important;
        padding-right: rem(10) !important;

        span + img {
          margin-left: rem(10);
        }

        img {
          display: none;

          width: 1em;
          height: 1em;
          font-size: 14px;

          @include screen-sm {
            display: inline-block;
          }
        }
      }
    }
  }
}
