@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.landingSEO__gridFull {
	margin-top: rem(80);
	@extend %padding_horizontal_main;

	@include screen-sm {
		margin-top: rem(-80);
	}


	&-inner {
		background: transparent;
		border-radius: rem(10);

		@include screen-sm {
			background: setcolor('black', 'dark2');
		}
	}


	.headerModule {
		display: none;
	}


	.gridFullSeo {
		margin: 0;
		padding: 0;
		max-width: initial;

		@include screen-sm {
			padding: rem(10);
		}
	}
}