@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

@use '../components/alert';

body.mpu-open {
    height: 100vh;
    overflow: hidden;
}
.mpu {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    padding-bottom: $md;

    background-color: setcolor("gray", "light2");
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;

    &--open {
        opacity: 1;
        transform: translateY(0);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        min-height: 100%;
        @extend %margin_horizontal_main;
    }

    &__header {
        width: 100%;
        padding: $sm 0;
        z-index: 1;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: setcolor("gray", "light2");

        img:first-of-type {
            object-fit: cover;
            max-width: 60%;
        }
    }

    &__block {
        display: none;
        width: 100%;

        &.active {
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: setcolor("black", "dark1");
        justify-content: center;
        flex: 1 1 auto;

        p,
        span {
            color: setcolor("black", "dark1");
        }
        p {
            padding-bottom: $sm;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        @extend .u-f--bold, .u-f--h1;
        color: setcolor("black", "dark1");

        img {
            margin-right: rem(10);
        }
    }

    &__btn-close {
        cursor: pointer;
        width: rem(16);
        object-fit: cover;

        @include screen-sm {
            width: rem(22);
        }
    }

    &__step2-method {
        display: none;

        &.active {
            display: flex;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $sm;
    }

    &__btn {
        @extend %buttons;
        text-transform: uppercase;

        &--confirm {
            background-color: setcolor("secondary");

            &:hover {
                background-color: setcolor("secondary", "dark");
            }
        }
        
        &--deny {
            background-color: setcolor("warning");

            &:hover {
                background-color: setcolor("warning", "dark");
            }
        }
        
        &--cancel {
            background-color: setcolor("primary");

            &:hover {
                background-color: setcolor("primary", "dark");
            }
        }
    }

    &__logo {
        height: $xl;
        width: $xl;
    }
}
