@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.oneCol {
  @extend %margin_horizontal_main;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: setcolor("black", "dark2");
  border-radius: rem(10);
  padding: $md;
  margin-top: $sm;

  @include screen-sm {
    padding: rem(80);
  }
  @include screen-md {
    padding: rem(120);
  }
  @include screen-lg {
    padding: rem(150);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  p {
    @extend .u-f--bold;
  }

  &__title {
    @extend .u-f--h1;
  }

  &__subtitle {
    @extend .u-f--h2;
    padding-bottom: $sm;
  }

  &__body {
    @extend .u-f--h4;
    color: #a4a5a8;
    padding-bottom: $sm;
  }
}
