@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.pokerSatelitesOnline {


	&__Cards {
		position: relative;
	}


	&__Card {
		position: relative;
		z-index: 1;
		padding: 70px 35px 0;
		text-align: center;


		& + & {
			margin-top: 40px;

			@include screen-sm {
				margin-top: 0;
			}
		}


		&-title {
			@extend .u-f--h1;
			@extend .u-f--bold;
		}


		&-subtitle {
			margin-top: 35px;
			@extend .u-f--h4;
			@extend .u-f--bold;
			color: setcolor('primary');
		}


		&-price {
			margin-top: 15px;
			@extend .u-f--h1;
			@extend .u-f--bold;
			color: setcolor('primary');
		}


		&-button {
			position: relative;
			margin: 40px auto -22px;
			width: fit-content;


			span + img {
				margin-left: 20px;
			}
		}
	}


	&__astronauta {
		position: absolute;
		z-index: 0;
		right: -85px;
		bottom: -65px;
	}
}