@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.pokerSatelitesCEP__content {
	@extend %margin_horizontal_main, %margin_top_large;


	// Data

	&-data {
		text-align: center;

		@include screen-sm {
			text-align: left;
		}


		&-title {
			@extend .u-f--h1;
			@extend .u-f--bold;
		}


		&-subtitle {
			margin-top: $sm;
			margin-bottom: $sm;
			@extend .u-f--h4;
			@extend .u-f--bold;

			@include screen-sm {
				margin-top: $md;
				margin-bottom: $md;
			}
		}


		&-text {
			color: setcolor('primary');
		}


		&-price {
			margin-top: rem(7.5);
			@extend .u-f--h1;
			@extend .u-f--bold;
			color: setcolor('primary');

			@include screen-sm {
				margin-top: $sm;
			}
		}
	}


	// Badges

	&-badges {
		display: grid;
		gap: rem(5);

		@include screen-sm {
			gap: rem(10);
			grid-template-columns: 1fr 1fr;
		}


		&-item {
			display: grid;
			column-gap: rem(15);
			grid-template-columns: rem(50) 1fr rem(50);
			grid-template-rows: auto auto;
			padding: rem(30) rem(35) rem(35) rem(30);
			border-radius: rem(10);
			background-color: setcolor('black', 'dark2');


			&-image {
				grid-row: 1 / 3;
				width: 1em;
				height: 1em;
				font-size: rem(50);

				&:first-child {
					grid-column: 1 / 2;

					img:last-child {
						display: none;
					}
				}

				&:last-child {
					grid-column: 3 / 4;
					opacity: 0;
				}
			}


			&-title {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				@extend .u-f--h2;
				@extend .u-f--bold;
			}


			&-subtitle {
				grid-column: 2 / 3;
				grid-row: 2 / 3;
			}


			// Active

			&.is-active {
				background-color: setcolor('black');


				.pokerSatelitesCEP__content-badges-item {


					&-title {
						color: setcolor('primary');
					}


					&-subtitle {
						color: setcolor('primary');
					}


					&-image {

						&:first-child {

							img:first-child {
								display: none;
							}

							img:last-child {
								display: block;
							}
						}

						&:last-child {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}