@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Card

.pokerSatelitesOnline__card {
	position: relative;
	z-index: 1;
	padding: $lg $md 0;
	text-align: center;


	& + & {
		margin-top: $md;

		@include screen-sm {
			margin-top: 0;
		}
	}


	&-title {
		@extend .u-f--h1;
		@extend .u-f--bold;
	}


	&-subtitle {
		margin-top: $md;
		@extend .u-f--h4;
		@extend .u-f--bold;
		color: setcolor('primary');
	}


	&-price {
		margin-top: $sm;
		@extend .u-f--h1;
		@extend .u-f--bold;
		color: setcolor('primary');
	}


	&-button {
		position: relative;
		margin: $md auto 0;
		width: fit-content;
		transform: translateY(50%);


		span + img {
			margin-left: $sm;
		}
	}
}


// Cartoon doll

.pokerSatelitesOnline {
	@extend %margin_top_medium;

	.grids__container {
		position: relative;
	}

	&__cartoonDoll {
		position: absolute;
		z-index: 0;
		right: rem(-85);
		bottom: rem(-65);
		display: none;

		@include screen-sm {
			display: block;
		}
	}
}