@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.pokerSatelitesCEP__header {
	@extend %margin_horizontal_main, %margin_top_medium;
}


// Data

.pokerSatelitesCEP__data {
	text-align: center;

	@include screen-sm {
		text-align: left;
	}


	&-title {
		@extend .u-f--h1;
		@extend .u-f--bold;
	}


	&-subtitle {
		margin-top: 15px;
		margin-bottom: 15px;
		@extend .u-f--h4;
		@extend .u-f--bold;

		@include screen-sm {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}


	&-text {
		color: setcolor('primary');
	}


	&-price {
		margin-top: 7.5px;
		@extend .u-f--h1;
		@extend .u-f--bold;
		color: setcolor('primary');

		@include screen-sm {
			margin-top: 15px;
		}
	}
}


// Badges

.pokerSatelitesCEP__badges {
	display: grid;
	gap: rem(5);

	@include screen-sm {
		gap: rem(10);
		grid-template-columns: 1fr 1fr;
	}


	&-item {
		display: grid;
		column-gap: 15px;
		grid-template-columns: 50px 1fr 50px;
		grid-template-rows: auto auto;
		padding: 30px 35px 35px 30px;
		border-radius: 10px;
		background-color: setcolor('black', 'dark2');


		&-image {
			grid-row: 1 / 3;
			width: 1em;
			height: 1em;
			font-size: 50px;

			&:first-child {
				grid-column: 1 / 2;

				img:last-child {
					display: none;
				}
			}

			&:last-child {
				grid-column: 3 / 4;
				opacity: 0;
			}
		}


		&-title {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			@extend .u-f--h2;
			@extend .u-f--bold;
		}


		&-subtitle {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}


		// Active

		&.is-active {
			background-color: setcolor('black');


			.pokerSatelitesCEP__badges-item {


				&-title {
					color: setcolor('primary');
				}


				&-subtitle {
					color: setcolor('primary');
				}


				&-image {

					&:first-child {

						img:first-child {
							display: none;
						}

						img:last-child {
							display: block;
						}
					}

					&:last-child {
						opacity: 1;
					}
				}
			}
		}
	}
}


// Tables

.pokerSatelitesCEP__tables {
	background-color: setcolor('black', 'dark2');


	&-inner {
		@extend %margin_horizontal_main, %margin_top_medium;
		padding-top: 80px;
		padding-bottom: 80px;
	}


	&-title {
		@extend .u-f--h2;
		@extend .u-f--bold;

		&:not(:first-child) {
			margin-top: 80px;
		}
	}
}