@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.pokerSatelitesOnline {


	&__Cards {
		position: relative;
	}


	&__Card {
		position: relative;
		z-index: 1;
		padding: rem(70) rem(35) 0;
		text-align: center;


		& + & {
			margin-top: rem(40);

			@include screen-sm {
				margin-top: 0;
			}
		}


		&-title {
			@extend .u-f--h1;
			@extend .u-f--bold;
		}


		&-subtitle {
			margin-top: rem(35);
			@extend .u-f--h4;
			@extend .u-f--bold;
			color: setcolor('primary');
		}


		&-price {
			margin-top: $sm;
			@extend .u-f--h1;
			@extend .u-f--bold;
			color: setcolor('primary');
		}


		&-button {
			position: relative;
			margin: rem(40) auto rem(-22);
			width: fit-content;


			span + img {
				margin-left: rem(20);
			}
		}
	}


	&__astronauta {
		position: absolute;
		z-index: 0;
		right: rem(-85);
		bottom: rem(-65);
	}
}