@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.search {
  @extend %margin_horizontal_main;

  padding: $sm 0;

  display: none;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid setcolor("black", "dark5");

  @include screen-sm {
    display: flex;
  }

  .search__input {
    width: 50%;

    display: flex;
    align-items: center;

    img {
      height: rem(45);
      width: rem(45);
    }

    input {
      @extend .u-f--h2, .u-f--bold;
      border: none;
      background-color: transparent;
      outline: none;
      color: setcolor('gray', 'dark1');

      &::placeholder {
        color: setcolor('gray', 'dark1');
      }
    }
  }

  .search__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--home {
      img {
        margin-right: $sm;
      }

      p {
        @extend .u-f--h4, .u-f--bold;
        max-width: 60%;
        color: setcolor('gray', 'dark1');
        margin: 0;
      }
    }

    &--slots {
      display: flex;
      align-items: center;

      button {
        margin: 0;
        span {
          padding-right: rem(5)
        }
      }

      p {
        @extend .u-f--h4, .u-f--bold;
        color: setcolor("primary");
        text-align: right;
        margin: 0;
        margin-right: $sm;
      }
    }
  }
}
