@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.search-results {
    justify-content: center;
	flex-direction: column;
	@extend %margin_horizontal_main;
	display: none;

	&--active {
		display: flex;
	}

	&__summary {
		display: flex;
		font-family: setfont("family", "gotham");
		font-weight: setfont("weight", "book");
		padding: $sm 0 0;
		gap: $sm;

		&-query {

			span {
				font-weight: setfont("weight", "bold");
			}
		}

		&-count {
			color: setcolor("white", "light");
			
			span {
				color: setcolor("white", "light");
			}
		}
	}

	ul {

		margin-top: $sm;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: $xs;
		
		@include mobile {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		@include tablet {
			grid-template-columns: repeat(5, minmax(0, 1fr));
		}

		@include screen-sm {
			grid-template-columns: repeat(7, minmax(0, 1fr));
		}

		li {

			.search-result {
				background-color: setcolor("black", "base");
				border-radius: rem(3);
				display: block;
				height: 100%;
				overflow: hidden;

				em {
					text-decoration: underline;
					font-style: normal;
				}

				&__info {
					padding: $sm;
				}

				&__name {
					font-size: 18px;
					font-weight: 700;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					margin-bottom: 5px;
				}

				&__provider {
					font-size: 14px;
					color: rgba($color: #fff, $alpha: 0.5);
					font-family: "Gotham";
					text-transform: capitalize;
				}

				&__image {
					width: 100%;
					aspect-ratio: 1;
					object-fit: cover;
				}
			}

		}
	}
}
