@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.search-results {
	display: flex;
    justify-content: center;

	&__content {
		@extend %margin_horizontal_main;
		
	}

	&__head {

	}

	ul {

		margin-top: $sm;
		display: flex;
		gap: $xs;
		flex-wrap: wrap;

		li {

			.search-result {
				background-color: setcolor("black", "base");
				border-radius: rem(3);
				width: 168px;
				display: block;
				height: 100%;
				overflow: hidden;

				&__info {
					padding: $sm;
				}

				&__name {
					font-size: 18px;
					font-weight: 700;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					margin-bottom: 5px;
				}

				&__provider {
					font-size: 14px;
					color: rgba($color: #fff, $alpha: 0.5);
					font-family: "Gotham";
					text-transform: capitalize;
				}

				&__image {
					width: 100%;
					aspect-ratio: 1;
					object-fit: cover;
				}
			}

		}
	}
}
