@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.stepsLandingA {
  @extend %padding_horizontal_main;
  height: 100%;

  background-color: setcolor("black");

  @include screen-sm {
    height: 6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include screen-sm {
      flex-direction: row;
    }
  }

  &__step {
    position: relative;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    border-bottom: solid 1px setcolor("black", "dark1");

    @include screen-sm {
      border: none;
    }

    &-wrapper {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 6rem;

      display: flex;
      align-items: center;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 100%;
      padding-left: 0;
      
      background-color: setcolor("black");
      
      @include screen-sm {
        height: 6rem;
        width: 85%;
      }
    }

    &-gradient {
      display: none;

      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 6rem;
      background-image: linear-gradient(to right, black 70%, transparent);

      @include screen-sm {
        display: block;
      }
    }

    &-icon {
      @extend .u-f--h3, .u-f--bold;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: $sm;

      color: white;
      width: rem(50);
      height: rem(50);
      background-color: setcolor("primary");
      border-radius: 200px;
      border: rem(10) solid #a82838;
      box-sizing: content-box;
    }

    &-flex {
      display: flex;
      flex-direction: column;
    }

    &-title,
    &-subtitle {
      color: setcolor("primary");
      @extend .u-f--bold;
    }

    &-title {
      @extend .u-f--h3;
    }

    &-path {
      display: none;

      height: 6rem;
      width: rem(45);

      clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 0%);
      background-color: setcolor("black");

      @include screen-sm {
        display: block;
      }
    }
  }
}
