@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Layout

.textBlock {
	@extend %margin_horizontal_main, %margin_top_large;

	p {
		padding-bottom: $sm;
	}

	a, li {
		font-weight: 100;
	}

	.title-big {
		@extend .u-f--h2;
	}

	.title {
		@extend .u-f--h3;
	}

	.bold {
		@extend .u-f--bold;
	}

	.margin-big {
		padding-bottom: $md;
	}

	.gray {
		color: #939598;
	}
}