@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.txt2cols {
  @extend %margin_horizontal_main, %margin_top_medium;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

  gap: $sm;

  grid-template-areas:
    "title"
    "body"
    "btn";

  @include screen-sm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title body"
      "btn .";
  }

  &__title p {
    @extend .u-f--h2, .u-f--bold;
  }

  &__body p {
    padding-bottom: rem(10);
  }
}
