@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.pageContainer {
  overflow: hidden;
}

.withdrawScreen,
.depositScreen {
  display: none;

  &.block-active {
    display: block !important;
  }
}

.userScreen {
  position: relative;
  display: block;
  opacity: 1;

  width: 100%;

  .userContent {
    margin-left: 0;
    min-height: calc(100vh - 85px);
    padding: $md $sm 12vh $sm;

    background-color: setcolor("gray", "light2");
    overflow: hidden;

    opacity: 0;

    @include mobile {
      padding: $md $md 12vh $md;
    }
    @include tablet {
      padding: $md $lg 12vh $lg;
    }
    @include screen-sm {
      width: 80%;
      margin-left: 20%;

      padding: $md;
    }

    .dataBlock,
    .dataModifyBlock,
    .docsBlock,
    .docsVerifyBlock,
    .docsVerifyBlock2 {
      display: none;

      &.block-active {
        display: block !important;
      }
    }
  }

  .userMenu {
    position: fixed;
    width: 20%;
    left: 0;
    opacity: 0;

    overflow: hidden;

    background-color: setcolor("gray", "light1");
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    padding: $md $sm;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    @include screen-sm {
      display: flex;
    }

    .nav {
      &__title {
        margin-bottom: $md;
        padding-left: $sm;
        & > p {
          @extend .u-f--h3, .u-f--bold;
          color: setcolor("black", "dark1");
          margin-bottom: rem(10);
        }

        &-verify {
          display: flex;
          img {
            margin-right: rem(10);
            width: rem(18);
            height: rem(18);
          }
          p {
            color: setcolor("secondary");
            @extend .u-f--bold;
          }
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: $sm $sm;
        border-bottom: 1px solid setcolor("gray", "light2");

        cursor: pointer;

        &.nav-active {
          p {
            color: setcolor("secondary");
          }

          .nav__item-icon,
          .nav__item-icon g,
          .nav__item-icon path,
          .nav__item-icon g path,
          .nav__item-icon g circle {
            stroke: setcolor("secondary");
          }

          .nav__item-arrow,
          .nav__item-arrow g,
          .nav__item-arrow path,
          .nav__item-arrow g path,
          .nav__item-arrow g circle {
            fill: setcolor("secondary");
          }
        }

        &--left {
          display: flex;
          align-items: center;

          p {
            margin: 0;
            margin-left: $sm;
            color: setcolor("black", "dark1");
            @extend .u-f--bold;
          }
        }
      }

      &__btn {
        display: flex;
        justify-content: center;

        margin-top: $sm;

        a {
          height: rem(45);
          padding: 0;
          width: 90%;
          box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
        }
      }
    }

    .userMenu__session {
      display: flex;
      align-items: center;

      margin-left: $sm;

      span {
        color: setcolor("black", "dark1");
        margin-left: $sm;
      }
    }
  }
}
