<div class="breadcrumbs">
  <a href=""><span><%= bc.first %></span></a>

  <% if (bc.second) { %>
      <img src="img/icons/icon-arrow-breadcrumb.svg" alt="">
      <a href=""><span><%= bc.second %></span></a>
  <% } %>

  <% if (bc.third) { %>
      <img src="img/icons/icon-arrow-breadcrumb.svg" alt="">
      <a href=""><span><%= bc.third %></span></a>
  <% } %>

    <img src="img/icons/icon-arrow-breadcrumb.svg" alt="">
    <span class="breadcrumbs__current"><%= bc.current %></span>

</div>