<div class="gridHover--favourites">
    <div class="gridHover__header">
        <img src="img/icons/icon-verifyBanner-cross.svg" class="gridHover--favourites-close" alt="Eliminar de favoritos">
    </div>
    <a href="#" class="gridHover--favourites-btn btn__red btn__red--glow">
        <span>¡JUEGA!</span>
        <img src="img/icons/icon-play-white.svg" alt="">
    </a>
    <div></div>
</div>