<div class="gridHover">
    <p class="gridHover__title">Finn Golden Tavern</p>
    <a href="#" class="gridHover__btn">
        <button class="btn__red btn__red--glow">
            <span>¡JUEGA!</span>
            <img src="img/icon-play-white.svg" alt="">
        </button>
        <p>PRUÉBALO</p>
    </a>
    <div></div>
</div>