<div class="gridHover--ruleta">
    <div></div>
    <a href="#" class="gridHover--ruleta-btn btn__red btn__red--glow">
        <span>¡JUEGA!</span>
        <img src="img/icons/icon-play-white.svg" alt="">
    </a>
    <div class="gridHover--ruleta-logo">
        <img src="img/logos/logo-ruleta-playtech.svg" alt="">
    </div>
</div>