@font-face {
	font-family: 'Lexend';
	src: url(../../fonts/Lexend-300.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend';
	src: url(../../fonts/Lexend-400.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend';
	src: url(../../fonts/Lexend-500.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend';
	src: url(../../fonts/Lexend-700.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Thin.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Book.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Black.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}