@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap');

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Thin.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Book.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Black.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url(../../fonts/Gotham-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}