<div class="withdraw">
    <div class="withdraw__block withdraw__step2">
        <%- include ('./objects/user/withdraw-step2/withdraw-paysafe') %>
    </div>
</div>
<%- include ('./objects/user/withdraw-step2/payout-scripts') %>