<div class="mpu__content">
	<div class="mpu__title">
		Prevención de Conductas Adictivas al Juego
	</div>
	<div class="mpu__body">
		<div id="questionnaireContainer" class="questionarie">
			<div class="questionarie__wrapper">
				<div class="questionarie_row">
					<p id="pregunta1">1.- ¿Te encuentras a menudo recordando experiencias pasadas de juego, planificando
						la
						próxima vez que vas a jugar y/o te planteas formas de conseguir dinero con el que jugar?</p>
					<div>
						<div>
							<input class="toggle" id="r1si" type="radio" name="respuesta1" value="1"><label
								for="r1si"><span>Si</span></label>
							<input class="toggle" id="r1no" type="radio" name="respuesta1" value="0"><label
								for="r1no"><span>No</span></label>
						</div>
					</div>
				</div>
				<div class="questionarie__row">
					<p id="pregunta2">2.- ¿Has jugado alguna vez más dinero de lo que tenías pensado?</p>
					<div>
						<div>
							<input class="toggle" id="r2si" type="radio" name="respuesta2" value="1"><label
								for="r2si"><span>Si</span></label>
							<input class="toggle" id="r2no" type="radio" name="respuesta2" value="0"><label
								for="r2no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta3">3.- ¿Intentas controlar, interrumpir o detener el juego?</p>
					<div>
						<div>
							<input class="toggle" id="r3si" type="radio" name="respuesta3" value="1"><label
								for="r3si"><span>Si</span></label>
							<input class="toggle" id="r3no" type="radio" name="respuesta3" value="0"><label
								for="r3no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta4">4.- El intento de interrumpir o detener el juego, ¿ te produce inquietud o
						irritabilidad?</p>
					<div>
						<div>
							<input class="toggle" id="r4si" type="radio" name="respuesta4" value="1"><label
								for="r4si"><span>Si</span></label>
							<input class="toggle" id="r4no" type="radio" name="respuesta4" value="0"><label
								for="r4no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta5">5.- ¿Juegas para evadirte de algún problema?</p>
					<div>
						<div>
							<input class="toggle" id="r5si" type="radio" name="respuesta5" value="1"><label
								for="r5si"><span>Si</span></label>
							<input class="toggle" id="r5no" type="radio" name="respuesta5" value="0"><label
								for="r5no"><span>No</span></label>
						</div>
					</div>
				</div>
			</div>
			<div class="w45">
				<div class="questionarie__row">
					<p id="pregunta6">6.- Cuando juegas con dinero, ¿vuelves otra vez a jugar para recuperar el dinero
						perdido?</p>
					<div>
						<div>
							<input class="toggle" id="r6si" type="radio" name="respuesta6" value="1"><label
								for="r6si"><span>Si</span></label>
							<input class="toggle" id="r6no" type="radio" name="respuesta6" value="0"><label
								for="r6no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta7">7.- ¿Crees que tienes algún problema con el juego?</p>
					<div>
						<div>
							<input class="toggle" id="r7si" type="radio" name="respuesta7" value="1"><label
								for="r7si"><span>Si</span></label>
							<input class="toggle" id="r7no" type="radio" name="respuesta7" value="0"><label
								for="r7no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta8">8.- ¿Financias tu actividad de juego mediante dinero familiar, préstamo,
						falsificación, fraude o robo?</p>
					<div>
						<div>
							<input class="toggle" id="r8si" type="radio" name="respuesta8" value="1"><label
								for="r8si"><span>Si</span></label>
							<input class="toggle" id="r8no" type="radio" name="respuesta8" value="0"><label
								for="r8no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta9">9.- ¿Has perdido alguna vez tiempo de trabajo o de clase debido al juego?</p>
					<div>
						<div>
							<input class="toggle" id="r9si" type="radio" name="respuesta9" value="1"><label
								for="r9si"><span>Si</span></label>
							<input class="toggle" id="r9no" type="radio" name="respuesta9" value="0"><label
								for="r9no"><span>No</span></label>
						</div>
					</div>
				</div>

				<div class="questionarie__row">
					<p id="pregunta10">10.- ¿Has acudido a alguien para que te ayude con tus problemas económicos
						producidos
						por el juego?</p>
					<div>
						<div>
							<input class="toggle" id="r10si" type="radio" name="respuesta10" value="1"><label
								for="r10si"><span>Si</span></label>
							<input class="toggle" id="r10no" type="radio" name="respuesta10" value="0"><label
								for="r10no"><span>No</span></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mpu__actions">
		<a href="#" class="mpu__btn mpu__btn--confirm">Enviar</a>
		<a href="#" class="mpu__btn mpu__btn--cancel">Cancelar</a>
		<!-- <button class="btn--primary" onclick="validateAndContinue();">Enviar</button>
			<a class="btn--secondary" href="javascript:closeMpu();">Cancelar</a> -->
	</div>
</div>

<script>
	function validateAndContinue() {
		var valid = 0;
		var jsonText = "[";
		for (groupId = 1; groupId < 11; groupId++) {
			jsonText += "{";
			var grupo = document.getElementsByName("respuesta" + groupId);
			var pregunta = document.querySelector("#pregunta" + groupId).textContent;
			var numResp = grupo.length;
			for (resp = 0; resp < numResp; resp++) {
				if (grupo[resp].checked) {
					jsonText += '"label":"' + pregunta + '","response":"' + grupo[resp].value + '"}';
					valid++;
					break;
				}
			}
			if (groupId < 10) {
				jsonText += ",";
			}
		}
		jsonText += "]";
		if (valid == 10) {
			var b64 = window.btoa(jsonText);
			document.getElementById("questionnaireB64").value = b64;
			showConfirmation(document.querySelector('#limitsForm'))
		} else {
			alert("Es necesario contestar a todas las preguntas");
		}
	}
	document.querySelector(".mpu__btn--confirm").addEventListener("click", function() {
		validateAndContinue();
	});
	document.querySelector(".mpu__btn--cancel").addEventListener("click", function() {
		closeMpu();
	});
</script>