<div class="withdraw container container--narrow">
    <div class="withdraw__block withdraw__step3">
        <%- include ('./objects/user/withdraw-step3') %>
    </div>
</div>
<%- include ('./objects/user/withdraw-step2/payout-scripts') %>