<%- include ('layout/head', {title: "Iniciar Sesión" , css: "recoverPassword" }) %>

    <div class="login__block login__recover">
        <%- include ('objects/user/login-recover') %>
    </div>

    <%- include ('layout/scripts', { script: 'recoverPassword' })%>
    
    <script>

        async function handleLogin(user, pass) {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    if (user === pass) {
                        resolve('Sesión iniciada correctamente');
                    }
                    reject('Usuario y/o contraseña incorrectos'); 
                }, 1000); 
            })
        }
    </script>