<%- include ('layout/head', { title: "Slots Game" , css: "screen-game" }) %>

<%- include ('layout/header') %>

<main class="screenGame has-header">

    <img src="img/images/img-screen.jpg" alt="">

    <%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts', { script: 'screens' }) %>