<%- include ('layout/head', {title: "Iniciar Sesión" , css: "signIn" }) %>

    <div class="login__block login__signIn">
        <%- include ('objects/user/login') %>
    </div>

    <%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'signIn', screen: 'login' })%>
    
    <script>

        async function handleLogin(user, pass) {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    if (user === pass) {
                        resolve('success');
                    }
                    reject('Usuario y/o contraseña incorrectos'); 
                }, 1000); 
            })
        }
    </script>