@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap");
:root {
  --horizontal-main-xs: 1.25rem;
  --horizontal-main-sm: 1.25rem;
  --horizontal-main-md: 2.5rem;
  --horizontal-main-lg: 3.75rem;
  --horizontal-main-xl: 7.5rem;
  --horizontal-main-xxl: 9.375rem;
  --horizontal-large-xs: 2.5rem;
  --horizontal-large-sm: 2.5rem;
  --horizontal-large-md: 5rem;
  --horizontal-large-lg: 7.5rem;
  --horizontal-large-xl: 18.75rem;
  --horizontal-large-xxl: 18.75rem;
  --vertical-small-xs: 3.125rem;
  --vertical-small-sm: 3.125rem;
  --vertical-small-md: 6.25rem;
  --vertical-small-lg: 3.125rem;
  --vertical-small-xl: 6.25rem;
  --vertical-small-xxl: 6.25rem;
  --vertical-medium-xs: 5rem;
  --vertical-medium-sm: 5rem;
  --vertical-medium-md: 8.75rem;
  --vertical-medium-lg: 5rem;
  --vertical-medium-xl: 9.375rem;
  --vertical-medium-xxl: 9.375rem;
  --vertical-large-xs: 6.25rem;
  --vertical-large-sm: 6.25rem;
  --vertical-large-md: 11.25rem;
  --vertical-large-lg: 6.25rem;
  --vertical-large-xl: 15.625rem;
  --vertical-large-xxl: 15.625rem;
}

/* Color Class */
.u-c--p {
  color: #FF293E;
}

.u-c--p-l {
  color: #ff5264;
}

.u-c--p-d {
  color: #5a1c26;
}

.u-c--s {
  color: #00D1BC;
}

.u-c--s-l {
  color: #99e4de;
}

.u-c--s-d {
  color: #02b5a4;
}

.u-c--g {
  color: #d4d7da;
}

.u-c--g-l {
  color: #eaedef;
}

.u-c--g-lr {
  color: #f4f6f8;
}

.u-c--g-d {
  color: #a0a2a4;
}

.u-c--g-dr {
  color: #868B92;
}

.u-c--b {
  color: #1c2026;
}

.u-c--b-l {
  color: #25292f;
}

.u-c--b-d {
  color: #13171d;
}

.u-c--w {
  color: #ffffff;
}

.u-c--w-l, .o-card--subtitle, .o-card--content {
  color: rgba(255, 255, 255, 0.6);
}

.u-c--danger {
  color: #EC0000;
}

.u-c--danger-l {
  color: #eb9b9c;
}

.u-c--warning {
  color: #E99C00;
}

.u-c--warning-l {
  color: #ead19c;
}

/* Background Class */
.u-bg--p {
  background-color: #FF293E;
}

.u-bg--p-l {
  background-color: #ff5264;
}

.u-bg--p-d {
  background-color: #5a1c26;
}

.u-bg--s {
  background-color: #00D1BC;
}

.u-bg--s-l {
  background-color: #99e4de;
}

.u-bg--s-d {
  background-color: #02b5a4;
}

.u-bg--g {
  background-color: #d4d7da;
}

.u-bg--g-l {
  background-color: #eaedef;
}

.u-bg--g-lr {
  background-color: #f4f6f8;
}

.u-bg--g-d {
  background-color: #a0a2a4;
}

.u-bg--g-dr {
  background-color: #868B92;
}

.u-bg--b {
  background-color: #1c2026;
}

.u-bg--b-l {
  background-color: #25292f;
}

.u-bg--b-d {
  background-color: #13171d;
}

.u-bg--w {
  background-color: #ffffff;
}

.u-bg--w-l {
  background-color: rgba(255, 255, 255, 0.6);
}

.u-bg--danger {
  background-color: #EC0000;
}

.u-bg--danger-l {
  background-color: #eb9b9c;
}

.u-bg--warning {
  background-color: #E99C00;
}

.u-bg--warning-l {
  background-color: #ead19c;
}

/* Font Family Class */
.u-f--primary {
  font-family: "Lexend";
}

/* Font Weight Class */
.u-f--light, .u-f--light p {
  font-weight: 300;
}

.u-f--book, .u-f--book p {
  font-weight: 400;
}

.u-f--medium, .u-f--medium p {
  font-weight: 500;
}

.u-f--bold, .m-red__icons p, .m-search .o-search--input input, .m-search .o-search--wrapper p, .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p, .o-card--title, .o-card--subtitle, .u-f--bold p, .m-search .o-search--input input p, .o-card--title p, .o-card--subtitle p {
  font-weight: 700;
}

/* Font Size Class */
.u-f--h1, .m-red__icons .o-red__icons--wrapper_right p:first-of-type, .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h1, .m-red__icons .o-red__icons--wrapper_right p:first-of-type, .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h1, .m-red__icons .o-red__icons--wrapper_right p:first-of-type, .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h1, .m-red__icons .o-red__icons--wrapper_right p:first-of-type, .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
    font-size: 3.625rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h1, .m-red__icons .o-red__icons--wrapper_right p:first-of-type, .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
    font-size: 3.625rem;
  }
}

.u-f--h2, .m-search .o-search--input input, .o-card--title {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h2, .m-search .o-search--input input, .o-card--title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h2, .m-search .o-search--input input, .o-card--title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h2, .m-search .o-search--input input, .o-card--title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h2, .m-search .o-search--input input, .o-card--title {
    font-size: 2rem;
  }
}

.u-f--h3, .m-red__icons .o-red__icons--wrapper_right p:last-of-type, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
  font-size: 1.375rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h3, .m-red__icons .o-red__icons--wrapper_right p:last-of-type, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h3, .m-red__icons .o-red__icons--wrapper_right p:last-of-type, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h3, .m-red__icons .o-red__icons--wrapper_right p:last-of-type, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h3, .m-red__icons .o-red__icons--wrapper_right p:last-of-type, .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
    font-size: 1.375rem;
  }
}

.u-f--h4, .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p, .m-search .o-search--wrapper p, .o-card--subtitle {
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h4, .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p, .m-search .o-search--wrapper p, .o-card--subtitle {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h4, .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p, .m-search .o-search--wrapper p, .o-card--subtitle {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h4, .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p, .m-search .o-search--wrapper p, .o-card--subtitle {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h4, .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p, .m-search .o-search--wrapper p, .o-card--subtitle {
    font-size: 1.125rem;
  }
}

.u-f--h5, .o-card--content, .c-breadcrumbs span {
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h5, .o-card--content, .c-breadcrumbs span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h5, .o-card--content, .c-breadcrumbs span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h5, .o-card--content, .c-breadcrumbs span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h5, .o-card--content, .c-breadcrumbs span {
    font-size: 0.875rem;
  }
}

.u-flex {
  display: flex;
}

.u-flex__col {
  display: flex;
  flex-direction: column;
}

.u-flex--lg {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .u-flex--lg {
    flex-direction: row;
  }
}

.u-flex__col--lg {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 992px) {
  .u-flex__col--lg {
    flex-direction: column;
  }
}

.m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
  padding-left: var(--horizontal-main-xs);
  padding-right: var(--horizontal-main-xs);
}
@media only screen and (min-width: 576px) {
  .m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
    padding-left: var(--horizontal-main-sm);
    padding-right: var(--horizontal-main-sm);
  }
}
@media only screen and (min-width: 768px) {
  .m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
    padding-left: var(--horizontal-main-md);
    padding-right: var(--horizontal-main-md);
  }
}
@media only screen and (min-width: 992px) {
  .m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
    padding-left: var(--horizontal-main-lg);
    padding-right: var(--horizontal-main-lg);
  }
}
@media only screen and (min-width: 1200px) {
  .m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
    padding-left: var(--horizontal-main-xl);
    padding-right: var(--horizontal-main-xl);
  }
}
@media only screen and (min-width: 1600px) {
  .m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
    padding-left: var(--horizontal-main-xxl);
    padding-right: var(--horizontal-main-xxl);
  }
}
@media only screen and (min-width: 1900px) {
  .m-image_text, .m-red__icons, .m-search, .m-banner .o-banner--wrapper .o-banner--layout, .m-banner__car, .m-footer {
    max-width: 100rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.u-btn--red, .u-btn--white, .u-btn_ghost--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
  display: inline-block;
  font-family: "Lexend";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  border-radius: 6.25rem;
  transition: all 0.3s;
}
@media only screen and (min-width: 768px) {
  .u-btn--red, .u-btn--white, .u-btn_ghost--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 0.75rem;
    padding: 0.9375rem 1.5625rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-btn--red, .u-btn--white, .u-btn_ghost--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 0.75rem;
    padding: 0.9375rem 1.875rem;
  }
}
.u-btn--red > *, .u-btn--white > *, .u-btn_ghost--red > *, .btn_border > *, .btn_border_secondary > *, .btn_white > *, .btn_border_white > * {
  vertical-align: middle;
}
.u-btn--red svg, .u-btn--white svg, .u-btn_ghost--red svg, .btn_border svg, .btn_border_secondary svg, .btn_white svg, .btn_border_white svg {
  font-size: inherit;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:focus, a:hover, a:active {
  outline: 0;
}

html {
  overflow-x: hidden !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lexend";
  font-size: 0.875rem;
  background: #13171d;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.125rem;
  }
}

p {
  font-family: "Lexend";
  font-size: 0.875rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  p {
    font-size: 1.125rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 2.5rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.625rem;
  }
}

h3 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}

h4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

h6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.c-icon__title a, .c-icon__title {
  display: flex;
  align-items: center;
}
.c-icon__title a img, .c-icon__title img {
  height: 14px;
  width: 14px;
}
.c-icon__title a p, .c-icon__title p {
  margin: 0;
  padding-left: 5px;
}

.c-header--user {
  align-items: center;
}
.c-header--user div {
  padding-right: 10px;
}
.c-header--user p {
  margin: 0;
  text-align: right;
}

.svg-icon-inline, .svg-icon {
  align-items: center;
  width: 1em;
  height: 1em;
  background-color: transparent;
  fill: currentColor;
}

.svg-icon {
  display: flex;
}

.svg-icon-inline {
  display: inline-flex;
}

.u-btn--red {
  color: #ffffff;
  background: #FF293E;
}
.u-btn--red:hover {
  color: #f4f6f8;
  background: #ff5264;
}

.u-btn--white {
  color: #25292f;
  background: #ffffff;
}
.u-btn--white:hover {
  color: #25292f;
  background: #d4d7da;
}

.u-btn_ghost--red {
  color: #FF293E;
  background-color: transparent;
  border: 2px solid #FF293E;
}
.u-btn_ghost--red > * + * {
  margin-left: 0.25em;
}

.u-btn--size_big {
  padding: 21px 30px;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .u-btn--size_big {
    padding: 30px 40px;
    font-size: 16px;
  }
}

.u-btn--icon_right {
  position: relative;
}
.u-btn--icon_right img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
}

.btn_border {
  background: transparent;
  color: #ffffff;
  border: 2px solid #FF293E;
}
.btn_border:hover {
  color: #00D1BC;
  background: #FF293E;
}

.btn_border_secondary {
  background: #ffffff;
  color: #00D1BC;
  border: 2px solid #00D1BC;
}
.btn_border_secondary:hover {
  color: #ffffff;
  background: #02b5a4;
}

.btn_white {
  color: #00D1BC;
  background: #ffffff;
}
.btn_white:hover {
  color: #00D1BC;
  background: #FF293E;
}

.btn_border_white {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn_border_white:hover {
  color: #00D1BC;
  background: #ffffff;
}

.btn_link, .btn_link--white, .btn_link--secondary {
  font-size: 1rem;
  line-height: 1em;
  text-decoration: underline;
  color: #FF293E;
  transition: all 0.3s;
}
@media only screen and (min-width: 768px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1600px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1.25rem;
  }
}
.btn_link:hover, .btn_link--white:hover, .btn_link--secondary:hover {
  color: #5a1c26;
}

.btn_link--secondary {
  color: #00D1BC;
}
.btn_link--secondary:hover {
  color: #02b5a4;
}

.btn_link--white {
  color: #ffffff;
}
.btn_link--white:hover {
  color: #FF293E;
}

.c-breadcrumbs span:not(:last-of-type) {
  margin-right: 5px;
}
.c-breadcrumbs span:last-of-type {
  color: #a0a2a4;
}

body {
  top: 8vh;
}

.m-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 6vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 17px 22px 2px rgb(0, 0, 0);
  background-color: #13171d;
}
@media only screen and (min-width: 992px) {
  .m-header {
    height: 8vh;
    padding: 0 30px;
  }
}
.m-header .o-header--wrapper {
  align-items: center;
}
.m-header .o-header--wrapper:first-of-type {
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper:first-of-type {
    display: none;
  }
}
.m-header .o-header--wrapper:nth-of-type(3) {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper:nth-of-type(3) {
    display: inline-block;
  }
}
.m-header .o-header--wrapper:last-of-type {
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper:last-of-type {
    display: none;
  }
}
.m-header .o-header--wrapper .header--logo {
  width: 195px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper .header--logo {
    margin-right: 30px;
    width: auto;
  }
}
.m-header .o-header--wrapper .header--logo img {
  width: 100%;
  object-fit: contain;
}
.m-header .o-header--wrapper .o-header--nav_bar {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper .o-header--nav_bar {
    display: inline-block;
  }
}
.m-header .o-header--wrapper .c-icon__title {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper .c-icon__title {
    display: inline-block;
  }
}
.m-header .o-header--wrapper .c-header--user > div {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-header .o-header--wrapper .c-header--user > div {
    display: inline-block;
  }
}
.m-header .o-header--wrapper button {
  width: 190px;
  margin-left: 10px;
}

.m-header--mobile {
  position: fixed;
  z-index: 10;
  bottom: 120px;
  left: 0;
  width: 100%;
  height: auto;
  box-shadow: 0px -17px 22px 2px rgb(0, 0, 0);
  background-color: #13171d;
  padding: 10px 20px;
  display: inline-block;
}
@media only screen and (min-width: 992px) {
  .m-header--mobile {
    display: none;
  }
}
.m-header--mobile button {
  width: 50%;
}
.m-header--mobile button:first-of-type {
  margin-right: 5px;
}
.m-header--mobile button:last-of-type {
  margin-left: 5px;
}

.m-footer .o-footer--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "casino info follow client";
  justify-items: center;
}
.m-footer .o-footer--grid .o-footer--grid_item:nth-of-type(1) {
  grid-area: "casino";
}
.m-footer .o-footer--grid .o-footer--grid_item:nth-of-type(2) {
  grid-area: "info";
}
.m-footer .o-footer--grid .o-footer--grid_item:nth-of-type(3) {
  grid-area: "follow";
}
.m-footer .o-footer--grid .o-footer--grid_item:nth-of-type(3) li a {
  display: flex;
  align-items: center;
}
.m-footer .o-footer--grid .o-footer--grid_item:nth-of-type(3) li a img {
  margin-right: 10px;
}
.m-footer .o-footer--grid .o-footer--grid_item:nth-of-type(4) {
  grid-area: "client";
}
.m-footer .o-footer--grid p {
  font-weight: 700;
}
.m-footer .o-footer--grid li {
  padding-bottom: 10px;
}
.m-footer .o-footer--grid li a {
  color: white;
}
.m-footer .o-footer--brands {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.m-footer .o-footer--brands .o-footer--logo {
  position: relative;
}
.m-footer .o-footer--brands .o-footer--logo hr {
  position: absolute;
  top: -15px;
  left: -25%;
  width: 150vw;
  border: none;
  border-top: 1px solid #1c2026;
}
.m-footer .o-footer--brands .o-footer--logo ul {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.m-footer .o-footer--brands .o-footer--logo ul li {
  margin: 0 10px;
}

.m-banner__car {
  margin-top: 60px;
  margin-bottom: 60px;
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .o-banner__car--wrapper .o-banner__car--item {
    flex-direction: row;
  }
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper {
    width: 50%;
    height: 470px;
  }
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper button {
  width: 160px;
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper button img {
  height: 14px;
  width: 14px;
  margin-right: 10px;
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper img {
  object-fit: contain;
  object-position: right;
  width: auto;
  height: 100%;
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:first-of-type {
    text-align: left;
  }
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper p:last-of-type {
    display: inline-block;
    font-weight: 700;
    line-height: 1.2em;
    color: #d4d7da;
  }
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  background-color: #25292f;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper:first-of-type {
    padding: 60px;
    align-items: flex-start;
  }
}
.m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper:last-of-type {
  height: 250px;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .o-banner__car--wrapper .o-banner__car--item .o-banner__car--item-wrapper:last-of-type {
    height: auto;
  }
}
.m-banner__car .splide__arrow {
  top: 100%;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .splide__arrow {
    top: 50%;
  }
}
.m-banner__car .splide__arrow img {
  height: 30px;
  width: 30px;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .splide__arrow img {
    height: 40px;
    width: 40px;
  }
}
.m-banner__car .splide__arrow--prev {
  left: 10%;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .splide__arrow--prev {
    left: -15px;
  }
}
.m-banner__car .splide__arrow--next {
  right: 10%;
}
@media only screen and (min-width: 992px) {
  .m-banner__car .splide__arrow--next {
    right: -15px;
  }
}

.m-banner {
  position: relative;
  width: 100%;
}
.m-banner .o-banner--bg {
  display: none;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 992px) {
  .m-banner .o-banner--bg {
    display: block;
  }
}
.m-banner .o-banner--wrapper {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 992px) {
  .m-banner .o-banner--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
.m-banner .o-banner--wrapper .o-banner--layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.m-banner .o-banner--wrapper .o-banner--layout img {
  width: 65px;
  height: 65px;
}
@media only screen and (min-width: 992px) {
  .m-banner .o-banner--wrapper .o-banner--layout img {
    width: 95px;
    height: 95px;
  }
}
.m-banner .o-banner--wrapper .o-banner--layout .o-banner--title p {
  margin: 0;
  line-height: 1em;
}
.m-banner .o-banner--wrapper .o-banner--layout .o-banner--title .c-breadcrumbs {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-banner .o-banner--wrapper .o-banner--layout .o-banner--title .c-breadcrumbs {
    display: block;
  }
}

.m-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #25292f;
}
.m-search .o-search--input {
  width: 75%;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
.m-search .o-search--input img {
  margin-right: 10px;
  height: 45px;
  width: 45px;
}
.m-search .o-search--input input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #d4d7da;
}
.m-search .o-search--input input::placeholder {
  color: #d4d7da;
}
.m-search .o-search--wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
}
.m-search .o-search--wrapper img {
  margin-right: 10px;
  margin-bottom: 20px;
}
.m-search .o-search--wrapper p {
  max-width: 60%;
  color: #a0a2a4;
}

.m-grid__half {
  padding: 10px;
  margin: 0 10px;
  background-color: #25292f;
  border-radius: 5px;
}
@media only screen and (min-width: 992px) {
  .m-grid__half {
    width: 50%;
    padding: 30px;
  }
}
.m-grid__half .o-grid__half--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.m-grid__half .o-grid__half--navbar .js-arrow__grid {
  cursor: pointer;
}
.m-grid__half .o-grid__half--navbar .o-grid__half--wrapper {
  display: flex;
  align-items: center;
}
.m-grid__half .o-grid__half--navbar .o-grid__half--wrapper > p {
  color: #FF293E;
  margin: 0;
  padding-right: 10px;
}
.m-grid__half .o-grid__half--navbar .o-grid__half--wrapper .c-icon__title {
  margin-left: 20px;
}
.m-grid__half .o-grid__half--navbar .o-grid__half--wrapper .c-icon__title img {
  display: none;
}
@media only screen and (min-width: 992px) {
  .m-grid__half .o-grid__half--navbar .o-grid__half--wrapper .c-icon__title img {
    display: inline-block;
  }
}
.m-grid__half .o-grid__half--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}
@media only screen and (min-width: 992px) {
  .m-grid__half .o-grid__half--grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
}
.m-grid__half .o-grid__half--grid .o-grid__half--item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.m-red__icons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .m-red__icons {
    flex-direction: row;
  }
}
.m-red__icons p {
  color: #FF293E;
}
.m-red__icons .o-red__icons--wrapper_left {
  display: flex;
}
.m-red__icons .o-red__icons--wrapper_left .o-red__icons--item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.m-red__icons .o-red__icons--wrapper_left .o-red__icons--item img {
  width: 80px;
}
@media only screen and (min-width: 992px) {
  .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item img {
    width: 170px;
  }
}
.m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p {
  max-width: 90%;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .m-red__icons .o-red__icons--wrapper_left .o-red__icons--item p {
    max-width: 70%;
  }
}
.m-red__icons .o-red__icons--wrapper_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .m-red__icons .o-red__icons--wrapper_right {
    margin-left: 60px;
    align-items: flex-start;
    text-align: left;
  }
}
.m-red__icons .o-red__icons--wrapper_right p:last-of-type {
  max-width: 100%;
}
@media only screen and (min-width: 992px) {
  .m-red__icons .o-red__icons--wrapper_right p:last-of-type {
    max-width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .m-image_text {
    display: grid;
    column-gap: 132px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-image_text--image {
  order: 1;
  display: grid;
  justify-content: center;
  align-items: center;
}
.o-image_text--image img {
  width: 100%;
  height: auto;
}

.o-image_text--text {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Gotham", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .o-image_text--text {
    text-align: left;
  }
}
.o-image_text--text > * {
  margin-top: 0;
  margin-bottom: 0;
}
.o-image_text--text > * + * {
  margin-top: 20px;
}

.o-image_text--buttons {
  margin-top: 30px;
}
.o-image_text--buttons button {
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 992px) {
  .o-image_text--buttons button {
    margin-right: 0;
    margin-left: 0;
  }
}
/*# sourceMappingURL=home.css.map */
