@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap");
:root {
  --horizontal-main-xs: 1.25rem;
  --horizontal-main-sm: 1.25rem;
  --horizontal-main-md: 3.75rem;
  --horizontal-main-lg: 5rem;
  --horizontal-main-xl: 6.25rem;
  --horizontal-main-2xl: 7.5rem;
  --horizontal-main-3xl: 9.375rem;
  --horizontal-large-xs: 2.5rem;
  --horizontal-large-sm: 2.5rem;
  --horizontal-large-md: 5rem;
  --horizontal-large-lg: 7.5rem;
  --horizontal-large-xl: 18.75rem;
  --horizontal-large-2xl: 18.75rem;
  --vertical-small-xs: 1.25rem;
  --vertical-small-sm: 1.25rem;
  --vertical-small-md: 1.25rem;
  --vertical-small-lg: 1.875rem;
  --vertical-small-xl: 1.875rem;
  --vertical-small-2xl: 1.875rem;
  --vertical-medium-xs: 2.5rem;
  --vertical-medium-sm: 3.125rem;
  --vertical-medium-md: 3.125rem;
  --vertical-medium-lg: 3.75rem;
  --vertical-medium-xl: 4.375rem;
  --vertical-medium-2xl: 5rem;
  --vertical-large-xs: 2.5rem;
  --vertical-large-sm: 3.125rem;
  --vertical-large-md: 3.75rem;
  --vertical-large-lg: 7.5rem;
  --vertical-large-xl: 7.5rem;
  --vertical-large-2xl: 7.5rem;
}

/* Color Class */
.u-c--p {
  color: #ff293e;
}

.u-c--p-l {
  color: #ff5264;
}

.u-c--p-d {
  color: #5a1c26;
}

.u-c--s {
  color: #00d1bc;
}

.u-c--s-l {
  color: #99e4de;
}

.u-c--s-d {
  color: #02b5a4;
}

.u-c--g {
  color: #d4d7da;
}

.u-c--g-l {
  color: #eaedef;
}

.u-c--g-lr {
  color: #f4f6f8;
}

.u-c--g-d {
  color: #a0a2a4;
}

.u-c--g-dr {
  color: #868b92;
}

.u-c--b-d5 {
  color: #3b424b;
}

.u-c--b-d4 {
  color: #2d3239;
}

.u-c--b-d3 {
  color: #25292f;
}

.u-c--b-d2 {
  color: #1c2026;
}

.u-c--b-d1 {
  color: #13171d;
}

.u-c--w {
  color: #ffffff;
}

.u-c--w-l {
  color: rgba(255, 255, 255, 0.6);
}

.u-c--danger {
  color: #ec0000;
}

.u-c--danger-l {
  color: #eb9b9c;
}

.u-c--warning {
  color: #e99c00;
}

.u-c--warning-l {
  color: #ead19c;
}

/* Background Class */
.u-bg--p {
  background-color: #ff293e;
}

.u-bg--p-l {
  background-color: #ff5264;
}

.u-bg--p-d {
  background-color: #5a1c26;
}

.u-bg--s {
  background-color: #00d1bc;
}

.u-bg--s-l {
  background-color: #99e4de;
}

.u-bg--s-d {
  background-color: #02b5a4;
}

.u-bg--g {
  background-color: #d4d7da;
}

.u-bg--g-l {
  background-color: #eaedef;
}

.u-bg--g-lr {
  background-color: #f4f6f8;
}

.u-bg--g-d {
  background-color: #a0a2a4;
}

.u-bg--g-dr {
  background-color: #868b92;
}

.u-bg--b-d5 {
  background-color: #3b424b;
}

.u-bg--b-d4 {
  background-color: #2d3239;
}

.u-bg--b-d3 {
  background-color: #25292f;
}

.u-bg--b-d2 {
  background-color: #1c2026;
}

.u-bg--b-d1 {
  background-color: #13171d;
}

.u-bg--w {
  background-color: #ffffff;
}

.u-bg--w-l {
  background-color: rgba(255, 255, 255, 0.6);
}

.u-bg--danger {
  background-color: #ec0000;
}

.u-bg--danger-l {
  background-color: #eb9b9c;
}

.u-bg--warning {
  background-color: #e99c00;
}

.u-bg--warning-l {
  background-color: #ead19c;
}

/* Font Family Class */
.u-f--primary {
  font-family: "Lexend";
}

/* Font Weight Class */
.u-f--light, .u-f--light p {
  font-weight: 300;
}

.u-f--book, .u-f--book p {
  font-weight: 400;
}

.u-f--medium, .u-f--medium p {
  font-weight: 500;
}

.u-f--bold, .textBlock .bold, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .headerScreen__title p, .screens .headerScreen__btns button span, .screens .iconsScreen__item p:first-of-type, .screens .termsScreen .bold, .screens .gridScreen__header p, .menuHeader__navItems li a p, .popUpBalance__header > p, .popUpBalance__grid .total, .popUpBalance__detail p, .header .nav__item a p, .depositScreen .deposit__title, .user__wrapper p:first-of-type, .userNoIcon p:first-of-type, .u-f--bold p, .textBlock .bold p, .screens .asideSlots .aside__title p, .screens .asideCasino .aside__title p, .screens .headerScreen__title p p, .screens .headerScreen__btns button span p, .screens .iconsScreen__item p:first-of-type p, .screens .termsScreen .bold p, .screens .gridScreen__header p p, .popUpBalance__header > p p, .popUpBalance__grid .total p, .depositScreen .deposit__title p, .user__wrapper p:first-of-type p, .userNoIcon p:first-of-type p {
  font-weight: 700;
}

/* Font Size Class */
.u-f--h1, .depositScreen .deposit__title {
  font-size: 1.625rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h1, .depositScreen .deposit__title {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h1, .depositScreen .deposit__title {
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h1, .depositScreen .deposit__title {
    font-size: 2.75rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h1, .depositScreen .deposit__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h1, .depositScreen .deposit__title {
    font-size: 3.375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h1, .depositScreen .deposit__title {
    font-size: 3.625rem;
  }
}

.u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h2, .textBlock .title-big, .screens .asideSlots .aside__title, .screens .asideCasino .aside__title, .screens .termsScreen .title-big {
    font-size: 2rem;
  }
}

.u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
  font-size: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h3, .textBlock .title, .screens .headerScreen__title p, .screens .termsScreen .title, .screens .gridScreen__header p, .menuHeader__navItems li a p, .userNoIcon p:first-of-type {
    font-size: 1.5rem;
  }
}

.u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
    font-size: 1.0625rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h4, .screens .iconsScreen__item p:first-of-type, .popUpBalance__header > p, .popUpBalance__grid .total, .footer__grid-item:nth-of-type(3) li a span, .user__wrapper p:first-of-type, .userNoIcon p:last-of-type {
    font-size: 1.125rem;
  }
}

.u-f--h5, .header .nav__item a p, .breadcrumbs span {
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h5, .header .nav__item a p, .breadcrumbs span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h5, .header .nav__item a p, .breadcrumbs span {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h5, .header .nav__item a p, .breadcrumbs span {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h5, .header .nav__item a p, .breadcrumbs span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h5, .header .nav__item a p, .breadcrumbs span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h5, .header .nav__item a p, .breadcrumbs span {
    font-size: 1rem;
  }
}

.u-f--p, p, span, button, textarea, select, input {
  font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
  .u-f--p, p, span, button, textarea, select, input {
    font-size: 0.8125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--p, p, span, button, textarea, select, input {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--p, p, span, button, textarea, select, input {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--p, p, span, button, textarea, select, input {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--p, p, span, button, textarea, select, input {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--p, p, span, button, textarea, select, input {
    font-size: 0.875rem;
  }
}

.u-flex {
  display: flex;
}

.u-flex__col {
  display: flex;
  flex-direction: column;
}

.u-flex--lg {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .u-flex--lg {
    flex-direction: row;
  }
}

.u-flex__col--lg {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 1280px) {
  .u-flex__col--lg {
    flex-direction: column;
  }
}

.d-none {
  display: none !important;
}

.textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
  margin-left: var(--horizontal-main-xs);
  margin-right: var(--horizontal-main-xs);
}
@media only screen and (min-width: 576px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-sm);
    margin-right: var(--horizontal-main-sm);
  }
}
@media only screen and (min-width: 768px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-md);
    margin-right: var(--horizontal-main-md);
  }
}
@media only screen and (min-width: 1024px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-lg);
    margin-right: var(--horizontal-main-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-xl);
    margin-right: var(--horizontal-main-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-2xl);
    margin-right: var(--horizontal-main-2xl);
  }
}
@media only screen and (min-width: 1600px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-3xl);
    margin-right: var(--horizontal-main-3xl);
  }
}
@media only screen and (min-width: 1900px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    max-width: 100rem;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }
}

.textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
  margin-left: var(--horizontal-main-xs);
  margin-right: var(--horizontal-main-xs);
}
@media only screen and (min-width: 576px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-sm);
    margin-right: var(--horizontal-main-sm);
  }
}
@media only screen and (min-width: 768px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-md);
    margin-right: var(--horizontal-main-md);
  }
}
@media only screen and (min-width: 1024px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-lg);
    margin-right: var(--horizontal-main-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-xl);
    margin-right: var(--horizontal-main-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-2xl);
    margin-right: var(--horizontal-main-2xl);
  }
}
@media only screen and (min-width: 1600px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    margin-left: var(--horizontal-main-3xl);
    margin-right: var(--horizontal-main-3xl);
  }
}
@media only screen and (min-width: 1900px) {
  .textBlock, .footer__grid, .footer__brands, .depositScreen .deposit {
    max-width: 100rem;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }
}

.footer {
  margin-top: var(--vertical-small-xs);
}
@media only screen and (min-width: 576px) {
  .footer {
    margin-top: var(--vertical-small-sm);
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    margin-top: var(--vertical-small-md);
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    margin-top: var(--vertical-small-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    margin-top: var(--vertical-small-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    margin-top: var(--vertical-small-2xl);
  }
}

.footer__grid {
  margin-top: var(--vertical-medium-xs);
}
@media only screen and (min-width: 576px) {
  .footer__grid {
    margin-top: var(--vertical-medium-sm);
  }
}
@media only screen and (min-width: 768px) {
  .footer__grid {
    margin-top: var(--vertical-medium-md);
  }
}
@media only screen and (min-width: 1024px) {
  .footer__grid {
    margin-top: var(--vertical-medium-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .footer__grid {
    margin-top: var(--vertical-medium-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .footer__grid {
    margin-top: var(--vertical-medium-2xl);
  }
}

.textBlock {
  margin-top: var(--vertical-large-xs);
}
@media only screen and (min-width: 576px) {
  .textBlock {
    margin-top: var(--vertical-large-sm);
  }
}
@media only screen and (min-width: 768px) {
  .textBlock {
    margin-top: var(--vertical-large-md);
  }
}
@media only screen and (min-width: 1024px) {
  .textBlock {
    margin-top: var(--vertical-large-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .textBlock {
    margin-top: var(--vertical-large-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .textBlock {
    margin-top: var(--vertical-large-2xl);
  }
}

.btn__red, .btn__blue, .btn__grey, .btn__darkGrey, .btn__grey--ghost, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1em;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.625rem 0.625rem;
  border-radius: 6.25rem;
  transition: all 0.3s;
}
@media only screen and (min-width: 768px) {
  .btn__red, .btn__blue, .btn__grey, .btn__darkGrey, .btn__grey--ghost, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 0.75rem;
    padding: 0.9375rem 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .btn__red, .btn__blue, .btn__grey, .btn__darkGrey, .btn__grey--ghost, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 12px;
    padding: 0.9375rem 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .btn__red, .btn__blue, .btn__grey, .btn__darkGrey, .btn__grey--ghost, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 12px;
    padding: 0.9375rem 1.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  .btn__red, .btn__blue, .btn__grey, .btn__darkGrey, .btn__grey--ghost, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 0.75rem;
    padding: 0.9375rem 1.25rem;
  }
}
.btn__red > *, .btn__blue > *, .btn__grey > *, .btn__darkGrey > *, .btn__grey--ghost > *, .btn__white > *, .btn__gray--red > *, .btn__block > *, .btn__black--lighter > *, .btn__ghost--red > *, .btn_no_button--red > *, .btn_border > *, .btn_border_secondary > *, .btn_white > *, .btn_border_white > * {
  vertical-align: middle;
}
.btn__red > * + *, .btn__blue > * + *, .btn__grey > * + *, .btn__darkGrey > * + *, .btn__grey--ghost > * + *, .btn__white > * + *, .btn__gray--red > * + *, .btn__block > * + *, .btn__black--lighter > * + *, .btn__ghost--red > * + *, .btn_no_button--red > * + *, .btn_border > * + *, .btn_border_secondary > * + *, .btn_white > * + *, .btn_border_white > * + * {
  margin-left: 0.25em;
}
.btn__red img, .btn__blue img, .btn__grey img, .btn__darkGrey img, .btn__grey--ghost img, .btn__white img, .btn__gray--red img, .btn__block img, .btn__black--lighter img, .btn__ghost--red img, .btn_no_button--red img, .btn_border img, .btn_border_secondary img, .btn_white img, .btn_border_white img {
  display: inline;
}
.btn__red svg, .btn__blue svg, .btn__grey svg, .btn__darkGrey svg, .btn__grey--ghost svg, .btn__white svg, .btn__gray--red svg, .btn__block svg, .btn__black--lighter svg, .btn__ghost--red svg, .btn_no_button--red svg, .btn_border svg, .btn_border_secondary svg, .btn_white svg, .btn_border_white svg {
  font-size: inherit;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:focus, a:hover, a:active {
  outline: 0;
}

fieldset, input, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

img {
  display: block;
}

html {
  overflow-x: hidden !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lexend";
  font-size: 0.875rem;
  background: #13171d;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 0.875rem;
  }
}

p, span, button, textarea, select {
  font-family: "Lexend";
  color: #ffffff;
  margin-bottom: 0;
}

input {
  padding: 0 1.25rem;
  font-weight: 700;
  font-family: "Lexend";
  border-radius: 1.25rem;
}
input::placeholder {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 1.25rem;
}

h2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.625rem;
  }
}

h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}

h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.deposits {
  height: 2.5rem;
  border-radius: 1.875rem;
  background-color: #2d3239;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.deposits.reverse {
  flex-direction: row-reverse;
}
.deposits__total {
  cursor: pointer;
  position: relative;
  padding-left: 0.625rem;
  display: flex;
  align-items: center;
}
.deposits__total::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 70%, #2d3239);
}
.deposits__total img {
  margin-right: 0.3125rem;
}
.deposits svg {
  margin: 0 0.9375rem 0 0.3125rem;
}
.deposits__btn {
  position: relative;
  width: auto;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  padding-left: 2.5rem;
  padding-right: 1.25rem;
}
.deposits__btn img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.4375rem;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user__wrapper {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.625rem;
}
@media only screen and (min-width: 1600px) {
  .user__wrapper {
    display: flex;
  }
}
.user__wrapper p {
  color: #00d1bc;
  margin: 0;
}
.userNoIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.userNoIcon p:last-of-type {
  color: #00d1bc;
}

.btn__red {
  color: #ffffff;
  background-color: #ff293e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__red:hover {
  background-color: #ff5264;
}

.btn__red--glow {
  box-shadow: 0px 0px 1.25rem 0px #ff293e;
}

.btn__blue {
  color: #ffffff;
  background-color: #00d1bc;
  padding: 0;
}
.btn__blue:hover {
  background-color: #99e4de;
}

.btn__grey {
  background-color: #EAEDEF;
}
.btn__grey:hover {
  background-color: #868B92;
}
.btn__grey span {
  color: #13171d;
}
.btn__darkGrey {
  background-color: #3b424b;
}
.btn__darkGrey:hover {
  background-color: #2d3239;
}
.btn__darkGrey span {
  color: white;
}
.btn__darkGrey span:hover {
  color: #EAEDEF;
}

.btn__icons {
  position: relative;
}
.btn__icons img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.btn__icons img:first-of-type {
  left: 0.4375rem;
}
.btn__icons img:last-of-type {
  right: 0.9375rem;
}

.btn__grey--ghost {
  background-color: transparent;
  border: 1px solid #868b92;
}
.btn__grey--ghost span {
  color: #13171d;
}

.btn__white {
  background-color: white;
}
.btn__white span {
  color: black;
}

/* Button remove filter */
.btn__gray--red {
  color: #ff293e;
  background-color: #1c2026;
  padding: 0.625rem;
}
.btn__gray--red:hover {
  background-color: #292929;
}

.btn__block {
  height: 3.75rem;
  border-radius: 0.3125rem;
}

.btn__black--lighter {
  color: #ffffff;
  background-color: #2d3239;
}

.btn__ghost--red {
  color: #ff293e;
  background-color: transparent;
  border: 2px solid #ff293e;
  display: flex;
  align-items: center;
}
.btn__ghost--red img {
  display: inline-block;
  margin-left: 0.3125rem;
}

.btn_no_button--red {
  padding: 0;
  color: #ff293e;
  background-color: transparent;
}

.btn__size--big {
  padding: 0.9375rem 1.875rem;
}
@media only screen and (min-width: 1024px) {
  .btn__size--big {
    padding: 1.875rem 2.5rem;
  }
}

.btn__icon--right {
  position: relative;
  padding: 0 0.9375rem;
}
@media only screen and (min-width: 1440px) {
  .btn__icon--right span {
    padding-right: 0.625rem;
  }
}
.btn__icon--right img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
  font-size: 0.875rem;
}
@media only screen and (min-width: 1440px) {
  .btn__icon--right img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    font-size: 0.875rem;
  }
}

.btn_border {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ff293e;
}
.btn_border:hover {
  color: #00d1bc;
  background-color: #ff293e;
}

.btn_border_secondary {
  background-color: #ffffff;
  color: #00d1bc;
  border: 2px solid #00d1bc;
}
.btn_border_secondary:hover {
  color: #ffffff;
  background-color: #02b5a4;
}

.btn_white {
  color: #00d1bc;
  background-color: #ffffff;
}
.btn_white:hover {
  color: #00d1bc;
  background-color: #ff293e;
}

.btn_border_white {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn_border_white:hover {
  color: #00d1bc;
  background-color: #ffffff;
}

.btn_link, .btn_link--white, .btn_link--secondary {
  font-size: 1rem;
  line-height: 1em;
  text-decoration: underline;
  color: #ff293e;
  transition: all 0.3s;
}
@media only screen and (min-width: 768px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1440px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1.25rem;
  }
}
.btn_link:hover, .btn_link--white:hover, .btn_link--secondary:hover {
  color: #5a1c26;
}

.btn_link--secondary {
  color: #00d1bc;
}
.btn_link--secondary:hover {
  color: #02b5a4;
}

.btn_link--white {
  color: #ffffff;
}
.btn_link--white:hover {
  color: #ff293e;
}

.breadcrumbs svg {
  margin: 0 0.625rem;
}
.breadcrumbs span:last-of-type {
  color: #a0a2a4;
}

.screensBar {
  padding-left: 3.75rem;
  height: 3.75rem;
  display: none;
  justify-content: space-between;
  background-color: #1c2026;
}
@media only screen and (min-width: 1280px) {
  .screensBar {
    display: flex;
  }
}
.screensBar__wrapper {
  display: flex;
  align-items: center;
}
.screensBar__item {
  display: flex;
  margin-right: 0.9375rem;
}
.screensBar__item p {
  color: #9e9fa2;
}
.screensBar__item p:first-of-type {
  padding-right: 0.3125rem;
}
.screensBar--left p {
  margin: 0;
}
.screensBar--right button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.screensBar--right button:not(.screensBar__btn--last) {
  margin-right: 1.875rem;
}
.screensBar--right button:not(.screensBar__btn--last) img {
  width: 1.25rem;
  height: 1.25rem;
}
.screensBar--right .screensBar__btn--last {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 3.75rem;
  background-color: #25292f;
}

.depositScreen {
  display: none;
  opacity: 0;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 1.875rem;
  background-color: #EAEDEF;
}
.depositScreen .deposit {
  position: relative;
}
.depositScreen .deposit__header {
  width: 100%;
  padding: 0.9375rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.depositScreen .deposit__header img:first-of-type {
  object-fit: cover;
  max-width: 60%;
}
.depositScreen .deposit__header .deposit__btn-close {
  cursor: pointer;
  width: 1rem;
  object-fit: cover;
}
@media only screen and (min-width: 1280px) {
  .depositScreen .deposit__header .deposit__btn-close {
    width: 1.375rem;
  }
}
.depositScreen .deposit__block {
  padding-top: 3.75rem;
  display: none;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .depositScreen .deposit__block {
    padding-top: 7.5rem;
  }
}
.depositScreen .deposit__block.active {
  display: block;
}
.depositScreen .deposit .deposit__step2-method {
  display: none;
}
.depositScreen .deposit .deposit__step2-method.active {
  display: flex;
}
.depositScreen .deposit__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.depositScreen .deposit__title {
  display: flex;
  align-items: center;
  color: #13171d;
}
.depositScreen .deposit__title img {
  margin-right: 0.625rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  padding: 0.9375rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  background-color: #13171d;
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header {
    padding: 1.25rem 1.875rem;
    display: flex;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__wrapper .header__noLog-btn {
  width: auto;
  margin: 0;
  margin-left: 0.625rem;
}
@media only screen and (min-width: 1440px) {
  .header__wrapper .header__noLog-btn {
    width: 11.875rem;
    margin-left: 0.625rem;
  }
}
.header__wrapper .header__noLog-btn:first-of-type span {
  color: black;
}
.header__logo {
  width: 12.1875rem;
  margin-bottom: 0.625rem;
}
@media only screen and (min-width: 1280px) {
  .header__logo {
    width: 11.875rem;
    margin-right: 0.9375rem;
  }
}
@media only screen and (min-width: 1440px) {
  .header__logo {
    width: 15rem;
  }
}
@media only screen and (min-width: 1600px) {
  .header__logo {
    width: auto;
    margin-right: 1.25rem;
  }
}
.header__logo svg {
  width: 100%;
  object-fit: cover;
}
.header__navBar ul {
  display: flex;
}
@media only screen and (min-width: 1280px) {
  .header .nav__item {
    padding-right: 0.625rem;
  }
}
@media only screen and (min-width: 1600px) {
  .header .nav__item {
    padding-right: 0.9375rem;
  }
}
.header .nav__item a {
  display: flex;
  align-items: center;
}
.header .nav__item a svg {
  display: none;
  height: 0.875rem;
  width: 0.875rem;
}
@media only screen and (min-width: 1600px) {
  .header .nav__item a svg {
    display: inline-block;
  }
}
.header .nav__item a p {
  margin: 0;
  padding-left: 0.3125rem;
}
.header .nav__promo {
  padding-right: 0;
}
.header .header__logged.active {
  display: flex;
}
.header .header__logged-item {
  margin-left: 0.9375rem;
}
.header .header__noLog.active {
  display: flex;
}
.header .header__noLog,
.header .header__logged {
  display: none;
}

.header__mobile {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .header__mobile {
    display: none;
  }
}
.header__mobile-wrapper {
  z-index: 8;
  left: 0;
  background-color: #25292f;
}
.header__mobile-logo {
  margin: 0 3.75rem;
}
.header__mobile-logo img {
  width: 100%;
  object-fit: cover;
}
.header__mobile--top {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0.625rem 1.25rem;
}
.header__mobile--bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  height: auto;
  padding: 0.625rem 1.25rem;
}
.header__mobile-noLog {
  display: none;
}
.header__mobile-noLog.menu-active {
  display: flex !important;
}
.header__mobile-noLog button {
  width: 50%;
  margin: 0;
}
.header__mobile-noLog button img {
  width: 1.5625rem;
}
.header__mobile-noLog button:first-of-type {
  margin-right: 0.9375rem;
}
.header__mobile-noLog button:first-of-type span {
  color: black;
}
.header__mobile-noLog button:last-of-type {
  margin-left: 0.9375rem;
}
.header__mobile-logged {
  display: none;
  justify-content: space-between;
}
.header__mobile-logged.menu-active {
  display: flex !important;
}

.header.header--light {
  transition: all 0.4s ease;
  background-color: #F4F6F8;
}
.header.header--light .header__logo svg g path:not(#Trazado_1, #Trazado_2) {
  fill: #13171d;
}
.header.header--light .nav__item svg path,
.header.header--light .nav__item svg g path {
  fill: #13171d;
}
.header.header--light .nav__item p {
  color: #13171d;
}
.header.header--light .deposits {
  background-color: #EAEDEF;
}
.header.header--light .deposits__total::before {
  background: linear-gradient(to right, transparent 70%, #EAEDEF);
}
.header.header--light .deposits__total span {
  color: #13171d;
}
.header.header--light .deposits__total svg path {
  fill: #13171d;
}
.header.header--light .deposits > svg g path {
  stroke: #13171d;
}
.header.header--light .deposits .deposits__btn {
  background-color: #00d1bc !important;
  box-shadow: 0px 0px 1.25rem 0px #00d1bc !important;
}
.header.header--light .user a svg g g {
  stroke: white;
}

.footer {
  width: 100%;
}
.footer__trama {
  padding: 0 0.9375rem;
}
.footer__trama img {
  object-fit: cover;
  width: 100%;
}
.footer__grid {
  display: grid;
  column-gap: 3.75rem;
  row-gap: 2.8125rem;
  justify-items: flex-start;
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "casino" "info" "follow" "client";
}
@media only screen and (min-width: 768px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "casino info" "follow client";
  }
}
@media only screen and (min-width: 1280px) {
  .footer__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "casino info follow client";
  }
}
.footer__grid-item:nth-of-type(1) {
  grid-area: "casino";
}
.footer__grid-item:nth-of-type(2) {
  grid-area: "info";
}
.footer__grid-item:nth-of-type(3) {
  grid-area: "follow";
}
.footer__grid-item:nth-of-type(3) li a {
  display: flex;
  align-items: center;
}
.footer__grid-item:nth-of-type(3) li a span {
  margin: 0;
}
.footer__grid-item:nth-of-type(3) li a img {
  margin-right: 0.625rem;
}
.footer__grid-item:nth-of-type(4) {
  grid-area: "client";
}
.footer__grid-item:nth-of-type(4) ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__grid-item:nth-of-type(4) ul .footer__grid-item--bottom {
  display: none;
  justify-content: flex-end;
}
@media only screen and (min-width: 1280px) {
  .footer__grid-item:nth-of-type(4) ul .footer__grid-item--bottom {
    display: flex;
  }
}
.footer__grid p {
  font-weight: 700;
  padding-bottom: 1.875rem;
}
.footer__grid li {
  padding-bottom: 0.625rem;
}
.footer__grid li a {
  color: white;
}
.footer__brands {
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
}
@media only screen and (min-width: 1280px) {
  .footer__brands {
    margin-top: 7.5rem;
  }
}
.footer__brands-logo {
  position: relative;
  border-top: 1px solid #2d3239;
}
.footer__brands-logo ul {
  margin: 0.9375rem 0;
}
@media only screen and (min-width: 1280px) {
  .footer__brands-logo ul {
    padding: 0 3.75rem;
  }
}
.footer__brands .payments ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__brands .payments ul li {
  margin: 0.9375rem 0.625rem;
}
.footer__brands .certificates ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .footer__brands .certificates ul {
    flex-direction: row;
  }
}
.footer__brands .certificates ul li {
  margin: 0.9375rem 0.625rem;
}
.footer__brands .certificates ul li a {
  display: flex;
  justify-content: center;
}
.footer .footer__casinos {
  background-color: #1c2026;
  padding: 3.75rem 0;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos {
    padding: 5rem 0;
  }
}
.footer .footer__casinos > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > ul {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.footer .footer__casinos > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 4.0625rem;
  margin: 0.125rem;
  background-color: #25292f;
  border-radius: 0.625rem;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > ul li {
    background-color: transparent;
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0 0.625rem;
  }
}
.footer .footer__casinos > ul li img {
  width: 80%;
  max-height: 70%;
  object-fit: contain;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > ul li img {
    width: auto;
    max-height: auto;
    object-fit: none;
  }
}
.footer .footer__casinos > div {
  margin-top: 1.25rem;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > div {
    margin-top: 2.5rem;
  }
}
.footer .footer__casinos > div p {
  color: #a4a5a8;
  text-align: center;
}

.popUpBalance {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0.625rem;
  right: 10%;
  z-index: 10;
  background-color: #25292f;
  border-radius: 0.3125rem;
}
.popUpBalance__container {
  padding: 0.9375rem;
}
.popUpBalance__container:not(:last-of-type) {
  border-bottom: 1px solid #13171d;
}
.popUpBalance__container .popUpBalance__closeBtn {
  cursor: pointer;
}
.popUpBalance__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popUpBalance__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  column-gap: 3.75rem;
}
.popUpBalance__grid:last-of-type {
  margin-top: 0.9375rem;
}
.popUpBalance__grid .title {
  color: #a4a5a8;
}
.popUpBalance__grid .total {
  color: white;
}
.popUpBalance__grid .progress {
  display: flex;
  justify-content: space-between;
}
.popUpBalance__grid .progressBar {
  position: relative;
  width: 80%;
  height: 0.75rem;
  background-color: #2d3239;
  border-radius: 6.25rem;
}
.popUpBalance__grid .progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 73%;
  height: 0.75rem;
  background: linear-gradient(to right, #1f78fb, #00d1bc);
  border-radius: 6.25rem;
}
.popUpBalance__freespins {
  display: flex;
  align-items: center;
}
.popUpBalance__freespins img {
  margin-right: 0.625rem;
}
.popUpBalance__detail {
  display: flex;
  align-items: center;
}
.popUpBalance__detail p {
  color: #ff293e;
  padding-right: 0.3125rem;
}

.menuHeader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0.9375rem;
  background-color: #13171d;
  flex-direction: column;
  justify-content: space-between;
}
.menuHeader__navItems {
  margin-top: 1.875rem;
}
.menuHeader__navItems li a {
  display: flex;
  align-items: center;
  padding-bottom: 0.9375rem;
}
.menuHeader__navItems li a p {
  padding-left: 0.625rem;
}
.menuHeader--bottom {
  display: flex;
  flex-direction: row;
}
.menuHeader--bottom a:not(:last-of-type) {
  margin-right: 0.625rem;
}

.screens {
  display: flex;
}
.screens .screen {
  width: 70%;
  display: none;
}
@media only screen and (min-width: 1280px) {
  .screens .screen {
    display: block;
  }
}
.screens .screen img {
  object-fit: cover;
  width: 100%;
}
.screens .heart g path {
  transition: all 0.3s ease;
  fill: #929497;
}
.screens .heart.active g path {
  transition: all 0.3s ease;
  fill: #ff293e;
}
.screens .asideSlots, .screens .asideCasino {
  display: none;
  width: 30%;
  padding: 1.875rem 1.875rem;
}
@media only screen and (min-width: 1280px) {
  .screens .asideSlots, .screens .asideCasino {
    display: block;
  }
}
@media only screen and (min-width: 1600px) {
  .screens .asideSlots, .screens .asideCasino {
    padding: 1.875rem 3.75rem;
  }
}
.screens .asideSlots__mobile, .screens .asideCasino__mobile {
  display: block;
  width: 100%;
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  .screens .asideSlots__mobile, .screens .asideCasino__mobile {
    display: none;
  }
}
.screens .asideSlots__mobile .aside__title, .screens .asideCasino__mobile .aside__title {
  display: none;
}
.screens .headerScreen {
  overflow: hidden;
}
.screens .headerScreen__brand {
  padding: 1.875rem 0.9375rem;
  background-color: #25292f;
}
.screens .headerScreen__brand img {
  object-fit: contain;
  width: 100%;
}
.screens .headerScreen__breadcrumbs {
  background-color: #25292f;
  width: 150%;
  padding: 0.9375rem 0 0.9375rem 0.9375rem;
  background-image: linear-gradient(to right, transparent, #13171d);
}
@media only screen and (min-width: 576px) {
  .screens .headerScreen__breadcrumbs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.screens .headerScreen--bottom {
  margin: 1.875rem 0.9375rem;
  padding: 0.9375rem 0.9375rem 0;
  background-color: #25292f;
  border-radius: 0.625rem;
}
.screens .headerScreen__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screens .headerScreen__btns {
  transform: translateY(1.5625rem);
}
.screens .headerScreen__btns button {
  height: 3.125rem;
  width: 100%;
}
.screens .headerScreen__btns button:first-of-type {
  margin-bottom: 0.625rem;
}
.screens .headerScreen__btns button:first-of-type span {
  font-size: 1.125rem;
}
.screens .iconsScreen {
  margin: 0 1.875rem;
}
@media only screen and (min-width: 1280px) {
  .screens .iconsScreen {
    margin: 0;
  }
}
.screens .iconsScreen__grid {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  row-gap: 0.9375rem;
}
@media only screen and (min-width: 1280px) {
  .screens .iconsScreen__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .screens .iconsScreen__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
  }
}
.screens .iconsScreen__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screens .iconsScreen__item img {
  margin-bottom: 0.9375rem;
}
.screens .iconsScreen__item p {
  text-align: center;
  margin: 0;
}
.screens .iconsScreen__item p:first-of-type {
  color: white;
  padding-bottom: 0.3125rem;
}
.screens .iconsScreen__item p:last-of-type {
  color: #a4a5a8;
}
.screens .tableScreen {
  margin: 0.9375rem;
}
@media only screen and (min-width: 768px) {
  .screens .tableScreen {
    margin: 1.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .screens .tableScreen {
    margin: 0;
    margin-top: 1.875rem;
  }
}
.screens .tableScreen__grid {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
  border-radius: 0.3125rem;
  overflow: hidden;
}
.screens .tableScreen__item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding: 0.9375rem;
}
.screens .tableScreen__item:nth-of-type(odd) {
  background-color: #282b31;
}
.screens .tableScreen__item:nth-of-type(even) {
  background-color: #23272d;
}
.screens .tableScreen__item:first-of-type {
  background-color: #30343a;
}
.screens .tableScreen__item p {
  margin: 0;
}
.screens .tableScreen__item p:nth-child(2), .screens .tableScreen__item p:nth-child(3) {
  text-align: right;
  justify-self: flex-end;
}
.screens .termsScreen {
  margin: 0.9375rem;
}
@media only screen and (min-width: 768px) {
  .screens .termsScreen {
    margin: 1.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .screens .termsScreen {
    margin: 0;
    margin-top: 1.875rem;
  }
}
.screens .termsScreen p {
  padding-bottom: 0.9375rem;
}
.screens .termsScreen .margin-big {
  padding-bottom: 1.875rem;
}
.screens .termsScreen .gray {
  color: #939598;
}
.screens .gridScreen {
  margin: 0.9375rem;
}
@media only screen and (min-width: 768px) {
  .screens .gridScreen {
    margin: 1.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .screens .gridScreen {
    margin: 0;
    margin-top: 1.875rem;
  }
}
.screens .gridScreen__header p {
  padding-bottom: 0.625rem;
}
.screens .gridScreen__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 0.625rem;
}
.screens .gridScreen__item {
  position: relative;
  overflow: hidden;
  border-radius: 0.3125rem;
}
.screens .gridScreen__item img {
  object-fit: contain;
  width: 100%;
}
.screens .gridScreen__item svg {
  position: absolute;
  top: 5%;
  right: 5%;
}

.textBlock p {
  padding-bottom: 0.9375rem;
}
.textBlock .margin-big {
  padding-bottom: 1.875rem;
}
.textBlock .gray {
  color: #939598;
}
/*# sourceMappingURL=screens.css.map */
