@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap");
:root {
  --horizontal-main-xs: 1.25rem;
  --horizontal-main-sm: 1.25rem;
  --horizontal-main-md: 3.75rem;
  --horizontal-main-lg: 5rem;
  --horizontal-main-xl: 7.5rem;
  --horizontal-main-2xl: 8.75rem;
  --horizontal-main-3xl: 9.375rem;
  --horizontal-large-xs: 2.5rem;
  --horizontal-large-sm: 2.5rem;
  --horizontal-large-md: 5rem;
  --horizontal-large-lg: 7.5rem;
  --horizontal-large-xl: 18.75rem;
  --horizontal-large-2xl: 18.75rem;
  --vertical-small-xs: 1.25rem;
  --vertical-small-sm: 1.25rem;
  --vertical-small-md: 1.25rem;
  --vertical-small-lg: 1.875rem;
  --vertical-small-xl: 1.875rem;
  --vertical-small-2xl: 1.875rem;
  --vertical-medium-xs: 1.875rem;
  --vertical-medium-sm: 1.875rem;
  --vertical-medium-md: 1.875rem;
  --vertical-medium-lg: 3.75rem;
  --vertical-medium-xl: 3.75rem;
  --vertical-medium-2xl: 3.75rem;
  --vertical-large-xs: 1.875rem;
  --vertical-large-sm: 1.875rem;
  --vertical-large-md: 1.875rem;
  --vertical-large-lg: 7.5rem;
  --vertical-large-xl: 7.5rem;
  --vertical-large-2xl: 7.5rem;
}

/* Color Class */
.u-c--p {
  color: #ff293e;
}

.u-c--p-l {
  color: #ff5264;
}

.u-c--p-d {
  color: #5a1c26;
}

.u-c--s {
  color: #00d1bc;
}

.u-c--s-l {
  color: #99e4de;
}

.u-c--s-d {
  color: #02b5a4;
}

.u-c--g {
  color: #d4d7da;
}

.u-c--g-l {
  color: #eaedef;
}

.u-c--g-lr {
  color: #f4f6f8;
}

.u-c--g-d {
  color: #a0a2a4;
}

.u-c--g-dr {
  color: #868b92;
}

.u-c--b-d5 {
  color: #3b424b;
}

.u-c--b-d4 {
  color: #2d3239;
}

.u-c--b-d3 {
  color: #25292f;
}

.u-c--b-d2 {
  color: #1c2026;
}

.u-c--b-d1 {
  color: #13171d;
}

.u-c--w {
  color: #ffffff;
}

.u-c--w-l {
  color: rgba(255, 255, 255, 0.6);
}

.u-c--danger {
  color: #ec0000;
}

.u-c--danger-l {
  color: #eb9b9c;
}

.u-c--warning {
  color: #e99c00;
}

.u-c--warning-l {
  color: #ead19c;
}

/* Background Class */
.u-bg--p {
  background-color: #ff293e;
}

.u-bg--p-l {
  background-color: #ff5264;
}

.u-bg--p-d {
  background-color: #5a1c26;
}

.u-bg--s {
  background-color: #00d1bc;
}

.u-bg--s-l {
  background-color: #99e4de;
}

.u-bg--s-d {
  background-color: #02b5a4;
}

.u-bg--g {
  background-color: #d4d7da;
}

.u-bg--g-l {
  background-color: #eaedef;
}

.u-bg--g-lr {
  background-color: #f4f6f8;
}

.u-bg--g-d {
  background-color: #a0a2a4;
}

.u-bg--g-dr {
  background-color: #868b92;
}

.u-bg--b-d5 {
  background-color: #3b424b;
}

.u-bg--b-d4 {
  background-color: #2d3239;
}

.u-bg--b-d3 {
  background-color: #25292f;
}

.u-bg--b-d2 {
  background-color: #1c2026;
}

.u-bg--b-d1 {
  background-color: #13171d;
}

.u-bg--w {
  background-color: #ffffff;
}

.u-bg--w-l {
  background-color: rgba(255, 255, 255, 0.6);
}

.u-bg--danger {
  background-color: #ec0000;
}

.u-bg--danger-l {
  background-color: #eb9b9c;
}

.u-bg--warning {
  background-color: #e99c00;
}

.u-bg--warning-l {
  background-color: #ead19c;
}

/* Font Family Class */
.u-f--primary {
  font-family: "Lexend";
}

/* Font Weight Class */
.u-f--light, .u-f--light p {
  font-weight: 300;
}

.u-f--book, .u-f--book p {
  font-weight: 400;
}

.u-f--medium, .u-f--medium p {
  font-weight: 500;
}

.u-f--bold, .jackpot__card-content p:last-of-type, .search .search__input input, .search .search__wrapper p, .banner__wrapper-title p, .u-f--bold p, .jackpot__card-content p:last-of-type p, .search .search__input input p {
  font-weight: 700;
}

/* Font Size Class */
.u-f--h1, .banner__wrapper-title p {
  font-size: 1.625rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h1, .banner__wrapper-title p {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h1, .banner__wrapper-title p {
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h1, .banner__wrapper-title p {
    font-size: 2.75rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h1, .banner__wrapper-title p {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h1, .banner__wrapper-title p {
    font-size: 3.375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h1, .banner__wrapper-title p {
    font-size: 3.625rem;
  }
}

.u-f--h2, .search .search__input input {
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h2, .search .search__input input {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h2, .search .search__input input {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h2, .search .search__input input {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h2, .search .search__input input {
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h2, .search .search__input input {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h2, .search .search__input input {
    font-size: 2rem;
  }
}

.u-f--h3, .jackpot__card-content p:last-of-type {
  font-size: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h3, .jackpot__card-content p:last-of-type {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h3, .jackpot__card-content p:last-of-type {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h3, .jackpot__card-content p:last-of-type {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h3, .jackpot__card-content p:last-of-type {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h3, .jackpot__card-content p:last-of-type {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h3, .jackpot__card-content p:last-of-type {
    font-size: 1.5rem;
  }
}

.u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
  font-size: 0.75rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
    font-size: 0.8125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h4, .search .search__wrapper p, .footer__grid-item:nth-of-type(3) li a span {
    font-size: 1.125rem;
  }
}

.u-f--h5, .breadcrumbs span {
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h5, .breadcrumbs span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--h5, .breadcrumbs span {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--h5, .breadcrumbs span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--h5, .breadcrumbs span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h5, .breadcrumbs span {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h5, .breadcrumbs span {
    font-size: 1rem;
  }
}

.u-f--p, p, span, button, input {
  font-size: 0.625rem;
}
@media only screen and (min-width: 768px) {
  .u-f--p, p, span, button, input {
    font-size: 0.6875rem;
  }
}
@media only screen and (min-width: 1024px) {
  .u-f--p, p, span, button, input {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1280px) {
  .u-f--p, p, span, button, input {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1440px) {
  .u-f--p, p, span, button, input {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--p, p, span, button, input {
    font-size: 0.8125rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--p, p, span, button, input {
    font-size: 0.875rem;
  }
}

.u-flex {
  display: flex;
}

.u-flex__col {
  display: flex;
  flex-direction: column;
}

.u-flex--lg {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .u-flex--lg {
    flex-direction: row;
  }
}

.u-flex__col--lg {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 1280px) {
  .u-flex__col--lg {
    flex-direction: column;
  }
}

.m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
  margin-left: var(--horizontal-main-xs);
  margin-right: var(--horizontal-main-xs);
}
@media only screen and (min-width: 576px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    margin-left: var(--horizontal-main-sm);
    margin-right: var(--horizontal-main-sm);
  }
}
@media only screen and (min-width: 768px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    margin-left: var(--horizontal-main-md);
    margin-right: var(--horizontal-main-md);
  }
}
@media only screen and (min-width: 1024px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    margin-left: var(--horizontal-main-lg);
    margin-right: var(--horizontal-main-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    margin-left: var(--horizontal-main-xl);
    margin-right: var(--horizontal-main-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    margin-left: var(--horizontal-main-2xl);
    margin-right: var(--horizontal-main-2xl);
  }
}
@media only screen and (min-width: 1600px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    margin-left: var(--horizontal-main-3xl);
    margin-right: var(--horizontal-main-3xl);
  }
}
@media only screen and (min-width: 1900px) {
  .m-text-block, .jackpot, .grids__container, .search, .footer__grid, .footer__brands {
    max-width: 100rem;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }
}

.banner__wrapper {
  padding-left: var(--horizontal-main-xs);
  padding-right: var(--horizontal-main-xs);
}
@media only screen and (min-width: 576px) {
  .banner__wrapper {
    padding-left: var(--horizontal-main-sm);
    padding-right: var(--horizontal-main-sm);
  }
}
@media only screen and (min-width: 768px) {
  .banner__wrapper {
    padding-left: var(--horizontal-main-md);
    padding-right: var(--horizontal-main-md);
  }
}
@media only screen and (min-width: 1024px) {
  .banner__wrapper {
    padding-left: var(--horizontal-main-lg);
    padding-right: var(--horizontal-main-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .banner__wrapper {
    padding-left: var(--horizontal-main-xl);
    padding-right: var(--horizontal-main-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .banner__wrapper {
    padding-left: var(--horizontal-main-2xl);
    padding-right: var(--horizontal-main-2xl);
  }
}
@media only screen and (min-width: 1600px) {
  .banner__wrapper {
    padding-left: var(--horizontal-main-3xl);
    padding-right: var(--horizontal-main-3xl);
  }
}
@media only screen and (min-width: 1900px) {
  .banner__wrapper {
    max-width: 100rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.grids__container {
  padding-bottom: var(--vertical-small-xs);
}
@media only screen and (min-width: 576px) {
  .grids__container {
    padding-bottom: var(--vertical-small-sm);
  }
}
@media only screen and (min-width: 768px) {
  .grids__container {
    padding-bottom: var(--vertical-small-md);
  }
}
@media only screen and (min-width: 1024px) {
  .grids__container {
    padding-bottom: var(--vertical-small-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .grids__container {
    padding-bottom: var(--vertical-small-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .grids__container {
    padding-bottom: var(--vertical-small-2xl);
  }
}

.m-text-block, .footer {
  padding-top: var(--vertical-medium-xs);
}
@media only screen and (min-width: 576px) {
  .m-text-block, .footer {
    padding-top: var(--vertical-medium-sm);
  }
}
@media only screen and (min-width: 768px) {
  .m-text-block, .footer {
    padding-top: var(--vertical-medium-md);
  }
}
@media only screen and (min-width: 1024px) {
  .m-text-block, .footer {
    padding-top: var(--vertical-medium-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .m-text-block, .footer {
    padding-top: var(--vertical-medium-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .m-text-block, .footer {
    padding-top: var(--vertical-medium-2xl);
  }
}

.jackpot {
  padding-bottom: var(--vertical-large-xs);
}
@media only screen and (min-width: 576px) {
  .jackpot {
    padding-bottom: var(--vertical-large-sm);
  }
}
@media only screen and (min-width: 768px) {
  .jackpot {
    padding-bottom: var(--vertical-large-md);
  }
}
@media only screen and (min-width: 1024px) {
  .jackpot {
    padding-bottom: var(--vertical-large-lg);
  }
}
@media only screen and (min-width: 1280px) {
  .jackpot {
    padding-bottom: var(--vertical-large-xl);
  }
}
@media only screen and (min-width: 1440px) {
  .jackpot {
    padding-bottom: var(--vertical-large-2xl);
  }
}

.btn__red, .btn__blue, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
  display: inline-block;
  font-family: "Lexend";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1em;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.625rem 0.625rem;
  border-radius: 6.25rem;
  transition: all 0.3s;
}
@media only screen and (min-width: 768px) {
  .btn__red, .btn__blue, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 0.75rem;
    padding: 0.9375rem 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .btn__red, .btn__blue, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 12px;
    padding: 0.9375rem 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .btn__red, .btn__blue, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 12px;
    padding: 0.9375rem 1.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  .btn__red, .btn__blue, .btn__white, .btn__gray--red, .btn__block, .btn__black--lighter, .btn__ghost--red, .btn_no_button--red, .btn_border, .btn_border_secondary, .btn_white, .btn_border_white {
    font-size: 0.75rem;
    padding: 0.9375rem 1.25rem;
  }
}
.btn__red > *, .btn__blue > *, .btn__white > *, .btn__gray--red > *, .btn__block > *, .btn__black--lighter > *, .btn__ghost--red > *, .btn_no_button--red > *, .btn_border > *, .btn_border_secondary > *, .btn_white > *, .btn_border_white > * {
  vertical-align: middle;
}
.btn__red > * + *, .btn__blue > * + *, .btn__white > * + *, .btn__gray--red > * + *, .btn__block > * + *, .btn__black--lighter > * + *, .btn__ghost--red > * + *, .btn_no_button--red > * + *, .btn_border > * + *, .btn_border_secondary > * + *, .btn_white > * + *, .btn_border_white > * + * {
  margin-left: 0.25em;
}
.btn__red svg, .btn__blue svg, .btn__white svg, .btn__gray--red svg, .btn__block svg, .btn__black--lighter svg, .btn__ghost--red svg, .btn_no_button--red svg, .btn_border svg, .btn_border_secondary svg, .btn_white svg, .btn_border_white svg {
  font-size: inherit;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:focus, a:hover, a:active {
  outline: 0;
}

fieldset, input, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lexend";
  font-size: 0.625rem;
  background: #13171d;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 0.875rem;
  }
}

p, span, button {
  font-family: "Lexend";
  color: #ffffff;
  margin-bottom: 0.9375rem;
}

input {
  padding: 0 1.25rem;
  font-weight: 700;
  font-family: "Lexend";
  border-radius: 1.25rem;
}
input::placeholder {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 1.25rem;
}

h2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.625rem;
  }
}

h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}

h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.icon__title a, .icon__title {
  display: flex;
  align-items: center;
}
.icon__title a img, .icon__title img {
  height: 0.875rem;
  width: 0.875rem;
}
.icon__title a p, .icon__title p {
  margin: 0;
  padding-left: 0.3125rem;
}

.c-header--user {
  align-items: center;
}
.c-header--user div {
  padding-right: 10px;
}
.c-header--user p {
  margin: 0;
  text-align: right;
}

.btn__red {
  color: #ffffff;
  background-color: #ff293e;
}
.btn__red:hover {
  color: #f4f6f8;
  background-color: #ff5264;
}

.btn__red--glow {
  box-shadow: 0px 0px 1.25rem 0px #ff293e;
}

.btn__blue {
  color: #ffffff;
  background-color: #00d1bc;
}
.btn__blue:hover {
  color: #f4f6f8;
  background-color: #99e4de;
}

.btn__white {
  background-color: white;
}
.btn__white:hover {
  background-color: #d4d7da;
}
.btn__white span {
  color: black;
}

/* Button remove filter */
.btn__gray--red {
  color: #ff293e;
  background-color: #1c2026;
  padding: 0.625rem;
}
.btn__gray--red:hover {
  background-color: #292929;
}

.btn__block {
  height: 3.75rem;
  border-radius: 0.3125rem;
}

.btn__black--lighter {
  color: #ffffff;
  background-color: #2d3239;
}

.btn__ghost--red {
  color: #ff293e;
  background-color: transparent;
  border: 2px solid #ff293e;
}

.btn_no_button--red {
  padding: 0;
  color: #ff293e;
  background-color: transparent;
}

.btn__size--big {
  padding: 1.25rem 1.875rem;
}
@media only screen and (min-width: 1024px) {
  .btn__size--big {
    padding: 1.875rem 2.5rem;
  }
}

.btn__icon--right {
  position: relative;
}
.btn__icon--right span {
  padding-right: 0.625rem;
}
.btn__icon--right img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 1280px) {
  .btn__icon--right img {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1440px) {
  .btn__icon--right img {
    right: 7px;
    font-size: 0.875rem;
  }
}

.btn_border {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ff293e;
}
.btn_border:hover {
  color: #00d1bc;
  background-color: #ff293e;
}

.btn_border_secondary {
  background-color: #ffffff;
  color: #00d1bc;
  border: 2px solid #00d1bc;
}
.btn_border_secondary:hover {
  color: #ffffff;
  background-color: #02b5a4;
}

.btn_white {
  color: #00d1bc;
  background-color: #ffffff;
}
.btn_white:hover {
  color: #00d1bc;
  background-color: #ff293e;
}

.btn_border_white {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn_border_white:hover {
  color: #00d1bc;
  background-color: #ffffff;
}

.btn_link, .btn_link--white, .btn_link--secondary {
  font-size: 1rem;
  line-height: 1em;
  text-decoration: underline;
  color: #ff293e;
  transition: all 0.3s;
}
@media only screen and (min-width: 768px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1440px) {
  .btn_link, .btn_link--white, .btn_link--secondary {
    font-size: 1.25rem;
  }
}
.btn_link:hover, .btn_link--white:hover, .btn_link--secondary:hover {
  color: #5a1c26;
}

.btn_link--secondary {
  color: #00d1bc;
}
.btn_link--secondary:hover {
  color: #02b5a4;
}

.btn_link--white {
  color: #ffffff;
}
.btn_link--white:hover {
  color: #ff293e;
}

.breadcrumbs svg {
  margin: 0 0.3125rem;
}
.breadcrumbs span:last-of-type {
  color: #a0a2a4;
}

.splideArrows--right .splide__arrow {
  background: none;
  border-radius: 0;
  opacity: 1;
  z-index: 10;
}
.splideArrows--right .splide__arrow svg {
  height: 1.25rem;
  width: 1.25rem;
}
@media only screen and (min-width: 1600px) {
  .splideArrows--right .splide__arrow svg {
    height: 1.875rem;
    width: 1.875rem;
  }
}
.splideArrows--right .splide__arrow--prev {
  left: 94%;
}
@media only screen and (min-width: 1600px) {
  .splideArrows--right .splide__arrow--prev {
    left: 93%;
  }
}
.splideArrows--right .splide__arrow--next {
  right: 1%;
}
@media only screen and (min-width: 1600px) {
  .splideArrows--right .splide__arrow--next {
    right: 2%;
  }
}

.has-header {
  top: 6vh;
}
@media only screen and (min-width: 1280px) {
  .has-header {
    top: 8vh;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8vh;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  background-color: #13171d;
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header {
    padding: 0 1.875rem;
    display: flex;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__wrapper-menuBtn {
  display: inline-block;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper-menuBtn {
    display: none;
  }
}
.header__wrapper-btns {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper-btns {
    display: inline-block;
  }
}
.header__wrapper-logo {
  width: 12.1875rem;
  margin-bottom: 0.625rem;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper-logo {
    width: auto;
    margin-right: 0.9375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__wrapper-logo {
    margin-right: 1.875rem;
  }
}
.header__wrapper-logo img {
  width: 100%;
  object-fit: contain;
}
.header__wrapper-navBar {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper-navBar {
    display: inline-block;
  }
}
.header__wrapper .icon__title {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper .icon__title {
    display: inline-block;
    padding-right: 0.9375rem;
  }
}
.header__wrapper .icon__title a {
  display: flex;
  align-items: center;
}
.header__wrapper .icon__title a p {
  margin: 0;
  margin-left: 0.3125rem;
}
.header__wrapper .header--user > div {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper .header--user > div {
    display: inline-block;
  }
}
.header__wrapper button {
  width: 11.875rem;
  margin-left: 0.625rem;
}
@media only screen and (min-width: 1280px) {
  .header__wrapper button {
    width: 6.25rem;
    margin-left: 0.3125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__wrapper button {
    width: 7.5rem;
    margin-left: 0.3125rem;
  }
}
@media only screen and (min-width: 1440px) {
  .header__wrapper button {
    width: 11.875rem;
    margin-left: 0.625rem;
  }
}
.header__wrapper button:first-of-type span {
  color: black;
}

.header__mobile {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .header__mobile {
    display: none;
  }
}
.header__mobile-wrapper {
  z-index: 10;
  left: 0;
  background-color: #25292f;
}
.header__mobile-wrapper--logo {
  width: 65%;
}
.header__mobile-wrapper--logo img {
  width: 100%;
  object-fit: contain;
}
.header__mobile-wrapper:first-of-type {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0.625rem 1.25rem;
}
.header__mobile-wrapper:last-of-type {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0.625rem 1.25rem;
}
.header__mobile-wrapper:last-of-type button {
  width: 50%;
  height: 2.5rem;
}
.header__mobile-wrapper:last-of-type button img {
  width: 1.5625rem;
}
.header__mobile-wrapper:last-of-type button:first-of-type {
  margin-right: 0.3125rem;
}
.header__mobile-wrapper:last-of-type button:first-of-type span {
  color: black;
}
.header__mobile-wrapper:last-of-type button:last-of-type {
  margin-left: 0.3125rem;
}

.footer {
  width: 100%;
}
.footer__grid {
  display: grid;
  row-gap: 1.875rem;
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "casino" "info" "follow" "client";
}
@media only screen and (min-width: 768px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "casino info" "follow client";
  }
}
@media only screen and (min-width: 1280px) {
  .footer__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "casino info follow client";
  }
}
.footer__grid-item:nth-of-type(1) {
  grid-area: "casino";
}
.footer__grid-item:nth-of-type(2) {
  grid-area: "info";
  justify-self: flex-start;
}
@media only screen and (min-width: 1280px) {
  .footer__grid-item:nth-of-type(2) {
    justify-self: center;
  }
}
.footer__grid-item:nth-of-type(3) {
  grid-area: "follow";
  justify-self: flex-start;
}
@media only screen and (min-width: 1280px) {
  .footer__grid-item:nth-of-type(3) {
    justify-self: center;
  }
}
.footer__grid-item:nth-of-type(3) li a {
  display: flex;
  align-items: center;
}
.footer__grid-item:nth-of-type(3) li a span {
  margin: 0;
}
.footer__grid-item:nth-of-type(3) li a img {
  margin-right: 0.625rem;
}
.footer__grid-item:nth-of-type(4) {
  grid-area: "client";
  justify-self: flex-start;
}
@media only screen and (min-width: 1280px) {
  .footer__grid-item:nth-of-type(4) {
    justify-self: flex-end;
  }
}
.footer__grid-item:nth-of-type(4) ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__grid-item:nth-of-type(4) ul .footer__grid-item--bottom {
  display: none;
  justify-content: flex-end;
}
@media only screen and (min-width: 1280px) {
  .footer__grid-item:nth-of-type(4) ul .footer__grid-item--bottom {
    display: flex;
  }
}
.footer__grid p {
  font-weight: 700;
}
.footer__grid li {
  padding-bottom: 0.625rem;
}
.footer__grid li a {
  color: white;
}
.footer__brands {
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
}
@media only screen and (min-width: 1280px) {
  .footer__brands {
    margin-top: 7.5rem;
  }
}
.footer__brands-logo {
  position: relative;
  border-top: 1px solid #2d3239;
}
.footer__brands-logo ul {
  margin: 0.9375rem 0;
}
@media only screen and (min-width: 1280px) {
  .footer__brands-logo ul {
    padding: 0 1.875rem;
  }
}
.footer__brands .payments ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__brands .payments ul li {
  margin: 0.9375rem 0.625rem;
}
.footer__brands .certificates ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .footer__brands .certificates ul {
    flex-direction: row;
  }
}
.footer__brands .certificates ul li {
  margin: 0.9375rem 0.625rem;
}
.footer__brands .certificates ul li a {
  display: flex;
  justify-content: center;
}
.footer .footer__casinos {
  background-color: #1c2026;
  padding: 1.875rem 0;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos {
    padding: 5rem 0;
  }
}
.footer .footer__casinos > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > ul {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.footer .footer__casinos > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 4.0625rem;
  margin: 0.125rem;
  background-color: #25292f;
  border-radius: 0.625rem;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > ul li {
    background-color: transparent;
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0 0.625rem;
  }
}
.footer .footer__casinos > ul li img {
  max-width: 80%;
  max-height: 70%;
}
.footer .footer__casinos > div {
  margin-top: 1.25rem;
}
@media only screen and (min-width: 1280px) {
  .footer .footer__casinos > div {
    margin-top: 2.5rem;
  }
}
.footer .footer__casinos > div p {
  color: #a4a5a8;
  text-align: center;
}

.banner {
  background-position: right;
  background-repeat: no-repeat;
}
.banner__wrapper {
  width: 100%;
  height: 100%;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .banner__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.banner__wrapper-title p {
  margin: 0;
  line-height: 1em;
}
.banner__wrapper-title .breadcrumbs {
  margin-top: 0.625rem;
  display: none;
}
@media only screen and (min-width: 1280px) {
  .banner__wrapper-title .breadcrumbs {
    display: block;
  }
}
.banner__wrapper img {
  margin-bottom: 1.875rem;
  width: 5.3125rem;
  height: 5.3125rem;
}
@media only screen and (min-width: 1280px) {
  .banner__wrapper img {
    width: 95px;
    height: 95px;
    margin-bottom: 0;
    margin-right: 0.9375rem;
  }
}

.search {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3b424b;
}
@media only screen and (min-width: 1280px) {
  .search {
    display: flex;
  }
}
.search .search__input {
  width: 75%;
  padding-left: 3.75rem;
  display: flex;
  align-items: center;
}
.search .search__input img {
  margin-right: 10px;
  height: 2.8125rem;
  width: 2.8125rem;
}
.search .search__input input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #d4d7da;
}
.search .search__input input::placeholder {
  color: #d4d7da;
}
.search .search__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3.75rem;
}
.search .search__wrapper img {
  margin-right: 10px;
  margin-bottom: 1.25rem;
}
.search .search__wrapper p {
  max-width: 60%;
  color: #a0a2a4;
}

.grids__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
@media only screen and (min-width: 1280px) {
  .grids__container {
    flex-direction: row;
    column-gap: 0.9375rem;
    row-gap: 0;
  }
}

.gridHalf {
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: #25292f;
  border-radius: 0.3125rem;
}
@media only screen and (min-width: 768px) {
  .gridHalf {
    padding: 1.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gridHalf {
    padding: 0.9375rem;
  }
}
@media only screen and (min-width: 1440px) {
  .gridHalf {
    padding: 1.875rem;
    width: 50%;
  }
}
.gridHalf:first-of-type {
  margin-bottom: 0.625rem;
}
@media only screen and (min-width: 1280px) {
  .gridHalf:first-of-type {
    margin-right: 0.3125rem;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .gridHalf:last-of-type {
    margin-left: 0.3125rem;
  }
}
.gridHalf__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.gridHalf__navbar .js-arrow__grid {
  cursor: pointer;
}
.gridHalf__navbar-wrapper {
  display: flex;
  align-items: center;
}
.gridHalf__navbar-wrapper > p {
  color: #ff293e;
  margin: 0;
  padding-right: 10px;
}
.gridHalf__navbar-wrapper .icon__title {
  margin-left: 1.25rem;
}
.gridHalf__navbar-wrapper .icon__title img {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .gridHalf__navbar-wrapper .icon__title img {
    display: inline-block;
  }
}
.gridHalf__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .gridHalf__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
}
@media only screen and (min-width: 1280px) {
  .gridHalf__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
}
.gridHalf__grid-item {
  position: relative;
}
.gridHalf__grid-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gridHalf__grid-item:hover .gridHalf__grid-item--hover {
  opacity: 1;
  transition: all 0.3s ease;
}
.gridHalf__grid-item--hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s ease;
}
.gridHalf__grid-item--hover button {
  margin-bottom: 0.9375rem;
}
.gridHalf__grid-item--hover button img {
  height: 12.6px;
  width: 16px;
}

.jackpot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1280px) {
  .jackpot {
    flex-direction: row;
  }
}
.jackpot .splide__slide {
  margin-bottom: 25px;
}
.jackpot__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 1280px) {
  .jackpot__text {
    width: calc(30% - 3.75rem);
  }
}
.jackpot__text p:last-of-type {
  color: #a0a2a4;
}
.jackpot__text a {
  display: flex;
  align-items: center;
}
.jackpot__text a span {
  color: #ff293e;
  margin: 0;
  margin-right: 0.3125rem;
}
.jackpot__carousel {
  margin-top: 1.875rem;
}
@media only screen and (min-width: 1280px) {
  .jackpot__carousel {
    margin-top: 0;
    width: 70%;
  }
}
.jackpot__card-image {
  margin-top: 3.75rem;
  background-color: #1c2026;
  border-radius: 0.625rem 0.625rem 0 0;
}
.jackpot__card-image img {
  margin-top: -3.75rem;
  object-fit: cover;
  width: 100%;
}
.jackpot__card-content {
  background-color: #25292f;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  height: 7.5rem;
}
@media only screen and (min-width: 1280px) {
  .jackpot__card-content {
    padding: 0.9375rem;
    height: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .jackpot__card-content {
    padding: 1.25rem;
    height: auto;
  }
}
.jackpot__card-content button {
  position: absolute;
  bottom: -1.375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .jackpot__card-content button {
    width: 70%;
    height: 2.8125rem;
  }
}
.jackpot__card-content button img {
  display: none;
}
@media only screen and (min-width: 576px) {
  .jackpot__card-content button img {
    display: inline-block;
  }
}

.jackpot .splide__arrows::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 5rem;
  height: 100%;
  background: linear-gradient(90deg, rgba(19, 23, 29, 0) 0%, #13171d 100%);
}
.jackpot .splide__arrow--prev {
  left: initial;
  right: 34px;
}
.jackpot .splide__arrow--next {
  right: 0;
}
/*# sourceMappingURL=slots.css.map */
