@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap");
:root {
  --horizontal-main-xs: 1.25rem;
  --horizontal-main-sm: 1.25rem;
  --horizontal-main-md: 2.5rem;
  --horizontal-main-lg: 3.75rem;
  --horizontal-main-xl: 7.5rem;
  --horizontal-main-xxl: 9.375rem;
  --horizontal-large-xs: 2.5rem;
  --horizontal-large-sm: 2.5rem;
  --horizontal-large-md: 5rem;
  --horizontal-large-lg: 7.5rem;
  --horizontal-large-xl: 18.75rem;
  --horizontal-large-xxl: 18.75rem;
  --vertical-small-xs: 3.125rem;
  --vertical-small-sm: 3.125rem;
  --vertical-small-md: 6.25rem;
  --vertical-small-lg: 3.125rem;
  --vertical-small-xl: 6.25rem;
  --vertical-small-xxl: 6.25rem;
  --vertical-medium-xs: 5rem;
  --vertical-medium-sm: 5rem;
  --vertical-medium-md: 8.75rem;
  --vertical-medium-lg: 5rem;
  --vertical-medium-xl: 9.375rem;
  --vertical-medium-xxl: 9.375rem;
  --vertical-large-xs: 6.25rem;
  --vertical-large-sm: 6.25rem;
  --vertical-large-md: 11.25rem;
  --vertical-large-lg: 6.25rem;
  --vertical-large-xl: 15.625rem;
  --vertical-large-xxl: 15.625rem;
}

/* Color Class */
.u-c--p {
  color: #FF293E;
}

.u-c--p-l {
  color: #ff5264;
}

.u-c--p-d {
  color: #5a1c26;
}

.u-c--s {
  color: #00D1BC;
}

.u-c--s-l {
  color: #99e4de;
}

.u-c--s-d {
  color: #02b5a4;
}

.u-c--g {
  color: #d4d7da;
}

.u-c--g-l {
  color: #eaedef;
}

.u-c--g-lr {
  color: #f4f6f8;
}

.u-c--g-d {
  color: #a0a2a4;
}

.u-c--g-dr {
  color: #868B92;
}

.u-c--b {
  color: #1c2026;
}

.u-c--b-l {
  color: #25292f;
}

.u-c--b-d {
  color: #13171d;
}

.u-c--w {
  color: #ffffff;
}

.u-c--danger {
  color: #EC0000;
}

.u-c--danger-l {
  color: #eb9b9c;
}

.u-c--warning {
  color: #E99C00;
}

.u-c--warning-l {
  color: #ead19c;
}

/* Background Class */
.u-bg--p {
  background-color: #FF293E;
}

.u-bg--p-l {
  background-color: #ff5264;
}

.u-bg--p-d {
  background-color: #5a1c26;
}

.u-bg--s {
  background-color: #00D1BC;
}

.u-bg--s-l {
  background-color: #99e4de;
}

.u-bg--s-d {
  background-color: #02b5a4;
}

.u-bg--g {
  background-color: #d4d7da;
}

.u-bg--g-l {
  background-color: #eaedef;
}

.u-bg--g-lr {
  background-color: #f4f6f8;
}

.u-bg--g-d {
  background-color: #a0a2a4;
}

.u-bg--g-dr {
  background-color: #868B92;
}

.u-bg--b {
  background-color: #1c2026;
}

.u-bg--b-l {
  background-color: #25292f;
}

.u-bg--b-d {
  background-color: #13171d;
}

.u-bg--w {
  background-color: #ffffff;
}

.u-bg--danger {
  background-color: #EC0000;
}

.u-bg--danger-l {
  background-color: #eb9b9c;
}

.u-bg--warning {
  background-color: #E99C00;
}

.u-bg--warning-l {
  background-color: #ead19c;
}

/* Font Family Class */
.u-f--primary {
  font-family: "Lexend";
}

/* Font Weight Class */
.u-f--light, .u-f--light p {
  font-weight: 300;
}

.u-f--book, .u-f--book p {
  font-weight: 400;
}

.u-f--medium, .u-f--medium p {
  font-weight: 500;
}

.u-f--bold, .u-f--bold p {
  font-weight: 700;
}

/* Font Size Class */
.u-f--h1 {
  font-size: 1.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h1 {
    font-size: 2.125rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h1 {
    font-size: 3.625rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h1 {
    font-size: 3.625rem;
  }
}

.u-f--h2 {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h2 {
    font-size: 2rem;
  }
}

.u-f--h3 {
  font-size: 1.375rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h3 {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h3 {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h3 {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h3 {
    font-size: 1.375rem;
  }
}

.u-f--h4 {
  font-size: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h4 {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h4 {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h4 {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h4 {
    font-size: 1.125rem;
  }
}

.u-f--h5 {
  font-size: 0.875rem;
}
@media only screen and (min-width: 768px) {
  .u-f--h5 {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 992px) {
  .u-f--h5 {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1200px) {
  .u-f--h5 {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .u-f--h5 {
    font-size: 0.875rem;
  }
}

.u-flex {
  display: flex;
}

.u-flex__col {
  display: flex;
  flex-direction: column;
}

.u-flex--lg {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .u-flex--lg {
    flex-direction: row;
  }
}

.u-flex__col--lg {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 992px) {
  .u-flex__col--lg {
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */