// SETTINGS
@use '../settings';

// TOOLS
@use '../tools';

// GENERIC
@use '../base';

// COMPONENTS
@use '../components/buttons';
@use '../components/breadcrumbs';
@use '../components/gradients';
@use '../components/deposits';
@use '../components/user';

// OBJECTS
@use '../objects/filter-promo';
@use '../objects/grid-promo';
@use '../objects/user/deposit';
@use '../objects/user/deposit__step1';
@use '../objects/user/deposit__step2';
@use '../objects/user/deposit__step3';
@use '../objects/user/common';

//LAYOUT
@use '../layout/header';
@use '../layout/footer';
@use '../layout/splide';
@use '../layout/popUp-balance';
@use '../layout/menu-header';
@use '../layout/menu-user';

// MODULES
@use '../modules/header-promo';
@use '../modules/finder-promo';
@use '../modules/text-block';
@use '../modules/carousel-promo';
@use '../modules/mpu';

// HELPER
@use '../helper';