// SETTINGS
@use '../settings';

// TOOLS
@use '../tools';

// GENERIC
@use '../base';

// COMPONENTS
@use '../components/buttons';
@use '../components/breadcrumbs';
@use '../components/breadcrumbs-promos';
@use '../components/deposits';
@use '../components/user';

// OBJECTS
// @use '../objects/popUp-balance';
@use '../objects/user/deposit';
@use '../objects/user/deposit__step1';
@use '../objects/user/deposit__step2';
@use '../objects/user/deposit__step3';
@use '../objects/user/common';

//LAYOUT
@use '../layout/header';
@use '../layout/footer';
@use '../layout/popUp-balance';
@use '../layout/menu-header';
@use '../layout/menu-user';
@use '../layout/tiny-grid';

// MODULES
@use '../modules/block-promo';
@use '../modules/accordion';
@use '../modules/text-block';
@use '../modules/countdown';
@use '../modules/mpu';

// HELPER
@use '../helper';