@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.m-footer {
  @extend %margin_horizontal_main;
  @extend %margin_top_medium;

  .o-footer--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "casino"
      "info"
      "follow"
      "client";
    justify-items: flex-start;

    @include lg {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "casino info follow client";
      justify-items: center;
    }

    .o-footer--grid_item:not(:first-of-type) {
      margin-top: 30px;
    }

    .o-footer--grid_item:nth-of-type(1) {
      grid-area: "casino";
    }

    .o-footer--grid_item:nth-of-type(2) {
      grid-area: "info";
    }

    .o-footer--grid_item:nth-of-type(3) {
      grid-area: "follow";

      li a {
        display: flex;
        align-items: center;

        img {
          margin-right: rem(10);
        }
      }
    }

    .o-footer--grid_item:nth-of-type(4) {
      grid-area: "client";
    }

    p {
      font-weight: 700;
    }

    li {
      padding-bottom: rem(10);

      a {
        color: white;
      }
    }
  }

  .o-footer--brands {
    display: flex;
    flex-direction: column;

    margin-top: rem(120);

    .o-footer--logo {
      position: relative;

      hr {
        position: absolute;
        top: rem(-15);
        left: -25%;
        width: 150vw;
        border: none;
        border-top: 1px solid setcolor("black");
      }

      ul {
        margin: rem(30) 0;

        @include lg {
          padding: 0 30px;
        }

        li {

        }
      }
    }

    .o-footer--logo:first-of-type {

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
          margin: rem(15) rem(10);
        }
      }
    }

    .o-footer--logo:last-of-type {
      ul {
        display: flex;
        flex-direction: column;

        li {
          width: 100%;
          margin: rem(15) 0;

          a {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
