@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.footer {
  @extend %margin_top_small;
  width: 100%;

  &__trama {
    padding: 0 $sm;
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__grid {
    @extend %margin_horizontal_main, %margin_top_medium;
    display: grid;
    column-gap: $lg;
    row-gap: rem(45);
    justify-items: flex-start;
    align-items: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "casino"
      "slots"
      "promos"
      "info"
      "client";

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas:
        "casino slots"
        "promos info"
        "client";
    }

    @include screen-sm {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "casino slots promos info client";
    }

    &-item:nth-of-type(1) {
      grid-area: "casino";
    }

    &-item:nth-of-type(2) {
      grid-area: "slots";
    }

    &-item:nth-of-type(3) {
      grid-area: "promos";

      li a {
        display: flex;
        align-items: center;

        span {
          @extend .u-f--h4;
          margin: 0;
        }

        img {
          margin-right: rem(10);
        }
      }
    }

    &-item:nth-of-type(4) {
      grid-area: "info";

      ul {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer__grid-item--bottom {
          display: none;
          justify-content: flex-end;

          @include screen-sm {
            display: flex;
          }
        }
      }
    }

    &-item:nth-of-type(5) {
      grid-area: "client";
    }

    p {
      font-weight: 700;
      padding-bottom: $md;
    }

    li {
      padding-bottom: rem(10);

      a {
        color: setcolor("white", base);
      }
    }
  }

  &__siguenos {
    width: 100vw;
    margin-top: $lg;
    &--container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &--list {
      display: flex;
      flex-direction: row;
      li {
        margin: 0 0 0 $xs;
      }
    }
  }

  &__brands {
    @extend %margin_horizontal_main;

    display: flex;
    flex-direction: column;

    margin-top: $xs;

    @include screen-sm {
      margin-top: $xs; //rem(120);
    }

    &-logo {
      position: relative;
      border-top: 1px solid setcolor("black", "dark4");

      ul {
        margin: $sm 0;

        @include screen-sm {
          padding: 0 $lg;
        }
      }
    }
    .policies {
      margin: auto;
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(5);

        li {
          text-align: center;
          margin: 5px 10px 0 5px;
        }

        @include mobile {
          flex-direction: row;
        }
      }
    }
    .payments {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
          margin: $sm rem(10);
        }
      }
    }

    .certificates {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include screen-sm {
          flex-direction: row;
        }

        li {
          margin: $sm rem(10);

          a {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  .footer__casinos {
    background-color: setcolor("black", "dark2");
    padding: $lg 0;

    @include screen-sm {
      padding: rem(80) 0;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include screen-sm {
        flex-direction: row;
        flex-wrap: nowrap;
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30%;
        height: rem(65);
        margin: rem(2);

        background-color: setcolor("black");
        border-radius: rem(10);

        @include screen-sm {
          background-color: transparent;
          border-radius: 0;
          width: auto;
          height: auto;
          margin: 0 rem(10);
        }

        img {
          width: 80%;
          max-height: 70%;
          object-fit: contain;

          @include screen-sm {
            width: auto;
            max-height: auto;
            object-fit: none;
          }
        }
      }
    }

    & > div {
      margin-top: rem(20);
      padding-bottom: $md;

      @include screen-sm {
        margin-top: rem(40);
      }

      p {
        color: #a4a5a8;
        text-align: center;
      }
    }
  }
}
