@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.has-header {
  position: relative;
  margin-top: 6vh;

  @include screen-sm {
    margin-top: 8vh;
  }
}

.is-on {
  display: flex !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 8vh;
  padding: 0 rem(20);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  background-color: setcolor("black", "dark1");

  display: none;

  @include screen-sm {
    padding: 0 $md;
    display: flex;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    .header__noLog-btn {
      width: auto;
      margin: 0;
      margin-left: rem(10);

      @include screen-md {
        width: rem(190);
        margin-left: rem(10);
      }

      &:first-of-type span {
        color: black;
      }
    }
  }

  &__logo {
    width: rem(195);
    margin-bottom: rem(10);

    @include screen-sm {
      width: auto;
      margin-right: $sm;
    }
    @include screen-sm {
      margin-right: rem(20);
    }

    svg {
      width: 100%;
      object-fit: contain;
    }
  }

  &__navBar ul {
    display: flex;
  }

  .icon__title {

    @include screen-sm {
      padding-right: rem(10);
    }
    @include screen-lg {
      padding-right: $sm;
    }

    a {
      display: flex;
      align-items: center;

      svg {
        display: none;

        @include screen-md {
          display: inline-block;
        }
      }

      p {
        @extend .u-f--h4, .u-f--bold;
        margin: 0;
        padding-left: rem(5 );
      }
    }
  }

  .header__logged {
    &-item {
      margin-left: $sm;
    }
  }

  .header__noLog, .header__logged {
    display: none;
  }
}

.header__mobile {
  position: relative;
  width: 100%;

  @include screen-sm {
    display: none;
  }

  &-wrapper {
    z-index: 8;
    left: 0;
    background-color: setcolor("black");
  }

  &-logo {
    margin: 0 $lg;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &--top {
    position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6vh;
    padding: rem(10) rem(20);
  }

  &--bottom {
    position: fixed;
    bottom: 0;
    width: 100%;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);

    height: auto;
    padding: rem(10) rem(20);
  }

  &-noLog {
    display: none;

    &.menu-active {
      display: flex !important;
    }

    button {
      width: 50%;
      margin: 0;

      img {
        width: rem(25);
      }
    }
    button:first-of-type {
      margin-right: $sm;

      span {
        color: black;
      }
    }
    button:last-of-type {
      margin-left: $sm;
    }
  }

  &-logged {
    display: none;
    justify-content: space-between;

    &.menu-active {
      display: flex !important;
    }
  }
}

header.header.header--light {
  transition: all 0.4s ease;
  background-color: setcolor("gray", "light1");

  .header__logo svg g path:not(#Trazado_1, #Trazado_2) {
    fill: setcolor('black', 'dark1');
  }

  .icon__title a {

    svg path, svg g path {
      fill: setcolor('black', 'dark1');
    }

    p {
      color: setcolor('black', 'dark1');
    }
  }
}
