@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

body {
  top: 6vh;

  @include lg {
    top: 8vh;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8vh;
  padding: 0 rem(20);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: rem(1) rem(17) rem(22) rem(2) rgba(0,0,0,1);
  background-color: setcolor("black", "dark1");

  display: none;

  @include lg {
    padding: 0 rem(30);
    display: flex;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &-menuBtn {
      display: inline-block;

      @include lg {
        display: none;
      }
    }

    &-btns {
      display: none;

      @include lg {
        display: inline-block;
      }
    }

    &-logo {
      width: rem(195);
      margin-bottom: rem(10);

      @include lg {
        width: rem(130);
        margin-right: rem(15);
      }
      @include xl {
        margin-right: rem(30);
        width: auto;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &-navBar {
      display: none;

      @include lg {
        display: inline-block;
      }
    }

    .icon__title {
      display: none;

      @include lg {
        display: inline-block;
        padding-right: rem(15);
      }
    }

    .header--user > div {
      display: none;

      @include lg {
        display: inline-block;
      }
    }

    button {
      width: rem(190);
      margin-left: rem(10);


      @include lg {
        width: rem(100);
        margin-left: rem(5);
      }
      @include xl {
        width: rem(120);
        margin-left: rem(5);
      }
      @include xxl {
        width: rem(190);
        margin-left: rem(10);
      }

      &:first-of-type span {
        color: black;
      }
    }
  }
}

.header__mobile {
  position: relative;
  width: 100%;

  @include lg {
    display: none;
  }

  &-wrapper {
    z-index: 10;
    left: 0;
    background-color: setcolor("black");

    &--logo {
      width: 65%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  &-wrapper:first-of-type {
    position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0px rem(5) rem(45) rem(30) rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
    padding: rem(10) rem(20);


  }

  &-wrapper:last-of-type {
    position: fixed;
    bottom: 0;
    width: 100%;

    box-shadow: 0px rem(-5) rem(45) rem(30) rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
    padding: rem(10) rem(20);

    button {
      width: 50%;
      height: rem(40);

      img {
        width: rem(25);
      }
    }
    button:first-of-type {
      margin-right: rem(5);

      span {
        color: black;
      }
    }
    button:last-of-type {
      margin-left: rem(5);
    }
  }


}