@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  padding: $sm rem(20);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
  background-color: setcolor("black", "dark1");

  display: none;

  @include screen-sm {
    padding: rem(20) $md;
    display: flex;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    .header__noLog-btn {
      margin: 0;
      margin-left: rem(10);
      padding: $sm rem(40);

      @include screen-md {
        margin-left: rem(10);
      }

      &:first-of-type span {
        color: black;
      }
    }
  }

  &__logo {
    width: rem(195);
    margin-bottom: rem(10);

    @include screen-sm {
      width: rem(190);
      margin-right: $sm;
    }
    @include screen-md {
      width: rem(240);
    }
    @include screen-lg {
      width: auto;
      margin-right: rem(20);
    }

    svg {
      width: 100%;
      object-fit: cover;
    }
  }

  &__navBar ul {
    display: flex;
  }

  .nav__item {
    @include screen-sm {
      padding-right: rem(10);
    }
    @include screen-lg {
      padding-right: $sm;
    }

    a {
      display: flex;
      align-items: center;

      svg {
        display: none;
        height: rem(14);
        width: rem(14);

        @include screen-lg {
          display: inline-block;
        }
      }

      p {
        @extend .u-f--h5, .u-f--bold;
        margin: 0;
        padding-left: rem(5);
      }
    }
  }

  .nav__promo {
    padding-right: 0;
  }

  .header__logged {
    &.active {
      display: flex;
    }
    &-item {
      margin-left: $sm;
    }
  }

  .header__noLog {
    &.active {
      display: flex;
    }
  }

  .header__noLog,
  .header__logged {
    display: none;
  }
}

.header__mobile {
  position: relative;
  width: 100%;

  @include screen-sm {
    display: none;
  }

  &-wrapper {
    z-index: 8;
    left: 0;
    background-color: setcolor("black");
  }

  &-logo {
    margin: 0 rem(45);
    svg {
      width: 100%;
      object-fit: cover;
    }
  }

  &--top {
    position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $sm rem(20);

    .menuHeader__openBtn {
      cursor: pointer;
    }
  }

  &--bottom {
    position: fixed;
    bottom: 0;
    width: 100%;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.9);

    height: auto;
    padding: rem(10) rem(20);
  }

  &-noLog {
    display: none;
    column-gap: rem(10);

    &.menu-active {
      display: flex !important;
    }

    a {
      width: 50%;
      margin: 0;
      padding: $sm 0;

      img {
        width: rem(25);
      }
    }
    a:first-of-type span {
      color: black;
    }
  }

  &-logged {
    display: none;
    justify-content: space-between;

    &.menu-active {
      display: flex !important;
    }
  }
}

.header.header--light {
  transition: all 0.4s ease;
  background-color: setcolor("gray", "light1");

  .header__logo svg g path:not(#Trazado_1, #Trazado_2) {
    fill: setcolor("black", "dark1");
  }

  .nav__item {
    svg path,
    svg g path {
      fill: setcolor("black", "dark1");
    }

    p {
      color: setcolor("black", "dark1");
    }
  }

  .deposits {
    background-color: setcolor("gray", "light2");
    &__total {
      &::before {
        background: linear-gradient(
          to right,
          transparent 70%,
          setcolor("gray", "light2")
        );
      }

      span {
        color: setcolor("black", "dark1");
      }

      svg path {
        fill: setcolor("black", "dark1");
      }
    }

    & > svg g path {
      stroke: setcolor("black", "dark1");
    }

    .deposits__btn {
      background-color: setcolor("secondary") !important;
      box-shadow: 0px 0px rem(20) 0px setcolor("secondary") !important;
    }
  }

  .user a svg g g {
    stroke: white;
  }
}

.header__mobile.header--light {
  transition: all 0.4s ease;

  .header__mobile-wrapper {
    background-color: setcolor("gray", "light1");
  }

  .header__mobile--top {
    .menuHeader__openBtn svg {
      circle {
        fill: #d4d7da;
      }
      g line {
        stroke: black;
      }
    }

    .header__mobile-logo svg g path:not(#Trazado_1, #Trazado_2) {
      fill: setcolor("black", "dark1");
    }

    .userMobile svg g g circle,
    .userMobile svg g g path {
      stroke: white;
    }
  }

  .header__mobile--bottom {
    .header__mobile-logged {
      .deposits {
        background-color: setcolor("gray", "light2");
        &__total {
          &::before {
            background: linear-gradient(
              to right,
              transparent 70%,
              setcolor("gray", "light2")
            );
          }

          span {
            color: setcolor("black", "dark1");
          }

          svg path {
            fill: setcolor("black", "dark1");
          }
        }

        & > svg g path {
          stroke: setcolor("black", "dark1");
        }

        .deposits__btn {
          background-color: setcolor("secondary") !important;
          box-shadow: 0px 0px rem(20) 0px setcolor("secondary") !important;
        }
      }

      .userNoIcon {
        p {
          color: setcolor("black", "dark1");
        }
      }
    }
  }
}
