@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.menuHeader {
  display: none;

  position: fixed;
  top: 0;
  left: -90vw;

  z-index: 10;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
  
  opacity: 0;
  
  padding: $sm;
  background-color: setcolor("black", "dark1");
  
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 60px rgb(0 0 0 / 80%);
  
  @include tablet {
    width: auto;
    padding-right: $lg;
  }

  &__close {
    cursor: pointer;
  }

  &__navItems {
    margin-top: $md;

    li a {
      display: flex;
      align-items: center;
      padding-bottom: $sm;

      p {
        @extend .u-f--bold;
        padding-left: rem(10);

        @include mobile-sm {
          font-size: 1.25rem;
        }
      }
    }
  }

  &--bottom {
    display: flex;
    flex-direction: row;
    a:not(:last-of-type) {
      margin-right: rem(10);
    }
  }
}
