<form class="o-filter--slots">

    <div class="o-filter--slots-header">
        <div class="o-filter--slots-left">
            <img src="img/icon-funnel-red.svg" alt="">
            <span>Filtro</span>
        </div>
        <div class="o-filter--slots-right">
            <div>
                <img src="img/icon-arrow-left.svg" alt="">
            </div>

            <button class="u-btn--gray-red" type="reset">
                <span>Eliminar filtros</span>
                <img src="img/icon-cross-red.svg" alt="">
            </button>
        </div>
    </div>

    <div class="o-filter--slots-container">
        <fieldset data-filter-group class="o-filter--slots-search">
            <img src="img/icon-lupa-big.svg" alt="">
            <input type="text" name="" id="" placeholder="Busca por nombre...">
        </fieldset>

        <fieldset data-filter-group class="o-filter--slots-general">
            <button class="u-btn--block" data-filter=".novedad">Novedad</button>
            <button class="u-btn--block" data-filter=".promo">Promoción</button>
            <button class="u-btn--block" data-toggle=".favoritos">
                <img src="img/icon-heart-white-big.svg" alt="">
            </button>
        </fieldset>

        <div class="o-filter--slots-filter">
            <div class="o-filter--slots-title">
                <p>Proveedor</p>
                <img src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="o-filter--slots-wrapper" data-filter-group>
                <div class="o-filter--slots-tag" data-toggle=".proveedor-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Proveedor Uno</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".proveedor-dos">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Proveedor Dos</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".proveedor-tres">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Proveedor Tres</span>
                </div>
            </fieldset>
        </div>

        <div class="o-filter--slots-filter">
            <div class="o-filter--slots-title">
                <p>Tipo</p>
                <img src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="o-filter--slots-wrapper" data-filter-group>
                <div class="o-filter--slots-tag" data-toggle=".tipo-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Tipo Uno</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".tipo-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Tipo Dos</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".tipo-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Tipo Tres</span>
                </div>
            </fieldset>
        </div>

        <div class="o-filter--slots-filter">
            <div class="o-filter--slots-title">
                <p>Líneas</p>
                <img src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="o-filter--slots-wrapper" data-filter-group>
                <div class="o-filter--slots-tag" data-toggle=".linea-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Línea Uno</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".linea-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Línea Dos</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".linea-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Línea Tres</span>
                </div>
            </fieldset>
        </div>

        <div class="o-filter--slots-filter">
            <div class="o-filter--slots-title">
                <p>Apuesta mínima</p>
                <img src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="o-filter--slots-wrapper" data-filter-group>
                <div class="o-filter--slots-tag" data-toggle=".apuesta-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Apuesta Uno</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".apuesta-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Apuesta Dos</span>
                </div>
                <div class="o-filter--slots-tag" data-toggle=".apuesta-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Apuesta Tres</span>
                </div>
            </fieldset>
        </div>
    </div>

</form>