<section class="filterFavorites">
	<div class="filterFavorites__wrapper">
		<fieldset class="filterFavorites__types">
			<button data-filter="all" id="favorites-all" autofocus>Todos</button>
			<button id="favorites-slots" data-filter=".slots" type="button">Slots</button>
			<button id="favorites-ruleta" data-filter=".ruleta" type="button">Ruleta en vivo</button>
			<button id="favorites-casino" data-filter=".casino" type="button">Casino</button>
		</fieldset>
	</div>
</section>