<section class="filter__promo">
    <div class="filter__promo-wrapper">
        <button class=""><span>Todos</span></button>
        <button class="">
            <img src="img/icon-seven-promo.svg" alt="">
            <span>Casino</span>
        </button>
        <button class="">
            <img src="img/icon-ball-promo.svg" alt="">
            <span>Apuestas</span>
        </button>
        <button class="">
            <img src="img/icon-card-promo.svg" alt="">
            <span>Poker</span>
        </button>
    </div>
</section>