<section class="filter__promo">
    <div class="splide filter__promo-mobile filter__promo-wrapper">
        <div class="splide__gradient"></div>
        <div class="splide__track">
            <fieldset class=" splide__list">
                <button class="splide__slide" data-filter="all" autofocus>Todos</button>
                <button class="splide__slide" data-filter=".slots">Slots</button>
                <button class="splide__slide" data-filter=".apuesta">Apuestas</button>
                <button class="splide__slide" data-filter=".ruleta">Ruleta</button>
                <button class="splide__slide" data-filter=".poker">Poker</button>
                <button class="splide__slide" data-filter=".deposito">Sin depósito</button>
            </fieldset>
        </div>
    </div>
    <fieldset class="filter__promo-desktop filter__promo-wrapper">
        <button class="splide__slide" data-filter="all" autofocus>Todos</button>
        <button class="splide__slide" data-filter=".slots">Slots</button>
        <button class="splide__slide" data-filter=".apuesta">Apuestas</button>
        <button class="splide__slide" data-filter=".ruleta">Ruleta</button>
        <button class="splide__slide" data-filter=".poker">Poker</button>
        <button class="splide__slide" data-filter=".deposito">Sin depósito</button>
    </fieldset>
</section>
