<form class="filterFavorites">
	<section class="filterFavorites__wrapper">
		<fieldset class="filterFavorites__types" data-filter-group>
			<button type="reset" id="favorites-all" autofocus>Todos</button>
			<button id="favorites-slots" data-filter=".slots">Slots</button>
			<button id="favorites-ruleta" data-filter=".ruleta">Ruleta en vivo</button>
			<button id="favorites-casino" data-filter=".casino">Casino</button>
		</fieldset>
	</section>
</form>