<form class="filterSlots">

    <div class="filterSlots__header">
        <div class="filterSlots--left">
            <img src="img/icons/icon-funnel-red.svg" alt="">
            <span>Filtro</span>
        </div>
        <div class="filterSlots--right">
            <div>
                <img src="img/icons/icon-arrow-left.svg" alt="">
            </div>

            <button class="btn__gray--red" type="reset" id="resetSlots">
                <span>Eliminar filtros</span>
                <img src="img/icons/icon-cross-red.svg" alt="">
            </button>
        </div>
    </div>

    <div class="filterSlots__container">
        <fieldset data-filter-group class="filterSlots__search">
            <img src="img/icons/icon-lupa-big.svg" alt="">
            <input type="text" id="nameSearch" data-search-attribute="data-name" placeholder="Busca por nombre...">
        </fieldset>

        <fieldset data-filter-group class="filterSlots__general">
            <button class="btn__block" data-toggle=".novedad">Novedad</button>
            <button class="btn__block" data-toggle=".promo">Promoción</button>
            <button class="btn__block btn__block--favorite" data-toggle=".favorito">
                <img src="img/icons/icon-heart-white-big.svg" alt="">
            </button>
            
        </fieldset>

        <fieldset data-filter-group class="filterSlots__general">
          <button class="btn__block" data-toggle=".streamers">Jugado por streamers</button>
        </fieldset>

        <div class="filterSlots__filter" data-accordion>
            <div class="filterSlots__title head" data-accordion-trigger>
                <p>Proveedor</p>
                <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group data-accordion-content>
                <div class="body__wrapper">
                    <div class="filterSlots__tag" data-toggle="novomatic">
                        <span>Novomatic</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="pragmaticplay">
                        <span>PragmaticPlay</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="playtech">
                        <span>Playtech</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="1x2gaming">
                        <span>1x2 Gaming</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="bigtimegaming">
                        <span>Big Time Gaming</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="betsoft">
                        <span>Betsoft</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="gaming1">
                        <span>Gaming1</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="hacksawgaming">
                        <span>Hacksaw Gaming</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="high5games">
                        <span>High 5 Games</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="irondog">
                        <span>Iron Dog</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="lightningbox">
                        <span>Lightning Box</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="mga">
                        <span>MGA</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="microgaming">
                        <span>Microgaming</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="netent">
                        <span>NetEnt</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="nextgen">
                        <span>NextGen</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="nolimitcity">
                        <span>Nolimit City</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="rfranco">
                        <span>R.Franco</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="redrake">
                        <span>RedRake</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="reelplay">
                        <span>ReelPlay</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="sgdigital">
                        <span>SG Digital</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="thunderkick">
                        <span>Thunderkick</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle="yggdrasil">
                        <span>Yggdrasil</span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter" data-accordion>
            <div class="filterSlots__title head" data-accordion-trigger>
                <p>Tipo</p>
                <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group data-accordion-content>
                <div class="body__wrapper">
                    <div class="filterSlots__tag" data-toggle=".tipo-uno">
                        <span>Tipo Uno</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".tipo-dos">
                        <span>Tipo Dos</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".tipo-tres">
                        <span>Tipo Tres</span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter" data-accordion>
            <div class="filterSlots__title head" data-accordion-trigger>
                <p>Líneas</p>
                <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group data-accordion-content>
                <div class="body__wrapper">
                    <div class="filterSlots__tag" data-toggle=".linea-uno">
                        <span>Línea Uno</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".linea-dos">
                        <span>Línea Dos</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".linea-tres">
                        <span>Línea Tres</span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter" data-accordion>
            <div class="filterSlots__title head" data-accordion-trigger>
                <p>Apuesta mínima</p>
                <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group data-accordion-content>
                <div class="body__wrapper">
                    <div class="filterSlots__tag" data-toggle=".apuesta-uno">
                        <span>Apuesta Uno</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".apuesta-dos">
                        <span>Apuesta Dos</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".apuesta-tres">
                        <span>Apuesta Tres</span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter" data-accordion>
            <div class="filterSlots__title head" data-accordion-trigger>
                <p>Funciones</p>
                <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group data-accordion-content>
                <div class="body__wrapper">
                    <div class="filterSlots__tag" data-toggle=".freespins">
                        <span>Free Spins</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".wildsespeciales">
                        <span>Wilds Especiales</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".lineasendoblesentido">
                        <span>Lineas en Doble Sentido</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".minijuegos">
                        <span>Mini Juegos</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".cascada">
                        <span>Cascada</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".dobleonada">
                        <span>Doble o Nada</span>
                    </div>
                    <div class="filterSlots__tag" data-toggle=".compradebono">
                        <span>Compra de Bono</span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

</form>

<section class="filterSlotsM">

    <div class="filterSlotsM__navbar">
        <div class="btn__openFilterMenu">
            <img src="img/icons/icon-funnel-red.svg" alt="">
        </div>
    </div>

    <form class="filterSlotsM__menu">
        <div class="filterSlotsM__content">
            <div class="filterSlotsM__header">
                <div class="filterSlotsM__header__title">
                    <img src="img/icons/icon-funnel-red.svg" alt="">
                    <span>Filtro</span>
                </div>
                <img class="btn__closeFilterMenu" src="img/icons/icon-slots-cross-btn.svg" alt="">
            </div>

            <div class="filterSlotsM__container">
                <fieldset data-filter-group class="filterSlotsM__search">
                    <img src="img/icons/icon-lupa-big.svg" alt="">
                    <input type="text" id="nameSearch" data-search-attribute="data-name"
                        placeholder="Busca por nombre...">
                </fieldset>

                <fieldset data-filter-group class="filterSlotsM__general">
                    <button class="btn__block" data-toggle=".novedad">Novedad</button>
                    <button class="btn__block" data-toggle=".promo">Promoción</button>
                    <button class="btn__block btn__block--favorite" data-toggle=".favorito">
                        <img src="img/icons/icon-heart-white-big.svg" alt="">
                    </button>                    
                </fieldset>

                <fieldset data-filter-group class="filterSlotsM__general">
                  <button class="btn__block" data-toggle=".streamers">Jugado por streamers</button>
                </fieldset>

                <div class="filterSlotsM__filter accordion--active" data-accordion>
                    <div class="filterSlotsM__title head" data-accordion-trigger>
                        <p>Proveedor</p>
                        <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
                    </div>
                    <fieldset class="filterSlotsM__wrapper body active" data-filter-group data-accordion-content>
                        <div class="body__wrapper">
                            <div class="filterSlotsM__tag" data-toggle=".proveedor-uno">
                                <span>Proveedor Uno</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".proveedor-dos">
                                <span>Proveedor Dos</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".proveedor-tres">
                                <span>Proveedor Tres</span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="filterSlotsM__filter" data-accordion>
                    <div class="filterSlotsM__title head" data-accordion-trigger>
                        <p>Tipo</p>
                        <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
                    </div>
                    <fieldset class="filterSlotsM__wrapper body active" data-filter-group data-accordion-content>
                        <div class="body__wrapper">
                            <div class="filterSlotsM__tag" data-toggle=".tipo-uno">
                                <span>Tipo Uno</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".tipo-uno">
                                <span>Tipo Dos</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".tipo-uno">
                                <span>Tipo Tres</span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="filterSlotsM__filter" data-accordion>
                    <div class="filterSlotsM__title head" data-accordion-trigger>
                        <p>Líneas</p>
                        <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
                    </div>
                    <fieldset class="filterSlotsM__wrapper body active" data-filter-group data-accordion-content>
                        <div class="body__wrapper">
                            <div class="filterSlotsM__tag" data-toggle=".linea-uno">
                                <span>Línea Uno</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".linea-uno">
                                <span>Línea Dos</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".linea-uno">
                                <span>Línea Tres</span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="filterSlotsM__filter" data-accordion>
                    <div class="filterSlotsM__title head" data-accordion-trigger>
                        <p>Apuesta mínima</p>
                        <img class="accorArrow" src="img/icons/icon-arrow-down-grey.svg" alt="">
                    </div>
                    <fieldset class="filterSlotsM__wrapper body active" data-filter-group data-accordion-content>
                        <div class="body__wrapper">
                            <div class="filterSlotsM__tag" data-toggle=".apuesta-uno">
                                <span>Apuesta Uno</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".apuesta-dos">
                                <span>Apuesta Dos</span>
                            </div>
                            <div class="filterSlotsM__tag" data-toggle=".apuesta-tres">
                                <span>Apuesta Tres</span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="filterSlotsM__btns">
                <button type="reset" class="btn__darkGrey filterSlotsM__action">
                    <span>BORRAR FILTROS</span>
                    <img src="img/icons/icon-btn-arrow.svg" alt="">
                </button>
                <button type="submit" class="btn__red filterSlotsM__action">
                    <span>APLICAR FILTROS</span>
                    <img src="img/icons/icon-btn-arrow.svg" alt="">
                </button>
            </div>
        </div>
    </form>
</section>
