<form class="filterSlots">

    <div class="filterSlots__header">
        <div class="filterSlots--left">
            <img src="img/icon-funnel-red.svg" alt="">
            <span>Filtro</span>
        </div>
        <div class="filterSlots--right">
            <div>
                <img src="img/icon-arrow-left.svg" alt="">
            </div>

            <button class="btn__gray--red" type="reset">
                <span>Eliminar filtros</span>
                <img src="img/icon-cross-red.svg" alt="">
            </button>
        </div>
    </div>

    <div class="filterSlots__container">
        <fieldset data-filter-group class="filterSlots__search">
            <img src="img/icon-lupa-big.svg" alt="">
            <input type="text" id="nameSearch" data-search-attribute="data-name" placeholder="Busca por nombre...">
        </fieldset>

        <fieldset data-filter-group class="filterSlots__general">
            <button class="btn__block" data-toggle=".novedad">Novedad</button>
            <button class="btn__block" data-toggle=".promo">Promoción</button>
            <button class="btn__block" data-toggle=".favorito">
                <img src="img/icon-heart-white-big.svg" alt="">
            </button>
        </fieldset>

        <div class="filterSlots__filter">
            <div class="filterSlots__title head">
                <p>Proveedor</p>
                <img class="accorArrow" src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group>
                <div class="filterSlots__tag" data-toggle=".proveedor-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Proveedor Uno</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".proveedor-dos">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Proveedor Dos</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".proveedor-tres">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Proveedor Tres</span>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter">
            <div class="filterSlots__title head">
                <p>Tipo</p>
                <img class="accorArrow" src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group>
                <div class="filterSlots__tag" data-toggle=".tipo-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Tipo Uno</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".tipo-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Tipo Dos</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".tipo-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Tipo Tres</span>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter">
            <div class="filterSlots__title head">
                <p>Líneas</p>
                <img class="accorArrow" src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group>
                <div class="filterSlots__tag" data-toggle=".linea-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Línea Uno</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".linea-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Línea Dos</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".linea-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Línea Tres</span>
                </div>
            </fieldset>
        </div>

        <div class="filterSlots__filter">
            <div class="filterSlots__title head">
                <p>Apuesta mínima</p>
                <img class="accorArrow" src="img/icon-arrow-down-grey.svg" alt="">
            </div>
            <fieldset class="filterSlots__wrapper body active" data-filter-group>
                <div class="filterSlots__tag" data-toggle=".apuesta-uno">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Apuesta Uno</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".apuesta-dos">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Apuesta Dos</span>
                </div>
                <div class="filterSlots__tag" data-toggle=".apuesta-tres">
                    <img src="img/icon-filter-noActive.svg" alt="">
                    <span>Apuesta Tres</span>
                </div>
            </fieldset>
        </div>
    </div>

</form>