<section class="footerRuleta">
    <div class="footerRuleta__item">
        <img class="footerRuleta__item-icon" src="img/icons/icon-ruleta-checked.svg" alt="">
        <p class="footerRuleta__item-title">El mayor catálogo de Ruletas</p>
    </div>
    <div class="footerRuleta__item">
        <img class="footerRuleta__item-icon" src="img/icons/icon-ruleta-checked.svg" alt="">
        <p class="footerRuleta__item-title">Crupiers 24/7 con chat</p>
    </div>
    <div class="footerRuleta__item">
        <img class="footerRuleta__item-icon" src="img/icons/icon-ruleta-checked.svg" alt="">
        <p class="footerRuleta__item-title">Premios hasta 25.000€</p>
    </div>
</section>