<section class="gridScreen">
    <div class="gridScreen__header">
        <p>Quizá te interese...</p>
    </div>
    <div class="gridScreen__grid">
        <% for( let index = 1; index < 10; index++ ) { %>
            <div class="gridScreen__item">
                <img src="img/images/img-grid-<%= index %>.jpg" alt="">
            </div>
        <% } %>
    </div>
</section>