<ul class="gridFavorites container">
	<% data.forEach( el => { %>
		<li class="gridFavorites__item mix <%= el.juego %>">
			<img class="gridFavorites__item-image" src="img/images/img-grid-<%= el.img %>.jpg" alt="">
			<%- include ('../components/hover-favoritos') %>
		</li>
	<% }) %>
</ul>