<section class="grid__promo">
    <div class="grid__promo-container">
        <% data.forEach( e=> { %>
            <div class="grid__promo-card mix <%= e.category %> ">
                <div class="grid__promo-card--top">
                    <img src="img/images/img-grid-promo<%= e.img %>.png" alt="">
                </div>
                <div class="grid__promo-card--bottom">
                    <p class="grid__promo-title">
                        <%= e.title %>
                    </p>
                    <p class="grid__promo-subtitle">Casino</p>
                    <p class="grid__promo-body">Apuesta por el equipo que conseguirá ganar la Champions League y
                        aprovéchate de cada victoria durante la competición, porque... ¡si ellos ganan, tú también!</p>
                    <a href="/promocion" class="grid__promo-btn btn__red">
                        <span>MÁS INFORMACIÓN</span>
                        <img src="img/icons/icon-round-arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <% }) %>
    </div>
</section>