<section class="headerScreen">
    <div class="headerScreen--top">
        <div class="headerScreen__brand">
            <img src="img/images/img-screen-brand.png" alt="">
        </div>
        <div class="headerScreen__breadcrumbs breadcrumbs">
            <span>CASINO DE BARCELONA</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="5.414" height="9.017" viewBox="0 0 5.414 9.017">
                <g id="icon-arrow-breadcrumb" transform="translate(1.414 1.414)">
                    <path id="Trazado_5068" data-name="Trazado 5068"
                        d="M0,0,2.928,2.928a.229.229,0,0,1,.01.323l-.01.01L0,6.189" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
            </svg>
            <span>SLOTS</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="5.414" height="9.017" viewBox="0 0 5.414 9.017">
                <g id="icon-arrow-breadcrumb" transform="translate(1.414 1.414)">
                    <path id="Trazado_5068" data-name="Trazado 5068"
                        d="M0,0,2.928,2.928a.229.229,0,0,1,.01.323l-.01.01L0,6.189" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
            </svg>
            <span>FINN GOLDEN TAVERN</span>
        </div>
    </div>

    <div class="headerScreen--bottom">
        <div class="headerScreen__title">
            <p>Finn's: Golden Tavern</p>
            <svg class="heart" xmlns="http://www.w3.org/2000/svg" width="20.274" height="17.354" viewBox="0 0 20.274 17.354">
                <g id="icon-screen-heart" opacity="1">
                    <path id="Trazado_99" data-name="Trazado 99"
                        d="M20.055,14.313a5.79,5.79,0,0,0-4.111-4.1A6.036,6.036,0,0,0,10.4,12.084a.362.362,0,0,1-.492,0,6.036,6.036,0,0,0-5.544-1.867,5.79,5.79,0,0,0-4.111,4.1,5.646,5.646,0,0,0,1.448,5.6L9.69,27.283a.738.738,0,0,0,.984,0l8.005-7.4A5.6,5.6,0,0,0,20.055,14.313Z"
                        transform="translate(-0.024 -10.118)" fill="#929497" />
                </g>
            </svg>
        </div>
        <div class="headerScreen__btns">
            <a href="/screen-game">
                <button class="btn__red btn__red--glow">
                    <span>¡Juega!</span>
                    <img src="img/icons/icon-play-white.svg" alt="">
                </button>
            </a>
            <button class="btn__darkGrey">
                <span>Pruébalo</span>
            </button>
        </div>
    </div>
</section>