<section class="menuPoker">

  <div class="menuPoker__wrapper">
    <button class="menuPoker__btn menuPoker-home is-active">
      <svg class="icon" width="20" height="24.5"><use href="img/icons.svg#icon-menu-poker-1"></use></svg>
      <span>Inicio</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </button>
    <button class="menuPoker__btn menuPoker-pc">
      <svg class="icon" width="28" height="28.072"><use xlink:href="img/icons.svg#icon-menu-poker-2"></use></svg>
      <span>En el PC</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </button>
    <button class="menuPoker__btn menuPoker-mobile">
      <svg class="icon" width="28" height="28.599"><use xlink:href="img/icons.svg#icon-menu-poker-3"></use></svg>
      <span>En el Móvil</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </button>
    <button class="menuPoker__btn menuPoker-tour">
      <svg class="icon" width="26" height="26"><use xlink:href="img/icons.svg#icon-menu-poker-4"></use></svg>
      <span>Torneos</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </button>
    <button class="menuPoker__btn menuPoker-home">
      <svg class="icon" width="28.039" height="28.031"><use xlink:href="img/icons.svg#icon-menu-poker-5"></use></svg>
      <span>Cómo jugar</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </button>
    <button class="menuPoker__btn menuPoker-home">
      <svg class="icon" width="30" height="30"><use xlink:href="img/icons.svg#icon-menu-poker-6"></use></svg>
      <span>Satélites online</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </button>
  </div>

  <div class="menuPoker__wrapper splide">
    <div class="splide__track">
      <div class="splide__list">
        <button class="menuPoker__btn is-active splide__slide">
          <svg class="icon" width="20" height="24.5"><use href="img/icons.svg#icon-menu-poker-1"></use></svg>
          <span>Inicio</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </button>
        <button class="menuPoker__btn splide__slide">
          <svg class="icon" width="28" height="28.072"><use xlink:href="img/icons.svg#icon-menu-poker-2"></use></svg>
          <span>En el PC</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </button>
        <button class="menuPoker__btn splide__slide">
          <svg class="icon" width="28" height="28.599"><use xlink:href="img/icons.svg#icon-menu-poker-3"></use></svg>
          <span>En el Móvil</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </button>
        <button class="menuPoker__btn splide__slide">
          <svg class="icon" width="26" height="26"><use xlink:href="img/icons.svg#icon-menu-poker-4"></use></svg>
          <span>Torneos</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </button>
        <button class="menuPoker__btn splide__slide">
          <svg class="icon" width="28.039" height="28.031"><use xlink:href="img/icons.svg#icon-menu-poker-5"></use></svg>
          <span>Cómo jugar</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </button>
        <button class="menuPoker__btn splide__slide">
          <svg class="icon" width="30" height="30"><use xlink:href="img/icons.svg#icon-menu-poker-6"></use></svg>
          <span>Satélites online</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </button>
      </div>
    </div>
  </div>

</section>