<section class="screensBar">
    <div class="screensBar__wrapper screensBar--left">
        <a href="#" class="screensBar__item">
            <img src="img/icons/icon-info.svg" alt="">
        </a>
        <div class="screensBar__item">
            <p>Apuestas</p>
            <p>0,00 €</p>
        </div>
        <div class="screensBar__item">
            <p>Premios</p>
            <p>0,00 €</p>
        </div>
        <div class="screensBar__item">
            <p>Restante</p>
            <p>0,00 €</p>
        </div>
        <div class="screensBar__item">
            <p>Balance sesión</p>
            <p>0,00 €</p>
        </div>
        <div class="screensBar__item">
            <p>Tiempo</p>
            <p>0,00 €</p>
        </div>
    </div>
    <div class="screensBar__wrapper screensBar--right">
        <button>
            <img src="img/icons/icon-heart-grey.svg" alt="" >
        </button>
        <button>
            <img src="img/icons/icon-new-window.svg" alt="" >
        </button>
        <button>
            <img src="img/icons/icon-fullscreen.svg" alt="" >
        </button>
        <button>
            <img src="img/icons/icon-miniscreen.svg" alt="" >
        </button>
        <button>
            <img src="img/icons/icon-close-white.svg" alt="" >
        </button>
        <button class="screensBar__btn--last">
            <img src="img/icons/icon-arrow-left.svg" alt="">
        </button>
    </div>
</section>