<%
const tableArray = [
    {
        cubiertos: "1",
        apuestas: "Pleno",
        pago: "29-499:1"
    },
    {
        cubiertos: "2",
        apuestas: "Dividir",
        pago: "11:1"
    },
    {
        cubiertos: "3",
        apuestas: "Transversal",
        pago: "8:1"
    },
    {
        cubiertos: "4",
        apuestas: "Cuadro",
        pago: "5:1"
    },
    {
        cubiertos: "6",
        apuestas: "Seisena",
        pago: "2:1"
    },
    {
        cubiertos: "12",
        apuestas: "Apuesta a columna o docena",
        pago: "1:1"
    },
    {
        cubiertos: "18",
        apuestas: "Apuesta a rojo/negro, par/impar, 1-18/19-36",
        pago: "1:1"
    },
]
%>

<section class="tableScreen">
    <p class="aside__title">Slot Age of The Gods: Wonder Warriors</p>
    <div class="tableScreen__grid">
        <div class="tableScreen__item">
            <p class="">Números cubiertos</p>
            <p class="">Tipo de apuesta</p>
            <p class="">Pago</p>
        </div>
        <% tableArray.forEach( e => { %>
            <div class="tableScreen__item">
                <p class="grey"><%= e.cubiertos %> </p>
                <p class="grey"><%= e.apuestas %> </p>
                <p class=""><%= e.pago %> </p>
            </div>
        <% }) %>
    </div>
</section>