<section class="termsScreen">
    <p class="gray">¡Suerte irlandesa con un toque de nostalgia!
    </p>
    <p class="gray">El tema "Luck of the Irish" (Suerte del Irlandés) siempre ha sido sinónimo de juegos de casino. Reel
        Kingdom y Pragmatic Play te ofrecen uno que te va a encantar.
    </p>
    <p class="gray">Emerald King es una tragaperras online cuyo diseño retro ofrece pagos de hasta 20.000 veces la apuesta.
        Se juega en 5 carretes, 3 filas y 20 líneas y la ronda de bonificación incluye hasta 15 mini slots. También
        puedes obtener un multiplicador de juego base progresivo para aumentar indefinidamente cada giro no ganador.
        ¡Prueba a tirar y descubre si tienes la suerte del irlandés!
    </p>
    <p class="gray">Si te gusta esta recurrente temática de los juegos de casino, prueba Lucky Leprechaun.</p>
    <p class="title bold">¿Cómo jugar a la Slot online Emerald King?</p>
    <p class="gray">¡Jugar a esta tragaperras online es muy fácil! Solo tienes que iniciar sesión, hacer un depósito y
        comenzar el juego. Diviértete con CasinoBarcelona.es y juega con responsabilidad.</p>
    <p class="title bold">¡Juega online a la Slot Emerald King!</p>
    <p class="gray">¡Las mejores slots online las encontrarás en CasinoBarcelona.es!</p>
</section>