<section class="termsScreen">
    <p>Vive toda la emoción de una saga única.
    </p>
    <p>Una vez más, Age of The Gods vuelve a darte las mejores emociones de la mano de su tema y
        su estética antigua. En esta ocasión, las amazonas son sus grandes protagonistas, las
        mujeres guerreras inmortales en la mitología griega. Cada giro estará bien cargado de
        las mejores sensaciones.
    </p>
    <p>El juego cuenta con 5 carretes y 20 líneas de pago y en sus símbolos reinan los motivos
        mitológicos. Las funciones extra y sus 4 botes progresivos pueden darte las más altas
        recompensas, con un pago máximo de 10.000 veces el valor de tu apuesta.
    </p>
    <p>Si quieres descubrir otras entregas de esta saga, te invitamos a probar Age of the Gods:
        Prince of Olympus.</p>
</section>