<section class="termsScreen">
    <p>¡Suerte irlandesa con un toque de nostalgia!
    </p>
    <p>El tema "Luck of the Irish" (Suerte del Irlandés) siempre ha sido sinónimo de juegos de casino. Reel
        Kingdom y Pragmatic Play te ofrecen uno que te va a encantar.
    </p>
    <p>Emerald King es una tragaperras online cuyo diseño retro ofrece pagos de hasta 20.000 veces la apuesta.
        Se juega en <a href="">5 carretes</a>, 3 filas y 20 líneas y la ronda de bonificación incluye hasta 15 mini slots. También
        puedes obtener un multiplicador de juego base progresivo para aumentar indefinidamente cada giro no ganador.
        ¡Prueba a tirar y descubre si tienes la suerte del irlandés!
    </p>
    <p>Si te gusta esta recurrente temática de los juegos de casino, prueba Lucky Leprechaun.</p>
    <h2>¿Cómo jugar a la Slot online Emerald King?</h2>
    <p>¡Jugar a esta tragaperras online es muy fácil! Solo tienes que iniciar sesión, hacer un depósito y
        comenzar el juego. Diviértete con CasinoBarcelona.es y juega con responsabilidad.</p>
    <h3>¡Juega online a la Slot Emerald King!</h3>
    <p>¡Las mejores slots online las encontrarás en CasinoBarcelona.es!</p>
    <ul>
        <li>Esto es una prueba de lista</li>
        <li>Y esto resulta ser otra prueba</li>
    </ul>
    <ol>
        <li>Esto es una prueba de lista</li>
        <li>Y esto resulta ser otra prueba</li>
    </ol>
</section>