<footer class="m-footer">
    <section class="o-footer--grid">
        <div class="o-footer--grid_item">
            <p class="u-f--h3">Casino Barcelona</p>
            <ul class="u-f--h4">
                <li class="">
                    <a href="">Términos y Condiciones</a>
                </li>
                <li class="">
                    <a href="">Protección al jugador</a>
                </li>
                <li class="">
                    <a href="">Juego responsable</a>
                </li>
                <li class="">
                    <a href="">Juego autorizado</a>
                </li>
                <li class="">
                    <a href="">Política de cookies</a>
                </li>
                <li class="">
                    <a href="">Configuración de cookies</a>
                </li>
                <li class="">
                    <a href="">Política de pagos</a>
                </li>
                <li class="">
                    <a href="">Política de bonos</a>
                </li>
                <li class="">
                    <a href="">Sobre nosotros</a>
                </li>
            </ul>
        </div>
        <div class="o-footer--grid_item">
            <p class="u-f--h3">Información</p>
            <ul class="u-f--h4">
                <li class="">
                    <a href="">Reclamaciones</a>
                </li>
                <li class="">
                    <a href="">Blog</a>
                </li>
                <li class="">
                    <a href="">RTP slots</a>
                </li>
                <li class="">
                    <a href="">Afiliados</a>
                </li>
                <li class="">
                    <a href="">Reglas Particulares Apuestas Deportivas</a>
                </li>
            </ul>
        </div>
        <div class="o-footer--grid_item">
            <p class="u-f--h3">¡Síguenos!</p>
            <ul class="u-f--h4 u-f--bold">
                <li class="">
                    <a href="">
                        <img src="img/icon-fb-white.svg" alt="">
                        <span>Síguenos en Facebook</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <img src="img/icon-twitter-white.svg" alt="">
                        <span>Síguenos en Twitter</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <img src="img/icon-insta-white.svg" alt="">
                        <span>Síguenos en Instagram</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <img src="img/icon-youtube-white.svg" alt="">
                        <span>Síguenos en Youtube</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="o-footer--grid_item">
            <p class="u-f--h3">Atención al cliente</p>
            <ul class="u-f--h4">
                <li class="">
                    <a href="">soporte@casinobarcelona.es</a>
                </li>
                <li class="">
                    <a href="">900 354 354</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="o-footer--brands">
        <div class="o-footer--logo">
            <ul>
                <li>
                    <a href="">
                        <img src="img/logo-visa.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-mastercard.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-banktransfer.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-skrill.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-neteller.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-paypal.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-paysafecard.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-bizum.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="o-footer--logo">
            <ul>
                <li>
                    <a href="">
                        <img src="img/logo-juego-seguro.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-responable.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-diversion.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-18.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-prohibicion.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-jugar-bien.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-confianza.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="">
        <div class=""></div>
        <div class=""></div>
    </section>

</footer>