<footer class="m-footer">
    <section class="o-footer--grid">
        <div class="o-footer--grid_item">
            <p class="u-f--h2">Casino Barcelona</p>
            <ul class="u-f--h3">
                <li class="">
                    <a href="">Términos y Condiciones</a>
                </li>
                <li class="">
                    <a href="">Protección al jugador</a>
                </li>
                <li class="">
                    <a href="">Juego responsable</a>
                </li>
                <li class="">
                    <a href="">Juego autorizado</a>
                </li>
                <li class="">
                    <a href="">Política de cookies</a>
                </li>
                <li class="">
                    <a href="">Configuración de cookies</a>
                </li>
                <li class="">
                    <a href="">Política de pagos</a>
                </li>
                <li class="">
                    <a href="">Política de bonos</a>
                </li>
                <li class="">
                    <a href="">Sobre nosotros</a>
                </li>
            </ul>
        </div>
        <div class="o-footer--grid_item">
            <p class="u-f--h2">Información</p>
            <ul class="u-f--h3">
                <li class="">
                    <a href="">Reclamaciones</a>
                </li>
                <li class="">
                    <a href="">Blog</a>
                </li>
                <li class="">
                    <a href="">RTP slots</a>
                </li>
                <li class="">
                    <a href="">Afiliados</a>
                </li>
                <li class="">
                    <a href="">Reglas Particulares Apuestas Deportivas</a>
                </li>
            </ul>
        </div>
        <div class="o-footer--grid_item">
            <p class="u-f--h2">¡Síguenos!</p>
            <ul class="u-f--h3 u-f--bold">
                <li class="">
                    <a href="">
                        <img src="img/icon-fb-white.svg" alt="">
                        <span>Síguenos en Facebook</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <img src="img/icon-twitter-white.svg" alt="">
                        <span>Síguenos en Twitter</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <img src="img/icon-insta-white.svg" alt="">
                        <span>Síguenos en Instagram</span>
                    </a>
                </li>
                <li class="">
                    <a href="">
                        <img src="img/icon-youtube-white.svg" alt="">
                        <span>Síguenos en Youtube</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="o-footer--grid_item">
            <p class="u-f--h2">Atención al cliente</p>
            <ul class="u-f--h3">
                <li class="">
                    <a href="">soporte@casinobarcelona.es</a>
                </li>
                <li class="">
                    <a href="">900 354 354</a>
                </li>
            </ul>
        </div>
    </section>

</footer>