<footer class="footer">
    <section class="footer__trama">
        <picture>
            <source media="(min-width: 1280px)" srcset="img/images/img-trama-footer.svg" sizes="">
            <img src="img/images/img-trama-footer-mobile.svg" alt="">
        </picture>
    </section>
    <section class="footer__grid">
        <div class="footer__grid-item">
            <p class="u-f--h3">Casino Online</p>
            <ul class="">
                <li >
                    <a href="">Blackjack</a>
                </li>
                <li >
                    <a href="">Juegos de casino</a>
                </li>
                <li >
                    <a href="">Ruleta</a>
                </li>
                <li >
                    <a href="">Ruleta en vivo</a>
                </li>
                <li >
                    <a href="">Blog</a>
                </li>                
            </ul>
        </div>
         <div class="footer__grid-item">
            <p class="u-f--h3">Slots</p>
            <ul class="">
                <li >
                    <a href="">Jackpots</a>
                </li>
                <li >
                    <a href="">Nuevas</a>
                </li>
                <li >
                    <a href="">Bingo</a>
                </li>
                <li >
                    <a href="">Video Póker</a>
                </li>
                <li >
                    <a href="">Bar</a>
                </li>                
            </ul>
        </div>
         <div class="footer__grid-item">
            <p class="u-f--h3">Promociones</p>
            <ul class="">
                <li >
                    <a href="">Promociones casino</a>
                </li>
                <li >
                    <a href="">Bonos sin depósito</a>
                </li>
                <li >
                    <a href="">Promociones slots</a>
                </li>
                <li >
                    <a href="">Promociones ruleta</a>
                </li>                 
            </ul>
        </div>
        <div class="footer__grid-item">
            <p class="u-f--h3">Información</p>
            <ul class="">
                <li >
                    <a href="">Preguntas frecuentes</a>
                </li>
                <li >
                    <a href="">Reclamaciones</a>
                </li>                
                <li >
                    <a href="">RTP slots</a>
                </li>
                <li >
                    <a href="">Afiliados</a>
                </li>
                <li >
                    <a href="">Reglas particulares juegos</a>
                </li>
            </ul>
        </div>       
        <div class="footer__grid-item">
            <p class="u-f--h3">Atención al cliente</p>
            <ul class="">
                <div class="footer__grid-item--top">
                    <li >
                        <a href="">soporte@casinobarcelona.es</a>
                    </li>
                    <li >
                        <a href="">900 354 354</a>                        
                    </li>
                    <li >
                        <a href="">Centro de ayuda</a>
                    </li>
                </div>
            </ul>
        </div>
    </section>


    <section class="footer__siguenos">
      <div class="footer__siguenos--container">
            <p class="u-f--h3 footer__siguenos--title">Síguenos:</p>
            <ul class=" u-f--bold footer__siguenos--list">
                <li >
                    <a href="">
                        <img src="img/icons/icon-fb-white.svg" alt="">                      
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="img/icons/icon-twitter-white.svg" alt="">                      
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="img/icons/icon-insta-white.svg" alt="">                       
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="img/icons/icon-youtube-white.svg" alt="">                       
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <section class="footer__brands">
        <div class="footer__brands-logo payments">
            <ul>
                <li>
                    <a href="">
                        <img src="img/logos/logo-visa.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-mastercard.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-banktransfer.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-skrill.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-neteller.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-paypal.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-paysafecard.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-bizum.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__brands-logo policies">
            <ul class="policies-list">
              <li >
                  <a href="">Términos y Condiciones</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Protección al jugador</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Juego responsable</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Juego autorizado</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Política de cookies</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Configuración de cookies</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Política de pagos</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Política de bonos</a>
              </li>
              <span class="policies-list__separator"></span>
              <li >
                  <a href="">Sobre nosotros</a>
              </li>
          </ul>
      </div>


        <div class="footer__brands-logo certificates">
            <ul>
                <li>
                    <a href="">
                        <img src="img/logos/logo-juego-seguro.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-responable.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-diversion.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-18.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-prohibicion.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-jugar-bien.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logos/logo-confianza.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="footer__casinos">
        <ul>
            <li><img src="img/logos/logo-barna.png" alt=""></li>
            <li><img src="img/logos/logo-tarragona.png" alt=""></li>
            <li><img src="img/logos/logo-peralada.png" alt=""></li>
            <li><img src="img/logos/logo-santaFe.png" alt=""></li>
            <li><img src="img/logos/logo-melincue.png" alt=""></li>
            <li><img src="img/logos/logo-salto.png" alt=""></li>
            <li><img src="img/logos/logo-rivera.png" alt=""></li>
            <li><img src="img/logos/logo-ovalle.png" alt=""></li>
        </ul>
        <div>
            <p>© Casino Barcelona Interactivo, S.A.U. Todos los derechos reservados</p>
            <p>Casinobarcelona.es opera en España bajo licencias otorgadas y reguladas por la Dirección General de Ordenación del Juego</p>
        </div>
    </section>
</footer>
