<footer class="footer">
    <section class="footer__trama">
        <img src="img/img-trama-footer.png" alt="">
    </section>
    <section class="footer__grid">
        <div class="footer__grid-item">
            <p class="u-f--h3">Casino Barcelona</p>
            <ul class="u-f--h4">
                <li >
                    <a href="">Términos y Condiciones</a>
                </li>
                <li >
                    <a href="">Protección al jugador</a>
                </li>
                <li >
                    <a href="">Juego responsable</a>
                </li>
                <li >
                    <a href="">Juego autorizado</a>
                </li>
                <li >
                    <a href="">Política de cookies</a>
                </li>
                <li >
                    <a href="">Configuración de cookies</a>
                </li>
                <li >
                    <a href="">Política de pagos</a>
                </li>
                <li >
                    <a href="">Política de bonos</a>
                </li>
                <li >
                    <a href="">Sobre nosotros</a>
                </li>
            </ul>
        </div>
        <div class="footer__grid-item">
            <p class="u-f--h3">Información</p>
            <ul class="u-f--h4">
                <li >
                    <a href="">Reclamaciones</a>
                </li>
                <li >
                    <a href="">Blog</a>
                </li>
                <li >
                    <a href="">RTP slots</a>
                </li>
                <li >
                    <a href="">Afiliados</a>
                </li>
                <li >
                    <a href="">Reglas Particulares Apuestas Deportivas</a>
                </li>
            </ul>
        </div>
        <div class="footer__grid-item">
            <p class="u-f--h3">¡Síguenos!</p>
            <ul class="u-f--h4 u-f--bold">
                <li >
                    <a href="">
                        <img src="img/icon-fb-white.svg" alt="">
                        <span>Síguenos en Facebook</span>
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="img/icon-twitter-white.svg" alt="">
                        <span>Síguenos en Twitter</span>
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="img/icon-insta-white.svg" alt="">
                        <span>Síguenos en Instagram</span>
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="img/icon-youtube-white.svg" alt="">
                        <span>Síguenos en Youtube</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__grid-item">
            <p class="u-f--h3">Atención al cliente</p>
            <ul class="u-f--h4">
                <div class="footer__grid-item--top">
                    <li >
                        <a href="">soporte@casinobarcelona.es</a>
                    </li>
                    <li >
                        <a href="">900 354 354</a>
                    </li>
                </div>
            </ul>
        </div>
    </section>
    <section class="footer__brands">
        <div class="footer__brands-logo payments">
            <ul>
                <li>
                    <a href="">
                        <img src="img/logo-visa.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-mastercard.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-banktransfer.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-skrill.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-neteller.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-paypal.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-paysafecard.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-bizum.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__brands-logo certificates">
            <ul>
                <li>
                    <a href="">
                        <img src="img/logo-juego-seguro.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-responable.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-diversion.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-18.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-prohibicion.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-jugar-bien.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/logo-confianza.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer__casinos">
        <ul>
            <li><img src="img/logo-barna.png" alt=""></li>
            <li><img src="img/logo-tarragona.png" alt=""></li>
            <li><img src="img/logo-peralada.png" alt=""></li>
            <li><img src="img/logo-santaFe.png" alt=""></li>
            <li><img src="img/logo-melincue.png" alt=""></li>
            <li><img src="img/logo-salto.png" alt=""></li>
            <li><img src="img/logo-rivera.png" alt=""></li>
            <li><img src="img/logo-ovalle.png" alt=""></li>
        </ul>
        <div>
            <p>© Casino Barcelona Interactivo, S.A.U. Todos los derechos reservados</p>
            <p>Casinobarcelona.es opera en España bajo licencias otorgadas y reguladas por la Dirección General de Ordenación del Juego</p>
        </div>
    </section>
</footer>