<header class="m-header">

    <%- include ('../components/header-part') %>

    <section class="o-header--wrapper u-flex ">
        <div class="c-icon__title">
            <a href="">
                <img src="img/icon-star.svg" alt="">
                <p class="u-f--h3">Promociones</p>
            </a>
        </div>
        <button class="u-btn--white u-btn--icon_right">
            <span>REGÍSTRATE</span>
            <img src="img/icon-btn-arrow-white.svg" alt="">
        </button>
        <button class="u-btn--red u-btn--icon_right">
            <span>ENTRA</span>
            <img src="img/icon-user-white-red.svg" alt="">
        </button>
    </section>
    <section class="o-header--wrapper">

    </section>
</header>
<nav class="m-header--mobile">
    <section class="o-header--wrapper">
        <a href="#">
            <img src="img/icon-menu-open.svg" alt="Logo Casino Barcelona">
        </a>
        <div class="header--logo">
            <a href="#">
                <img src="img/logo-header.svg" alt="Logo Casino Barcelona">
            </a>
        </div>
        <div class="c-header--user">
            <a href="">
                <img src="img/icon-user-cyan.svg" alt="">
            </a>
        </div>
    </section>
    <section class="o-header--wrapper u-flex ">
        <button class="u-btn--white u-btn--icon_right">
            <span>REGÍSTRATE</span>
            <img src="img/icon-btn-arrow-white.svg" alt="">
        </button>
        <button class="u-btn--red u-btn--icon_right">
            <span>ENTRA</span>
            <img src="img/icon-user-white-red.svg" alt="">
        </button>
    </section>
</nav>
