<header class="m-header">
    <section class="o-header--wrapper">
        <a href="#">
            <img src="img/icon-menu-open.svg" alt="Logo Casino Barcelona">
        </a>
    </section>
    <section class="o-header--wrapper u-flex">
        <div class="header--logo">
            <a href="#">
                <img src="img/logo-header.svg" alt="Logo Casino Barcelona">
            </a>
        </div>
        <nav class="o-header--nav_bar">
            <ul class="u-flex">
                <li class="c-icon__title">
                    <a href="">
                        <img src="img/icon-diamond.svg" alt="">
                        <p class="u-f--h2">Slots</p>
                    </a>
                </li>
                <li class="c-icon__title">
                    <a href="">
                        <img src="img/icon-diamond.svg" alt="">
                        <p class="u-f--h2">Ruleta en vivo</p>
                    </a>
                </li>
                <li class="c-icon__title">
                    <a href="">
                        <img src="img/icon-diamond.svg" alt="">
                        <p class="u-f--h2">Casino</p>
                    </a>
                </li>
                <li class="c-icon__title">
                    <a href="">
                        <img src="img/icon-diamond.svg" alt="">
                        <p class="u-f--h2">Apuestas</p>
                    </a>
                </li>
                <li class="c-icon__title">
                    <a href="">
                        <img src="img/icon-diamond.svg" alt="">
                        <p class="u-f--h2">Poker</p>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="o-header--wrapper u-flex ">
        <div class="c-icon__title">
            <a href="">
                <img src="img/icon-star.svg" alt="">
                <p class="u-f--h2">Promociones</p>
            </a>
        </div>
        <div class="c-header--user u-flex">
            <div class="u-flex__col">
                <p class="u-f--h2 u-f--bold u-c--s">Roberto</p>
                <p class="u-f--h3 u-c--s">00:16:57</p>
            </div>
            <a href="">
                <img src="img/icon-user-cyan.svg" alt="">
            </a>
        </div>
        <button class="u-btn--white u-btn--icon_right">
            <span>REGÍSTRATE</span>
            <img src="img/icon-btn-arrow-white.svg" alt="">
        </button>
        <button class="u-btn--red u-btn--icon_right">
            <span>ENTRA</span>
            <img src="img/icon-user-white-red.svg" alt="">
        </button>
    </section>
</header>
<header class="m-header--mobile">

</header>
