<header class="header">

    <section class="header__wrapper">

        <div class="header__logo">
            <a href="/" >
                <img src="img/logos/logo-casinobarcelona.svg" />
            </a>
        </div>

        <nav class="header__navBar">
            <ul>
                <li class="icon__title">
                    <a href="/slots">
                        <img src="img/icons/icon-star-corp.svg" />
                        <p>Slots</p>
                    </a>
                </li>
                <li class="icon__title">
                    <a href="/ruleta">
                        <img src="img/icons/icon-star-corp.svg" />
                        <p>Ruleta en vivo</p>
                    </a>
                </li>
                <li class="icon__title">
                    <a href="/casino">
                        <img src="img/icons/icon-star-corp.svg" />
                        <p>Casino</p>
                    </a>
                </li>
                <li class="icon__title">
                    <a href="/apuestas">
                        <img src="img/icons/icon-star-corp.svg" />
                        <p>Apuestas</p>
                    </a>
                </li>
                <li class="icon__title">
                    <a href="/poker-home">
                        <img src="img/icons/icon-star-corp.svg" />
                        <p>Poker</p>
                    </a>
                </li>
            </ul>
        </nav>

    </section>

    <section class="header__wrapper header__noLog">

        <div class="icon__title">
            <a href="/promociones">
                <img src="img/icons/icon-star.svg" />
                <p>Promociones</p>
            </a>
        </div>

        <button class="header__noLog-btn btn__white btn__icon--right">
            <span>REGÍSTRATE</span>
            <img src="img/icons/icon-btn-arrow-white.svg" alt="">
        </button>
        <button class="header__noLog-btn btn__red btn__icon--right">
            <span>ENTRA</span>
            <img src="img/icons/icon-user-white-red.svg" alt="">
        </button>

    </section>

    <section class="header__wrapper header__logged is-on">

        <div class="header__logged-item icon__title">
            <a href="/promociones">
                <img src="img/icons/icon-star.svg" />
                <p>Promociones</p>
            </a>
        </div>

        <div class="header__logged-item deposits">
            <div class="deposits__total">
                <img src="img/icons/icon-coins-header.svg" alt="">
                <span>21.419.723</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="5.414" height="9.017" viewBox="0 0 5.414 9.017">
                <g id="icon-arrow-breadcrumb" transform="translate(1.414 1.414)">
                    <path id="Trazado_5068" data-name="Trazado 5068"
                        d="M0,0,2.928,2.928a.229.229,0,0,1,.01.323l-.01.01L0,6.189" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
            </svg>
            <button class="deposits__btn btn__red btn__red--glow popUpBalance__openBtn">
                <img src="img/icons/icon-plus-btn.svg" alt="">
                <span>DEPOSITAR</span>
            </button>
        </div>

        <div class="header__logged-item user">
            <div class="user__wrapper">
                <p>Roberto</p>
                <p>00:16:57</p>
            </div>
            <img src="img/icons/icon-user-header.svg" alt="">
        </div>

    </section>

</header>

<section class="popUpBalance">
    <%- include ('popUp-balance') %>
</section>

<header class="header__mobile">
    <section class="header__mobile-wrapper header__mobile--top">
        <a href="#">
            <img class="menuHeader__openBtn" src="img/icons/icon-menu-open.svg" alt="Logo Casino Barcelona">
        </a>
        <div class="header__mobile-logo">
            <a href="/">
                <img src="img/logos/logo-header.svg" alt="Logo Casino Barcelona">
            </a>
        </div>
        <div class="header__mobile-user userMobile">
            <img src="img/icons/icon-user-cyan.svg" alt="">
        </div>
    </section>

    <section class="header__mobile-wrapper header__mobile--bottom">
        <section class="header__mobile-noLog">
            <button class="btn__white btn__icon--right">
                <span>REGÍSTRATE</span>
                <img src="img/icons/icon-btn-arrow-white.svg" alt="">
            </button>
            <button class="btn__red btn__icon--right">
                <span>ENTRA</span>
                <img src="img/icons/icon-user-white-red.svg" alt="">
            </button>
        </section>

        <section class="header__mobile-logged menu-active">
            <div class="deposits">
                <button class="deposits__btn btn__red btn__red--glow">
                    <img src="img/icons/icon-plus-btn.svg" alt="">
                    <span>DEPOSITAR</span>
                </button>
                <div class="deposits__total">
                    <img src="img/icons/icon-coins-header.svg" alt="">
                    <span>21.419.723</span>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="5.414" height="9.017" viewBox="0 0 5.414 9.017">
                    <g id="icon-arrow-breadcrumb" transform="translate(1.414 1.414)">
                        <path id="Trazado_5068" data-name="Trazado 5068"
                            d="M0,0,2.928,2.928a.229.229,0,0,1,.01.323l-.01.01L0,6.189" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </g>
                </svg>
            </div>

            <div class="userNoIcon">
                <p>Roberto</p>
                <p>00:16:57</p>
            </div>
        </section>
    </section>

</header>

<section class="menuHeader">
    <%- include ('menu-header.ejs') %>
</section>