<header class="header">

    <%- include ('../components/header-part') %>

    <section class="header__wrapper header__wrapper-btns">
        <div class="icon__title">
            <a href="#">
                <img src="img/icon-star.svg" alt="">
                <p class="u-f--h4">Promociones</p>
            </a>
        </div>
        <button class="btn__white btn__icon--right">
            <span>REGÍSTRATE</span>
            <img src="img/icon-btn-arrow-white.svg" alt="">
        </button>
        <button class="btn__red btn__icon--right">
            <span>ENTRA</span>
            <img src="img/icon-user-white-red.svg" alt="">
        </button>
    </section>
</header>
<nav class="header__mobile">
    <section class="header__mobile-wrapper">
        <a href="#">
            <img src="img/icon-menu-open.svg" alt="Logo Casino Barcelona">
        </a>
        <div class="header__mobile-wrapper--logo">
            <a href="#">
                <img src="img/logo-header.svg" alt="Logo Casino Barcelona">
            </a>
        </div>
        <div class="header__mobile-wrapper--user">
            <a href="">
                <img src="img/icon-user-cyan.svg" alt="">
            </a>
        </div>
    </section>
    <section class="header__mobile-wrapper">
        <button class="btn__white btn__icon--right">
            <span>REGÍSTRATE</span>
            <img src="img/icon-btn-arrow-white.svg" alt="">
        </button>
        <button class="btn__red btn__icon--right">
            <span>ENTRA</span>
            <img src="img/icon-user-white-red.svg" alt="">
        </button>
    </section>
</nav>
