<div class="menuHeader--top">
    <div class="menuHeader__close">
        <img class="menuHeader__closeBtn" src="img/icons/icon-menu-header-close.svg" alt="">
    </div>
    <nav class="menuHeader__nav">
        <ul class="menuHeader__navItems">
            <li class="navItem">
                <a href="/slots">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Slots</p>
                </a>
            </li>
            <li class="navItem">
                <a href="/ruleta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Ruleta en vivo</p>
                </a>
            </li>
            <li class="navItem">
                <a href="/casino">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Casino</p>
                </a>
            </li>
            <li class="navItem">
                <a href="/apuestas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Apuestas</p>
                </a>
            </li>
            <li class="navItem">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Apuestas virtuales</p>
                </a>
            </li>
            <li class="navItem">
                <a href="/apuestas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Apuestas Virtuales</p>
                </a>
            </li>
            <li class="navItem">
                <a href="/poker-home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.998" height="14.011"
                        viewBox="0 0 13.998 14.011">
                        <path id="icon-diamond"
                            d="M1857.1-248.165a9.827,9.827,0,0,1-6.875,6.882.072.072,0,0,0,0,.14,9.826,9.826,0,0,1,6.875,6.882.072.072,0,0,0,.139,0,9.828,9.828,0,0,1,6.877-6.882.073.073,0,0,0,0-.14,9.829,9.829,0,0,1-6.877-6.882A.072.072,0,0,0,1857.1-248.165Z"
                            transform="translate(-1850.168 248.218)" fill="#fff" />
                    </svg>
                    <p>Poker</p>
                </a>
            </li>
        </ul>
        <ul class="menuHeader__navItems">
            <li class="navItem">
                <a href="/apuestas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.199" viewBox="0 0 16 15.199">
                        <g id="icon-star" transform="translate(0.675 -2.117)">
                          <path id="star-std__white" d="M14.886,10a1.132,1.132,0,0,0-.657-2.026l-3.905-.589a.249.249,0,0,1-.2-.158l-1.732-3.5a1.234,1.234,0,0,0-2.128,0L4.495,7.292a.339.339,0,0,1-.215.158L.42,7.971A1.132,1.132,0,0,0-.237,10L2.57,12.77a.26.26,0,0,1,.079.249l-.657,3.86a1.132,1.132,0,0,0,1.721,1.245l3.509-1.777a.351.351,0,0,1,.26,0l3.452,1.822a1.184,1.184,0,0,0,1.721-1.222l-.645-4a.294.294,0,0,1,.079-.249Z" transform="translate(0 -1)" fill="#fff"/>
                        </g>
                      </svg>
                    <p>Promociones</p>
                </a>
            </li>
            <li class="navItem">
                <a href="/poker-home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.02" height="12" viewBox="0 0 14.02 12">
                        <path id="icon-heart-white" d="M13.875,13.019a4,4,0,0,0-2.843-2.833A4.174,4.174,0,0,0,7.2,11.478a.25.25,0,0,1-.34,0,4.174,4.174,0,0,0-3.834-1.291A4,4,0,0,0,.182,13.019a3.9,3.9,0,0,0,1,3.874l5.525,5.1a.51.51,0,0,0,.681,0l5.535-5.115A3.874,3.874,0,0,0,13.875,13.019Z" transform="translate(-0.024 -10.118)" fill="#fff"/>
                      </svg>
                    <p>Favoritos</p>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="menuHeader--bottom">
    <a href="#">
        <img src="img/logos/logo-facebook-round-white.svg" alt="">
    </a>
    <a href="#">
        <img src="img/logos/logo-twitter-round-white.svg" alt="">
    </a>
    <a href="#">
        <img src="img/logos/logo-instagram-round-white.svg" alt="">
    </a>
    <a href="#">
        <img src="img/logos/logo-youtube-round-white.svg" alt="">
    </a>
</div>