<div class="popUpBalance__header popUpBalance__container">
    <p class="popUpBalance__header-title">Bonos y Saldo</p>
    <svg xmlns="http://www.w3.org/2000/svg" class="popUpBalance__closeBtn" width="22" height="22">
        <path
            d="M11 22A11 11 0 1 0 0 11a11 11 0 0 0 11 11ZM6.463 7.755a.917.917 0 0 1 1.292-1.292l3.08 3.08a.229.229 0 0 0 .324.006l.006-.006 3.08-3.08a.93.93 0 0 1 1.338 1.293l-3.08 3.08a.229.229 0 0 0-.006.324l.006.006 3.08 3.08a.917.917 0 0 1 .043 1.3.872.872 0 0 1-.043.043.919.919 0 0 1-1.293 0l-3.08-3.08a.229.229 0 0 0-.324-.006l-.006.006-3.126 3.08a.914.914 0 1 1-1.293-1.293l3.08-3.08a.229.229 0 0 0 .006-.324l-.006-.006Z"
            fill="#fff" />
    </svg>
</div>

<div class="popUpBalance__table popUpBalance__container">
    <div class="popUpBalance__grid">
        <p class="title">Efectivo</p>
        <p class="total">1.123€</p>
        <p class="title">Bonos de Casino</p>
        <p class="total">70€</p>
        <p class="title">Bonos de Apuestas</p>
        <p class="total">125€</p>
    </div>
    <div class="popUpBalance__grid">
        <p class="title">Nombre de Bono</p>
        <div class="progress">
            <span class="total">73%</span>
            <progress value="73" max="100" class="progressBar"></progress>
        </div>
        <p class="title">Esto es un ejemplo de...</p>
        <div class="progress">
            <span class="total">20%</span>
            <progress value="20" max="100" class="progressBar"></progress>
        </div>
        <p class="title">Nombre</p>
        <div class="progress">
            <span class="total">0%</span>
            <progress value="0" max="100" class="progressBar"></progress>
        </div>
    </div>
</div>

<div class="popUpBalance__freespins popUpBalance__container">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14.661" viewBox="0 0 16 14.661">
        <g id="icon-thumb-popup" transform="translate(-57.1 -1117.672)">
          <g id="streamline-icon-thumbup_140x140" data-name="streamline-icon-thumbup@140x140" transform="translate(57.1 1111.783)">
            <path id="Trazado_5351" data-name="Trazado 5351" d="M15.56,11.21a1.847,1.847,0,0,0-1.411-.653H9.46l.529-3.02a1.333,1.333,0,0,0-.723-1.358l-.3-.149a1.333,1.333,0,0,0-1.035-.067,1.309,1.309,0,0,0-.751.661L3.6,13.217H.667A.667.667,0,0,0,0,13.883v5.989a.667.667,0,0,0,.667.667l10.667.011a3.963,3.963,0,0,0,3.916-3.325l.725-4.513A1.846,1.846,0,0,0,15.56,11.21Z" transform="translate(0)" fill="#fff"/>
          </g>
        </g>
      </svg>

    <span>¡Tienes Freespins disponibles!</span>
</div>

<a href="/mi-cartera" class="popUpBalance__detail popUpBalance__container">
    <p class="u-f--bold">VER DETALLE</p>
    <svg id="icon-arrow-red" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
        <path id="indicator-right__red-circle__small" d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z" fill="#ff293e"/>
      </svg>
</a>