<section class="popUpBalance">
    <div class="popUpBalance__header popUpBalance__container">
        <p>Bonos y Saldo</p>
        <img class="popUpBalance__closeBtn" src="img/icons/img-popup-cross.svg" alt="">
    </div>

    <div class="popUpBalance__table popUpBalance__container">
        <div class="popUpBalance__grid">
            <p class="title">Efectivo</p>
            <p class="total">1.123€</p>
            <p class="title">Bonos de Casino</p>
            <p class="total">70€</p>
            <p class="title">Bonos de Apuestas</p>
            <p class="total">125€</p>
        </div>
        <div class="popUpBalance__grid">
            <p class="title">Nombre de Bono</p>
            <div class="progress">
                <span>73%</span>
                <span class="progressBar"></span>
            </div>
            <p class="title">Esto es un ejemplo de...</p>
            <div class="progress">
                <span>0%</span>
                <span class="progressBar"></span>
            </div>
            <p class="title">Nombre</p>
            <div class="progress">
                <span>0%</span>
                <span class="progressBar"></span>
            </div>
        </div>
    </div>

    <div class="popUpBalance__freespins popUpBalance__container">
        <img src="img/icons/icon-thumb-popup.svg" alt="">
        <span>¡Tienes Freespins disponibles!</span>
    </div>

    <div class="popUpBalance__detail popUpBalance__container">
        <p class="u-f--bold">VER DETALLE</p>
        <img src="img/icons/icon-arrow-red.svg" alt="">
    </div>
</section>