<script src="libraries/jQuery/jQuery.js"></script>
<script src="libraries/gsap/gsap.min.js"></script>
<script src="libraries/splide/splide.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>