<script src="libraries/mixItUp/mixitup.min.js"></script>
<script src="libraries/mixItUp/mixitup-multifilter.min.js"></script>
<script src="libraries/gsap/gsap.min.js"></script>
<script src="libraries/splide/splide.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>