@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

//COMMON CARD
.user__card {
  padding: $sm;

  border-radius: rem(10);
  box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
  background-color: setcolor("gray", "light1");
  color: setcolor("black", "dark1");

  p {
    color: setcolor("black", "dark1");
  }

  &-title {
    @extend .u-f--h2, .u-f--bold;
    color: setcolor("black", "dark1");
    padding-bottom: rem(10);
  }
}

.user__title {
  display: flex;
  align-items: center;

  img {
    width: rem(26);
    margin-right: $sm;

    @include screen-sm {
      width: rem(36);
    }
  }

  p {
    @extend .u-f--h1, .u-f--bold;
    color: setcolor("black", "dark1");
  }
}

.user__input {
  height: rem(45);
  color: #868b92;
  border-radius: rem(100);

  &::placeholder {
    color: #868b92;
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid #d4d6d9;
  }
}