@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.data {
  &__screen {
    width: 100%;
    margin-top: $md;

    display: flex;
    flex-direction: column;

    @include screen-sm {
      flex-direction: row;
    }

    &--left,
    &--right {
      width: 100%;

      @include screen-sm {
        width: 50%;
      }
    }

    &--right {
      margin-left: 0;
      margin-top: $md;
      @include screen-sm {
        margin-left: $md;
        margin-top: 0;
      }
    }

    .data__card {
      padding: $sm;

      border-radius: rem(10);
      box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
      background-color: setcolor("gray", "light1");

      &:not(:last-of-type) {
        margin-bottom: $sm;
      }

      & > p {
        @extend .u-f--h2, .u-f--bold;
        color: setcolor("black", "dark1");
      }
    }

    .data__wrapper {
      margin-top: $sm;

      p {
        padding-bottom: rem(5);
      }

      p,
      span {
        color: #868b92;
      }

      span {
        @extend .u-f--bold;
      }
    }

    .data__modify-open {
      width: 100%;
      padding: $sm;

      @include screen-sm {
        width: 50%;
      }
    }

    .data__tc {
      border-top: 1px solid #c9cdd0;
      margin-top: $md;
      padding-top: $md;

      & > p {
        color: setcolor("black", "dark1");
      }

      .data__table {
        margin-top: $sm;
      }

      .data__row {
        width: 100%;
        background-color: setcolor("gray", "light1");
        border-radius: rem(5);
        padding: $sm;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-of-type) {
          margin-bottom: rem(5);
        }

        .data__col:first-of-type {
          display: flex;
        }

        .data__col {
          &-date {
            margin-right: $sm;
            p {
              @extend .u-f--bold;
              color: setcolor("black", "dark1");
            }
          }
          &-tc p {
            color: #868b92;
            font-weight: 400;
          }
        }
      }
    }

    .data__last {
      text-align: center;
      border-top: 1px solid #c9cdd0;
      margin-top: $md;
      padding-top: $md;

      @include screen-sm {
        text-align: left;
      }

      p {
        color: setcolor("black", "dark1");
      }

      p:last-of-type {
        @extend .u-f--bold;
      }
    }

    form {
      width: 100%;

      @include screen-sm {
        width: 50%;
      }

      .data__form {
        padding: $sm 0 !important;

        p {
          color: setcolor("black", "dark1");
        }

        &-title {
          padding: 0 $md $sm;

          p {
            @extend .u-f--h2, .u-f--bold;
          }
        }

        &-input {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          padding: $md;
          border-top: 1px solid #d2d4d7;

          p {
            padding-bottom: rem(5);
          }

          .user__input {
            margin-bottom: rem(10);
          }

          select {
            @extend .u-f--bold;
            padding-left: $sm;
            appearance: none;
            background: transparent;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg id='icon-select-arrow' transform='translate(14) rotate(90)'%3E%3Cpath id='Trazado_97' data-name='Trazado 97' d='M14 7a7 7 0 1 0-7 7A7 7 0 0 0 14 7ZM5.29 10.71A1 1 0 0 1 5.284 9.3L5.29 9.29 7.41 7.18a.25.25 0 0 0 .007-.354L7.41 6.82 5.29 4.71A1 1 0 0 1 6.71 3.29l3 3A1 1 0 0 1 9.716 7.7L9.71 7.71l-3 3a1 1 0 0 1-1.414.006Z' transform='translate(0 0)' fill='%23868b92'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 50%;
          }

          .data__saveBtn {
            width: 100%;
            padding: 0 rem(45);
            height: rem(45);

            @include screen-sm {
              width: fit-content;
            }

          }
        }
      }

      & > button {
        width: 100%;
        margin-top: $md;

        img {
          transform: rotate(90deg);
        }
      }
    }
  }
}
