@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.deposit {
  &__grid {
    margin-top: $md;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: rem(10);

    @include screen-sm {
      width: auto;
    }
  }

  &__item {
    background-color: white;
    border-radius: rem(5);
    padding: $md;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    img {
      object-fit: contain;
      max-width: 100%;

      @include screen-sm {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
