@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.depositDetail {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &__card {
    width: 100%;
    margin-top: calc(rem(60) + $md);

    background-color: setcolor("gray", "light1");
    border-radius: rem(40) rem(40) rem(10) rem(10);

    display: flex;
    flex-direction: column;

    &-top {
      position: relative;
      margin-bottom: $sm;
      padding: rem(70) $sm $md;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .depositDetail__logo {
        position: absolute;
        top: rem(-60);
        left: 50%;
        transform: translateX(-50%);

        background-color: white;
        border-radius: rem(10);
        padding: $md;
      }

      .depositDetail__hint {
        color: setcolor("black", "dark1");
      }

      .depositDetail__minmax {
        color: #868b92;
      }

      .depositDetail__amount {
        @extend .u-f--h3, .u-f--bold;

        width: 50%;
        margin-top: $sm;
        padding: $sm 0;

        background-color: setcolor("gray", "light2");
        border-radius: rem(100);
        color: #868b92;
        text-align: center;

        appearance: none;
      }

      .depositDetail__fixed {
        display: flex;
        margin-top: rem(10);

        div {
          width: rem(80);
          padding: $sm 0;
          box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.3);

          &:nth-of-type(2) {
            margin: 0 rem(5);
          }
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-tc {
      border-radius: 0 0 rem(10) rem(10);
      background-color: #e99c00;
      color: white;

      .tc__title {
        @extend .u-f--bold;
      }

      .accorArrowDepo {
        transform: rotate(-90deg);
      }

      .tc__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $sm;
      }

      .tc__body {
        max-height: 0;
        opacity: 0;
        transition: all 500ms linear;
        overflow: hidden;

        &-content {
          padding: $sm;
        }

        p {
          padding-bottom: rem(10);
          color: white;
        }

        a {
          @extend .u-f--bold;
          color: white;
        }
      }

      &.active {
        .accorArrowDepo {
          transform: rotate(0deg);
        }

        .tc__body {
          max-height: 100vh;
          opacity: 1;
        }
      }
    }
  }

  &__select {
    margin-top: $md;

    & > p {
      text-align: center;
    }

    &-type {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: rem(10);
    }

    &-content {
      margin-top: rem(10);
      border-radius: rem(5);
      background-color: white;

      p {
        color: setcolor("black", "dark1");
        padding: $sm;

        &:not(:last-of-type) {
          border-bottom: 1px solid #e7e7e8;
        }
      }
    }

    &-noBond {
      width: 100%;
      margin-top: rem(10);

      .item {
        aspect-ratio: unset !important;
        height: rem(150);

        @include screen-sm {
          height: rem(200);
        }
      }
    }

    &-email {
      margin-top: rem(10);
      background-color: #f4f6f8;
      border-radius: rem(5);
      padding: $md;

      input {
        @extend .u-f--bold;

        width: 100%;
        padding: $sm 0;

        text-align: center;
        background-color: #eaedef;
        color: #868b92;
      }
    }

    &-save {
      margin-top: $md;
      p:first-of-type {
        @extend .u-f--h5, .u-f--bold;
        color: setcolor("black", "dark1");
        margin-bottom: $sm;
      }
      p:last-of-type {
        color: setcolor("gray", "mid");
      }
    }
  }

  .item {
    cursor: pointer;

    position: relative;
    z-index: 0;
    width: 100%;

    input {
      display: none;

      &:checked ~ .item__wrapper {
        background-color: white;
        transition: all 0.3s ease;

        svg path {
          fill: black;
          transition: all 0.3s ease;
        }

        p {
          color: setcolor("black", "dark1");
        }
        .radio {
          transition: all 0.3s ease;
          border: 2px solid setcolor("black", "dark1");

          span {
            transition: all 0.3s ease;
            border: 4px solid setcolor("black", "dark1");
            background-color: transparent;
          }
        }
      }
    }

    &__wrapper {
      height: 100%;
      padding: $md;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background-color: #f4f6f8;
      border-radius: rem(5);

      svg {
        object-fit: contain;
        max-height: rem(30);
      }

      & .item__type {
        color: #868b92;
        margin: $sm 0;
      }

      .radio {
        position: relative;
        z-index: 0;
        border: 2px solid #868b92;
        background-color: transparent;
        border-radius: 1000px;

        height: rem(32);
        width: rem(32);

        transition: all 0.3s ease;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;

          border: none;
          background-color: #868b92;
          border-radius: 1000px;

          height: rem(16);
          width: rem(16);

          transition: all 0.3s ease;
        }
      }
    }
  }

  .itemCard {
    margin-bottom: rem(5);
    .item__wrapper {
      flex-direction: row;
      justify-content: flex-start;
      padding: $sm;

      .radio {
        margin-right: $md;
      }
    }
  }

  &__btn {
    margin-top: $sm;

    display: flex;

    @include screen-sm {
      margin-top: $md;
    }

    .btn__white {
      margin-right: rem(5);
      width: 30%;

      @include screen-sm {
        width: 20%;
      }

      img {
        transform: rotate(90deg);
      }
    }

    .btn__blue  {
      margin-left: rem(5);
      width: 70%;

      @include screen-sm {
        width: 80%;
      }
      span {
        color: white;
      }
    }
  }
}

.depositTransfer {
  &__card {
    background-color: setcolor("gray", "light1");
    border-radius: rem(15);

    p {
      color: setcolor("black", "dark1") !important;
      padding-bottom: $sm;
    }
  }

  &--top {
    align-items: flex-start !important;
    padding: $md;
    border-bottom: 1px solid setcolor("gray", "light2");
    text-align: left !important;

    & > p:first-of-type {
      @extend .u-f--h5;
      margin-top: $lg;
    }
    & > p:last-of-type {
      @extend .u-f--h3, .u-f--bold;
    }

    .depositDetail__logo {
      position: absolute;
      top: rem(-60);
      left: 50%;
      transform: translateX(-50%);

      background-color: white;
      border-radius: rem(10);
      padding: $md;
    }
  }

  &--bottom {
    padding: $md;

    p {
      @extend .u-f--h5;
    }
  }

  &__table {
    width: 100%;
    background-color: white;
    border-radius: rem(5);

    margin-bottom: $sm;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      @extend .u-f--h5;
    }

    &-header {
      width: 100%;
      padding: $sm;

      @include screen-sm {
        padding: $sm $md;
      }
    }

    &-body {
      padding: $sm;
      @extend .u-f--bold;
      border-top: 1px solid #dadfe3;

      @include screen-sm {
        padding: $sm $md;
      }
    }

    &-copy {
      display: flex;
      align-items: center;
      padding: $sm $md;
      gap: rem(5);

      cursor: pointer;
      color: setcolor("secondary");
      @extend .u-f--bold;

      &:not(:active) {
        transition: transform 200ms;
      }

      &:active {
        transform: scale(1.1);
      }
    }
  }

  &__btn button {
    width: 100% !important;
  }
}
