@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.docs {
  &__state {
    margin: $md 0;

    display: flex;
    align-items: center;

    img {
      margin-right: $sm;
    }

    & > div {
      p:first-of-type {
        @extend .u-f--h2, .u-f--bold;
      }
    }

    &--accept p {
      color: setcolor("secondary");
    }
    &--alert p {
      color: setcolor("danger");
    }
    &--warning p {
      color: setcolor("warning");
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;

    @include screen-sm {
      flex-direction: row;
    }
  }

  &__wrapper {
    width: 100%;
    @include screen-sm {
      width: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include screen-sm {
      flex-direction: row;
    }

    &-card {
      position: relative;
      width: 100%;
      height: max-content;
      padding-bottom: $lg !important;

      .docs__text {
        p {
          color: #868b92;
        }

        p:not(.docs__text-title) {
          margin-bottom: $sm;
        }

        p:first-of-type {
          color: setcolor("black", "dark1");
        }

        &-title {
          @extend .u-f--bold;
          color: setcolor("black", "dark1") !important;
        }
      }

      .docs__btn {
        position: absolute;
        bottom: rem(-50);
        left: 50%;
        transform: translateX(-50%);

        a {
          display: flex;
          align-items: center;
          padding: 0;

          img {
            padding: rem(20) rem(25);
          }

          & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            border-left: 1px solid white;

            padding: rem(20) rem(25);

            span:not(:last-of-type) {
              margin-bottom: rem(5);
            }
          }
        }
      }
    }

    &-verify {
      padding: $sm !important;

      @include screen-sm {
        padding: $md !important;
      }
      &-header {
        padding-bottom: $sm;

        @include screen-sm {
          padding-bottom: $md;
        }

        p {
          color: setcolor("secondary");
        }
      }
      &-wrapper {
        display: flex;
        column-gap: rem(10);
      }
      &-left,
      &-right {
        width: 100%;

        @include screen-sm {
          width: 50%;
        }
      }
      &-left {
        display: none;

        @include screen-sm {
          display: block;
        }
      }
      &-right .docs__content-verify-titleBlack,
      &-right .docs__content-verify-bodyBlack {
        display: none;

        @include screen-sm {
          display: block;
        }
      }
      &-title {
        @extend .u-f--bold, .u-f--h2;
        padding-bottom: $sm;
      }
      &-titleBlack {
        @extend .u-f--bold, .u-f--h4;
        padding-bottom: rem(10);
        color: setcolor("black", "dark1");
        display: none;

        @include screen-sm {
          display: block;
        }
      }
      &-bodyBlack {
        padding-bottom: $sm;
        color: setcolor("gray", "mid");
        display: none;

        @include screen-sm {
          display: block;
        }
      }
      a {
        width: 100%;
        padding: $sm rem(45);
        display: flex;
        justify-content: flex-start !important;
        margin-bottom: rem(5);
      }
    }

    &-qr {
      max-width: 100%;
    }

    &-expired {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $sm $sm 0 !important;

      @include screen-sm {
        padding: $md $md 0 !important;
      }
      p {
        color: setcolor("black", "dark1");
      }
      a {
        width: fit-content;
        transform: translateY(50%);
        padding: $sm rem(45);
      }
    }
  }

  .docs__sent {
    margin-left: 0;
    margin-top: $xl;
    width: 100%;

    @include screen-sm {
      margin-left: $md;
      margin-top: 0;
      width: 50%;
    }

    .docs__grid {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(10);

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(10);
      }

      &-item {
        padding: $sm;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          color: #868b92;
        }
      }

      &--top {
        p:first-of-type {
          @extend .u-f--bold;
          color: setcolor("black", "dark1");
          margin-bottom: rem(10);
        }
        p:nth-of-type(2) {
          @extend .u-f--bold;
        }
      }

      &--bottom {
        margin-top: $md;
      }

      &-stripe {
        display: flex;
        align-items: center;

        padding: rem(5);
        border-radius: rem(100) 0 0 rem(100);
        background: linear-gradient(to right, white, transparent 70%);

        p {
          margin-left: rem(5);
          @extend .u-f--bold;
        }
      }

      &-state {
        margin-bottom: rem(5);
      }

      .sent--pass {
        background-color: setcolor("gray", "light1");
        border-radius: rem(5);

        .docs__grid-state {
          p {
            color: setcolor("secondary");
          }
        }
      }

      .sent--denied {
        .docs__grid-state {
          p {
            color: setcolor("primary");
          }
        }
      }
    }
  }
}

.docsVerify {
  &__content {
    margin: $lg 0;
    max-width: 100%;

    @include screen-sm {
      max-width: 70%;
    }
    @include screen-md {
      max-width: 60%;
    }
    @include screen-lg {
      max-width: 50%;
    }
  }

  &__header {
    position: relative;
    padding: $lg $md 0 !important;
    border-radius: rem(20) !important;
    margin-bottom: $lg;

    &-icon {
      position: absolute;
      top: rem(-32);
      left: 50%;
      transform: translateX(-50%);

      @include screen-sm {
        left: $md;
        transform: translateX(0);
      }
    }

    &-text {
      text-align: center;

      @include screen-sm {
        text-align: left;
      }

      p:first-of-type {
        @extend .u-f--h2, .u-f--bold;
        color: setcolor("black", "dark1");
        margin-bottom: $sm;
      }
      p:last-of-type {
        @extend .u-f--h4;
        font-weight: 400;
        color: #868b92;
        @include screen-sm {
          font-weight: 700;
        }
      }
    }

    &-start {
      display: flex;
      justify-content: center;
      width: 100%;

      transform: translateY(50%);

      @include screen-sm {
        justify-content: flex-start;
      }
      button {
        width: 100%;
        padding: $sm $md;
        box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);

        @include screen-sm {
          width: max-content;
        }
      }
    }
  }

  .docsVerify__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: setcolor("gray", "light1");
    box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
    border-radius: rem(100);
    margin-bottom: rem(10);

    p {
      @extend .u-f--bold;
      color: setcolor("black", "dark1");
    }

    p:first-of-type {
      @extend .u-f--h3;
      padding: $sm $md;
      border-right: 2px solid #dddfe2;
    }
    p:last-of-type {
      padding-left: $sm;
    }

    & > div {
      display: flex;
      align-items: center;
    }

    svg {
      margin-right: $sm;
    }
  }

  .docsVerify__steps—success {
    p {
      color: setcolor("secondary");
    }
    .spinner {
      display: none;
    }
  }

  .docsVerify__steps—loading {
    p {
      color: setcolor("black", "dark1");
    }
    svg {
      display: none;
    }
    .spinner {
      display: block;
    }
  }

  .docsVerify__steps—base {
    p {
      color: setcolor("black", "dark1");
    }
    svg {
      display: none;
    }
    .spinner {
      display: none;
    }
  }

  .docsVerify__steps—error {
    p {
      color: setcolor("warning");
    }
    svg {
      display: none;
    }
    .spinner {
      display: none;
    }
  }

  .docsVerify__step2 {
    img {
      width: rem(50);
    }
  }

  .docsVerify__step2 {
    @keyframes spinner__wrapper {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .spinner {
      margin-right: $sm;
      width: 30px;
      height: 30px;
      display: inline-block;
      overflow: hidden;
      background: transparent;
    }
    .spinner__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.3);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .spinner__wrapper div {
      left: 47px;
      top: 1.5px;
      position: absolute;
      animation: spinner__wrapper linear 1s infinite;
      background: #000000;
      width: 6px;
      height: 33px;
      border-radius: 2.31px / 2.31px;
      transform-origin: 3px 48.5px;
      box-sizing: content-box;
    }
    .spinner__wrapper div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -0.9166666666666666s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.75s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.6666666666666666s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.5833333333333334s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.5s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.4166666666666667s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.3333333333333333s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.25s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.16666666666666666s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.08333333333333333s;
      background: #000000;
    }
    .spinner__wrapper div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
      background: #000000;
    }
  }

  .docsVerify__steps-backBtn button {
    height: (45);
    width: 100%;

    img {
      transform: rotate(90deg);
    }
  }

  .idForm {
    padding: 0 !important;

    &__select {
      padding: $md;
      border-bottom: 1px solid #c6c9cc;

      & > p {
        color: setcolor("black", "dark1");
        padding-bottom: $md;
      }
    }

    &__radio {
      margin-bottom: rem(20);

      .radioBtn {
        transform: translateY(rem(-8));
      }

      p {
        @extend .u-f--bold;
        padding-left: rem(45);
        color: #868b92;
      }
    }

    &__upload {
      padding: $md;
      border-bottom: 1px solid #c6c9cc;

      & > p {
        color: setcolor("black", "dark1");
      }

      .file__name {
        color: setcolor("black", "dark1");
        margin-top: $sm;
      }

      .file__label {
        margin-top: $sm;
        padding: $sm;
        display: inline-block;
        position: relative;
        overflow: hidden;

        input {
          position: absolute;
          opacity: 0;
          left: 0;
        }
      }
    }

    &__message {
      padding: $md;

      textarea {
        @extend .u-f--bold;
        width: 100%;
        padding: $sm;

        border-radius: rem(20);
        background-color: setcolor("gray", "light2");
        border: none;
        color: #868b92;

        &::placeholder {
          color: #868b92;
        }

        &:active,
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }

  .idForm__submit {
    display: flex;
    justify-content: center;
    transform: translateY(50%);

    width: 100%;

    @include screen-sm {
      justify-content: flex-start;
    }

    button {
      width: max-content;
      padding: rem(10) $sm rem(10) rem(10);

      @include screen-sm {
        margin-left: $md;
      }
    }
  }
}

.docsVerify2 {
  &__header {
    position: relative;
    padding: $lg $md $md !important;
    margin-bottom: $md;
  }
}
