@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.preferences {
  &__wrapper {
    margin-top: $md;
    max-width: 100%;

    @include screen-sm {
      max-width: 70%;
      padding: 0;
    }
    @include screen-md {
      max-width: 60%;
    }
    @include screen-lg {
      max-width: 50%;
    }

    & > p {
      color: #868b92;
    }

  }

  &__table {
    margin-top: $md;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $sm 0;
    border-top: 1px solid #c9cdd0;

    p {
      @extend .u-f--bold;
      color: setcolor("black", "dark1");
    }
  }
}
