@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.stepOne {
  background-image: url("../img/images/img-bg-register1.jpg");

  .registry__accept {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: $sm;
    margin-bottom: $md;

    input[type="checkbox"] {
      margin-right: rem(10);
    }

    p {
      color: setcolor("gray", "mid");

      &:first-of-type {
        padding-bottom: rem(10);
      }
    }
  }
}
