@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.registry__block {
  display: none;

  &.active {
    display: block;
  }
}

.registry {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  padding-bottom: rem(120);

  @include screen-sm {
    padding-bottom: 0;
  }

  &__bg {
    position: absolute;
    top: 7%;
    right: -30%;
    z-index: 2;

    @include screen-sm {
      display: none
    }
  }

  &__header {
    @extend %padding_horizontal_main;
    padding-top: $sm;
    padding-bottom: $sm;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;

    width: 100%;
    padding: $sm;
    background-color: setcolor('gray', 'light2');
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    column-gap: rem(10);

    @include screen-sm {
      display: none;
    }

    button {
      width: 50%;
      padding: $sm 0;
    }
  }

  &__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    position: relative;
    z-index: 8;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: rem(100);

    @include screen-sm {
      max-width: 50%;
      align-items: center;
      margin-top: rem(120);
    }

    h2 {
      @extend .u-f--h2, .u-f--bold;
      color: setcolor("black", "dark1");
      text-align: left;

      margin-top: rem(-40);
      margin-bottom: $lg;

      max-width: 60%;
      padding-left: $sm;

      @include screen-sm {
        text-align: center;
        padding-left: 0;

      }
    }
  }

  &__container {
    background-color: #f4f6f8;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;

    width: 100%;
    padding: 0 $sm;

    @include tablet {
      padding: 0 $md;
    }
    @include screen-sm {
      padding: 0 $lg;
      border-radius: rem(30);
    }
  }

  &__steps {
    display: flex;
    justify-content: flex-start;

    padding-left: $sm;

    transform: translateY(-50%);

    @include screen-sm {
      padding-left: 0;
      justify-content: center;
    }
  }

  &__step {
    display: flex;
    justify-content: center;
    align-items: center;

    border: rem(8) solid setcolor("gray", "light1");
    border-radius: rem(100);

    &:not(:last-of-type) {
      margin-right: rem(5);
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: content-box;

      border: rem(8) solid setcolor("gray", "light2");
      border-radius: rem(100);

      margin: 0;

      span {
        @extend .u-f--bold;
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: content-box;

        width: rem(35);
        height: rem(35);

        color: setcolor("gray", "mid");
        border: rem(4) solid setcolor("gray", "light1");
        border-radius: rem(100);
        background-color: setcolor("gray", "light2");

        margin: 0;
      }
    }

    &.active {

      p {
        border: rem(8) solid setcolor("secondary");
      }

      span {
        color: white;
        border: rem(4) solid setcolor("secondary", "light");
        background-color: setcolor("secondary");
      }
    }
  }

  &__btns {
    display: none;
    justify-content: center;
    column-gap: rem(10);

    transform: translateY(50%);

    @include screen-sm {
      display: flex;
    }

    button {
      padding: $sm $md;
      width: 25%;
    }

    .btn__white {
      img {
        transform: rotate(90deg);
      }
    }
  }

  input:not([type="checkbox"]), select, button:not([type="button"]) {
    background: setcolor('gray', 'light2');
    border-radius: rem(100);
    color: setcolor("gray", "mid");
    @extend .u-f--bold;
    border: none;
    height: rem(45);

    &:hover, &:active, &:focus {
      border: none;
      outline: none;
      text-decoration: none;
    }
  }

  input, select {
    padding-left: rem(20);
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg id='icon-select-arrow' transform='translate(14) rotate(90)'%3E%3Cpath id='Trazado_97' data-name='Trazado 97' d='M14 7a7 7 0 1 0-7 7A7 7 0 0 0 14 7ZM5.29 10.71A1 1 0 0 1 5.284 9.3L5.29 9.29 7.41 7.18a.25.25 0 0 0 .007-.354L7.41 6.82 5.29 4.71A1 1 0 0 1 6.71 3.29l3 3A1 1 0 0 1 9.716 7.7L9.71 7.71l-3 3a1 1 0 0 1-1.414.006Z' transform='translate(0 0)' fill='%23868b92'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: 50%;
  }

  &__login {
    margin-top: rem(45);
    p {
      color: setcolor("black", "dark1");
    }
    a {
      @extend .u-f--bold;
      color: setcolor('secondary');
      padding-left: rem(5);
    }
  }

  &__welcome{
    height:auto;
  }
}
