@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.support {

  strong {
    @extend .u-f--bold;
    color: black;
  }

  &__content {
    margin-top: $md;
    max-width: 100%;

    @include screen-sm {
      max-width: 70%;
    }
    @include screen-md {
      max-width: 60%;
    }
    @include screen-lg {
      max-width: 50%;
    }

    & > p {
      @extend .u-f--bold;
      color: setcolor("black", "dark1");
    }
  }

  &__form {
    position: relative;
    margin-bottom: $lg;
    margin-top: $sm;

    display: flex;
    flex-direction: column;
    padding: $md $md 0 !important;

    p {
      color: setcolor("black", "dark1");
      margin-bottom: rem(10);
    }

    p:first-of-type {
      @extend .u-f--h2, .u-f--bold;
    }


    input {
      margin-bottom: rem(10);
    }

    input,
    textarea {
      @extend .u-f--bold;
      width: 100%;
      padding: $sm;

      border-radius: rem(20);
      background-color: setcolor("gray", "light2");
      border: none;
      color: #868b92;

      &::placeholder {
        color: #868b92;
      }

      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  &__card {
    position: relative;
    padding: $md $md 0 !important;

    &:not(:last-of-type) {
      margin-bottom: $lg;
    }
  }

  &__text {
    p {
      color: setcolor("black", "dark1");
      margin-bottom: rem(10);
    }

    p:first-of-type {
      @extend .u-f--h2, .u-f--bold;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;

    transform: translateY(50%);

    @include screen-sm {
      justify-content: flex-start;
    }

    button,
    a {
      padding: 0 rem(45);
      height: rem(45);
      box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
    }
  }
}
