@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.wallet {

  .wallet__grid {
    margin-top: $md;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;

    gap: $md;

    @include screen-sm {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }

    .wallet__brief {
      border-radius: rem(10);
      box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
      overflow: hidden;

      &-row {
        padding: $sm;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-row:nth-of-type(odd) {
        background-color: #f4f6f8;
      }

      &-row:nth-of-type(even) {
        background-color: #f1f2f4;
      }

      &-row:first-of-type p {
        @extend .u-f--bold;
        color: setcolor("black", "dark1");
      }

      &-row:not(:first-of-type) {
        p:first-of-type {
          color: #868b92;
        }
        p:last-of-type {
          @extend .u-f--h4, .u-f--bold;
          color: setcolor("black", "dark1");
        }
      }
    }

    .wallet__bonds {
      .bonds__card:not(:last-of-type) {
        margin-bottom: $sm;
      }

      .bonds__flex {
        display: flex;
        justify-content: space-between;

        padding-top: $md;
        padding-bottom: $sm;

        p {
          color: setcolor("black", "dark1");
        }

        p:first-of-type {
          max-width: 40%;
        }
      }

      .bonds__table {
        &-row {
          display: flex;
          justify-content: space-between;

          padding: $sm 0;

          &:not(:last-of-type) {
            border-bottom: 1px solid #dddfe2;
          }

          p {
            color: #868b92;
          }

          p:last-of-type {
            text-align: right;
          }
        }
      }

      .bonds__promo {
        margin-top: $sm;
        margin-bottom: $md;
        padding: $md $md 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: setcolor('gray', 'light1');
        border-radius: rem(40);
        box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);

        @include screen-sm {
          margin-bottom: 0;
        }

        &-title, &-input {
          color: setcolor('black', 'dark1');
          @extend .u-f--bold;
        }

        &-title {
          @extend .u-f--h4;
          padding-bottom: $sm;
        }

        &-subtitle, &-terms {
          color: setcolor('black', 'dark1');
          padding-bottom: $md;
          text-align: center;
        }

        &-terms {
          padding-bottom: 0;

          @include screen-sm {
            padding-bottom: $md;
          }
        }

        &-input {
          width: 100%;
          height: rem(45);
          margin-bottom: $md;

          text-align: center;
          background-color: setcolor('gray', 'light2');
          opacity: 1;

          &::placeholder {
            opacity: 1;
          }
        }

        &-btn {
          padding: $sm rem(45);
          height: rem(45);
          transform: translateY(50%);
        }
      }
    }

    .wallet__btns {
      display: flex;
      flex-direction: row;

      @include screen-sm {
      flex-direction: column;
      }

      button {
        display: block;
        height: rem(45);
        width: fit-content;

        padding: 0 $md 0 rem(50);
        margin-bottom: 0;
        margin-right: rem(10);

        @include screen-sm {
          margin-bottom: rem(10);
          margin-right: 0;
          }
      }
    }

    .wallet__free {
      .wallet__table {
        border-radius: rem(10);
        box-shadow: 3px 3px 10px 0px rgba(122, 122, 122, 0.1);
        overflow: hidden;

        &-item {
          padding: rem(10);
        }

        &-item:nth-of-type(odd) {
          background-color: white;
        }

        &-item:nth-of-type(even) {
          background-color: setcolor("gray", "light1");
        }

        &-row {
          display: flex;
          justify-content: space-between;

          width: 100%;

          p {
            color: setcolor("black", "dark1");

            &:first-of-type {
                max-width: 30%;
            }
          }
        }

        a {
          width: fit-content;
          padding: rem(10);
          margin-top: rem(10);
        }
      }
    }
  }
}
