@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.withdraw {
  @extend %margin_horizontal_main;
  height: 100%;

  &__header {
    width: 100%;
    padding: $sm 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img:first-of-type {
      object-fit: cover;
      max-width: 60%;
    }

    .withdraw__btn-close {
      cursor: pointer;
      width: rem(16);
      object-fit: cover;

      @include screen-sm {
        width: rem(22);
      }
    }
  }

  &__block {
    height: 100%;
    width: 100%;

    &.active {
      display: block;
    }
  }

  &__wrapper {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend .u-f--bold, .u-f--h1;
    text-align: center;
    color: setcolor("black", "dark1");
  }

  &__grid {
    margin-top: $md;

    display: grid;
    grid-template-columns: min-content min-content;
    grid-auto-flow: row;
    gap: rem(10);

    justify-content: center;
  }

  &__item {
    background-color: white;
    border-radius: rem(5);
    padding: $md;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &--greyed {
      opacity: 0.4;
    }

    img {
      max-width: rem(100);
    }
  }
}

.withdrawDetail {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &__card {
    width: 100%;
    background-color: setcolor("gray", "light1");
    border-radius: rem(10);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--top {
    position: relative;
    margin-top: calc(rem(60) + $md);
    margin-bottom: $sm;
    padding: $xl $sm $md;
    flex-direction: column;

    .withdrawDetail__logo {
      background-color: white;
      border-radius: rem(10);
      padding: $md;

      margin-top: -50%;
      margin-bottom: 1rem;

      img {
        max-width: rem(100);
      }
    }

    p {
      color: setcolor("black", "dark1");

      &:first-of-type {
        @extend .u-f--bold;
      }
    }
    .withdrawDetail__amount {
      @extend .u-f--h3, .u-f--bold;

      width: 100%;
      margin-top: $sm;
      padding: $sm 0;

      background-color: setcolor("gray", "light2");
      border-radius: rem(100);
      color: #868b92;
      text-align: center;

      appearance: none;

      @include screen-sm {
        width: 50%;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    input[type="number"] {
      appearance: textfield;
    }
  }

  &--bottom {
    padding: $md $sm;
    display: flex;
    justify-content: center;
    margin-bottom: $sm;

    @include screen-sm {
      padding: $lg;
    }

    .withdrawDetail__item {
      &:nth-of-type(2) {
        margin: 0 $md;
      }

      p {
        color: setcolor("black", "dark1");
        text-align: center;

        &:last-of-type {
          @extend .u-f--h2, .u-f--bold;
        }
      }
    }
  }

  &__btn {
    margin-top: $sm;

    display: flex;

    button {
      width: 50%;

      &:first-of-type {
        margin-right: rem(5);
      }
      &:last-of-type {
        margin-left: rem(5);
      }
    }

    .btn__white img {
      transform: rotate(90deg);
    }
  }

  .item {
    cursor: pointer;

    position: relative;
    z-index: 0;
    width: 100%;

    input {
      display: none;

      &:checked ~ .item__wrapper {
        background-color: white;
        transition: all 0.3s ease;

        svg path {
          fill: black;
          transition: all 0.3s ease;
        }

        p {
          color: setcolor("black", "dark1");
        }
        .radio {
          transition: all 0.3s ease;
          border: 2px solid setcolor("black", "dark1");

          span {
            transition: all 0.3s ease;
            border: 4px solid setcolor("black", "dark1");
            background-color: transparent;
          }
        }
      }
    }

    &__wrapper {
      height: 100%;
      padding: $md;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background-color: #f4f6f8;
      border-radius: rem(5);

      svg {
        object-fit: contain;
        max-height: rem(30);
      }

      & .item__type {
        color: #868b92;
        margin: $sm 0;
      }

      .radio {
        position: relative;
        z-index: 0;
        border: 2px solid #868b92;
        background-color: transparent;
        border-radius: 1000px;

        height: rem(32);
        width: rem(32);

        transition: all 0.3s ease;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;

          border: none;
          background-color: #868b92;
          border-radius: 1000px;

          height: rem(16);
          width: rem(16);

          transition: all 0.3s ease;
        }
      }
    }
  }

  .itemCard {
    margin-bottom: rem(5);
    display: block;
    
    .item__wrapper {
      flex-direction: row;
      justify-content: flex-start;
      padding: $sm;

      .radio {
        margin-right: $md;
      }
    }
  }
}

.withdraw__step3 {
  & > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .withdraw__logo {
    height: $xl;
    width: $xl;
  }

  .withdraw__body {
    @extend .u-f--h3, .u-f--bold;
    color: setcolor("black", "dark1");
    margin: $md 0;
    max-width: 60%;
    text-align: center;

    @include tablet {
      max-width: 100%;
    }
  }

  .withdrawStep3__btn {
    padding: $sm $lg;
  }
}
