<section class="withdrawSkrill withdraw__wrapper withdraw__step2-methods">
    <p class="withdraw__title">Retirar</p>
    <div class="withdrawDetail">
        <div class="withdrawDetail--top withdrawDetail__card">
            <div class="withdrawDetail__logo">
                <img src="img/user/logo/logo-retirar-skrill.png" alt="">
            </div>
            <p>Indica la cantidad a retirar</p>
            <p>(Mínimo: 20 €)</p>
            <input type="number" placeholder="0€" class="withdrawDetail__amount">
        </div>
        <div class="withdrawDetail--bottom withdrawDetail__card">
            <div class="withdrawDetail__item">
                <p>Balance total</p>
                <p>21€</p>
            </div>
            <div class="withdrawDetail__item">
                <p>Bonos</p>
                <p>20€</p>
            </div>
            <div class="withdrawDetail__item">
                <p>Puedes retirar</p>
                <p>1€</p>
            </div>
        </div>
        <div class="withdrawDetail__select-email">
            <input type="email" name="payoutAccountIdMoneybookers" required value="" placeholder="Introduce tu mail de Skrill">
        </div>
        <div class="withdrawDetail__btn">
            <button class="btn__white withdraw__step2BackBtn" data-url="/mpu-payout">
                <img src="img/icons/icon-arrow-black.svg" alt="">
                <span>ATRÁS</span>
            </button>
            <button class="btn__grey--ghost btn__icons withdraw__step3Btn">
                <img src="img/user/icon/icon-withdraw-btn.svg" alt="">
                <span>RETIRAR</span>
            </button>
        </div>
    </div>
</section>