<main class="data">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-user.svg" alt="">
        <p>Mis Datos</p>
    </section>
    <section class="data__screen">
        <div class="data__screen--left">
            <div class="data__card">
                <p>Datos personales</p>
                <div class="data__wrapper">
                    <p>Nombre: <span>Josep</span></p>
                    <p>Primer apellido: <span>García</span></p>
                    <p>Segundo apellido: <span>Pallarès</span></p>
                    <p>Nacionalidad: <span>España</span></p>
                    <p>DNI: <span>482617209S</span></p>
                    <p>Fecha de nacimiento: <span>07/05/1985</span></p>
                    <p>Sexo: <span>Hombre</span></p>
                    <p>Residencia fiscal: <span>España</span></p>
                    <p>Región fiscal: <span>Cataluña</span></p>
                </div>
            </div>
            <div class="data__card">
                <p>Datos de contacto</p>
                <div class="data__wrapper">
                    <p>E-mail: <span>jgpallars@gmail.com</span></p>
                    <p>Teléfono: <span>935920172</span></p>
                    <p>País de residencia: <span>España</span></p>
                    <p>Código postal: <span>08027</span></p>
                    <p>Localidad: <span>BARCELONA</span></p>
                    <p>Provincia: <span>Barcelona</span></p>
                    <p>Dirección: <span>c/Irlanda 5, 2º A</span></p>
                </div>
            </div>
            <div class="data__card user__card">
                <p>Mis datos de cuenta</p>
                <div class="data__wrapper">
                    <p>Nombre de usuario: <span>josepgarcia</span></p>
                    <p>Código de usuario: <span>1198726</span></p>
                    <p>Pregunta de seguridad: <span>¿Cuál era el nombre de tu primera mascota?</span></p>
                    <p>Respuesta de seguridad: <span>*********</span></p>
                </div>
            </div>
        </div>
        <div class="data__screen--right">
            <button class="btn__blue btn__icons">
                <img src="img/user/icon/icon-data-modify.svg" alt="">
                <span>MODIFICAR DATOS</span>
            </button>
            <div class="data__tc">
                <p>Historial de Términos y Condiciones</p>
                <div class="data__table">
                    <div class="data__row">
                        <div class="data__col">
                            <div class="data__col-date">
                                <p>04/03/2022</p>
                                <p>12:20:14</p>
                            </div>
                            <div class="data__col-tc">
                                <p>CasinoBarcelona.es|
                                </p>
                                <p>Términos y Condiciones</p>
                            </div>
                        </div>
                        <div class="data__col">
                            <img src="img/user/icon/icon-data-download.svg" alt="">
                        </div>
                    </div>
                    <div class="data__row">
                        <div class="data__col">
                            <div class="data__col-date">
                                <p>04/03/2022</p>
                                <p>12:20:14</p>
                            </div>
                            <div class="data__col-tc">
                                <p>CasinoBarcelona.es|
                                </p>
                                <p>Términos y Condiciones</p>
                            </div>
                        </div>
                        <div class="data__col">
                            <img src="img/user/icon/icon-data-download.svg" alt="">
                        </div>
                    </div>
                    <div class="data__row">
                        <div class="data__col">
                            <div class="data__col-date">
                                <p>04/03/2022</p>
                                <p>12:20:14</p>
                            </div>
                            <div class="data__col-tc">
                                <p>CasinoBarcelona.es|
                                </p>
                                <p>Términos y Condiciones</p>
                            </div>
                        </div>
                        <div class="data__col">
                            <img src="img/user/icon/icon-data-download.svg" alt="">
                        </div>
                    </div>
                    <div class="data__row">
                        <div class="data__col">
                            <div class="data__col-date">
                                <p>04/03/2022</p>
                                <p>12:20:14</p>
                            </div>
                            <div class="data__col-tc">
                                <p>CasinoBarcelona.es|
                                </p>
                                <p>Términos y Condiciones</p>
                            </div>
                        </div>
                        <div class="data__col">
                            <img src="img/user/icon/icon-data-download.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>