<main class="data">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-user.svg" alt="">
        <p>Mis Datos</p>
    </section>
    <section class="data__screen">
        <form action="" method="post">
            <div class="data__form user__card">
                <div class="data__form-title">
                    <p>Modifica tus datos</p>
                </div>
                <div class="data__form-input">
                    <p>Teléfono</p>
                    <input type="text" required class="user__input user__input--ghost">
                    <button class="btn__blue data__saveBtn">
                        <img src="img/user/icon/icon-data-check-save.svg" alt="">
                        <span>GUARDAR</span>
                    </button>
                </div>
                <div class="data__form-input">
                    <p>Email</p>
                    <input type="text" required class="user__input user__input--ghost">
                    <button class="btn__blue data__saveBtn">
                        <img src="img/user/icon/icon-data-check-save.svg" alt="">
                        <span>GUARDAR</span>
                    </button>
                </div>
                <div class="data__form-input">
                    <p>Contraseña</p>
                    <input type="password" required placeholder="contraseña actual" class="user__input user__input--ghost">
                    <input type="password" required placeholder="nueva contraseña" class="user__input user__input--ghost">
                    <input type="password" required placeholder="confirmar nueva contraseña" class="user__input user__input--ghost">
                    <button class="btn__blue data__saveBtn">
                        <img src="img/user/icon/icon-data-check-save.svg" alt="">
                        <span>GUARDAR</span>
                    </button>
                </div>
                <div class="data__form-input">
                    <p>Seguridad</p>
                    <select name="" id="" class="user__input user__input--ghost">
                        <option value="" disabled selected>Pregunta de seguridad</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <input type="text" required placeholder="Respuesta de seguridad" class="user__input user__input--ghost">
                    <button class="btn__blue data__saveBtn">
                        <img src="img/user/icon/icon-data-check-save.svg" alt="">
                        <span>GUARDAR</span>
                    </button>
                </div>
            </div>
            <button class="btn__white btn__back data__modify-close" type="submit">
                <img src="img/icons/icon-arrow-black.svg" alt="">
                <span>ATRÁS</span>
            </button>
        </form>
    </section>
</main>