<div class="deposit__block deposit__step1">
    <section class="deposit__wrapper">
        <div class="mpu__title">
            <img src="img/user/icon/icon-deposit-title.svg" alt="">Depositar
        </div>
        <div class="mpu__body">
            <div class="deposit__grid">
                <div class="deposit__item" data-url="/mpu-skrill">
                    <img src="img/user/logo/logo-retirar-skrill.png" alt="">
                </div>
                <div class="deposit__item" data-url="/mpu-paypal">
                    <img src="img/user/logo/logo-retirar-paypal.png" alt="">
                </div>
                <div class="deposit__item" data-url="/mpu-debit">
                    <img src="img/user/logo/logo-retirar-visa.png" alt="">
                </div>
                <div class="deposit__item" data-url="/mpu-transfer">
                    <img src="img/user/logo/logo-retirar-transferencia.png" alt="">
                </div>
                <div class="deposit__item" data-url="/mpu-paysafe">
                    <img src="img/user/logo/logo-retirar-paysafe.png" alt="">
                </div>
                <div class="deposit__item" data-url="/mpu-neteller">
                    <img src="img/user/logo/logo-retirar-neteller.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>