<section class="deposit__wrapper">
    <p class="deposit__title"><img src="img/user/icon/icon-deposit-title.svg" alt="">Depositar</p>
    <div class="deposit__grid">
        <div class="deposit__item" data-method="depositSkrill">
            <img src="img/user/logo/logo-retirar-skrill.png" alt="">
        </div>
        <div class="deposit__item" data-method="depositPaypal">
            <img src="img/user/logo/logo-retirar-paypal.png" alt="">
        </div>
        <div class="deposit__item" data-method="depositDebit">
            <img src="img/user/logo/logo-retirar-visa.png" alt="">
        </div>
        <div class="deposit__item" data-method="depositTransfer">
            <img src="img/user/logo/logo-retirar-transferencia.png" alt="">
        </div>
        <div class="deposit__item" data-method="depositPaysafe">
            <img src="img/user/logo/logo-retirar-paysafe.png" alt="">
        </div>
        <div class="deposit__item" data-method="depositNeteller">
            <img src="img/user/logo/logo-retirar-neteller.png" alt="">
        </div>
    </div>
</section>
