<section class="deposit__wrapper">
    <img class="deposit__logo" src="img/user/icon/icon-deposit-success.svg" alt="">
    <p class="deposit__title">Depositar</p>
    <p class="deposit__body">¡Tu depósito se ha hecho con éxito!</p>
    <a href="/" class="btn__blue depositStep3__btn">
        <img src="img/user/icon/icon-deposit-back.svg" alt="">
        <span>SALIR</span>
    </a>
</section>
