<main class="docs">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-docs.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <div class="docs__flex">
        <div class="docs__wrapper">
            <section class="docs__state docs__state--accept">
                <img src="img/user/icon/icon-docs-check-big.svg" alt="">
                <div>
                    <p>Roberto,</p>
                    <p>tu cuenta está verificada</p>
                </div>
            </section>
            <section class="docs__content">
                <div class="docs__content-card user__card">
                    <div class="docs__text">
                        <p>Una vez verificada tu cuenta, será necesario verificar tus métodos de pago. Ten en cuenta que
                            solo
                            será necesario antes de tu primer reintegro. Si has depositado con:</p>
                        <p class="docs__text-title">PayPal</p>
                        <p>Será necesaria una captura dentro de la cuenta Paypal, mostrando el nombre del titular y el
                            correo
                            electrónico asociado.</p>
                        <p class="docs__text-title">Neteller</p>
                        <p>Será necesaria una captura dentro de la cuenta de Neteller, mostrando el nombre del titular y el
                            correo electrónico asociado junto con el ID de cuenta.</p>
                        <p class="docs__text-title">Skrill</p>
                        <p>Será necesaria una captura dentro de la cuenta Skrill, mostrando el nombre del titular y el
                            correo
                            electrónico asociado.</p>
                        <p class="docs__text-title">Paysafecard o Bizum</p>
                        <p>Será necesario un documento bancario o captura de tu banca online donde aparezca el número de
                            cuenta
                            completo (IBAN) junto con tu nombre como titular.</p>
                        <p class="docs__text-title">Tarjeta</p>
                        <p>Será necesario una foto de tu tarjeta mostrando el nombre del titular y los 6 primeros y 4
                            últimos
                            dígitos.</p>
                    </div>
                    <div class="docs__btn">
                        <a href="#" class="btn__blue">
                            <img src="img/user/icon/icon-docs-doc-btn.svg"" alt="">
                        <div class="">
                            <span>ENVIAR</span>
                            <span>DOCUMENTACIÓN</span>
                            <span>ADICIONAL</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class=" docs__state docs__state--alert">
                <img src="img/user/icon/icon-verify-alert.svg" alt="">
                <div>
                    <p>Roberto,</p>
                    <p>tu cuenta no está verificada</p>
                </div>
            </section>
            <section class="docs__content">
                <div class="docs__content-card user__card docs__content-verify">
                    <div class="docs__content-verify-header">
                        <p class="docs__content-verify-title">Verificar cuenta</p>
                        <p class="docs__content-verify-body">Para poder depositar más de 150€, obtener bonos, retirar tus
                            ganancias o modificar tus límites, verifica ahora tu identidad.</p>
                    </div>
                    <div class="docs__content-verify-wrapper">
                        <div class="docs__content-verify-left">
                            <p class="docs__content-verify-titleBlack">Verificación automática</p>
                            <p class="docs__content-verify-bodyBlack">La verificación rápida está disponible en tu móvil.
                                Escanea este QR y sigue los pasos.</p>
                            <img class="docs__content-qr" src="img/images/img-docs-qr.png" alt="">
                        </div>
                        <div class="docs__content-verify-right">
                            <p class="docs__content-verify-titleBlack">Verificación manual</p>
                            <p class="docs__content-verify-bodyBlack">Haz clic en el siguiente botón y mándanos una foto de
                                ambas caras de tu documento de identidad. Tu documentación será revisada en un plazo de
                                48-72
                                horas.</p>
                            <a class="btn__blue btn__icons">
                                <img src="img/user/icon/icon-menu-btn-check.svg" alt="">
                                <span>Verificar cuenta</span>
                                <img src="img/icons/icon-btn-arrow.svg" alt="">
                            </a>
                            <a class="btn__verify--ghost btn__icons">
                                <img src="img/user/icon/icon-checked-grey.svg" alt="">
                                <span>Verificación automática</span>
                                <img src="img/user/icon/icon-arrow-grey-btn.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="docs__state docs__state--alert">
                <img src="img/user/icon/icon-verify-alert.svg" alt="">
                <div>
                    <p>Roberto,</p>
                    <p>tu documentación ha caducado</p>
                </div>
            </section>
            <section class="docs__content">
                <div class="docs__content-card user__card docs__content-expired">
                    <p class="">Envíanos una foto de tu DNI o NIE renovado. Hasta entonces no podrás hacer retiros. Envíalo
                        ahora a través de nuestro sistema de verificación automática y en menos de un minuto tu cuenta
                        estará
                        verificada.</p>
                    <a class="btn__blue btn__icons">
                        <img src="img/user/icon/icon-docs-update.svg" alt="">
                        <span>ACTUALIZAR DOCUMENTACIÓN</span>
                    </a>
                </div>
            </section>
            <section class="docs__state docs__state--warning">
                <img src="img/user/icon/icon-verify-warning.svg" alt="">
                <div>
                    <p>Roberto,</p>
                    <p>tu documentación está a punto de caducar</p>
                </div>
            </section>
            <section class="docs__content">
                <div class="docs__content-card user__card docs__content-expired">
                    <p class="">Para poder depositar más de 150€, obtener bonos, retirar tus ganancias o modificar tus
                        límites,
                        verifica ahora tu identidad.</p>
                    <a class="btn__blue btn__icons">
                        <img src="img/user/icon/icon-docs-update.svg" alt="">
                        <span>ACTUALIZAR DOCUMENTACIÓN</span>
                    </a>
                </div>
            </section>
        </div>
        <section class="docs__sent">
            <p class="user__card-title">Documentos enviados</p>
            <div class="docs__grid">
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--denied">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-denied.svg" alt="">
                            <p>Denegado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--denied">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-denied.svg" alt="">
                            <p>Denegado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--denied">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-denied.svg" alt="">
                            <p>Denegado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>