<main class="docsVerify">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-docs.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <section class="docsVerify__content">
        <div class="docsVerify__header user__card">
            <div class="docsVerify__header-icon">
                <img src="img/user/icon/icon-docs-check-light.svg" alt="">
            </div>
            <div class="docsVerify__header-text">
                <p>Verificación automática</p>
                <p>Vamos a verificar tu cuenta en dos sencillos pasos. Sólo debes tener a mano tu DNI o NIE y en menos
                    de 5 minutos habremos terminado.</p>
            </div>
            <div class="docsVerify__header-start">
                <button class="btn__blue">
                    <span>COMENZAR</span>
                </button>
            </div>
        </div>
        <div class="docsVerify__steps docsVerify__step1 docsVerify__steps—success">
            <div>
                <p>1</p>
                <p>Captura de DNI/NIE</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="icon-menu-btn-check" transform="translate(-75.468 -82.45)">
                  <circle id="Elipse_695" data-name="Elipse 695" cx="15" cy="15" r="15" transform="translate(75.468 82.45)" fill="#00D1BC"/>
                  <g id="Grupo_682" data-name="Grupo 682" transform="translate(82.468 89.45)">
                    <path id="Trazado_5422" data-name="Trazado 5422" d="M166.682,41.191l2.363,2.471,8.327-9.445" transform="translate(-162.176 -33.414)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Trazado_5423" data-name="Trazado 5423" d="M16.895,7.7A7.316,7.316,0,0,1,17,9,8,8,0,1,1,9,1a8.585,8.585,0,0,1,1.867.219" transform="translate(-1 -1)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </g>
                </g>
            </svg>
            <div class="spinner">
                <div class="spinner__wrapper">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps docsVerify__step2 docsVerify__steps—loading">
            <div>
                <p>2</p>
                <p>Captura de selfie</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="icon-menu-btn-check" transform="translate(-75.468 -82.45)">
                  <circle id="Elipse_695" data-name="Elipse 695" cx="15" cy="15" r="15" transform="translate(75.468 82.45)" fill="#00D1BC"/>
                  <g id="Grupo_682" data-name="Grupo 682" transform="translate(82.468 89.45)">
                    <path id="Trazado_5422" data-name="Trazado 5422" d="M166.682,41.191l2.363,2.471,8.327-9.445" transform="translate(-162.176 -33.414)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Trazado_5423" data-name="Trazado 5423" d="M16.895,7.7A7.316,7.316,0,0,1,17,9,8,8,0,1,1,9,1a8.585,8.585,0,0,1,1.867.219" transform="translate(-1 -1)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </g>
                </g>
            </svg>
            <div class="spinner">
                <div class="spinner__wrapper">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps docsVerify__step3 docsVerify__steps—base">
            <div>
                <p>3</p>
                <p>Validación</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="icon-menu-btn-check" transform="translate(-75.468 -82.45)">
                  <circle id="Elipse_695" data-name="Elipse 695" cx="15" cy="15" r="15" transform="translate(75.468 82.45)" fill="#00D1BC"/>
                  <g id="Grupo_682" data-name="Grupo 682" transform="translate(82.468 89.45)">
                    <path id="Trazado_5422" data-name="Trazado 5422" d="M166.682,41.191l2.363,2.471,8.327-9.445" transform="translate(-162.176 -33.414)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Trazado_5423" data-name="Trazado 5423" d="M16.895,7.7A7.316,7.316,0,0,1,17,9,8,8,0,1,1,9,1a8.585,8.585,0,0,1,1.867.219" transform="translate(-1 -1)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </g>
                </g>
            </svg>
            <div class="spinner">
                <div class="spinner__wrapper">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps docsVerify__step4 docsVerify__steps—error">
            <div>
                <p>4</p>
                <p>Error</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="icon-menu-btn-check" transform="translate(-75.468 -82.45)">
                  <circle id="Elipse_695" data-name="Elipse 695" cx="15" cy="15" r="15" transform="translate(75.468 82.45)" fill="#00D1BC"/>
                  <g id="Grupo_682" data-name="Grupo 682" transform="translate(82.468 89.45)">
                    <path id="Trazado_5422" data-name="Trazado 5422" d="M166.682,41.191l2.363,2.471,8.327-9.445" transform="translate(-162.176 -33.414)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <path id="Trazado_5423" data-name="Trazado 5423" d="M16.895,7.7A7.316,7.316,0,0,1,17,9,8,8,0,1,1,9,1a8.585,8.585,0,0,1,1.867.219" transform="translate(-1 -1)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </g>
                </g>
            </svg>
            <div class="spinner">
                <div class="spinner__wrapper">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps-backBtn">
            <button class="btn__white">
                <img src="img/icons/icon-arrow-black.svg" alt="">
                <span>ATRÁS</span>
            </button>
        </div>
    </section>
</main>