<main class="docsVerify">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-user.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <section class="docsVerify__content">
        <div class="docsVerify__header">
            <div class="docsVerify__icon">
                <img src="img/user/icon/icon-docs-check-light.svg" alt="">
            </div>
            <div class="docsVerify__text">
                <p>Verificación automática</p>
                <p>Vamos a verificar tu cuenta en dos sencillos pasos. Sólo debes tener a mano tu DNI o NIE y en menos
                    de 5 minutos habremos terminado.</p>
            </div>
            <div class="docsVerify__start">
                <button class="">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="docsVerify__steps docsVerify__step1">
            <div class="">
                <p></p>
                <p></p>
            </div>
            <img src="" alt="">
        </div>
        <div class="docsVerify__steps docsVerify__step2">
            <div class="">
                <p></p>
                <p></p>
            </div>
            <img src="" alt="">
        </div>
        <div class="docsVerify__steps docsVerify__step3">
            <div class="">
                <p></p>
                <p></p>
            </div>
            <img src="" alt="">
        </div>
        <button class="">
            <img src="" alt="">
            <span></span>
        </button>
    </section>
</main>