<main class="docs">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-docs.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <section class="docs__state">
        <img src="img/user/icon/icon-docs-check-big.svg" alt="">
        <div>
            <p>Roberto,</p>
            <p>tu cuenta está verificada</p>
        </div>
    </section>
    <section class="docs__content">
        <div class="docs__content-card user__card">
            <div class="docs__text">
                <p>Una vez verificada tu cuenta, será necesario verificar tus métodos de pago. Ten en cuenta que solo
                    será necesario antes de tu primer reintegro. Si has depositado con:</p>
                <p class="docs__text-title">PayPal</p>
                <p>Será necesaria una captura dentro de la cuenta Paypal, mostrando el nombre del titular y el correo
                    electrónico asociado.</p>
                <p class="docs__text-title">Neteller</p>
                <p>Será necesaria una captura dentro de la cuenta de Neteller, mostrando el nombre del titular y el
                    correo electrónico asociado junto con el ID de cuenta.</p>
                <p class="docs__text-title">Skrill</p>
                <p>Será necesaria una captura dentro de la cuenta Skrill, mostrando el nombre del titular y el correo
                    electrónico asociado.</p>
                <p class="docs__text-title">Paysafecard o Bizum</p>
                <p>Será necesario un documento bancario o captura de tu banca online donde aparezca el número de cuenta
                    completo (IBAN) junto con tu nombre como titular.</p>
                <p class="docs__text-title">Tarjeta</p>
                <p>Será necesario una foto de tu tarjeta mostrando el nombre del titular y los 6 primeros y 4 últimos
                    dígitos.</p>
            </div>
            <div class="docs__btn">
                <button class="btn__blue">
                    <img src="img/user/icon/icon-docs-doc-btn.svg"" alt="">
                    <div class="">
                        <span>ENVIAR</span>
                        <span>DOCUMENTACIÓN</span>
                        <span>ADICIONAL</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="docs__sent">
            <p class="user__card-title">Documentos enviados</p>
            <div class="docs__grid">
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--denied">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-denied.svg" alt="">
                            <p>Denegado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--denied">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-denied.svg" alt="">
                            <p>Denegado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--denied">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-denied.svg" alt="">
                            <p>Denegado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="docs__grid-item sent--pass">
                    <div class="docs__grid--top">
                        <p>Identidad</p>
                        <p>23-09-2020</p>
                        <p>01:12:52</p>
                    </div>
                    <div class="docs__grid--bottom">
                        <div class="docs__grid-state docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-pass.svg" alt="">
                            <p>Aprobado</p>
                        </div>
                        <div class="docs__grid-download docs__grid-stripe">
                            <img src="img/user/icon/icon-docs-dowload.svg" alt="">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>