<main class="docsVerify">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-docs.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <section class="docsVerify__content">
        <div class="docsVerify__header user__card">
            <div class="docsVerify__header-icon">
                <img src="img/user/icon/icon-docs-check-light.svg" alt="">
            </div>
            <div class="docsVerify__header-text">
                <p>Verificación automática</p>
                <p>Vamos a verificar tu cuenta en dos sencillos pasos. Sólo debes tener a mano tu DNI o NIE y en menos
                    de 5 minutos habremos terminado.</p>
            </div>
            <div class="docsVerify__header-start">
                <a href="">
                    <button class="btn__blue">
                        <span>COMENZAR</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="docsVerify__steps docsVerify__step1">
            <div>
                <p>1</p>
                <p>Captura de DNI/NIE</p>
            </div>
            <img src="img/user/icon/icon-menu-btn-check.svg" alt="">
        </div>
        <div class="docsVerify__steps docsVerify__step2">
            <div>
                <p>2</p>
                <p>Captura de selfie</p>
            </div>
            <img src="img/user/icon/icon-docs-loading.svg" alt="">
        </div>
        <div class="docsVerify__steps docsVerify__step3">
            <div>
                <p>3</p>
                <p>Validación</p>
            </div>
            <img src="" alt="">
        </div>
        <a href="">
            <button class="btn__white">
                <img src="img/icons/icon-arrow-black.svg" alt="">
                <span>ATRÁS</span>
            </button>
        </a>
    </section>
</main>