<main class="docsVerify docsVerify2">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-docs.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <section class="docsVerify__content">
        <div class="user__card docsVerify2__header">
            <div class="docsVerify__header-icon">
                <img src="img/user/icon/icon-docs-check-light.svg" alt="">
            </div>
            <div class="docsVerify__header-text">
                <p>Verificaci칩n manual</p>
                <p>Vamos a verificar tu cuenta en dos sencillos pasos. S칩lo debes enviarnos tu documentaci칩n.</p>
            </div>
        </div>
        <form action="/members/my-uploads2.html" id="upload-attachment" enctype="multipart/form-data" method="post">
            <div class="idForm user__card">
                <div class="idForm__select">
                    <p>Tipo de documento:</p>
                    <div class="idForm__radio">
                        <div class="radioBtn">
                            <input type="radio" name="type" value="test1" id="test1" checked>
                            <div class="container">
                                <span></span>
                            </div>
                        </div>
                        <p>DNI</p>
                    </div>
                    <div class="idForm__radio">
                        <div class="radioBtn">
                            <input type="radio" name="type" value="test2" id="test2">
                            <div class="container">
                                <span></span>
                            </div>
                        </div>
                        <p>Pasaporte</p>
                    </div>
                    <div class="idForm__radio">
                        <div class="radioBtn">
                            <input type="radio" name="type" value="test3" id="test3">
                            <div class="container">
                                <span></span>
                            </div>
                        </div>
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
                <div class="idForm__upload">
                    <p>Adjunta el documento</p>
                    <p>(M치ximo 5Mb)</p>
                    <label for="file" class="file__label btn__blue">
                        SELECCIONAR ARCHIVO
                        <input type="file" id="file" name="file" size="60" accept="image/*" required>
                    </label>
                    <div class="file__name"></div>
                </div>
                <div class="idForm__message">
                    <textarea name="descriptionEnter" id="descriptionEnter" cols="30" rows="10" placeholder="Mensaje"></textarea>
                </div>
                <div class="idForm__submit">
                    <button class="btn__blue " type="submit">
                        <img src="img/user/icon/icon-docs-send-btn.svg" alt="">
                        <span>ENVIAR</span>
                    </button>
                </div>
            </div>
        </form>
    </section>
</main>