<section class="game">
    <div class="user__title">
        <img src="img/user/icon/icon-game-title.svg" alt="">
        <p>Juego Responsable</p>
    </div>
    <div class="game__screen">
        <form class="game__container user__card game__container-limit">
            <p class="title">Autoexclusión</p>
            <p class="body">Si deseas dejar de jugar durante un tiempo, puedes seleccionar un periodo de descanso de
                juego.
            </p>
            <p class="body">Durante ese periodo no podrás acceder a tu cuenta de juego, tampoco realizar depósitos o
                reintegrar el saldo disponible.
            </p>
            <p class="body">Si piensas que tienes problemas con el juego, te aconsejamos que solicites la Autoexclusión.
                Aquí encontrarás información de como hacerlo.</p>
            <div class="game__exclusion">
                <p class="game__exclusion-title">Selecciona el tiempo de duración</p>
                <div class="game__exclusion-inputs">
                    <input class="exclusion_input" type="text" name="" id="" value="Cantidad">
                    <select name="" id="" class="exclusion_select">
                        <option value="" disabled selected>Duración</option>
                        <option value="1">días</option>
                        <option value="2">semanas</option>
                        <option value="3">meses</option>
                    </select>
                </div>
            </div>
            <div class="game__exclusion-saveBtn">
                <button class="btn__blue btn__icons" type="submit">
                    <img src="img/user/icon/icon-game-modify-btn.svg" alt="">
                    <span>GUARDAR</span>
                </button>
            </div>
        </form>
        <button class="btn__white game__backBtn">
            <img src="img/icons/icon-arrow-black.svg" alt="">
            <span>ATRÁS</span>
        </button>
    </div>
</section>