<section class="game">
    <div class="user__title">
        <img src="img/user/icon/icon-game-title.svg" alt="">
        <p>Juego Responsable</p>
    </div>
    <div class="game__screen">
        <form class="game__container user__card game__container-limit">
            <p class="title">Límites de Depósito</p>
            <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum justo at sapien
                mollis, quis consequat sapien cursus.</p>
            <div class="game__limit">
                <p class="game__limit-title">Diario</p>
                <input class="limit_input" type="text" name="" id="daily" value="600">
            </div>
            <div class="game__limit">
                <p class="game__limit-title">Semanal</p>
                <input class="limit_input" type="text" name="" id="weekly" value="1500">
            </div>
            <div class="game__limit">
                <p class="game__limit-title">Mensual</p>
                <input class="limit_input" type="text" name="" id="monthly" value="3000">
            </div>
            <div class="game__limit--last">
                <button class="btn__blue btn__icons game__limit-saveBtn" type="submit">
                    <img src="img/user/icon/icon-game-modify-btn.svg" alt="">
                    <span>GUARDAR</span>
                </button>
            </div>
        </form>
        <button class="btn__white game__backBtn">
            <img src="img/icons/icon-arrow-black.svg" alt="">
            <span>ATRÁS</span>
        </button>
    </div>
</section>