<section class="game">
    <div class="user__title">
        <img src="img/user/icon/icon-game-title.svg" alt="">
        <p>Juego Responsable</p>
    </div>
    <div class="game__screen">
        <p class="game__header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum justo at
            sapien mollis, quis consequat sapien cursus.</p>
        <div class="game__container user__card">
            <p class="title">Límites de Depósito</p>
            <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum justo at sapien
                mollis, quis consequat sapien cursus.</p>
            <a href="/juego-responsable-limit" class="btn__blue btn__icons game__limitBtn">
                <img src="img/user/icon/icon-game-modify-btn.svg" alt="">
                <span>MODIFICAR</span>
            </a>
        </div>
        <div class="game__container user__card">
            <p class="titleSm">Autoexclusión</p>
            <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum justo at sapien
                mollis, quis consequat sapien cursus.</p>
            <a href="/juego-responsable-exclusion" class="btn__white game__exclBtn">
                <span>MODIFICAR</span>
            </a>
        </div>
    </div>
</section>