<section class="game">
    <div class="user__title">
        <img src="img/user/icon/icon-game-title.svg" alt="">
        <p>Juego Responsable</p>
    </div>
    <div class="game__screen">
        <form class="game__container user__card game__container-limit" action="$site/members/depositLimitsES.jsp" action="post" id="limitsForm">
            <input type="hidden" name="questionnaireB64" value="" id="questionnaireB64">
            <input type="hidden" name="initialDailyLimit" id="initialDailyLimit" value="600">
            <input type="hidden" name="initialWeeklyLimit" id="initialWeeklyLimit" value="1500">
            <input type="hidden" name="initialMonthlyLimit" id="initialMonthlyLimit" value="3000">
            <div class="game__title">
                <p class="title">Límites de Depósito</p>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum justo at sapien
                    mollis, quis consequat sapien cursus.</p>
            </div>
            <div class="game__limit">
                <p class="game__limit-title">Diario</p>
                <input class="limit_input" type="number" name="dailyLimit" id="dailyLimit" min="1" value="600">
            </div>
            <div class="game__limit">
                <p class="game__limit-title">Semanal</p>
                <input class="limit_input" type="number" name="weeklyLimit" id="weeklyLimit" min="1" value="1500">
            </div>
            <div class="game__limit">
                <p class="game__limit-title">Mensual</p>
                <input class="limit_input" type="number" name="monthlyLimit" id="monthlyLimit" min="1" value="3000">
            </div>
            <div class="game__limit--last">
                <button class="btn__blue btn__icons game__limit-saveBtn" type="submit">
                    <img src="img/user/icon/icon-game-modify-btn.svg" alt="">
                    <span>GUARDAR</span>
                </button>
            </div>
        </form>
        <a href="/juego-responsable" class="btn__white game__backBtn">
            <img src="img/icons/icon-arrow-black.svg" alt="">
            <span>ATRÁS</span>
        </a>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        initLimits({ questionarieUrl: '/mpu-questionarie' });
    })
</script>