<main class="history">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-history.svg" alt="">
        <p>Mi Historial</p>
    </section>
    <section class="history__navbar">
        <button class="history__nav">Informe detallado</button>
        <button class="history__nav is-active">Freespins</button>
        <button class="history__nav">Depósitos y retiradas</button>
        <button class="history__nav">Resumen anual</button>
        <button class="history__nav">Bonos</button>
        <button class="history__nav">Slots</button>
    </section>
    <section class="history__grid">
        <section class="freespins">
            <p class="user__card-title" >Freespins</p>
            <div class="history__filter user__card">
                <div class="history__content">
                    <p>Consulta el historial de Freespins</p>
                    <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                </div>
                <form action="">
                    <div class="history__inputs">
                        <input type="date" name="" id="" placeholder="Fecha de Inicio">
                        <input type="date" name="" id="" placeholder="Fecha de fin">
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="history__submit">
                        <button class="btn__blue" type="submit">
                            <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                            <span>SOLICITAR INFORME</span>
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <section class="history__activity">
            <p class="user__card-title">Informe de actividad</p>
            <div class="history__table user__card">
                <div class="history__table-row">
                    <p class="bold">Id</p>
                    <p class="bold">Estado</p>
                    <p class="bold">Sala</p>
                    <p class="bold">Creación</p>
                    <p class="bold">Expiración</p>
                    <p class="bold">Conversión</p>
                    <p class="bold">Operación</p>
                </div>
                <div class="history__table-row">
                    <p class="bold">694517</p>
                    <p>Canjeado</p>
                    <p>Apuestas deportivas - SportnCo</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>0</p>
                </div>
                <div class="history__table-row">
                    <p class="bold">694517</p>
                    <p>Canjeado</p>
                    <p>Apuestas deportivas - SportnCo</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>0</p>
                </div>
                <div class="history__table-row">
                    <p class="bold">694517</p>
                    <p>Canjeado</p>
                    <p>Apuestas deportivas - SportnCo</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>0</p>
                </div>
                <div class="history__table-row">
                    <p class="bold">694517</p>
                    <p>Canjeado</p>
                    <p>Apuestas deportivas - SportnCo</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>0</p>
                </div>
                <div class="history__table-row">
                    <p class="bold">694517</p>
                    <p>Canjeado</p>
                    <p>Apuestas deportivas - SportnCo</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>04/03/2022 12:20:14</p>
                    <p>0</p>
                </div>
            </div>
        </section>
    </section>
</main>