<main class="history">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-history.svg" alt="">
        <p>Mi Historial</p>
    </section>
    <section class="history__navbar history__navbar-desktop">
        <button class="history__nav is-active" data-block=".detailBlock">Informe detallado</button>
        <button class="history__nav" data-block=".freespinsBlock">Freespins</button>
        <button class="history__nav" data-block=".movementsBlock">Depósitos y retiradas</button>
        <button class="history__nav" data-block=".annualBlock">Resumen anual</button>
        <button class="history__nav" data-block=".bondsBlock">Bonos</button>
        <button class="history__nav" data-block=".slotsBlock">Slots</button>
    </section>
    <section class="history__navbar history__navbar-mobile splide">
        <div class="splide__gradient--light"></div>
        <div class="splide__track">
            <div class="splide__list">
                <button class="splide__slide history__nav is-active" data-block=".detailBlock">Informe detallado</button>
                <button class="splide__slide history__nav" data-block=".freespinsBlock">Freespins</button>
                <button class="splide__slide history__nav" data-block=".movementsBlock">Depósitos y retiradas</button>
                <button class="splide__slide history__nav" data-block=".annualBlock">Resumen anual</button>
                <button class="splide__slide history__nav" data-block=".bondsBlock">Bonos</button>
                <button class="splide__slide history__nav" data-block=".slotsBlock">Slots</button>
            </div>
        </div>
    </section>
    <section class="history__content">
        <main class="detailBlock block history__grid active-block">
            <section class="history__finder detail">
                <p class="user__card-title" >Informe detallado</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de los informes</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <input id="day" name="day" type="hidden" value="" maxlength="2">
                        <input name="month" id="month" type="hidden" value="">
                        <input id="year" name="year" type="hidden" value="" maxlength="4">
                        <input id="day_end" name="day_end" type="hidden" value="" maxlength="2">
                        <input name="month_end" id="month_end" type="hidden" value="">
                        <input id="year_end" name="year_end" type="hidden" value="" maxlength="4">
                        <input type="hidden" value="1" name="page">
                        <input type="hidden" value="1" name="last_page">
                        <input type="hidden" value="0" name="balance_type">
                        <input type="hidden" value="0" name="serviceId">
                        <input type="hidden" value="0" name="roomId">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue btn__icons btn__fontSm" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="history__wrapper">
                    <div class="history__table user__card">
                        <div class="history__table-row">
                            <p class="bold">Id</p>
                            <p class="bold">Estado</p>
                            <p class="bold">Sala</p>
                            <p class="bold">Creación</p>
                            <p class="bold">Expiración</p>
                            <p class="bold">Conversión</p>
                            <p class="bold">Operación</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <main class="freespinsBlock block history__grid">
            <section class="history__finder freespins">
                <p class="user__card-title" >Freespins</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de Freespins</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="history__wrapper">
                    <div class="history__table user__card">
                        <div class="history__table-row">
                            <p class="bold">Id</p>
                            <p class="bold">Estado</p>
                            <p class="bold">Sala</p>
                            <p class="bold">Creación</p>
                            <p class="bold">Expiración</p>
                            <p class="bold">Conversión</p>
                            <p class="bold">Operación</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <main class="movementsBlock block history__grid">
            <section class="history__finder movements">
                <p class="user__card-title">Depósitos y retiradas</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de los depósitos y retiradas</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="history__wrapper">
                    <div class="history__table user__card">
                        <div class="history__table-row">
                            <p class="bold">Id</p>
                            <p class="bold">Estado</p>
                            <p class="bold">Sala</p>
                            <p class="bold">Creación</p>
                            <p class="bold">Expiración</p>
                            <p class="bold">Conversión</p>
                            <p class="bold">Operación</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <main class="annualBlock block history__grid">
            <section class="history__finder annual">
                <p class="user__card-title" >Resumen anual</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial del resumen anual</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="history__wrapper">
                    <div class="history__table user__card">
                        <div class="history__table-row">
                            <p class="bold">Id</p>
                            <p class="bold">Estado</p>
                            <p class="bold">Sala</p>
                            <p class="bold">Creación</p>
                            <p class="bold">Expiración</p>
                            <p class="bold">Conversión</p>
                            <p class="bold">Operación</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <main class="bondsBlock block history__grid">
            <section class="history__finder bonds">
                <p class="user__card-title" >Bonos</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de tus bonos</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="history__wrapper">
                    <div class="history__table user__card">
                        <div class="history__table-row">
                            <p class="bold">Id</p>
                            <p class="bold">Estado</p>
                            <p class="bold">Sala</p>
                            <p class="bold">Creación</p>
                            <p class="bold">Expiración</p>
                            <p class="bold">Conversión</p>
                            <p class="bold">Operación</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <main class="slotsBlock block history__grid">
            <section class="history__finder slotsHistory">
                <p class="user__card-title" >Slots</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de tus slots</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="history__wrapper">
                    <div class="history__table user__card">
                        <div class="history__table-row">
                            <p class="bold">Id</p>
                            <p class="bold">Estado</p>
                            <p class="bold">Sala</p>
                            <p class="bold">Creación</p>
                            <p class="bold">Expiración</p>
                            <p class="bold">Conversión</p>
                            <p class="bold">Operación</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                        <div class="history__table-row">
                            <p class="bold">694517</p>
                            <p>Canjeado</p>
                            <p>Apuestas deportivas - SportnCo</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>04/03/2022 12:20:14</p>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </section>
</main>