<section class="login">
    <div class="login__header">
        <a href="/" class="login__header-logo">
            <img src="img/icons/icon-logo-black.svg" alt="">
        </a>
        <a href="/" class="login__header-close">
            <img src="img/icons/icon-close-register.svg" alt="">
        </a>
    </div>
    <section class="login__layout">
        <form action="" method="post" class="login__form">
            <div class="login__container">
                <img src="img/icons/icon-header-login.svg" alt="" class="login__badge">
                <h2>Inicia sesión</h2>
                <div class="login__input">
                    <input type="text" name="user" id="" required placeholder="usuario">
                    <input type="text" name="password" id="" required placeholder="contraseña">
                </div>
                <div class="login__btns">
                    <button class="btn__blue" type="submit">
                        <span>ENTRAR</span>
                        <img src="img/icons/icon-arrow-white.svg" alt="">
                    </button>
                    <a href="/sign-up" class="btn__white">
                        <span>REGÍSTRATE</span>
                        <img src="img/icons/icon-arrow-circle-black.svg" alt="">
                    </a>
                </div>
            </div>
        </form>
        <div class="login__footer">
            <p>¿Has olvidado la contraseña?</p>
            <p class="login__recoverBtn">Recuperar contraseña</p>
        </div>
    </section>
</section>