<main class="preferences">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-config.svg" alt="">
        <p>Preferencias</p>
    </section>
    <section class="preferences__wrapper">
        <p>Para su información, casinobarcelona.es podrá contactar con usted como usuario para cualquier comunicación
            que se requiera para el cumplimiento de los términos y condiciones aceptados. Valga como ejemplo la gestión
            de depósitos, reintegros u otras cuestiones.</p>
        <div class="preferences__table">
            <div class="preferences__row">
                <p>Email</p>
                <%- include ('../../components/checkbox-round') %>
            </div>
            <div class="preferences__row">
                <p>Teléfono</p>
                <%- include ('../../components/checkbox-round') %>
            </div>
            <div class="preferences__row">
                <p>SMS</p>
                <%- include ('../../components/checkbox-round') %>
            </div>
        </div>
    </section>
</main>