<section class="stepOne registry">

    <div class="registry__bg">
        <img src="img/user/img/img-registry-zeus.png" alt="">
    </div>

    <div class="registry__header">
        <a href="/" class="registry__header-logo">
            <img src="img/icons/icon-logo-black.svg" alt="">
        </a>
        <a href="/" class="registry__header-close">
            <img src="img/icons/icon-close-register.svg" alt="">
        </a>
    </div>

    <section class="registry__layout">
        <form action="" method="post" class="stepOne__form registry__form">
            <h2>¡Abre tu cuenta gratis y en tan solo 30 segundos!</h2>
            <div class="registry__container">
                <div class="registry__steps">
                    <div class="registry__step active">
                        <p><span>1</span></p>
                    </div>
                    <div class="registry__step">
                        <p><span>2</span></p>
                    </div>
                    <div class="registry__step">
                        <p><span>3</span></p>
                    </div>
                </div>
                <div class="stepOne__input">
                    <input type="text" name="name" id="name" placeholder="Nombre">
                    <input type="text" name="dni" id="dni" placeholder="DNI">
                    <input type="text" name="surname" id="firstSurname" placeholder="Primer apellido">
                    <input type="text" name="email" id="email" placeholder="Email">
                    <input type="text" name="second-surname" id="secondSurname" placeholder="Segundo apellido">
                    <input type="text" name="phone" id="phone" placeholder="Teléfono">
                </div>
                <div class="stepOne__accept">
                    <div class="stepOne__checkbox">
                        <input type="checkbox" name="">
                        <span></span>
                    </div>
                    <div class="stepOne__tc">
                        <p>He leído y acepto los Términos y condiciones y Política de privacidad y la Política de Bonos,
                            y
                            quiero recibir comunicaciones promocionales en base a mis intereses y preferencias*. Además,
                            confirmo que no estoy afectado por ninguna causa de prohibición subjetiva relacionada a la
                            participación en el juego.
                        </p>
                        <p>* Si no deseas recibir comunicaciones, puedes modificar la configuración en el apartado de
                            “Mi
                            cuenta”</p>
                    </div>
                </div>
                <div class="registry__btns">
                    <button type="button" class="btn__blue registry__btnStep2">
                        <span>CONTINUAR</span>
                        <img src="img/icons/icon-arrow-white.svg">
                    </button>
                </div>
            </div>
        </form>
        <div class="registry__login">
            <p>¿Ya estás registrado?<a href="#">Inicia sesión aquí</a></p>
        </div>
    </section>

    <section class="registry__footer">
        <button type="button" class="btn__blue registry__btnStep2">
            <span>CONTINUAR</span>
            <img src="img/icons/icon-arrow-white.svg">
        </button>
    </section>

</section>