<section class="login stepFour registry registry__welcome">
    <div class="login__header">
        <a href="/" class="login__header-logo">
            <img src="img/icons/icon-logo-black.svg" alt="">
        </a>
        <a href="/" class="login__header-close">
            <img src="img/icons/icon-close-register.svg" alt="">
        </a>
    </div>
    <section class="login__layout registry__layout">
        <div class="stepFour__header">
            <img src="img/icons/icon-header-login.svg">
            <p class="stepFour__header-title">¡Bienvenido a Casino Barcelona!</p>
            <p class="stepFour__header-subtitle">Te acabas de unir al mejor
                casino de España. ¡Felicidades!</p>
        </div>
        <div class="stepFour__verify">
            <p>Verifica ahora tu cuenta para poder obtener bonos y retirar tus premios con mayor rapidez.
            </p>
            <p>
                Envía tu documentación con nuestro sistema de verificación automática. En menos de 1 minuto,
                podrás disfrutar de todos los privilegios de tu cuenta.</p>
            <a href="/mis-documentos" class="btn__blue btn__icons ">
                <img src="img/user/icon/icon-menu-btn-check.svg" alt="">
                <span>Verificar cuenta</span>
                <img src="img/icons/icon-btn-arrow.svg" alt="">
            </a>
        </div>
        <p class="stepFour__game">Puedes ir directamente a jugar y verificar más tarde pero hasta entonces no podrás obtener bonos, aumentar niveles de depósito ni retirar premios</p>
        <div class="stepFour__grid">
            <img src="img/images/img-grid-1.jpg" alt="">
            <img src="img/images/img-grid-2.jpg" alt=""> 
            <img src="img/images/img-grid-3.jpg" alt="">
            <img src="img/images/img-grid-4.jpg" alt="">
            <img src="img/images/img-grid-5.jpg" alt="">
            <img src="img/images/img-grid-6.jpg" alt="">
            <img src="img/images/img-grid-7.jpg" alt="">
            <img src="img/images/img-grid-8.jpg" alt="">
            <img src="img/images/img-grid-9.jpg" alt="">
            <img src="img/images/img-grid-10.jpg" alt="">
            <img src="img/images/img-grid-11.jpg" alt="">
            <img src="img/images/img-grid-12.jpg" alt="">
            <img src="img/images/img-grid-1.jpg" alt="">
            <img src="img/images/img-grid-2.jpg" alt="">
            <img src="img/images/img-grid-3.jpg" alt="">
            <img src="img/images/img-grid-4.jpg" alt="">
            <img src="img/images/img-grid-5.jpg" alt="">
            <img src="img/images/img-grid-6.jpg" alt="">
            <img src="img/images/img-grid-7.jpg" alt="">
            <img src="img/images/img-grid-8.jpg" alt="">
            <img src="img/images/img-grid-9.jpg" alt="">
            <img src="img/images/img-grid-10.jpg" alt="">
            <img src="img/images/img-grid-11.jpg" alt="">
            <img src="img/images/img-grid-12.jpg" alt="">
            <img src="img/images/img-grid-1.jpg" alt="">
            <img src="img/images/img-grid-2.jpg" alt="">
            <img src="img/images/img-grid-3.jpg" alt="">
        </div>
    </section>
</section>
