<section class="login stepThree registry">
    <div class="login__header">
        <a href="/" class="login__header-logo">
            <img src="img/icons/icon-logo-black.svg" alt="">
        </a>
        <a href="/" class="login__header-close">
            <img src="img/icons/icon-close-register.svg" alt="">
        </a>
    </div>
    <section class="login__layout registry__layout">
        <form action="" method="post" class="login__form registry__form">
            <h2>¡Abre tu cuenta gratis y en tan solo 30 segundos!</h2>
            <div class="login__container registry__container">
                <div class="registry__steps">
                    <div class="registry__step active">
                        <p><span>1</span></p>
                    </div>
                    <div class="registry__step active">
                        <p><span>2</span></p>
                    </div>
                    <div class="registry__step active">
                        <p><span>3</span></p>
                    </div>
                </div>
                <div class="stepThree__input registry__input">
                    <input type="text" name="username" id="" required placeholder="Nombre de usuario">
                    <select name="" id="">
                        <option selected disabled value="">Pregunta de seguridad</option>
                    </select>
                    <input type="text" name="password" id="" required placeholder="Contraseña">
                    <input type="text" name="secury-answer" id="" required placeholder="Respuesta de seguridad">
                    <input type="text" name="confirm-password" id="" required placeholder="Confirma la contraseña">
                    <input type="text" name="promo-code" id="" required placeholder="Código promocional">
                </div>
                <div class="registry__btns">
                    <button type="button" class="btn__white btn__back registry__btnStep2-back">
                        <img src="img/icons/icon-arrow-black.svg" alt="">
                        <span>ATRÁS</span>
                    </button>
                    <button type="button" class="btn__blue registry__btnStep4">
                        <span>CONTINUAR</span>
                        <img src="img/icons/icon-arrow-white.svg" alt="">
                    </button>
                </div>
            </div>
        </form>
        <div class="login__footer">
            <p>¿Ya estás registrado?<a href="#">Inicia sesión aquí</a></p>
        </div>
    </section>
</section>