<main class="support">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-support.svg" alt="">
        <p>Soporte</p>
    </section>
    <section class="support__content">
        <p>¿Tienes alguna duda sobre tu cuenta, documentación, promociones o cualquier otro tema?</p>
        <form action="" method="post" class="support__form user__card">
            <p>E-mail</p>
            <p>Puedes escribirnos un email a través de <span>soporte@casinobarcelona.es</span></p>
            <p>Si lo prefieres, puedes contactarnos desde este formulario:</p>
            <input type="text" placeholder="Asunto">
            <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
            <div class="support__btn">
                <button class="btn__blue" type="submit">
                    <img src="img/user/icon/icon-docs-send-btn.svg" alt="">
                    <span>ENVIAR</span>
                </button>
            </div>
        </form>
        <div class="support__card user__card">
            <div class="support__text">
                <p>Chat</p>
                <p>Habla diréctamente con un agente mediante nuestro chat</p>
            </div>
            <div class="support__btn">
                <button class="btn__blue" type="submit">
                    <img src="img/user/icon/icons-support-chat.svg" alt="">
                    <span>ESCRÍBENOS</span>
                </button>
            </div>
        </div>
        <div class="support__card user__card">
            <div class="support__text">
                <p>Teléfono</p>
                <p>Si lo prefieres, también puedes contactarnos por teléfono.</p>
                <p>Horario telefónico:</p>
                <p><span>De lunes a domingo</span></p>
                <p><span>De 10:00 a 24:00</span></p>
            </div>
            <div class="support__btn">
                <button class="btn__blue">
                    <img src="img/user/icon/icon-support-phone.svg" alt="">
                    <span>LLÁMANOS</span>
                </button>
            </div>
        </div>
    </section>
</main>