<main class="wallet">

    <section class="user__title">
        <img src="img/user/icon/icon-menu-wallet.svg" alt="">
        <p>Mi cartera</p>
    </section>

    <section class="wallet__grid">
        <div class="wallet__brief">
            <div class="wallet__brief-row">
                <p>Cuenta</p>
                <p>Valor</p>
            </div>
            <div class="wallet__brief-row">
                <p>Efectivo</p>
                <p>235€</p>
            </div>
            <div class="wallet__brief-row">
                <p>Bonos de Casino</p>
                <p>791€</p>
            </div>
            <div class="wallet__brief-row">
                <p>Bonos de Apuestas</p>
                <p>1.243€</p>
            </div>
        </div>
        <div class="wallet__btns">
            <button class="btn__grey--ghost btn__icons wallet__btn-withdraw">
                <img src="img/user/icon/icon-wallet-remove.svg" alt="">
                <span>RETIRAR</span>
            </button>

            <button class="btn__blue btn__icons wallet__btn-deposit deposit__openBtn">
                <img src="img/user/icon/icon-wallet-plus.svg" alt="">
                <span>DEPOSITAR</span>
            </button>
        </div>
        <div class="wallet__bonds bonds">
            <p class="user__card-title">Bonos</p>
            <div class="user__card bonds__card">
                <div class="bar">
                    <div class="bar__ammount">
                        <p>10 Tiradas Gratis de 0,25...</p>
                        <p>1.927,51€</p>
                    </div>
                    <div class="bar__progress">
                        <span class="bar__progress--gradient"></span>
                        <span class="bar__progress--dark"></span>
                        <p>75%</p>
                    </div>
                </div>
                <div class="bonds__flex">
                    <p>10 Tiradas Gratis de 0,25€ a la Slot Dwarven gold deluxe</p>
                    <p>1.927,51€</p>
                </div>
                <button class="btn__grey">
                    <span>CANCELAR BONO</span>
                    <img src="img/user/icon/icon-wallet-cancel.svg" alt="">
                </button>
                <div class="bonds__table">
                    <div class="bonds__table-row">
                        <p>Porcentaje pendiente</p>
                        <p>75%</p>
                    </div>
                    <div class="bonds__table-row">
                        <p>Pendiente de apostar</p>
                        <p>232.452€</p>
                    </div>
                    <div class="bonds__table-row">
                        <p>Conversión máxima</p>
                        <p>142.719€</p>
                    </div>
                    <div class="bonds__table-row">
                        <p>Caducidad</p>
                        <div class="">
                            <p>17/02/2022</p>
                            <p>12:04:34</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user__card bonds__card">
                <div class="bar">
                    <div class="bar__ammount">
                        <p>10 Tiradas Gratis de 0,25...</p>
                        <p>1.927,51€</p>
                    </div>
                    <div class="bar__progress">
                        <span class="bar__progress--gradient"></span>
                        <span class="bar__progress--dark"></span>
                        <p>75%</p>
                    </div>
                </div>
            </div>
            <div class="user__card bonds__card">
                <div class="bar">
                    <div class="bar__ammount">
                        <p>10 Tiradas Gratis de 0,25...</p>
                        <p>1.927,51€</p>
                    </div>
                    <div class="bar__progress">
                        <span class="bar__progress--gradient"></span>
                        <span class="bar__progress--dark"></span>
                        <p>75%</p>
                    </div>
                </div>
            </div>
            <div class="user__card bonds__card">
                <div class="bar">
                    <div class="bar__ammount">
                        <p>10 Tiradas Gratis de 0,25...</p>
                        <p>1.927,51€</p>
                    </div>
                    <div class="bar__progress">
                        <span class="bar__progress--gradient"></span>
                        <span class="bar__progress--dark"></span>
                        <p>75%</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="wallet__free">
            <p class="user__card-title">Tiradas Gratis</p>
            <div class="wallet__table">
                <div class="wallet__table-item">
                    <div class="wallet__table-row">
                        <p>Promoción</p>
                        <p>Expira</p>
                    </div>
                </div>
                <div class="wallet__table-item">
                    <div class="wallet__table-row">
                        <p>10 Tiradas Gratis de 0,09€ a la Slot Ladies nite</p>
                        <p>18-09-2022</p>
                    </div>
                    <a href="/slots" class="btn__blue">
                        <span>IR A SLOTS</span>
                        <img src="img/icons/icon-btn-arrow.svg" alt="">
                    </a>
                </div>
                <div class="wallet__table-item">
                    <div class="wallet__table-row">
                        <p>10 Tiradas Gratis de 0,09€ a la Slot Ladies nite</p>
                        <p>18-09-2022</p>
                    </div>
                    <a href="/slots" class="btn__blue">
                        <span>IR A SLOTS</span>
                        <img src="img/icons/icon-btn-arrow.svg" alt="">
                    </a>
                </div>
                <div class="wallet__table-item">
                    <div class="wallet__table-row">
                        <p>10 Tiradas Gratis de 0,09€ a la Slot Ladies nite</p>
                        <p>18-09-2022</p>
                    </div>
                    <a href="/slots" class="btn__blue">
                        <span>IR A SLOTS</span>
                        <img src="img/icons/icon-btn-arrow.svg" alt="">
                    </a>
                </div>
                <div class="wallet__table-item">
                    <div class="wallet__table-row">
                        <p>10 Tiradas Gratis de 0,09€ a la Slot Ladies nite</p>
                        <p>18-09-2022</p>
                    </div>
                    <a href="/slots" class="btn__blue">
                        <span>IR A SLOTS</span>
                        <img src="img/icons/icon-btn-arrow.svg" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>

</main>