<section class="withdraw__wrapper">
    <p class="withdraw__title">Retirar</p>
    <div class="withdraw__grid">
        <div class="withdraw__item">
            <img src="img/user/logo/logo-retirar-skrill.png" alt="">
        </div>
        <div class="withdraw__item">
            <img src="img/user/logo/logo-retirar-paypal.png" alt="">
        </div>
        <div class="withdraw__item">
            <img src="img/user/logo/logo-retirar-visa.png" alt="">
        </div>
        <div class="withdraw__item">
            <img src="img/user/logo/logo-retirar-transferencia.png" alt="">
        </div>
        <div class="withdraw__item">
            <img src="img/user/logo/logo-retirar-paysafe.png" alt="">
        </div>
        <div class="withdraw__item">
            <img src="img/user/logo/logo-retirar-neteller.png" alt="">
        </div>
    </div>
</section>
