<section class="withdraw__wrapper">
    <p class="withdraw__title">Retirar</p>
    <p class="withdraw__body">¡Tu dinero se ha retirado con éxito!</p>
    <a href="/" class="btn__blue withdrawStep3__btn">
        <img src="img/user/icon/icon-deposit-back.svg" alt="">
        <span>SALIR</span>
    </a>
</section>