.m-main__menu {}

.o-main__menu--right {}

.main__menu-bg {}
.main__menu-title {}



/* Objetos son contenedores, wrappers o layouts */
.o-banner {

    /* Un componente es una entidad intermedia entre el objeto que es un simple
    elemento de HTML */
    .c-btn {}

    /* Theme: una clase que modifica grandes partes del estilo del tema */
    .t-dark {}

    /* Util: clase que modifica una propiedad especifica */
    .u-title--white {}

    /* Clase asociada a un evento de Javascript que se usara para llamarlo */
    .js-button--red {}

    /* Elemento basico de HTML con clase */
    .u-h1 {}

    .u-h4 .u-red
}

.c-banner-title {}


.m-ruleta {
    .o-card .c-user {}
}


.u-titleWhite {
    color: white;
}

.title {
    color: setcolor('gray');
    color: setcolor('gray', 'light');
  }

