@use "../settings" as *;
@use "../helper" as *;

%buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $buttons_font_family;
  font-weight: $buttons_font_weight;
  font-size: $buttons_font_size;

  line-height: 1em;

  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  padding: $buttons_padding;
  border-radius: $buttons_border_radius;

  transition: all 0.3s;

  @include tablet {
    font-size: $buttons_font_size_ipad;
    padding: $buttons_padding_ipad;
  }

  @include screen-sm {
    font-size: 12px;
    padding: $buttons_padding_ipad;
  }

  @include screen-sm {
    font-size: 12px;
    padding: $buttons_padding_desktop;
  }

  @include screen-md {
    font-size: $buttons_font_size_desktop;
    padding: $buttons_padding_desktop;
  }


	& > * {
		vertical-align: middle;

		& + * {
			margin-left: .25em;
		}
	}

  img {
    display: inline;
  }

	svg {
		font-size: inherit;
	}

  &.btn--loading {
    position: relative;
    pointer-events: none;

    & > * {
      opacity: 0;
    }

    &::before {
      content: "";
      background-image: url(../img/icons/icon-spinner.svg);
      background-size: contain;
      height: 1em;
      width: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
